{% extends "layout/base.html" %}

{% load static %}

{% block page_title %}Ajout de convention simplifié - APiLos{% endblock%}

{% block javascript_extras %}
    <script src="{% static "virtual-select/virtual-select.min.js" %}" nonce="{{request.csp_nonce}}"></script>
{% endblock %}

{% block css_extras %}
    <link rel="stylesheet" href="{% static 'virtual-select/virtual-select.min.css' %}">
{% endblock %}

{% block content %}

    <div class="fr-container fr-my-5w">
        <h3>Ajouter une convention existante</h3>

        {% include "./stepper.html"%}

        {% if operation is None %}
            <div class="apilos-info-operation">
                <h3>Opération introuvable</h3>
                <div class="fr-col-12">Aucune opération ne correspond à ce numéro.</div>
            </div>
        {% else %}
            <div class="apilos-info-operation fr-mb-5w">
                <h3>Opération : {{operation.nom}}</h3>
                <div class="fr-col-12">
                    <span><u>Opération {{operation.numero}}</u></span>
                    <span>{{operation.commune}}</span>
                    <span>Bailleur : {{operation.bailleur}}</span>
                </div>
            </div>
            <h6>Détails de la convention à ajouter</h6>
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-6">
                        {% include "common/form/input_text.html" with form_input=form.numero  mandatory_input=True editable=True %}
                    </div>
                    <div class="fr-col-6">
                        {% include "common/form/input_number.html" with form_input=form.nb_logements editable=True %}
                    </div>
                    <div class="fr-col-6">
                        {% include "common/form/input_select.html" with form_input=form.financement mandatory_input=True editable=True %}
                    </div>
                    <div class="fr-col-6">
                        {% include "common/form/input_number.html" with form_input=form.annee_signature mandatory_input=True editable=True %}
                    </div>
                    <div class="fr-col-12">
                        <div class="fr-upload-group">
                            <label class="fr-label" for="file-upload">Déposer la convention (en PDF)
                                <span class="fr-hint-text">Taille maximale : 500 Mo. Formats supportés : pdf</span>
                            </label>
                            <input
                                class="fr-upload"
                                type="file"
                                id="file-upload"
                                name="nom_fichier_signe"
                                accept="application/pdf"
                            >
                        </div>
                    </div>
                </div>
                <div class="form-button-footer fr-py-5w">
                    <button class="fr-btn fr-icon-arrow-right-s-line fr-btn--icon-right" name="action" value="submit" type="submit">
                        Enregistrer
                    </button>
                </div>
            </form>
        {% endif %}
    </div>

{% endblock %}
