{% extends "layout/base.html" %}

{% load static %}

{% block page_title %}Sélectionner une opération{% endblock%}

{% block content %}

    <div class="fr-container fr-my-5w">
        <h4>Ajouter une convention existante</h4>

        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-md-12">
                {% include "./stepper.html"%}
            </div>
        </div>

        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-md-12 fr-mb-1w">
                <h5>Quelle opération est liée à cette convention ?</h5>
                <form class="fr-mt-2w" method="get" action="" id="search_table">
                    <div class="fr-grid-row fr-grid-row--gutters">
                        <div class="fr-col-12 fr-col-lg-6">
                            <div class="select-label">Numéro de l'opération</div>
                            <input class="fr-input fr-mt-1w" type="search" id="numero_operation" name="numero_operation" value="{{ request.GET.numero_operation }}" placeholder="Rechercher"/>
                        </div>
                        <div class="fr-col-12 fr-col-lg-6 fr-grid-row fr-grid-row--right">
                            <button class="fr-btn fr-mt-3w" id="search_btn">
                                <span class="fr-icon-search-line fr-mr-1w" aria-hidden="true"></span>
                                Rechercher
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="fr-grid-row fr-grid-row--gutters fr-mt-4w">
            <div class="fr-col-md-12">
                {% include "conventions/add_from_operation/select_operation_list.html" %}
            </div>
        </div>

    </div>

{% endblock %}
