<input type="hidden" name="redirect_to_recap" value='True'>
<input type="hidden" name="editable_after_upload" value="{{ editable_after_upload }}">
<div>
    {% if not request|is_readonly %}
        <div id="save_after_comments" hidden>
            <button class="fr-btn fr-icon-arrow-right-s-line fr-btn--icon-right">
                Enregistrer et retour au Récapitulatif
            </button>
        </div>
    {% endif %}
    <div id="back_to_recap" hidden>
        <a class="fr-btn fr-icon-arrow-right-s-line fr-btn--icon-right"
           href="{% url 'conventions:recapitulatif' convention_uuid=convention.uuid %}">
            Retour au Récapitulatif
        </a>
    </div>
</div>
<script type="text/javascript" nonce="{{ request.csp_nonce }}">
    comments = document.getElementsByClassName('content__icons--opened')
    has_comments = false
    for (var i=0;i<comments.length; i++) {
        has_comments ||= !(comments[i].hidden)
    }
    if (has_comments) {
        if (document.getElementById('save_after_comments'))  document.getElementById('save_after_comments').hidden = false;
        document.getElementById('back_to_recap').hidden = true;

    }
    else {
        if (document.getElementById('save_after_comments'))  document.getElementById('save_after_comments').hidden = true;
        document.getElementById('back_to_recap').hidden = false
    }
</script>
