
<div>
    <div id="save_after_comments" hidden>
        <button class="fr-btn fr-fi-arrow-right-s-line fr-btn--icon-right" id='atomic_button' name='UpdateAtomic' value='True'>
            Enregistrer et retour au Récapitulatif
        </button>
    </div>
    <div id="back_to_recap" hidden>
        <button type='button' class="fr-btn fr-fi-arrow-right-s-line fr-btn--icon-right" type="button" id="return_recap">
            Retour au Récapitulatif
        </button>

    </div>
</div>
<script type="text/javascript" nonce="{{request.csp_nonce}}">
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('return_recap')
            .addEventListener('click', function(){ location.href='{% url "conventions:recapitulatif" convention_uuid=convention.uuid %}' });
    });

    comments = document.getElementsByClassName('content__icons--blue')
    has_comments = false
    for (var i=0;i<comments.length; i++) {
        console.log(comments[i].hidden)
        has_comments ||= !(comments[i].hidden)
    }
    if (has_comments) {
        document.getElementById('save_after_comments').hidden = false
        document.getElementById('back_to_recap').hidden = true
    }
    else {
        document.getElementById('save_after_comments').hidden = true
        document.getElementById('back_to_recap').hidden = false
    }
</script>
