{% extends "layout/base.html" %}

{% load static %}

{% block page_title %}Etape 3 - Ajouter une convention - APiLos{% endblock %}

{% block javascript_extras %}
    <script src="{% static "virtual-select/virtual-select.min.js" %}" nonce="{{ request.csp_nonce }}"></script>
{% endblock javascript_extras %}

{% block css_extras %}
    <link rel="stylesheet" href="{% static 'virtual-select/virtual-select.min.css' %}">
{% endblock css_extras %}

{% block content %}

    <div class="fr-container fr-my-5w">
        <h1>Ajouter une convention</h1>

        {% include "conventions/common/stepper.html" %}

        {% include "common/messages.html" %}

        {% if avenants %}
            <div class="fr-table apilos-text--black fr-mt-2w">
                <div class="fr-table__wrapper">
                    <div class="fr-table__container">
                        <div class="fr-table__content">
                            <table>
                                <caption class="fr-text--sm fr-text--regular">Avenant(s) associé(s) à cette opération</caption>
                                <thead>
                                    <tr class="th_inline">
                                        <th scope="col">Statut</th>
                                        <th scope="col">Numéro de l'avenant</th>
                                        <th scope="col">Année de signature de l'avenant</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for avenant in avenants %}
                                        <tr class="clickable" id="convention_redirect_{{ avenant.uuid }}">
                                            <td>
                                                <div class="fr-pr-2w">
                                                    {% include "conventions/home/statut_tag.html" with convention=avenant %}
                                                </div>
                                            </td>
                                            <td>{{ avenant.numero|default_if_none:"-" }}</td>
                                            <td>{{ avenant.televersement_convention_signee_le.year }}</td>
                                            <td>
                                                <div class="fr-grid-row fr-grid-row--center">
                                                    <span class="fr-icon-eye-line" aria-hidden="true"></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <script type="text/javascript" nonce="{{ request.csp_nonce }}">
                                            document.addEventListener('DOMContentLoaded', function () {
                                                document.getElementById('convention_redirect_{{ avenant.uuid }}').addEventListener('click', function(){
                                                    const url = "{% url 'conventions:post_action' convention_uuid=avenant.uuid %}";
                                                    window.open(url, "_blank");
                                                })
                                            });
                                        </script>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="fr-grid-row fr-grid-row--gutters fr-mt-4w">
                <div class="fr-col-8">
                    {% if avenants %}
                        <h6>Avez-vous un autre avenant à associer à cette convention ?</h6>
                    {% else %}
                        <h6>Avez-vous un avenant à associer à cette convention ?</h6>
                    {% endif %}
                </div>

                {% for error in form.non_field_errors %}
                    <p id="text-input-error-desc-error" class="fr-error-text fr-mb-4w">
                        {{ error }}
                    </p>
                {% endfor %}

                <div class="fr-col-6">
                    {% include "common/form/input_text.html" with form_input=form.numero mandatory_input=True editable=True %}
                </div>
                <div class="fr-col-6">
                    {% include "common/form/input_select.html" with form_input=form.annee_signature mandatory_input=True editable=True %}
                </div>
                <div class="fr-col-6">
                    {% url 'users:search_bailleur' as search_bailleur_url %}
                    {% include "common/form/input_search_select.html" with form_input=form.bailleur url=search_bailleur_url editable=True %}
                </div>
                <div class="fr-col-6">
                    {% include "common/form/input_number.html" with form_input=form.nb_logements editable=True %}
                </div>
                <div class="fr-col-12">
                    {% include "common/form/input_textarea.html" with form_input=form.champ_libre_avenant editable=True %}
                </div>
                <div class="fr-col-6">
                    <div class="fr-upload-group {% if form.nom_fichier_signe.errors %}fr-select-group--error{% endif %}" id="{{ form.nom_fichier_signe.id_for_label }}_group">
                        <label class="fr-label" for="file-upload">Déposer l'avenant (en PDF)
                            {% include "common/form/required_field.html" with form_input=form_input mandatory_input=True %}
                            <span class="fr-hint-text">Taille maximale : 500 Mo. Formats supportés : pdf</span>
                        </label>
                        <input
                            class="fr-upload {% if form.nom_fichier_signe.errors %}fr-input--error{% endif %}"
                            type="file"
                            id="file-upload"
                            name="{{ form.nom_fichier_signe.html_name }}"
                            accept="application/pdf"
                        >
                    </div>
                </div>
                <div class="fr-col-6">
                    <div class="form-button-footer fr-pt-4w">
                        <button class="fr-btn fr-icon-add-circle-line fr-btn--icon-left fr-btn--primary" name="action" value="submit" type="submit">
                            Ajouter cet avenant
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <div class="fr-grid-row fr-grid-row--gutters fr-mt-4w">
            <div class="fr-col-12">
                <div class="block--row-strech-1">
                </div>
                <div class="form-button-footer">
                    <a href="{% url 'conventions:post_action' convention_uuid=convention.uuid %}" class="fr-btn fr-btn--tertiary fr-icon-arrow-right-s-line fr-btn--icon-right">
                        Passer cette étape

                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
