{% for error in form.non_field_errors %}
    <p id="text-input-error-desc-error" class="fr-error-text fr-mb-4w">
        {{ error }}
    </p>
{% endfor %}
<div class="fr-col-6">
    {% include "common/form/input_text.html" with form_input=form.numero mandatory_input=True editable=True %}
</div>
<div class="fr-col-6">
    {% include "common/form/input_number.html" with form_input=form.annee_signature mandatory_input=True editable=True %}
</div>
<div class="fr-col-12">
    {% include "common/form/input_select.html" with form_input=form.avenant_type mandatory_input=True editable=True %}
</div>
<div class="fr-col-12">
    <div class="fr-upload-group {% if form.nom_fichier_signe.errors %}fr-select-group--error{% endif %}" id="{{form.nom_fichier_signe.id_for_label}}_group">
        <label class="fr-label" for="file-upload">Déposer l'avenant (en PDF)
            <span class="fr-hint-text">Taille maximale : 500 Mo. Formats supportés : pdf</span>
        </label>
        <input
            class="fr-upload {% if form.nom_fichier_signe.errors %}fr-input--error{% endif %}"
            type="file"
            id="file-upload"
            name="{{form.nom_fichier_signe.html_name}}"
            accept="application/pdf"
        >
    </div>
</div>
