{% extends "layout/base.html" %}

{% load static %}

{% block page_title %}Ajout de convention simplifié - APiLos{% endblock%}

{% block javascript_extras %}
    <script src="{% static "virtual-select/virtual-select.min.js" %}" nonce="{{request.csp_nonce}}"></script>
{% endblock %}

{% block css_extras %}
    <link rel="stylesheet" href="{% static 'virtual-select/virtual-select.min.css' %}">
{% endblock %}

{% block content %}

    <div class="fr-container fr-my-5w">
        <h3>Ajouter une convention existante</h3>

        {% include "./stepper.html"%}

        {% if operation is None %}

            <div class="apilos-info-operation">
                <h3>Opération introuvable</h3>
                <div class="fr-col-12">Aucune opération ne correspond à ce numéro.</div>
            </div>

        {% else %}

            <div class="apilos-notice-background fr-notice fr-notice--info fr-mb-5w fr-mt-1w fr-pt-3w">
                <div class="fr-container fr-px-5w">
                    <h3>{{operation.nom}}</h3>
                    <div class="apilos-input-group--inline">
                        <div class="fr-grid-row fr-mt-1w apilos-text--black">
                            <div class="fr-pr-2w fr-text--sm apilos-separator">
                                <a href="{% url 'programmes:operation_conventions' numero_operation=operation.numero %}">
                                    Opération n°{{operation.numero}}
                                </a>
                            </div>
                            <div class="fr-px-2w fr-text--sm apilos-separator">{{operation.commune}}</div>
                            <div class="fr-px-2w fr-text--sm">Bailleur : {{operation.bailleur}}</div>
                        </div>
                    </div>
                    <div class="fr-table fr-table--bordered fr-table--layout-fixed apilos-text--black fr-my-3w fr-p-3w fr-pt-7w">
                        <table>
                            <caption class="fr-text--sm">Convention(s) liée(s) à cette opération et enregistrée(s) dans le SIAP / Apilos</caption>
                            <thead>
                                <tr>
                                    <th scope="col">Statut</th>
                                    <th scope="col">Numéro de convention</th>
                                    <th scope="col">Financement</th>
                                    <th scope="col">Logements</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for convention in conventions %}
                                    <tr>
                                        <td>
                                            <div class="fr-pr-2w">
                                                {% include "conventions/home/statut_tag.html"  %}
                                            </div>
                                        </td>
                                        <td>{{ convention.numero|default_if_none:"" }}</td>
                                        <td>{{ convention.lot.financement }}</td>
                                        <td>{{ convention.lot.nb_logements }}</td>
                                        <td>
                                            <a target="_blank" href="{% url 'conventions:recapitulatif' convention_uuid=convention.uuid %}">
                                                <span class="fr-icon-eye-line" aria-hidden="true"></span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <h6>Détails de la convention à ajouter</h6>
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="fr-grid-row fr-grid-row--gutters">

                    {% for error in form.non_field_errors %}
                        <p id="text-input-error-desc-error" class="fr-error-text fr-mb-4w">
                            {{ error }}
                        </p>
                    {% endfor %}

                    <div class="fr-col-6">
                        {% include "common/form/input_text.html" with form_input=form.numero  mandatory_input=True editable=True %}
                    </div>
                    <div class="fr-col-6">
                        {% include "common/form/input_number.html" with form_input=form.nb_logements editable=True %}
                    </div>
                    <div class="fr-col-6">
                        {% include "common/form/input_select.html" with form_input=form.financement mandatory_input=True editable=True %}
                    </div>
                    <div class="fr-col-6">
                        {% include "common/form/input_number.html" with form_input=form.annee_signature mandatory_input=True editable=True %}
                    </div>
                    <div class="fr-col-12">
                        <div class="fr-upload-group {% if form.nom_fichier_signe.errors %}fr-select-group--error{% endif %}" id="{{form.nom_fichier_signe.id_for_label}}_group">
                            <label class="fr-label" for="file-upload">Déposer la convention (en PDF)
                                <span class="fr-hint-text">Taille maximale : 500 Mo. Formats supportés : pdf</span>
                            </label>
                            <input
                                class="fr-upload {% if form.nom_fichier_signe.errors %}fr-input--error{% endif %}"
                                type="file"
                                id="file-upload"
                                name="{{form.nom_fichier_signe.html_name}}"
                                accept="application/pdf"
                            >
                        </div>
                    </div>
                </div>
                <div class="form-button-footer fr-py-5w">
                    <button class="fr-btn fr-icon-arrow-right-s-line fr-btn--icon-right" name="action" value="submit" type="submit">
                        Enregistrer
                    </button>
                </div>
            </form>
        {% endif %}
    </div>

{% endblock %}
