{% extends "layout/base.html" %}

{% load static %}

{% block page_title %}Ajout de convention simplifié - APiLos{% endblock %}

{% block javascript_extras %}
    <script src="{% static "virtual-select/virtual-select.min.js" %}" nonce="{{ request.csp_nonce }}"></script>
{% endblock javascript_extras %}

{% block css_extras %}
    <link rel="stylesheet" href="{% static 'virtual-select/virtual-select.min.css' %}">
{% endblock css_extras %}

{% block content %}

    <div class="fr-container fr-my-5w">
        <h1>Ajouter une convention</h1>

        {% include "conventions/common/stepper.html" %}

        {% include "common/messages.html" %}

        {% if operation is None %}

            <div class="apilos-info-operation">
                <h3>Opération introuvable</h3>
                <div class="fr-col-12">Aucune opération ne correspond à ce numéro.</div>
            </div>

        {% else %}
            <h4 class="fr-pb-2w fr-toggle--border-bottom fr-mb-5w">Opération liée</h4>

            <div class="fr-mb-7w">
                <h6 class="fr-mb-0 fr-text--lg">{{ operation.nom }}</h6>
                <div class="apilos-input-group--inline">
                    <div class="fr-grid-row fr-mt-1w apilos-text--black">
                        <div class="fr-pr-2w fr-text--sm apilos-separator">
                            <a href="{% url 'programmes:operation_conventions' numero_operation=operation.numero %}">
                                Opération n°{{ operation.numero }}
                            </a>
                        </div>
                        <p class="fr-px-2w fr-text--sm apilos-separator">{{ operation.commune }}</p>
                        <p class="fr-px-2w fr-text--sm">Bailleur : {{ operation.bailleur }}</p>
                    </div>
                </div>
                {% if conventions.count > 0 %}
                    <div class="fr-table apilos-text--black">
                        <div class="fr-table__wrapper">
                            <div class="fr-table__container">
                                <div class="fr-table__content">
                                    <table>
                                        <caption class="fr-text--sm fr-text--regular">Convention(s) liée(s) à cette opération et enregistrée(s) dans le SIAP / Apilos</caption>
                                        <thead>
                                            <tr class="th_inline">
                                                <th scope="col">Statut</th>
                                                <th scope="col">Numéro de convention</th>
                                                <th scope="col">Financement</th>
                                                <th scope="col">Logements</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for convention in conventions %}
                                                <tr class="clickable" id="convention_redirect_{{ convention.uuid }}">
                                                    <td>
                                                        <div class="fr-pr-2w">
                                                            {% include "conventions/home/statut_tag.html" %}
                                                        </div>
                                                    </td>
                                                    <td>{{ convention.numero|default_if_none:"-" }}</td>
                                                    {% comment %} TODO: reverse relation convention lot {% endcomment %}
                                                    <td>{{ convention.lot.financement }}</td>
                                                    <td>{{ convention.lot.nb_logements }}</td>
                                                    <td>
                                                        <div class="fr-grid-row fr-grid-row--center">
                                                            <span class="fr-icon-eye-line" aria-hidden="true"></span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <script type="text/javascript" nonce="{{ request.csp_nonce }}">
                                                    document.addEventListener('DOMContentLoaded', function () {
                                                        document.getElementById('convention_redirect_{{ convention.uuid }}').addEventListener('click', function(){
                                                            if (this.classList.contains("sent")) {
                                                                const url="{% url 'conventions:sent' convention_uuid=convention.uuid %}"
                                                                window.open(url, "_blank");
                                                            }
                                                            else if (this.classList.contains("signed")) {
                                                                const url="{% url 'conventions:post_action' convention_uuid=convention.uuid %}"
                                                                window.open(url, "_blank");
                                                            }
                                                            else if (this.classList.contains("project")) {
                                                                const url="{% url 'conventions:bailleur' convention_uuid=convention.uuid %}"
                                                                window.open(url, "_blank");
                                                            }
                                                            else {
                                                                const url="{% url 'conventions:recapitulatif' convention_uuid=convention.uuid %}"
                                                                window.open(url, "_blank");
                                                            }
                                                        });
                                                    });
                                                </script>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% if form.financement.field.choices %}
                <h4 class="fr-pb-2w fr-toggle--border-bottom fr-mb-5w">Détails de la convention à ajouter</h4>
                <form method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="fr-grid-row fr-grid-row--gutters">

                        {% for error in form.non_field_errors %}
                            <p id="text-input-error-desc-error" class="fr-error-text fr-mb-4w">
                                {{ error }}
                            </p>
                        {% endfor %}

                        <div class="fr-col-6">
                            {% include "common/form/input_text.html" with form_input=form.numero mandatory_input=True editable=True %}
                        </div>
                        <div class="fr-col-6">
                            {% include "common/form/input_number.html" with form_input=form.nb_logements editable=True %}
                        </div>
                        <div class="fr-col-6">
                            {% include "common/form/input_select.html" with form_input=form.financement mandatory_input=True editable=True %}
                        </div>
                        <div class="fr-col-6">
                            {% include "common/form/input_select.html" with form_input=form.annee_signature mandatory_input=True editable=True %}
                        </div>
                        <div class="fr-col-12">
                            <div class="fr-upload-group {% if form.nom_fichier_signe.errors %}fr-select-group--error{% endif %}" id="{{ form.nom_fichier_signe.id_for_label }}_group">
                                <label class="fr-label" for="file-upload">Déposer la convention (en PDF)
                                    {% include "common/form/required_field.html" with form_input=form_input mandatory_input=True %}
                                    <span class="fr-hint-text">Taille maximale : 500 Mo. Formats supportés : pdf</span>
                                </label>
                                <input
                                    class="fr-upload {% if form.nom_fichier_signe.errors %}fr-input--error{% endif %}"
                                    type="file"
                                    id="file-upload"
                                    name="{{ form.nom_fichier_signe.html_name }}"
                                    accept="application/pdf"
                                >
                            </div>
                        </div>
                    </div>
                    <div class="form-button-footer fr-py-5w">
                        <button class="fr-btn fr-icon-arrow-right-s-line fr-btn--icon-right" name="action" value="submit" type="submit">
                            Enregistrer
                        </button>
                    </div>
                </form>
            {% else %}
                <p>Toutes les conventions liées à cette opération sont déjà enregistrées dans le SIAP.</p>
                <a class="fr-btn fr-btn--primary" href="{% url 'conventions:search' %}">
                    Retour à la liste des conventions
                </a>
            {% endif %}
        {% endif %}
    </div>

{% endblock content %}
