{% if operations %}

    <div class="fr-table">
        <div class="fr-table__wrapper">
            <div class="fr-table__container">
                <div class="fr-table__content">
                    <table aria-label="Operations">
                        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle fr-mb-2w">
                            <thead>
                                <tr class="th_inline">
                                    <th title="Numéro de l'opération" scope="col">
                                        Numéro de l'opération
                                    </th>
                                    <th title="Nom de l'opération" scope="col">
                                        Nom de l'opération
                                    </th>
                                    <th title="Bailleur" scope="col">
                                        Bailleur
                                    </th>
                                    <th title="Nature de l'opération" scope="col">
                                        Nature de l'opération
                                    </th>
                                    <th title="Commune" scope="col">
                                        Commune
                                    </th>
                                    <th title="" scope="col">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for operation in operations %}
                                    <tr class="clickable">
                                        <td>{{ operation.numero }}</td>
                                        <td>{{ operation.nom }}</td>
                                        <td>{{ operation.bailleur }}</td>
                                        <td>{{ operation.nature }}</td>
                                        <td>{{ operation.commune }}</td>
                                        <td>
                                            <button class="fr-btn fr-btn--tertiary-no-outline" role="link">
                                                <span class="fr-icon-arrow-right-line" aria-hidden="true"></span>
                                                <span class="fr-sr-only">Aller à la page de création de la convention pour cette opération</span>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle fr-mb-5w">
            {% if exact_match %}
                <div class="fr-mt-10w"></div>
            {% else %}
                <div class="fr-col-7">
                    <div class="fr-text--lg">Vous ne trouvez pas l'opération liée ?</div>
                    <div>
                        Vérifiez que vous avez saisi un numéro d'opération correct.<br>
                        Sinon, peut-être que l'opération que vous recherchez n'est pas référencée dans le SIAP / Apilos.
                        Dans ce cas, nous vous invitons à contacter notre équipe support.
                    </div>
                    <div class="fr-mt-5w fr-ml-1w">
                        <div class="fr-grid-row fr-grid-row--gutters" >
                            <div class="">
                                <a class="fr-btn fr-icon-mail-line fr-btn--icon-left fr-btn--tertiary apilos-no-dsfr-target" href="{{ SIAP_ASSISTANCE_URL }}" target="_blank" rel="noreferrer">
                                    Contactez l'assistance
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fr-col-5 text--center">
                    <img src="/static/icons/not_found.png" alt="not_found">
                </div>
            {% endif %}
        </div>

{% else %}

    {% if request.GET.numero_operation %}
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle fr-mb-5w">
            <div class="fr-col-7">
                <div class="fr-text--lg">Aucune opération trouvée</div>
                <div>
                    L'opération portant le numéro {{ request.GET.numero_operation }} n'est pas référencée dans le SIAP / Apilos. Vérifiez que le numéro est correct, ou contactez notre équipe support.
                </div>
                <div class="fr-mt-5w fr-ml-1w">
                    <div class="fr-grid-row fr-grid-row--gutters" >
                        <div class="">
                            <a class="fr-btn fr-icon-mail-line fr-btn--icon-left fr-btn--tertiary apilos-no-dsfr-target" href="{{ SIAP_ASSISTANCE_URL }}" target="_blank" rel="noreferrer">
                                Contactez l'assistance
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col-5 text--center">
                <img src="/static/icons/not_found.png" alt="not_found">
            </div>
        </div>
    {% else %}
        <p class="fr-mt-10w fr-mb-2w">Vous n'avez pas le numéro de l'opération ?</p>
        <a class="fr-btn fr-icon-mail-line fr-btn--icon-left fr-btn--tertiary apilos-no-dsfr-target" href="{{ SIAP_ASSISTANCE_URL }}" target="_blank" rel="noreferrer">
            Contactez l'assistance
        </a>
    {% endif %}


{% endif %}

{% block js %}
    <script type="text/javascript" nonce="{{ request.csp_nonce }}">
        rows = document.querySelectorAll('tr.clickable')
        rows.forEach(row => {
            row.addEventListener("click", (e) => {
                window.location = "from_operation/add_convention/" + encodeURIComponent(e.currentTarget.children[0].textContent)
            })
        });
    </script>
{% endblock js %}
