{% load custom_filters %}

<div class='background-contrast-grey950 apilos-sticky-top fr-pt-2w'>
    <div class="fr-container">
        <div class="fr-col-12 fr-pb-2w">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-lg-6">
                    <div class="fr-highlight">
                        <h1>{{programme.numero_galion}} - {{programme.nom}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='background-contrast-grey950'>
    <div class="fr-container">
        <div class="fr-col-12 fr-pb-3w">
            {% if request|is_instructeur %}
                <div class="fr-grid-row fr-grid-row--gutters fr-pl-9w">
                    <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-text--bold">
                        Entreprise bailleur : {{ programme.bailleur }}
                    </div>
                </div>
            {% endif %}
            {% if request|is_bailleur %}
                <div class="fr-grid-row fr-grid-row--gutters fr-pl-9w">
                    <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-text--bold">
                        Service instructeur : {{ programme.administration }}
                    </div>
                </div>
            {% endif %}
            <div class="fr-grid-row fr-grid-row--gutters  fr-pl-9w">
                <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-text--bold">
                    Code postal : {{ programme.code_postal|default_if_none:'-' }}
                </div>
                <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-pl-md-1w fr-text--bold">
                    Ville : {{ programme.ville|default_if_none:'-' }}
                </div>
            </div>
        </div>
    </div>
</div>
