SECRET_KEY=my-secret-key
ENVIRONMENT=test
DEBUG=False
SECURE_SSL_REDIRECT=True
LOGLEVEL=ERROR

# Default DB settings
DB_USER=apilos
DB_NAME=apilos
DB_HOST=postgres
DB_PASSWORD=apilos
DB_PORT=5432

# Read only DB settings
DB_READONLY=postgres://apilos:apilos@postgres:5432/apilos

# Ecolo DB (optionnal & read-only)
#ECOLO_DATABASE_URL=postgres://apilos:apilos@postgres:5432/ecolotest?currentSchema=ecolo

SENDINBLUE_API_KEY=<SENDINBLUE_API_KEY>

ALLOWED_HOSTS=local.beta.gouv.fr

# Comment AWS configuration block to store files locally in development
# AWS_ACCESS_KEY_ID=<AWS_ACCESS_KEY_ID>
# AWS_SECRET_ACCESS_KEY=<AWS_SECRET_ACCESS_KEY>
# AWS_STORAGE_BUCKET_NAME='apilos-dev'
# AWS_DEFAULT_ACL='public-read'
# AWS_S3_REGION_NAME='fr-par'
# AWS_S3_ENDPOINT_URL='https://s3.fr-par.scw.cloud'
# AWS_ECOLOWEB_BUCKET_NAME='apilos-ecoloweb'

# Comment sentry setting to deactivate it
SENTRY_URL=

# Comment convertapi setting to deactivate it
CONVERTAPI_SECRET=<CONVERTAPI_SECRET>

# INSEE API settings
#INSEE_API_KEY=<INSEE_API_KEY>
#INSEE_API_SECRET=<INSEE_API_SECRET>

# When CERBERE_AUTH is comment, the django authentication is used and APiLos behave without SIAP
# Else, CERBERE authentication is used and experience is the SIAP one
# CERBERE_AUTH=https://authentification.recette.din.developpement-durable.gouv.fr/cas/public or NONE

# Used to test SIAP experience without link to SIAP API
USE_MOCKED_SIAP_CLIENT=False

# ENV variable of APiLos API for SIAP
JWT_SIGN_KEY=
JWT_ALGORITHM=HS256

# Env variable to set SIAP client API
SIAP_CLIENT_JWT_SIGN_KEY=
SIAP_CLIENT_ALGORITHM=HS256
SIAP_CLIENT_HOST=https://minlog-siap.gateway.intapi.recette.sully-group.fr
SIAP_CLIENT_PATH=/api-int/v0

REDIS_URL=redis://redis:6379
