# Environment variable
.env
.env.test
.venv

#Cache
__pycache__
.DS_Store
*.pyc
~$*
.coverage

#local repo to store DB data, static and npm lib
/media/
staticfiles/
node_modules/

#IDE
.vscode/

#temporaire
/.tgitconfig
