# Environment variable
.env
venv

#Cache
__pycache__
.DS_Store
*.pyc
~$*
.coverage

#local repo to store DB data
pgdata/
media/
staticfiles

#IDE
.vscode/

#temporaire
scripts/mailjet.py
documents/HLM-template-v*
static/icons/ikonate/