[MASTER]
# Cf https://stackoverflow.com/a/39207275
# Pylint needs to be aware of the modules' parent directories to be able to load them
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"
load-plugins=pylint_django
ignore-paths=
    core/settings.py,
    bailleurs/migrations,
    conventions/migrations,
    programmes/migrations,
    users/migrations,
    instructeurs/migrations,
disable=
    django-not-configured,
    C0103, # invalid-name
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    R0903, # too-few-public-methods
    W0511, # fixme
min-similarity-lines=20
max-args = 10
max-line-length=120
max-public-methods=30
