[MASTER]
ignore-paths=
    bailleurs/migrations,
    conventions/migrations,
    programmes/migrations,
    users/migrations,
disable=
    C0103, # invalid-name
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
load-plugins=pylint_django
django-settings-module=core.settings
min-similarity-lines=20
max-args = 10