[MASTER]
load-plugins=pylint_django
django-settings-module=core.settings
ignore-paths=
    core/settings.py,
    bailleurs/migrations,
    conventions/migrations,
    programmes/migrations,
    users/migrations,
    instructeurs/migrations,
disable=
    django-not-configured,
    C0103, # invalid-name
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    R0903, # too-few-public-methods
    W0511, # fixme
min-similarity-lines=20
max-args = 10
max-line-length=120
max-public-methods=32