--constraint=requirements.txt

beautifulsoup4
black
coverage[toml]
django-browser-reload
django-debug-toolbar
django-extensions
django-stubs
djhtml
honcho
pre-commit
ptpython
pylint
pylint-django
responses
