--constraint=requirements.txt

beautifulsoup4
black
coverage[toml]
django-browser-reload
django-debug-toolbar
django-extensions
django-stubs
djhtml
factory-boy
honcho
pip-tools
pre-commit
ptpython
pytest
pytest-django
pytest-xdist
responses
ruff
time-machine
unittest-parametrize
