api-insee
boto3
celery<6.0
dj-database-url
dj-static
dj-static
django-anymail[sendinblue]
django-cas-ng
django-celery-results
django-csp
django-defender
django-hijack
django-simple-history
django-sql-explorer[xls]
django-storages
django-waffle
Django<5.0
djangorestframework
djangorestframework-simplejwt
docxtpl
drf-spectacular
gunicorn
Jinja2
lxml>=5.0
openpyxl
psycopg2
pyjwt
python-box
python-decouple
python-docx
pyyaml>=6.0
redis
sentry-sdk
tenacity
tqdm
typing-extensions
unidecode
whitenoise
