{% extends "layout/base.html" %}
{% block content %}
    <div class="fr-container-fluid ds_banner">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-lg-6 fr-col-offset-lg-1 fr-mb-2w">
                    <h2 class="fr-mt-3w fr-mt-md-5w fr-mb-5w">Mot de passe oublié</h2>
                    <p class="fr-mb-3w">
                        Veuillez remplir le formulaire ci-contre pour commencer la procédure de modification de mot de passe
                    </p>
                </div>
                <div class="fr-col-12 fr-col-lg-5 fr-pl-0 fr-pl-md-4w fr-py-4w fr-pb-0">

                    <form action="" method="post">
                        {% csrf_token %}
                        {% if form.email.errors %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ form.email.errors }}
                            </p>
                        {% endif %}
                        <div class="fr-input-group fr-mt-3w {% if form.errors %}fr-input-group--error{% endif %}">
                            <label class="fr-label" for="email">Courriel</label>
                            <input class="fr-input {% if form.errors %}fr-input--error{% endif %}" type="email" id="email" name="email">
                        </div>
                        <div class="fr-mt-3w">
                            <button class="fr-btn" type="submit">
                                Réinitialiser mon mot de passe
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="fr-grid-row fr-col-xs-10 fr-col-7 fr-my-7w">
{% endblock %}
