<a class="" id='{{order_by_column}}' href='#'>
    {{label_order}}
</a>

<script type="text/javascript" nonce="{{request.csp_nonce}}">
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('{{ order_by_column }}')
            .addEventListener('click', function(){
            if (document.getElementById('page') !== null) {
                document.getElementById('page').value = "1"
            }
            document.getElementById('order_by').value = "{% if order_by == order_by_column %}-{% endif %}{{ order_by_column }}"
            document.getElementById('search_table').submit()
        });
        const params = new Proxy(new URLSearchParams(window.location.search), {
            get: (searchParams, prop) => searchParams.get(prop),
        });
        let order_value = params.order_by;
        if (order_value) {
            if (order_value.startsWith("-")) {
                document.querySelector('.apilos-order-name').textContent = document.getElementById(order_value.substring(1)).textContent;
                document.querySelector('.apilos-order-name').classList.add("fr-icon-arrow-down-line");
            }
            else {
                document.querySelector('.apilos-order-name').textContent = document.getElementById(order_value).textContent;
                document.querySelector('.apilos-order-name').classList.add("fr-icon-arrow-up-line");
            }
        }
    });
</script>
