{% extends "layout/base.html" %}
{% load display_filters %}
{% block page_title %}Finalisation - APiLos{% endblock %}

{% load static %}

{% block javascript_extras %}
    {% include "conventions/common/dropzone_js.html" %}
    <script src="{% static "js/comment-factory.js" %}" nonce="{{request.csp_nonce}}"></script>
{% endblock %}

{% block css_extras %}
    {% include "conventions/common/dropzone_css.html" %}
{% endblock %}

{% block content %}
    {% include "conventions/common/form_header.html"%}
    <div class="fr-container fr-my-5w">
        <h1>Finaliser {{convention|display_kind_with_pronom}}</h1>

        {% include "../common/stepper.html"%}
        <p>Vous pouvez relire {{convention|display_kind_with_pronom}} avant qu'{{convention|display_personnal_pronom}} ne soit envoyé{{convention|display_gender_terminaison}} pour signature.</p>

        <form method="post" action="{% url 'conventions:generate' convention_uuid=convention.uuid %}" data-turbo="false" class="fr-mb-7w">
            {% csrf_token %}
            <input hidden name="without_filigram" value="1">
            <button class="fr-btn fr-btn--primary fr-icon-download-line fr-btn--icon-left">
                Télécharger le CERFA de {{convention|display_kind_with_pronom}}
            </button>
        </form>

        <p class="fr-text--light">Si nécessaire, vous pouvez effectuer des modifications et remplacer ce document par une nouvelle version.</p>

        <div class="fr-accordions-group">
            <section class="fr-accordion">
                <h3 class="fr-accordion__title">
                    <button class="fr-accordion__btn" aria-expanded="{{cerfa_expanded}}" aria-controls="accordion-114" type="button">Mode expert : remplacer le document CERFA</button>
                </h3>
                <div class="fr-collapse" id="accordion-114">
                    <div class="fr-alert fr-alert--error fr-mb-5w">
                        <p>Si vous modifiez des éléments de contenu, mettez bien à jour le formulaire de {{convention|display_kind_with_pronom}} pour garantir la cohérence des données</p>
                    </div>
                    <form id="cerfa-form" method="post" action="{% url 'conventions:finalisation_cerfa' convention_uuid=convention.uuid %}" data-turbo="false">
                        {% csrf_token %}
                        {% include "common/form/input_upload.html" with form_input=form.fichier_override_cerfa form_input_files=form.fichier_override_cerfa_files object_name='convention' single_file=True override_cerfa=True no_title=True object_uuid=convention.uuid file_list=convention.fichier_override_cerfa|get_files_from_textfiles object_field="convention__fichier_override_cerfa__"|add:form.uuid.value %}
                    </form>
                </div>
            </section>
        </div>
        <div class="apilos-align-right fr-mt-3w">
            <button class="fr-btn" id="submit-cerfa">
                Enregistrer et étape suivante
            </button>
            <script nonce="{{request.csp_nonce}}">
                const btn = document.getElementById("submit-cerfa")
                const form = document.getElementById("cerfa-form")
                btn.addEventListener("click", () => {
                    form.submit()
                })
            </script>
        </div>
    </div>
{% endblock %}

