{% load custom_filters %}

<div class="fr-grid-row fr-grid-row--gutters {% block card_classes %}{% endblock %}">
    <div class="fr-col-12 fr-col-lg-12">
        <div class="fr-card fr-card--no-arrow">
            <div class="fr-card__body fr-my-2w">
                <div class="block--row-strech" id="{{ object_field }}_div">
                    <div class="block--row-strech-1">
                        <h4 class="fr-card__title">
                            {% block title %}
                            {% endblock title %}
                        </h4>
                    </div>
                    {% if target_url and not convention.is_avenant or checked %}
                        {% include "conventions/actions/goto.html" %}
                    {% endif %}
                </div>
                {% if not convention.is_avenant or checked %}
                    {% block body %}
                    {% endblock body %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
