{% load custom_filters %}

{% if convention_form_steps|is_a_step:'ConventionAnnexesView' or convention_form_steps|is_a_step:'AvenantAnnexesView' %}
    {% if checked %}
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-12">
            <div class="fr-card fr-card--no-arrow">
                <div class="fr-card__body fr-my-2w">
                    <div class="block--row-strech" id="{{ object_field }}_div">
                        <div class="block--row-strech-1">
                            <h4 class="fr-card__title">
                                Annexes
                            </h4>
                        </div>
                            {% include "conventions/actions/goto.html" %}
                    </div>
                    {% include "conventions/recapitulatif/annexes_inner_content.html" with target_url='conventions:avenant_annexes' annexes=convention.lot.annexes.all lot=convention.lot checked=False %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endif %}
