
<div class="fr-grid-row fr-grid-row--gutters fr-mt-1w">
    <div class="fr-col-12">
        <div class="fr-card fr-card--no-arrow">
            <div class="fr-card__body fr-my-2w">
                <div class="block--row-strech" id="{{object_field}}_div">
                    <div class="block--row-strech-1">
                        <h4 class="fr-card__title">
                            Bailleur
                        </h4>
                    </div>
                    {% if convention|display_convention_form_progressbar %}
                        <a class="fr-link fr-mb-1w" href="{% url 'conventions:bailleur' convention_uuid=convention.uuid %}" >
                            <span class="fr-icon-edit-line" aria-hidden="true">Aller à cette étape</span>
                        </a>
                    {% endif %}
                </div>
                {% with bailleur_uuid=bailleur.uuid|slugify %}
                    <div class="fr-grid-row fr-grid-row--gutters">
                        <div class="fr-col-12 fr-col-lg-6">
                            <div class="fr-mb-2w">
                                <strong>{% include "common/display_field_if_exists.html" with value=bailleur.nom object_field="bailleur__nom__"|add:bailleur_uuid %}</strong>
                                <div class="fr-ml-3w">
                                    {% include "common/display_field_if_exists.html" with value=bailleur.adresse object_field="bailleur__adresse__"|add:bailleur_uuid %}
                                    <div class="fr-grid-row fr-grid-row--gutters">
                                        <div class="fr-col-6">
                                            {% include "common/display_field_if_exists.html" with value=bailleur.code_postal object_field="bailleur__code_postal__"|add:bailleur_uuid %}
                                        </div>
                                        <div class="fr-col-6">
                                            {% include "common/display_field_if_exists.html" with value=bailleur.ville object_field="bailleur__ville__"|add:bailleur_uuid %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                {% include "common/display_field_if_exists.html" with label="SIRET" value=bailleur.siret object_field="bailleur__siret__"|add:bailleur_uuid %}
                                {% include "common/display_field_if_exists.html" with label="Capital social" value=bailleur.capital_social object_field="bailleur__capital_social__"|add:bailleur_uuid %}
                            </div>
                        </div>
                        <div class="fr-col-12 fr-col-lg-6">
                            <p class="fr-my-1w"><strong>Signataire de la convention</strong></p>
                            <div class="fr-ml-3w">
                                {% include "common/display_field_if_exists.html" with value=convention.signataire_nom object_field="bailleur__signataire_nom__"|add:bailleur_uuid %}
                                <em>{% include "common/display_field_if_exists.html" with value=convention.signataire_fonction object_field="bailleur__signataire_fonction__"|add:bailleur_uuid %}</em>
                                {% include "common/display_field_if_exists.html" with label="Date de délibération" value=convention.signataire_date_deliberation object_field="bailleur__signataire_date_deliberation__"|add:bailleur_uuid %}
                            </div>
                        </div>
                    </div>
                {% endwith %}
            </div>
        </div>
    </div>
</div>