{% extends "conventions/recapitulatif/_card.html" %}
{% load custom_filters %}

{% block card_classes %}fr-mt-1w{% endblock card_classes %}
{% block title %}Bailleur et administration{% endblock title %}

{% block body %}
    {% with bailleur_uuid=bailleur.uuid|slugify %}
        <div class="fr-grid-row fr-grid-row--gutters">
            {# colonne bailleur #}
            <div class="fr-col-12 fr-col-lg-6">
                <div class="fr-mb-2w">
                    <strong>{% include "common/display_field_if_exists.html" with value=bailleur.nom object_field="bailleur__nom__"|add:bailleur_uuid %}</strong>
                    <div class="fr-ml-3w">
                        {% include "common/display_field_if_exists.html" with value=bailleur.adresse object_field="bailleur__adresse__"|add:bailleur_uuid %}
                        <div class="fr-grid-row fr-grid-row--gutters">
                            <div class="fr-col-6">
                                {% include "common/display_field_if_exists.html" with value=bailleur.code_postal object_field="bailleur__code_postal__"|add:bailleur_uuid %}
                            </div>
                            <div class="fr-col-6">
                                {% include "common/display_field_if_exists.html" with value=bailleur.ville object_field="bailleur__ville__"|add:bailleur_uuid %}
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    {% include "common/display_field_if_exists.html" with label="SIRET" value=bailleur.siret object_field="bailleur__siret__"|add:bailleur_uuid %}
                    {% include "common/display_field_if_exists.html" with label="Capital social" value=bailleur.capital_social object_field="bailleur__capital_social__"|add:bailleur_uuid %}
                </div>
            </div>

            {# colonne signataire #}
            <div class="fr-col-12 fr-col-lg-6">
                <p class="fr-my-1w"><strong>Signataire de la convention</strong>{% if convention.programme.is_foyer or convention.programme.is_residence %} (Propriétaire){% endif %}</p>
                <div class="fr-ml-3w">
                    {% include "common/display_field_if_exists.html" with value=convention.signataire_nom object_field="bailleur__signataire_nom__"|add:bailleur_uuid %}
                    <em>{% include "common/display_field_if_exists.html" with value=convention.signataire_fonction object_field="bailleur__signataire_fonction__"|add:bailleur_uuid %}</em>
                    {% include "common/display_field_if_exists.html" with label="Date de délibération" value=convention.signataire_date_deliberation object_field="bailleur__signataire_date_deliberation__"|add:bailleur_uuid %}
                    {% include "common/display_field_if_exists.html" with value=convention.signataire_bloc_signature object_field="bailleur__signataire_bloc_signature__"|add:bailleur_uuid %}
                </div>
            </div>
        </div>
    {% endwith %}
    {% if convention.programme.is_foyer or convention.programme.is_residence %}
        {% if convention.gestionnaire %}
            <div class="block--row-strech-1">

                <h4 class="fr-card__title">
                    Gestionnaire
                </h4>
            </div>

            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-lg-6">
                    <div class="fr-mb-2w">
                        <strong>{% include "common/display_field_if_exists.html" with value=convention.gestionnaire object_field="convention__gestionnaire__"|add:convention_uuid %}</strong>
                    </div>
                </div>
                <div class="fr-col-12 fr-col-lg-6">
                    <p class="fr-my-1w"><strong>Signataire du gestionnaire</strong></p>
                    <div class="fr-ml-3w">
                        {% include "common/display_field_if_exists.html" with value=convention.gestionnaire_signataire_nom object_field="convention__gestionnaire_signataire_nom__"|add:convention_uuid %}
                        <em>{% include "common/display_field_if_exists.html" with value=convention.gestionnaire_signataire_fonction object_field="convention__gestionnaire_signataire_fonction__"|add:convention_uuid %}</em>
                        {% include "common/display_field_if_exists.html" with label="Date de délibération" value=convention.gestionnaire_signataire_date_deliberation object_field="convention__gestionnaire_signataire_date_deliberation__"|add:convention_uuid %}
                        {% include "common/display_field_if_exists.html" with value=convention.gestionnaire_signataire_bloc_signature object_field="convention__gestionnaire_signataire_bloc_signature__"|add:convention_uuid %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
    <div class="fr-grid-row fr-grid-row--gutters fr-mt-2w">
        <div class="fr-col-12 fr-col-lg-6">
            <p class="fr-my-1w"><strong>Administration</strong></p>
            {{ convention.administration }}
        </div>
    </div>

    {% if convention.is_avenant %}
        {% include "conventions/actions/remove_from_avenant.html" with avenant_type="bailleur" %}
    {% endif %}
{% endblock %}
