{% load custom_filters %}

{% if convention_form_steps|is_a_step:'AvenantChampLibreView' %}
    <div class="fr-grid-row fr-grid-row--gutters fr-mt-1w">
        <div class="fr-col-12 {%  if not convention.is_avenant %}fr-col-lg-6{% endif %}">
            <div class="fr-card fr-card--no-arrow">
                <div class="fr-card__body fr-my-2w">
                    <div class="block--row-strech" id="{{object_field}}_div">
                        <div class="block--row-strech-1">
                            <h4 class="fr-card__title">
                                Informations complémentaires
                            </h4>
                        </div>
                        {% include "conventions/actions/goto.html" %}
                    </div>
                    <div class="table--limited-height">
                        {% include "common/display_textfield_if_exists.html" with value=convention.champ_libre_avenant object_field="convention__champ_libre_avenant__"|add:convention_uuid %}
                    </div>
                    {% if convention.is_avenant %}
                        {% include "conventions/actions/remove_from_avenant.html" with avenant_type="champ_libre" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
