<div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-12">
        <div class="fr-card fr-card--no-arrow">
            <div class="fr-card__body fr-my-2w">
                <div class="block--row-strech" id="{{object_field}}_div">
                    <div class="block--row-strech-1">
                        <h4 class="fr-card__title">
                            Informations à l'attention du service instructeur
                        </h4>
                    </div>
                    {% if convention.display_options.display_progress_bar_1 %}
                        <a class="fr-link fr-mb-1w" href="{% url 'conventions:comments' convention_uuid=convention.uuid %}" >
                            <span class="fr-icon-edit-line" aria-hidden="true">Aller à cette étape</span>
                        </a>
                    {% endif %}
                </div>
                <div class="table--limited-height">
                    {% include "common/display_text_and_files_if_exists.html" with text=convention.comments_text file_list=convention.comments_files.values %}
                </div>
            </div>
        </div>
    </div>
</div>