{% load custom_filters %}

{% if convention_form_steps|is_a_step:'ConventionEDDView' or convention_form_steps|is_a_step:'AvenantEDDView' %}
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-12">
            <div class="fr-card fr-card--no-arrow">
                <div class="fr-card__body fr-my-2w">
                    <div class="block--row-strech" id="{{ object_field }}_div">
                        <div class="block--row-strech-1">
                                {% include "conventions/common/avenants_checkboxes.html" with title="Opération - EDD" title_unchecked="Mettre à jour l'état descriptif de division" checked=checked id="edd" avenant_type="edd" description="En cas de modification de l'acte notarié concernant l'état descriptif de division" %}
                        </div>
                        {% if not convention.is_avenant or checked %}
                            {% include "conventions/actions/goto.html" %}
                        {% endif %}
                    </div>
                    {% if not convention.is_avenant or checked %}
                    <div class="table--limited-height">
                        {% include "common/display_text_and_files_if_exists.html" with label="EDD volumétrique" text=lot.edd_volumetrique|get_text_from_textfiles file_list=lot.edd_volumetrique|get_files_from_textfiles object_field="lot__edd_volumetrique__"|add:lot_uuid %}
                        {% include "common/display_field_if_exists.html" with label="Mention de publication de l'EDD volumétrique" value=programme.mention_publication_edd_volumetrique object_field="programme__mention_publication_edd_volumetrique__"|add:programme_uuid %}
                        {% include "common/display_text_and_files_if_exists.html" with label="EDD classique" text=lot.edd_classique|get_text_from_textfiles file_list=lot.edd_classique|get_files_from_textfiles object_field="lot__edd_classique__"|add:lot_uuid %}
                        {% include "common/display_field_if_exists.html" with label="Mention de publication de l'EDD classique" value=programme.mention_publication_edd_classique object_field="programme__mention_publication_edd_classique__"|add:programme_uuid %}
                    </div>
                    <p class="fr-my-1w">EDD Simplifé : </p>
                    {% if logement_edds %}
                        <div class="fr-table fr-table--bordered table--layout-fixed table--limited-height">
                            <div class="fr-table__wrapper">
                                <div class="fr-table__container">
                                    <div class="fr-table__content">
                                        <table  aria-label="Logements de l'EDD">
                                            <thead>
                                                <tr>
                                                    {% if convention|display_comments %}
                                                        {% include 'common/utils/comments_header.html' with object_name='logement_edd' label="Logements de l'EDD" callback_click="refresh_opened_comments" %}
                                                    {% endif %}
                                                    <th scope="col">Financement {% include "common/form/required_field_star.html" %}</th>
                                                    <th scope="col">Désignation {% include "common/form/required_field_star.html" %}</th>
                                                    <th scope="col">Numéro de lot {% include "common/form/required_field_star.html" %}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for lgt in logement_edds %}
                                                    {% with lgt_uuid=lgt.uuid|slugify %}
                                                        {% with main_object_field="logement_edd__uuid__"|add:lgt_uuid %}
                                                            <tr id="{{ main_object_field }}_group">
                                                                {% if convention|display_comments %}
                                                                    <td id="{{ main_object_field }}_div">
                                                                        {% include 'common/utils/comments_field.html' with object_field=main_object_field label="Logement de l'EDD" callback_click="refresh_opened_comments" %}
                                                                    </td>
                                                                {% endif %}
                                                                <td>
                                                                    {{ lgt.financement }}
                                                                </td>
                                                                <td>
                                                                    {{ lgt.designation }}
                                                                </td>
                                                                <td>
                                                                    {{ lgt.numero_lot }}
                                                                </td>
                                                            </tr>
                                                        {% endwith %}
                                                    {% endwith %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="fr-my-2w">
                            <p class="fr-mb-0 notes"><em>Vous n'avez indiqué aucun EDD simplifié.</em></p>
                            <a class="fr-mb-1w fr-link" href="{% url target_url convention_uuid=convention.uuid %}">Ajouter un EDD</a>
                        </div>
                    {% endif %}
                    <div class="table--limited-height">
                        {% include "common/display_text_and_files_if_exists.html" with label="EDD pour les stationnements" text=programme.edd_stationnements|get_text_from_textfiles file_list=programme.edd_stationnements|get_files_from_textfiles object_field="programme__edd_stationnements__"|add:programme_uuid %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
