{% load custom_filters %}

{% if convention_form_steps|is_a_step:'ConventionProgrammeView' or convention_form_steps|is_a_step:'AvenantProgrammeView' %}
    <div class="fr-grid-row fr-grid-row--gutters fr-mt-1w">
        <div class="fr-col-12 {% if not convention.is_avenant %}fr-col-lg-6{% endif %}">
            <div class="fr-card fr-card--no-arrow">
                <div class="fr-card__body fr-my-2w">
                    <div class="block--row-strech" id="{{ object_field }}_div">
                        <div class="block--row-strech-1">
                            {% include "conventions/common/avenants_checkboxes.html" with title="Opération" title_unchecked="Mettre à jour les informations de l'opération" checked=checked id="operation" avenant_type="programme" description="Suite à la modification du nom ou de l'adresse de l'opération" description="Suite à la modification du nom ou de l'adresse de l'opération" %}
                        </div>
                        {% if not convention.is_avenant or checked %}
                            {% include "conventions/actions/goto.html" %}
                        {% endif %}
                    </div>
                    {% if not convention.is_avenant or checked %}
                    <div class="table--limited-height">

                        {% if request.user.is_instructeur %}
                            <p class="fr-mt-1w fr-mb-0">
                                {% if programme.numero_operation %}
                                    <strong>Numero d'opération : {{ programme.numero_operation }}</strong>
                                {% else %}
                                    <em>Numero d'opération : non renseigné</em>
                                {% endif %}
                            </p>
                            {% if request.session.is_expert %}
                                {% include "conventions/actions/edit_numero_operation.html" %}
                            {% endif %}
                        {% else %}
                            {% include "common/display_field_if_exists.html" with label="Numero d'opération" value=programme.numero_operation %}
                        {% endif %}

                        {% include "common/display_field_if_exists.html" with label="Nom" value=programme.nom object_field="programme__nom__"|add:programme_uuid %}
                        {% if convention.adresse %}
                            {% include "common/display_field_if_exists.html" with label="Adresse" value=convention.adresse object_field="convention__adresse__"|add:convention_uuid %}
                        {% else %}
                            {% include "common/display_field_if_exists.html" with label="Adresse" value=programme.adresse object_field="convention__adresse__"|add:convention_uuid %}
                        {% endif %}
                        {% include "common/display_field_if_exists.html" with label="Code postal" value=programme.code_postal object_field="programme__code_postal__"|add:programme_uuid %}
                        {% include "common/display_field_if_exists.html" with label="Ville" value=programme.ville object_field="programme__ville__"|add:programme_uuid %}
                        {% include "common/display_checkbox.html" with label="ANRU" value=programme.anru object_field="programme__anru__"|add:programme_uuid %}
                        {% include "common/display_field_if_exists.html" with label="Type d'habitat" value=lot.get_type_habitat_display object_field="lot__type_habitat__"|add:programme_uuid %}
                        {% include "common/display_field_if_exists.html" with label="Type d'opération" value=programme.get_type_operation_display object_field="programme__type_operation__"|add:programme_uuid %}
                        {% include "common/display_field_if_exists.html" with label="Nombre de locaux commerciaux (non-conventionnés)" value=programme.nb_locaux_commerciaux object_field="programme__nb_locaux_commerciaux__"|add:programme_uuid %}
                        {% include "common/display_field_if_exists.html" with label="Nombre de bureaux (non-conventionnés)" value=programme.nb_bureaux object_field="programme__nb_bureaux__"|add:programme_uuid %}
                        {% include "common/display_field_if_exists.html" with label="Autres logements non-conventionnés" value=programme.autres_locaux_hors_convention object_field="programme__autres_locaux_hors_convention__"|add:programme_uuid %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if not convention.is_avenant %}
            <div class="fr-col-12 fr-col-lg-6">
                <div class="fr-card fr-card--no-arrow">
                    <div class="fr-card__body fr-my-2w">
                        <div class="block--row-strech" id="{{ object_field }}_div">
                            <div class="block--row-strech-1">
                                <h4 class="fr-card__title">
                                    Opération - informations cadastrales
                                </h4>
                            </div>
                            {% if convention|display_convention_form_progressbar or request.session.is_expert and convention.statut == CONVENTION_STATUT.SIGNEE %}
                                <a class="fr-link fr-mb-1w" href="{% url 'conventions:cadastre' convention_uuid=convention.uuid %}" >
                                    <span class="fr-icon-edit-line" aria-hidden="true">Aller à cette étape</span>
                                </a>
                            {% endif %}
                        </div>
                        {% include "conventions/recapitulatif/cadastre_inner_content.html" %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}
