{% load custom_filters %}

<div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-lg-12">
        <div class="fr-card fr-card--no-arrow">
            <div class="fr-card__body fr-my-2w">
                <div class="block--row-strech" id="{{object_field}}_div">
                    <div class="block--row-strech-1">
                        <h4 class="fr-card__title">
                            Pièces jointes
                        </h4>
                        <p>{{ convention.pieces_jointes.count }} document(s) issu(s) d'Ecoloweb</p>
                    </div>
                </div>
                <div class="fr-table fr-table--bordered table--layout-fixed table--limited-height">
                    <div class="fr-table__wrapper">
                        <div class="fr-table__container">
                            <div class="fr-table__content">
                                <table  aria-label="Annexes">
                                    <thead>
                                        <tr>
                                            <th scope="col">Type de document</th>
                                            <th scope="col">Nom du fichier </th>
                                            <th scope="col">Description </th>
                                            <th scope="col">Ajouté le </th>
                                            <th scope="col">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for piece_jointe in convention.pieces_jointes.all %}
                                            <tr>
                                                <td>{{ piece_jointe.type }}</td>
                                                <td>{{ piece_jointe.nom_reel }}</td>
                                                <td>{{ piece_jointe.description }}</td>
                                                <td>{{ piece_jointe.cree_le }}</td>
                                                <td>
                                                    <a class="fr-btn fr-btn--sm fr-icon-download-fill"
                                                       title="Consulter"
                                                       download="{{ piece_jointe.nom_reel }}"
                                                       href="{% url 'conventions:piece_jointe' piece_jointe_uuid=piece_jointe.uuid %}"
                                                    >Consulter</a>
                                                    {% if piece_jointe|can_promote %}
                                                        <a class="fr-btn fr-btn--green fr-btn--sm fr-icon-checkbox-circle-fill"
                                                           title="Définir comme document de convention"
                                                           href="{% url 'conventions:piece_jointe_promote' piece_jointe_uuid=piece_jointe.uuid %}"
                                                        >Définir comme document de convention</a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
