{% load custom_filters %}

{% if convention_form_steps|is_a_step:'ConventionCadastreView' %}
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-12">
            <div class="fr-card fr-card--no-arrow">
                <div class="fr-card__body fr-my-2w">
                    <div class="block--row-strech" id="{{object_field}}_div">
                        <div class="block--row-strech-1">
                            <h4 class="fr-card__title">
                                Références cadastrales et effet relatif
                            </h4>
                        </div>
                        {% if convention|display_convention_form_progressbar  or request.session.is_expert and convention.statut == CONVENTION_STATUT.SIGNEE %}
                            <a class="fr-link fr-mb-1w" href="{% url 'conventions:cadastre' convention_uuid=convention.uuid %}#id_reference_cadastrale_div" >
                                <span class="fr-icon-edit-line" aria-hidden="true">Aller à cette étape</span>
                            </a>
                        {% endif %}
                    </div>
                    {% include "common/display_text_and_files_if_exists.html" with text=programme.reference_cadastrale|get_text_from_textfiles file_list=programme.reference_cadastrale|get_files_from_textfiles %}
                    {% if reference_cadastrales %}
                        <div class="fr-table table--limited-height">
                            <div class="fr-table__wrapper">
                                <div class="fr-table__container">
                                    <div class="fr-table__content">
                                        <table aria-label="Références cadastrales">
                                            <thead>
                                                <tr>
                                                    {% if convention|display_comments %}
                                                        {% include 'common/utils/comments_header.html' with object_name='reference_cadastrale' label='Références cadastrales' callback_click="refresh_opened_comments" %}
                                                    {% endif %}
                                                    <th scope="col">Section {% include "common/form/required_field_star.html" %}</th>
                                                    <th scope="col">Numéro {% include "common/form/required_field_star.html" %}</th>
                                                    <th scope="col">Lieudit {% include "common/form/required_field_star.html" %}</th>
                                                    <th scope="col">Surface {% include "common/form/required_field_star.html" %}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for reference in reference_cadastrales %}
                                                    {% with reference_uuid=reference.uuid|slugify %}
                                                        {% with main_object_field="reference_cadastrale__uuid__"|add:reference_uuid %}
                                                            <tr id="{{main_object_field}}_group">
                                                                {% if convention|display_comments %}
                                                                    <td id="{{main_object_field}}_div">
                                                                        {% include 'common/utils/comments_field.html' with object_field=main_object_field label="Référence cadastrale" callback_click="refresh_opened_comments" %}
                                                                    </td>
                                                                {% endif %}
                                                                <td>
                                                                    {{ reference.section }}
                                                                </td>
                                                                <td>
                                                                    {{ reference.numero }}
                                                                </td>
                                                                <td>
                                                                    {{ reference.lieudit }}
                                                                </td>
                                                                <td>
                                                                    {{ reference.surface }}
                                                                </td>
                                                            </tr>
                                                        {% endwith %}
                                                    {% endwith %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="fr-my-2w">

                            <p class="fr-mb-0 notes"><em>Vous n'avez indiqué aucune référence cadastrale.</em></p>
                            <a class="fr-mb-1w fr-link" href="{% url 'conventions:cadastre' convention_uuid=convention.uuid %}#id_reference_cadastrale_div" >Ajouter une référence cadastrale</a>
                        </div>
                    {% endif %}
                    {% include "common/display_text_and_files_if_exists.html" with file_list=programme.effet_relatif|get_files_from_textfiles %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
