<div class="fr-grid-row fr-grid-row--gutters fr-mt-1w">
    <div class="fr-col-12">
        <div class="fr-card fr-card--no-arrow">
            <div class="fr-card__body fr-my-2w">
                <div class="block--row-strech" id="{{ object_field }}_div">
                    <div class="block--row-strech-1">
                        <h4 class="fr-card__title">
                            Acte de résiliation de la convention
                        </h4>
                    </div>
                    {% include "conventions/actions/goto.html" %}
                </div>
                <div class="table--limited-height">
                    {% include "common/display_field_if_exists.html" with label="Date définitive de la résiliation" value=convention.date_resiliation object_field="convention__date_resiliation__"|add:convention_uuid %}
                    {% include "common/display_text_and_files_if_exists.html" with file_list=convention.fichier_instruction_resiliation|get_files_from_textfiles %}
                </div>
            </div>
        </div>
    </div>
</div>
