{% load custom_filters %}
{% if convention_form_steps|is_a_step:'ConventionTypeStationnementView' or convention_form_steps|is_a_step:'AvenantTypeStationnementView' %}
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-12">
            <div class="fr-card fr-card--no-arrow">
                <div class="fr-card__body fr-my-2w">
                    <div class="block--row-strech" id="{{ object_field }}_div">
                        <div class="block--row-strech-1">
                            {% include "conventions/common/avenants_checkboxes.html" with title="Stationnements" title_unchecked="Mettre à jour les stationnements" checked=checked id="stationnement" avenant_type="stationnement" description="" %}
                        </div>
                        {% if not convention.is_avenant or checked %}
                            {% include "conventions/actions/goto.html" %}
                        {% endif %}
                    </div>
                    {% if not convention.is_avenant or checked %}
                    {% if stationnements %}
                        <div class="fr-table table--limited-height">
                            <div class="fr-table__wrapper">
                                <div class="fr-table__container">
                                    <div class="fr-table__content">
                                        <table aria-label="Types de stationnement">
                                            <thead>
                                                <tr>
                                                    {% if convention|display_comments %}
                                                        {% include 'common/utils/comments_header.html' with object_name='type_stationnement' label="Type de stationnements" callback_click="refresh_opened_comments" %}
                                                    {% endif %}
                                                    <th scope="col" class="col__width--150">Type de stationnement {% include "common/form/required_field_star.html" %}</th>
                                                    <th scope="col" class="col__width--150">Financement {% include "common/form/required_field_star.html" %}</th>
                                                    <th scope="col" class="col__width--200">Nombre de stationnements {% include "common/form/required_field_star.html" %}</th>
                                                    <th scope="col" class="col__width--150">Loyer maximum en € {% include "common/form/required_field_star.html" %}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for stationnement in stationnements %}
                                                    {% with stationnement_uuid=stationnement.uuid|slugify %}
                                                        {% with main_object_field="type_stationnement__uuid__"|add:stationnement_uuid %}
                                                            <tr id="{{ main_object_field }}_group">
                                                                {% if convention|display_comments %}
                                                                    <td id="{{ main_object_field }}_div">
                                                                        {% include 'common/utils/comments_field.html' with object_field=main_object_field label="Type de stationnement" callback_click="refresh_opened_comments" %}
                                                                    </td>
                                                                {% endif %}
                                                                <th scope="row">
                                                                    {{ stationnement.get_typologie_display }}
                                                                </th>
                                                                <td>
                                                                    {{ stationnement.lot.financement }}
                                                                </td>
                                                                <td>
                                                                    {{ stationnement.nb_stationnements }}
                                                                </td>
                                                                <td>
                                                                    {{ stationnement.loyer|floatformat:2 }}
                                                                </td>
                                                            </tr>
                                                        {% endwith %}
                                                    {% endwith %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="fr-my-2w">
                            <p class="fr-mb-0 notes"><em>Vous n'avez indiqué aucun stationnement.</em></p>
                            <a class="fr-mb-1w fr-link" href="{% url target_url convention_uuid=convention.uuid %}">Ajouter un stationnement</a>
                        </div>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
