{% extends "layout/base.html" %}

{% load static %}

{% block javascript_extras %}
    <script src="{% static "virtual-select/virtual-select.min.js" %}" nonce="{{ request.csp_nonce }}"></script>
{% endblock javascript_extras %}

{% block css_extras %}
    <link rel="stylesheet" href="{% static 'virtual-select/virtual-select.min.css' %}">
{% endblock css_extras %}

{% block page_title %}Délégataires - APiLos{% endblock %}

{% block content %}
    <div class="fr-container-fluid">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters fr-py-5w fr-mb-1w">
                <div class='fr-col-12 fr-col-md-4 fr-col-lg-3'>
                    {% include 'settings/common/side_menu.html' with active_menu='delegataires' %}
                </div>
                <div class='fr-col-12 fr-col-md-8 fr-col-lg-9 fr-pl-md-3w'>
                    {% include "../../conventions/common/stepper.html" %}
                    {% block inner_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
