{% extends "settings/delegataires/base.html" %}

{% block inner_content %}
    <h4>Gestion des délégataires</h4>
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% include "common/form/input_select.html" with form_input=form.administration without_empty_option=form.administration.field.choices|length_is:1 %}
        <script type="text/javascript" nonce="{{ request.csp_nonce }}">
            document.addEventListener('DOMContentLoaded', function () {
                VirtualSelect.init({
                    ele: '#{{ form.administration.id_for_label }}',
                    multiple: false,
                    hideClearButton: true,
                    search: true,
                    searchPlaceholderText: "Rechercher votre administration...",
                    noSearchResultsText: "Aucune administration ne correspond à votre recherche"
                });
            });
        </script>
        {% include "common/form/input_select.html" with form_input=form.departement editable=True required=False %}
        <div id='download_upload_block'>
            {% include "common/form/download_upload_form.html" with file_type='communes' upform=form what='communes' file_field_label='commune' %}
        </div>
        {% for error in import_warnings %}
            <p id="text-input-error-desc-error" class="fr-error-text">
                {{ error }}
            </p>
        {% endfor %}

        {% for error in formset.non_form_errors %}
            <p id="text-input-error-desc-error" class="fr-error-text">
                {{ error }}
            </p>
        {% endfor %}
        {% if communes %}
            <div class="fr-table fr-table--no-caption fr-mt-5w" id="table-md-component">
                <div class="fr-table__wrapper">
                    <div class="fr-table__container">
                        <div class="fr-table__content">
                            <table id="table-bordered">
                                <caption>
                                    Liste des communes concernées par la modification de délégation
                                </caption>
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            Code postal
                                        </th>
                                        <th scope="col">
                                            Commune
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for commune in communes %}
                                        <tr>
                                            <td>{{ commune.code_postal }}</td>
                                            <td>{{ commune.commune }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="communes" id="communes" value='{{ communes_str }}'>
        {% endif %}
        <input type="hidden" name="no_dry_run" id="no_dry_run" value=false>
        <div class="form-button-footer fr-col-md-12 fr-py-5w">
            <button class="fr-btn fr-icon-arrow-right-s-line fr-btn--icon-right">
                Suivant
            </button>
        </div>
    </form>
{% endblock inner_content %}
