{% extends "layout/base.html" %}

{% load custom_filters static %}

{% block page_title %}Seconde Vie - APiLos{% endblock %}

{% block content %}
    <div class="fr-container-fluid ds_banner">
        {% include "operations/common/form_header.html" %}
    </div>

    <div class="fr-container fr-my-5w">
        <h2>Seconde Vie - Conventions existantes</h2>
        <p>Cette fonctionnalité n'est pas encore disponible.</p>
        <p>Revenez plus tard pour réaliser l'avenant seconde vie.</p>
    </div>
{% endblock content %}
