.ds_banner {
  background-color: var(--background-default-grey);
}

.apilos-subtitle {
  font-size: 1.3rem;
  font-style: italic;
}
.apilos-mobile-header {
  height: 50px;
  width: 50px;
  position: relative;
}

.apilos-flex-wrap {
  flex-wrap: wrap;
}

.apilos--flex-row-left-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.apilos--overflow_ellipsis {
  display: block;
  width: 16rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.apilos-d-inline {
  display: inline;
}

.apilos-d-block {
  display: block;
}
.apilos-tag-ok {
  background-color: var(--background-action-low-blue-france);
  color: var(--text-action-high-blue-france);
}


.fr-fi--xxl {
  --icon-size: 4rem;
}

.fr-fi--sm:after, .fr-fi--sm:before {
  font-size: 1rem!important;
}

.fr-fi--sm-active:after, .fr-fi--sm-active:before {
  font-size: 1.25rem!important;
}

.fr-link--sm {
  padding: 0.25rem 0.5rem;
}
.fr-alert__title {
  margin-bottom: 0.5rem;
}
#recap_navigation,
.apilos-sticky.no_navbar {
  border-bottom: solid 1px var(--border-default-grey);
}
.notes {
  color: #6A6A6A;
}

details > summary {
  list-style: none;
}
details > summary::marker,
details > summary::-webkit-details-marker {
  display: none;
}



.warning-notification {
  color: #E10600;
}

.table--limited-height {
  max-height:400px;
  overflow-y: auto;
}

.button-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container__feedback_btn {
  z-index: 1;
}

.apilos-fi-btn {
  width: 16px;
  filter: invert(100%) sepia(0%) saturate(7490%) hue-rotate(274deg) brightness(108%) contrast(103%);
}

.apilos-fi-btn--secondary {
  width: 16px;
  filter: invert(14%) sepia(62%) saturate(6699%) hue-rotate(244deg) brightness(56%) contrast(131%);
}

.apilos-bordered {
  border: solid 1px #ccc;
  padding: 15px;
}
.apilos-h2-thin {
  font-size: 2rem ;
line-height: 2.5rem;
}

.dz {
  border: dashed !important;
  border-color: #ccc !important;
  border-radius: 10px !important;
  height: 200px;
  overflow:scroll;
  white-space: nowrap;
}

.dz:hover {
  background-color: aliceblue !important;
}

.form-button-footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.small_thumbnail {
  border-radius: 10px !important;
  width:60px;
  height:60px;
  background-color: grey;
}

.dz-error-message {
  z-index: 997 !important;
  width:auto !important;
  height: auto !important;
  top:150px !important;
  left: -60px !important;
}

.dropzone .dz-preview .dz-error-message:after {
  left: 115px !important;
}

textarea.fr-input:disabled, textarea.fr-input[disabled] {
  color: var(--g600-g400);
  box-shadow: inset 0 -2px 0 0 var(--g400);
  opacity: 1;
}

.content__homepage-image {
  display: block;
  width: auto;
  height: auto;
}

.content__headline{
  font-style: italic;
}

.col__width--120 {
  min-width:120px;
}
.col__width--130 {
  min-width:130px;
}
.col__width--140 {
  min-width:140px;
}
.col__width--150 {
  min-width:150px;
}
.col__width--200 {
  min-width:200px;
}

.content__fileblock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.content__helpicon {
  min-height: 0;
  padding: .1rem;
}

.header__logo {
  width:5rem;
}
.width-100 {
  width: 100%;
}
.h-80vh {
  height: 80vh;
}
.h-80vh iframe {
  height: 100%;
  border: solid 1px #9C9C9C;
}

.text--center {
  text-align: center;
}

.modal__error-text {
  font-size: 1rem !important;
}

.apilos-logo {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAQAAABpN6lAAAAABGdBTUEAALGPC/xhBQAAAAJiS0dE AACqjSMyAAAAB3RJTUUH5QoUDDgbi3Z0iwAACVdJREFUeNrtnWt0VNUVx38TJOH9kCa8CghdC4Jd 7QIqKIhWLEVaKBQfKMUYZPGoohjUgmhEVlt5FASpXRVYlCWpNAXTAgUEKhVBXQIrIAii2JKQEkBC eEoI5HX6IYeTezOZcGfmzt2hM//7ZebOeez/zr1nn8feOyCHBBbyPj8WlEAU8axDoSjhfmlRJOkr FGWMlhZHkn6lClKkRfISCWzQxAtYbFTwqLRYXqHqr1/A94Bp+ls5j0uLJkEfYKq+U8GT0uJJ0Ad4 3qjgKWkRJegDTKFCq2CytJgS9AF+aVSQJi2qBH2ACZTrMi9KiytBH2CcUUG6tMgS9AHGGhXMkBZb gj7AKEp1+TnSokvQB3j4/0cFodAHGGlUME+aggR9gAcp0XVfk6YhQR9gCFd0/TfxSZPxnj7ATynW bSwmTpqQ9/QBBhsVLL2RVOAWfYD7uKzbWnajqMBN+gA/5Bvd3krqSZPznj7AXUYFmdwkTdB7+gD9 uajbXVWXVRAp+gB3ckG3/Q71pYl6Tx/gNs7o9teTIE3We/oAvYwKNtBAmrD39AF6Uqj7ebcuqcAr +gA9OK372kxDaeLe0wfozknd3wc0libvPX2AZE7oPrfTJProA3TjuO73Q5pGH32AruTrvj+iWfTR B7iFXN3/xxIqkKYP0IkcLUM2N0cffYCO/EfLsYdW0UcfoAP/1rJ8yreijz5AGw5pefaRGH30K1Vw UMt0iLbRRx+gNQe0XF/QLvroAyTxmZbtMO2jjz5AIvu1fF/x7eijD9CS3VrGXDo7reTszCWBvzEE gBImcNDcz+eUMOl2tmHvZjJoA0Au93LUvW5W2dwarQ6O40Tpp2m3mpquXFq41U2cOav1v3aKKuBg QLkUih85I3d9VPBuwN9ktydr6/04+5w04WyXfQS9/dbdaXpUkEcWS/zulbKXb9xTQAW7/O49KM3b II+toVe+QQ4cI4eYAqQFkEZMAdICSCOmAGkBpBFTgLQA0ogpQFoAacQUIC2ANGIKkBZAGjEFSAsg jZgCpAWQRkwB0gJII6YAaQGkEfUKCCX+IpFedOE2ADowi5PksZd8aSqRV0AcdzGCwXSz3GvFdP3p GDtYzWZKIipvZx6lNwkcYxPrvFRUc541Pnm1XWdYGDEvnQRmm4DaSpeoygCK+aZEU55hA/vYwVyS 3es4iVmc96N6koNks5fjfofnxSwiyXX6PYwXUPXrmgJSKLDcLeW3boxwnXjDhC4qFJfZQBq9bG7q Proxhj+ZgBaF4jzPE+8a+Zt4iaum7f1stf1B5gOd2FSDahaG1213Vtgeuc+ZXKvXRTzD+Jel/GGG ukK/K5+YNo8wAIDGlmRcC3jKhNUpcljFh8ZzpCpRWyteZBtH2MNi+ly/09783SSzUCg+YZhDf6K7 2WGpt4VbwyLv42mKdFsVLLE8eQ353LxyVc/dRP3YD9Wx5wW0BuozxYTdXWupluC7e9lqe5C2cE+Q Yo/kqOVdXBSyL3dHiyTH+Um1X3taXguF4h8297hn9d21DKjRlWZlTR3G8XN2WQqVk8UPQhK9Ielc Mu0U8mQIM45Uy5ueWaMSnza/F/CIH5cP/Egf4I+soUx/q1ajPik2TZWwPExT0p63LV5cB5w5LWkk scaivocDlhvFNnYzu0ZP8c6WkUFxjIf0/Tv0S5VXFXfWkEkm/kKhKGIRHcMifw19bU/UGr7jqNYI Tpk6G8NwgB6kqV5lti3C7Bnd9ksAjXiBry1CnuM3rrqd+0g1IU6KK8y5TphTC1aY0hcZH2bviYwh ldbV7tbnsG6/Nbxnm9xMjUj8TRNmWcbqkzwecIoykP+actudO7wGjWG6j1/7uKAp5zCPt7gSsS47 M48HzLdslnFWfy4zDm3DmWSM7SZepwKAS+RzilKX5dlFH+AzSOMyexjtSVz+AOPRHex1nsygjXHt SEehuOQBaxvqMdFE/wZ/bfB7m0PHLD3iCaAFC2zzsmCuPL7rigzNOYZCsUMqRVEczf0+1QswAMfR nsGk0AiAo/ThdJi9dyOTngA8IcQ/BLRju34KssJqJ550Y5EO1NV0HDUjgY/0UuaOkNvoa8KrFEe4 RZpSsOis13hLQ6rdjDcsK9yVXofbuoO3UShOhFBzmB72FIpcv5XlDYMxmkJwiRPa8o4hX8YCbzJP 1GM0qXrkdg+DNA1niyoAH+M5Z+h/qrfzPcB0FIqvec5VfY/URJwGSncztkNxmWle5qF6y3R8iqmu 5fpYoCewTuYv8bxskjIqtgbx1LiCZL60zOBOM92FbB+NdQaZtQ7K9rVs7xSSKpGVsh4pNiUUkh7m Yvv3NW9m+aEZf7AZPPdPKYJQwmgT369QnGVGiAGNPmbqNvZf58DDbvAGy5G/hjgese02nmcp95gV gBM0YgQ7de1ibq+lZNAGz6s3I44HeLla2PVFCh3VbWxZBJeRyl8CchnPXPN87WM82R6xcwgf97Mv 5L2AyqF0YMDWky0Gr4ipdTXxoo8hbKx2oOGU/JyAo4fd4L0XjMGT2Q9oyu3cSguH88QrnOBLPqY8 wO/9WGq2Sc7wHBkoEVYiaMwcc9KjWC1p8CQwlDw5g9eAlrQUzPTbliyLwXvNu9yC7UljPfn61K+U XDIZ5162BkfwMcGywtsb4gFuCPg+ay1vnPUqZoXeZow8ki0eCEX8yiuD15IlNpeJmq73GRZhz8N4 ZlgM3j/p4g15+IXtAHU/r/MEDzGSySzjiE0JXzEpYoku+1mm1Kd5zCvyXdhsui1nud/RhI/+/NXm K3aWuXRwWQr7Cu/PXiROA6jPCxYvsV30CFiyI7+zDEyKEjKdOCM5xHCTQlORw33ekId+ll30S0y7 rtFrwgTb4leRzWNhD1JtyLA8gUu8yyT7iuWRy3Ls/xnHcLbZlJDDlJA3QnxMlDF40MQYvDx+FnTt XmTYljwXWBCCu4OQwatEHIdQlIYxx2rLqyYXeOV8LYs7HdcWM3hVSGRs2C7HjZjIF7YXYjejHBxJ Chm8yMDHQNbb0p6dZGYtWWCrr/A8MniRRlcW2dyui8mgew3lhlrcpDw0eN4giVdsM8py1jHI8kLc bfH5LmW+6wdrdQIJjK3m+X+OLaxmo0mbr1DsoZe0oJFFf1YHWFcqLjPzxvLcCBXJvGn+g9C16yrL XXLSdQjp/+PWgEEMpBOtKSKHnazljLcC/A8lxz1qFpD4PQAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAy MS0xMC0yMFQxMjo1NjoyNyswMDowMKx3GHgAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjEtMTAtMjBU MTI6NTY6MjcrMDA6MDDdKqDEAAAAAElFTkSuQmCC');
}
.apilos-verbatim-img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.apilos-verbatim-text {
  font-size: 0.9rem;
}
.apilos-icon-success {
  color: var(--background-action-high-success);
}
.apilos-overflow-hidden {
  overflow: hidden;
}
.dropdown-menu.apilos-dropdown-menu {
  z-index: 100000;
}
.apilos-avenant_type:not(:last-child):after {
  content: ", ";
}

.block--row-strech {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
}

.block--row-strech-1 {
  flex:1
}

.year {
  width: 100%;
}

.fileinput--hidden {
  display: none;
}
.apilos-block-faqlink,
a[href].apilos-block-faqlink:hover {
  background-color: var(--blue-france-925-125);
  width: max-content;
  border-radius: 0.5rem;
  color: #000091;
  text-align: left;
  line-height: 24px;
}
a[href].apilos-block-faqlink:after {
  content: none;
}
.apilos-block-faqlink .fr-p-2w {
  margin: auto;
}
.apilos-block-faqlink .fr-icon-question-mark {
  color: white;
  background-color: #000091;
  padding: 0.2rem;
  border-radius: 2rem;
}
.apilos--icon-small:before {
  --icon-size: 1rem;
  width: 1.5rem;
}


/* Stat score card */
.statcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 0.1rem solid;
  border-color: rgba(47, 126, 216, 1);
  background-color: rgba(47, 126, 216, 0.3);
}

/* color 8 to 10 : '#', '#', '#77a1e5', '#c42525', '#a6c96a' */
/* color6 : #492970*/
.statcard--color6 {
  border-color: rgba(73, 41, 112, 1)!important;
  background-color: rgba(73, 41, 112, 0.3)!important;
}

.statcard--color6 .statcard__title {
  border-color: rgba(73, 41, 112, 1)!important;
}

/* color7 : #f28f43*/
.statcard--color7 {
  border-color: rgba(242, 143, 67, 1)!important;
  background-color: rgba(242, 143, 67, 0.3)!important;
}

.statcard--color7 .statcard__title {
  border-color: rgba(242, 143, 67, 1)!important;
}

/* color2 : #FF6F4C*/
.statcard--color1 {
  border-color: rgba(255, 111, 76, 1)!important;
  background-color: rgba(255, 111, 76, 0.3)!important;
}
.statcard--color1 .statcard__title {
  border-color: rgba(13, 35, 58, 1)!important;
}
#conv_by_departement .highcharts-color-4,
#conv_by_departement .highcharts-legend-item.highcharts-color-4 .highcharts-point {
  fill: rgb(255, 111, 76) !important;
}

/* color1 : #6a6af4*/
.statcard--color2 {
  border-color: rgba(106, 106, 244, 1)!important;
  background-color: rgba(106, 106, 244, 0.3)!important;
}

.statcard--color2.statcard__title {
  border-color: rgba(106, 106, 244, 1)!important;
}

#conv_by_departement .highcharts-color-3,
#conv_by_departement .highcharts-legend-item.highcharts-color-3 .highcharts-point {
  fill: rgb(106, 106, 244) !important;
}

/* color3 : #000091*/
.statcard--color3 {
  border-color: rgba(0, 0, 145, 1)!important;
  background-color: rgba(0, 0, 145, 0.3)!important;
}

.statcard--color3 .statcard__title {
  border-color: rgba(0, 0, 145, 1)!important;
}
#conv_by_departement .highcharts-color-2,
#conv_by_departement .highcharts-legend-item.highcharts-color-2 .highcharts-point {
  fill: rgb(0, 0, 145) !important;
}

/* color4 : #18753c*/
.statcard--color4 {
  border-color: rgba(24, 117, 60, 1)!important;
  background-color: rgba(24, 117, 60, 0.3)!important;
}

.statcard--color4 .statcard__title {
  border-color: rgba(24, 117, 60, 1)!important;
}
#conv_by_departement .highcharts-color-1,
#conv_by_departement .highcharts-legend-item.highcharts-color-1 .highcharts-point {
  fill: rgb(24, 117, 60) !important;
}

#conv_by_departement .highcharts-color-0,
#conv_by_departement .highcharts-legend-item.highcharts-color-0 .highcharts-point {
  fill: rgb(102, 102, 102) !important;
}


/* color5 : #1aadce*/
.statcard--color5 {
  border-color: rgba(26, 173, 206, 1)!important;
  background-color: rgba(26, 173, 206, 0.3)!important;
}

.statcard--color5 .statcard__title {
  border-color: rgba(26, 173, 206, 1)!important;
}

.statcard__indicateur {
  font-size: 2.5rem;
  text-align: center;
  padding: 1.5rem 0 1rem 0;
}

.statcard__title {
  width: 100%;
  border-bottom: 0.1rem solid;
  border-color: rgba(47, 126, 216, 1);
  text-align: left;
  padding: 1rem 0 1rem 0.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#correct_by_field .highcharts-color-0 {
  fill: #0063cb;
}
#null_fields .highcharts-color-0 {
  fill: #009081;
}

/* SVG ikonate */
.content__icons {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  display: inline-block;
  margin: 0rem 0.2rem;
}

.content__icons--checkbox {
  stroke-width: 1.5;
  stroke-linecap: square;
  stroke-linejoin: miter;
  stroke: #161616;
  fill: none;
  border-radius: 4px;
  display: inline-block;
  margin: 0rem 0.2rem;
}

.table__icons--blue {
  stroke: #0762C8;
  color: #0762C8;
}

.table__icons--darkgrey {
  stroke: #161616;
  color: #161616;
}

/* Add and orange #FF6F4C */
.content__icons--opened {
  background-image: url('data:image/svg+xml;utf8,<svg role="img" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="32" height="32" stroke="rgb(255,111,76)" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="miter" fill="none" aria-labelledby="chatIconTitle"><path d="M8.82388455,18.5880577 L4,21 L4.65322944,16.4273939 C3.00629211,15.0013 2,13.0946628 2,11 C2,6.581722 6.4771525,3 12,3 C17.5228475,3 22,6.581722 22,11 C22,15.418278 17.5228475,19 12,19 C10.8897425,19 9.82174472,18.8552518 8.82388455,18.5880577 Z"></path><circle cx="12" cy="11" r="1"></circle><circle cx="7" cy="11" r="1"></circle><circle cx="17" cy="11" r="1"></circle></svg>');
}

/* Opened and green #00a34d*/
.content__icons--resolved {
  background-image: url('data:image/svg+xml;utf8,<svg role="img" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="32" height="32" stroke="rgb(0,163,77)" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="miter" fill="none" aria-labelledby="chatIconTitle"><path d="M8.82388455,18.5880577 L4,21 L4.65322944,16.4273939 C3.00629211,15.0013 2,13.0946628 2,11 C2,6.581722 6.4771525,3 12,3 C17.5228475,3 22,6.581722 22,11 C22,15.418278 17.5228475,19 12,19 C10.8897425,19 9.82174472,18.8552518 8.82388455,18.5880577 Z"></path><path d="M8 11L10.5 14L16 9"></path></svg>');
}

/* Closed and grey #9C9C9C */
.content__icons--closed {
  background-image: url('data:image/svg+xml;utf8,<svg role="img" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="32" height="32" stroke="rgb(156,156,156)" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="miter" fill="none" aria-labelledby="chatIconTitle"><path d="M8.82388455,18.5880577 L4,21 L4.65322944,16.4273939 C3.00629211,15.0013 2,13.0946628 2,11 C2,6.581722 6.4771525,3 12,3 C17.5228475,3 22,6.581722 22,11 C22,15.418278 17.5228475,19 12,19 C10.8897425,19 9.82174472,18.8552518 8.82388455,18.5880577 Z"></path><path d="M8 11L10.5 14L16 9"></path></svg>');
}

/* Add and blue #0762C8 */
.content__icons--add {
  background-image: url('data:image/svg+xml;utf8,<svg role="img" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="32" height="32" stroke="rgb(7,98,200)" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="miter" fill="none" aria-labelledby="chatIconTitle"><path d="M8.82388455,18.5880577 L4,21 L4.65322944,16.4273939 C3.00629211,15.0013 2,13.0946628 2,11 C2,6.581722 6.4771525,3 12,3 C17.5228475,3 22,6.581722 22,11 C22,15.418278 17.5228475,19 12,19 C10.8897425,19 9.82174472,18.8552518 8.82388455,18.5880577 Z"></path><path d="M16 11L8 11M12 7L12 15"></path></svg>');
}

.fr-btn--green {
  background-color: #008941;
  --color-hover: #00a34d !important;
  --color-active: #00a34d !important;
}

.fr-btn--grey {
  background-color: #9C9C9C;
  --color-hover: #CECECE !important;
  --color-active: #CECECE !important;
}

.button-hidden {
  display: none !important;
}

.apilos-text--bold {
  font-weight: bold;
}

.apilos-text--italic {
  font-style: italic;
}


.status_ouvert {
  color: #0762C8;
}

.status_resolu {
  color: #008941;
}

.status_clos {
  color: #9C9C9C;
}

.convention_ongoing_status {
  background-color: #000091; /* blue-france-sun-113 */
  color: white;
}

.convention_valid_status {
  background-color: #18753c; /* success-425 */
  color: white;
}

.convention_ended_status {
  background-color: #666666; /* grey-425 */
  color: white;
}

.background-white {
  background-color: white;
}
.background-contrast-grey950 {
  background-color: #EEEEEE;
}

.background-alt-blue-france {
  background-color: var(--background-alt-blue-france);
}
.border-bottom-default-grey {
  border-bottom: solid 2px var(--border-default-grey)
}
.text-center {
  text-align: center;
}
.text-title-blue-france {
  color: var(--text-title-blue-france)
}
.text-success-main {
  color: #1f8d49;
}

/* .background-contrast-grey950:hover {
  background-color: #DDDDDD;
} */
.apilos-order-menu {
  position: relative;
}
.apilos-order-menu .apilos-order-name {
  margin-left: 5px;
}

.apilos-order-menu .apilos-order-menu--open {
  position: absolute;
  right: 0;
  z-index: 1;
  background-color: #fff;
  border: 1px solid var(--border-default-grey);
  border-radius: .25rem;
}
.apilos-order-menu .apilos-order-menu--open a {
  background-image: none;
}
table.fullwidth {
  width: 100%;
}

.table--layout-fixed {
  width: 100%;
}

.table--layout-fixed table {
  display: table;
  /* table-layout: fixed; */
}

.clickable{
  cursor: pointer;
}

.apilos-sidemenu {
  min-width: 285px;
}

.apilos-settings--justify {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: left;
}

.apilos-dropdown-menu a {
  float: none;
  padding: 12px 16px;
  min-width: 250px;
  text-decoration: none;
  display: block;
  text-align: left;

}

#loading {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0.7;
  background-color: #fff;
  z-index: 999;
}
#loading[hidden] {
  display: none;
}

#loading-image {
  position: absolute;
  width: 4%;
  top: 48%;
  left: 48%;
  z-index: 1000;
}
/* manage small icon */
.fr-link--sm {
  padding: 0!important;
}

.fr-link--sm:before {
  margin: 0.1rem!important;
}

.apilos-link {
  display: inline!important;
  text-decoration: none!important;
}
/*  */
.apilos-multiselect {
  --blend: 0deg,0%,68.3%; /*var(--background-contrast-grey-blend);*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #eee!important; /*var(--background-contrast-grey)*/
  /* background-image: url(data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 24 24' ><path fill='%23161616' d='M12,13.1l5-4.9l1.4,1.4L12,15.9L5.6,9.5l1.4-1.4L12,13.1z'/></svg>); */
  background-position: calc(100% - 0.5rem) 50%;
  background-repeat: no-repeat;
  background-size: 1.5rem 1.5rem;
  border-radius: 0.25rem 0.25rem 0 0;
  box-shadow: inset 0 -2px 0 0 #3a3a3a; /* var(--border-plain-grey); */
  color: var(--text-title-grey);
  display: block;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.25rem 0rem 0.25rem 0rem;
  width: 100%;
}

.apilos-text--normal {
  font-weight: normal;
}

.th_inline th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.apilos-btn--red {
  background-color: #dc3545;
}
.apilos-btn--secondary--red,
button:not(:disabled).apilos-btn--secondary--red:hover {
  color: #dc3545;
  border: solid 1px #dc3545;
  background-color: transparent;
}

.apilos-step-post-action {
  width: 40px;
}
.apilos-step-post-action--bubble {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  border: solid 3px  var(--background-action-high-blue-france);
}
.apilos-step-post-action--line {
  height: calc(100% - 24px);
  width: 24px;
  border-left: solid 3px var(--background-action-high-blue-france);
  transform: translateX(11px);
}

/*
 * Display convention status
 */

.apilos-tag-status {
   white-space: nowrap;
   display: inline;
}
.apilos-tag-status:before {
  margin: .5rem;
}
.apilos-tag-avenant {
  border-radius: 5px;
  border: 1px solid rgba(70, 75, 99, 0.2);
  white-space: nowrap;
}
[class*=" fr-alert--"], [class^="fr-alert-"] {
  background-color: white;
}
.fr-alert--Projet {
  box-shadow: inset 0 0 0 1px var(--border-default-grey),inset 2.5rem 0 0 0 #4EBEE1;
}
.fr-alert--Instruction_requise {
  box-shadow: inset 0 0 0 1px var(--border-default-grey),inset 2.5rem 0 0 0 #F36B58;
}
.fr-alert--Corrections_requises {
  box-shadow: inset 0 0 0 1px var(--border-default-grey),inset 2.5rem 0 0 0 #F3A358;
}
.fr-alert--A_signer {
  box-shadow: inset 0 0 0 1px var(--border-default-grey),inset 2.5rem 0 0 0 #EECA4A;
}
.fr-alert--Signee {
  box-shadow: inset 0 0 0 1px var(--border-default-grey),inset 2.5rem 0 0 0 #74CA66;
}
.fr-alert--Resiliee {
  box-shadow: inset 0 0 0 1px var(--border-default-grey),inset 2.5rem 0 0 0 #CCCCCC;
}

.apilos-alert {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  position: relative;
  --title-spacing: 0 0 0.25rem;
  --text-spacing: 0 0 0.25rem;
  border: solid 1px var(--border-default-grey);
  padding: 20px 5px 20px 100px;
  background-position: 16px center;
  background-repeat: no-repeat;
  background-size: 64px 64px;
}

.apilos-alert-ecoloweb {
  background-image: url('/static/img/ecoloweb.svg');
}

/*
 * End display convention status
 */

/*
 * Adapt button color when it is a link 'a'
 */

.fr-btn:hover {
  color:white;
  text-decoration: none;
}

.fr-btn--secondary:hover {
  color:#000091!important;
  text-decoration: none;
}

.fr-header__tools-links .fr-btn:hover {
  color:#000091!important;
}

/*
 * End Adapt button color when it is a link 'a'
 */

.apilos-input-group--inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.apilos-form-label--strike {
  text-decoration: line-through;
}
.apilos-sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  z-index: 100;
  background-color: var(--background-default-grey);
  top: 0;
}
.apilos-sticky-2 {
  top: 110px;
}

/*
 * SIAP
 */

.apilos-active-habilitation {
  background-color: pink;
}


.apilos-links-group {
  justify-content: flex-end;
  width: calc(100% + 1rem);
  --ul-type: none;
  --ol-type: none;
  --ul-start: 0;
  --ol-start: 0;
  --xl-block: 0;
  --li-bottom: 0;
  --ol-content: none;
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
#cgu .fr-table {
  background-color: #fff;
}


.fr-stepper__steps[data-fr-steps="9"] {
  --steps: 9;
  --step-width: 11.1%;
}
.fr-stepper__steps[data-fr-current-step="9"] {
  --current-step: 9;
}

.fr-stepper__steps[data-fr-steps="10"] {
  --steps: 10;
  --step-width: 10%;
}
.fr-stepper__steps[data-fr-current-step="10"] {
  --current-step: 10;
}

.fr-stepper__steps[data-fr-steps="11"] {
  --steps: 11;
  --step-width: 9%;
}
.fr-stepper__steps[data-fr-current-step="11"] {
  --current-step: 11;
}
.apilos-stepper-align-right {
  text-align:right;
}

.vscomp-toggle-button, .vscomp-option-text{
  padding-left: 1rem;
  font-family: Marianne, arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border: none!important;
}

.vscomp-toggle-button {
  /* padding: 7px 30px 7px 10px; */
  border: none!important;
  background-color: #eee!important;
}

.vscomp-wrapper:focus .vscomp-toggle-button,
.vscomp-wrapper.focused .vscomp-toggle-button {
  box-shadow: none;
  padding: .5rem 1rem !important;
}

.vscomp-wrapper:not(.has-value) .vscomp-value {
  opacity: 0;
}

.vscomp-arrow {
  right: 3px;
  width: 40px;
}

.vscomp-arrow:after {
  border: 2px solid transparent;
  border-right-color: #111;
  border-bottom-color: #111;
  width: 9px;
  height: 9px;
}

.pop-comp-wrapper{
  width: 100%;
  max-width: 100% !important;
  transform: translate3d(0, 46px, 0) !important;
}


.vscomp-ele {
  max-width: 100%!important;
  --data-uri-svg: none;
  padding-right: 1rem;
}

.apilos-search-highlight {
  background-color: #ffff00;
}


.no-target-blank::after {
  --icon-size: none;
  margin-left:0;
}

.apilos-recap {
  box-sizing: border-box;
  background: #F2FAFF;
  border: 1px solid #AAD6FF;
  border-radius: 5px;
}

.apilos-recap ul {
  list-style: none;
}

.apilos-recap ul li {
  margin: 5px 0;
}

.apilos-text-blue-sun {
  color: #000091;
}