.ds_banner {
  background-color: #F9F8F6;
}

.fr-fi--xxl:after, .fr-fi--xxl:before {
  font-size: 4rem!important;
}

.notes {
  color: #6A6A6A;
}

.warning-notification {
  color: #E10600;
}

.table--limited-height {
  max-height:400px;
  overflow-y: auto;
}

.button-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.apilos-fi-btn {
  width: 16px;
  filter: invert(100%) sepia(0%) saturate(7490%) hue-rotate(274deg) brightness(108%) contrast(103%);
}

.apilos-fi-btn--secondary {
  width: 16px;
  filter: invert(14%) sepia(62%) saturate(6699%) hue-rotate(244deg) brightness(56%) contrast(131%);
}

.dz {
  border: dashed !important;
  border-color: #ccc !important;
  border-radius: 10px !important;
  height: 200px;
  overflow:scroll;
  white-space: nowrap;
}

.dz:hover {
  background-color: aliceblue !important;
}

.header-alert {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height:60px;
}

.content-alert {
  border-radius: 25px;
}

.alert {
  border: 2px solid #E10600;
  background:#dacbca;
  font-size:bold;
}

.form-button-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.small_thumbnail {
  border-radius: 10px !important;
  width:60px;
  height:60px;
  background-color: grey;
}