.ds_banner {
  background-color: #F9F8F6;
}

.fr-fi--xxl:after, .fr-fi--xxl:before {
  font-size: 4rem!important;
}

.notes {
  color: #6A6A6A;
}

.warning-notification {
  color: #E10600;
}

.table--limited-height {
  max-height:400px;
  overflow-y: auto;
}

.button-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.apilos-fi-btn {
  width: 16px;
  filter: invert(100%) sepia(0%) saturate(7490%) hue-rotate(274deg) brightness(108%) contrast(103%);
}

.apilos-fi-btn--secondary {
  width: 16px;
  filter: invert(14%) sepia(62%) saturate(6699%) hue-rotate(244deg) brightness(56%) contrast(131%);
}

.dz {
  border: dashed !important;
  border-color: #ccc !important;
  border-radius: 10px !important;
  height: 200px;
  overflow:scroll;
  white-space: nowrap;
}

.dz:hover {
  background-color: aliceblue !important;
}

.form-button-footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.small_thumbnail {
  border-radius: 10px !important;
  width:60px;
  height:60px;
  background-color: grey;
}
.dz-error-message {
  z-index: 100000 !important;
  width:auto !important;
  height: auto !important;
  top:150px !important;
  left: -60px !important;
}

.dropzone .dz-preview .dz-error-message:after {
  left: 115px !important;
}

textarea.fr-input:disabled, textarea.fr-input[disabled] {
  color: var(--g600-g400);
  box-shadow: inset 0 -2px 0 0 var(--g400);
  opacity: 1;
}

.content__homepage-image {
  display: block;
  width: auto;
  height: auto;
}

.content__headline{
  font-style: italic;
}

.col__width--120 {
  min-width:120px;
}
.col__width--150 {
  min-width:150px;
}
.col__width--200 {
  min-width:200px;
}

.content__fileblock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.content__helpicon {
  min-height: 0;
  padding: .1rem;
}

.header__logo {
  width:5rem;
}

.text--center {
  text-align: center;
}

.modal__error-text {
  font-size: 1rem !important;
}

.apilos-logo {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAQAAABpN6lAAAAABGdBTUEAALGPC/xhBQAAAAJiS0dE AACqjSMyAAAAB3RJTUUH5QoUDDgbi3Z0iwAACVdJREFUeNrtnWt0VNUVx38TJOH9kCa8CghdC4Jd 7QIqKIhWLEVaKBQfKMUYZPGoohjUgmhEVlt5FASpXRVYlCWpNAXTAgUEKhVBXQIrIAii2JKQEkBC eEoI5HX6IYeTezOZcGfmzt2hM//7ZebOeez/zr1nn8feOyCHBBbyPj8WlEAU8axDoSjhfmlRJOkr FGWMlhZHkn6lClKkRfISCWzQxAtYbFTwqLRYXqHqr1/A94Bp+ls5j0uLJkEfYKq+U8GT0uJJ0Ad4 3qjgKWkRJegDTKFCq2CytJgS9AF+aVSQJi2qBH2ACZTrMi9KiytBH2CcUUG6tMgS9AHGGhXMkBZb gj7AKEp1+TnSokvQB3j4/0cFodAHGGlUME+aggR9gAcp0XVfk6YhQR9gCFd0/TfxSZPxnj7ATynW bSwmTpqQ9/QBBhsVLL2RVOAWfYD7uKzbWnajqMBN+gA/5Bvd3krqSZPznj7AXUYFmdwkTdB7+gD9 uajbXVWXVRAp+gB3ckG3/Q71pYl6Tx/gNs7o9teTIE3We/oAvYwKNtBAmrD39AF6Uqj7ebcuqcAr +gA9OK372kxDaeLe0wfozknd3wc0libvPX2AZE7oPrfTJProA3TjuO73Q5pGH32AruTrvj+iWfTR B7iFXN3/xxIqkKYP0IkcLUM2N0cffYCO/EfLsYdW0UcfoAP/1rJ8yreijz5AGw5pefaRGH30K1Vw UMt0iLbRRx+gNQe0XF/QLvroAyTxmZbtMO2jjz5AIvu1fF/x7eijD9CS3VrGXDo7reTszCWBvzEE gBImcNDcz+eUMOl2tmHvZjJoA0Au93LUvW5W2dwarQ6O40Tpp2m3mpquXFq41U2cOav1v3aKKuBg QLkUih85I3d9VPBuwN9ktydr6/04+5w04WyXfQS9/dbdaXpUkEcWS/zulbKXb9xTQAW7/O49KM3b II+toVe+QQ4cI4eYAqQFkEZMAdICSCOmAGkBpBFTgLQA0ogpQFoAacQUIC2ANGIKkBZAGjEFSAsg jZgCpAWQRkwB0gJII6YAaQGkEfUKCCX+IpFedOE2ADowi5PksZd8aSqRV0AcdzGCwXSz3GvFdP3p GDtYzWZKIipvZx6lNwkcYxPrvFRUc541Pnm1XWdYGDEvnQRmm4DaSpeoygCK+aZEU55hA/vYwVyS 3es4iVmc96N6koNks5fjfofnxSwiyXX6PYwXUPXrmgJSKLDcLeW3boxwnXjDhC4qFJfZQBq9bG7q Proxhj+ZgBaF4jzPE+8a+Zt4iaum7f1stf1B5gOd2FSDahaG1213Vtgeuc+ZXKvXRTzD+Jel/GGG ukK/K5+YNo8wAIDGlmRcC3jKhNUpcljFh8ZzpCpRWyteZBtH2MNi+ly/09783SSzUCg+YZhDf6K7 2WGpt4VbwyLv42mKdFsVLLE8eQ353LxyVc/dRP3YD9Wx5wW0BuozxYTdXWupluC7e9lqe5C2cE+Q Yo/kqOVdXBSyL3dHiyTH+Um1X3taXguF4h8297hn9d21DKjRlWZlTR3G8XN2WQqVk8UPQhK9Ielc Mu0U8mQIM45Uy5ueWaMSnza/F/CIH5cP/Egf4I+soUx/q1ajPik2TZWwPExT0p63LV5cB5w5LWkk scaivocDlhvFNnYzu0ZP8c6WkUFxjIf0/Tv0S5VXFXfWkEkm/kKhKGIRHcMifw19bU/UGr7jqNYI Tpk6G8NwgB6kqV5lti3C7Bnd9ksAjXiBry1CnuM3rrqd+0g1IU6KK8y5TphTC1aY0hcZH2bviYwh ldbV7tbnsG6/Nbxnm9xMjUj8TRNmWcbqkzwecIoykP+actudO7wGjWG6j1/7uKAp5zCPt7gSsS47 M48HzLdslnFWfy4zDm3DmWSM7SZepwKAS+RzilKX5dlFH+AzSOMyexjtSVz+AOPRHex1nsygjXHt SEehuOQBaxvqMdFE/wZ/bfB7m0PHLD3iCaAFC2zzsmCuPL7rigzNOYZCsUMqRVEczf0+1QswAMfR nsGk0AiAo/ThdJi9dyOTngA8IcQ/BLRju34KssJqJ550Y5EO1NV0HDUjgY/0UuaOkNvoa8KrFEe4 RZpSsOis13hLQ6rdjDcsK9yVXofbuoO3UShOhFBzmB72FIpcv5XlDYMxmkJwiRPa8o4hX8YCbzJP 1GM0qXrkdg+DNA1niyoAH+M5Z+h/qrfzPcB0FIqvec5VfY/URJwGSncztkNxmWle5qF6y3R8iqmu 5fpYoCewTuYv8bxskjIqtgbx1LiCZL60zOBOM92FbB+NdQaZtQ7K9rVs7xSSKpGVsh4pNiUUkh7m Yvv3NW9m+aEZf7AZPPdPKYJQwmgT369QnGVGiAGNPmbqNvZf58DDbvAGy5G/hjgese02nmcp95gV gBM0YgQ7de1ibq+lZNAGz6s3I44HeLla2PVFCh3VbWxZBJeRyl8CchnPXPN87WM82R6xcwgf97Mv 5L2AyqF0YMDWky0Gr4ipdTXxoo8hbKx2oOGU/JyAo4fd4L0XjMGT2Q9oyu3cSguH88QrnOBLPqY8 wO/9WGq2Sc7wHBkoEVYiaMwcc9KjWC1p8CQwlDw5g9eAlrQUzPTbliyLwXvNu9yC7UljPfn61K+U XDIZ5162BkfwMcGywtsb4gFuCPg+ay1vnPUqZoXeZow8ki0eCEX8yiuD15IlNpeJmq73GRZhz8N4 ZlgM3j/p4g15+IXtAHU/r/MEDzGSySzjiE0JXzEpYoku+1mm1Kd5zCvyXdhsui1nud/RhI/+/NXm K3aWuXRwWQr7Cu/PXiROA6jPCxYvsV30CFiyI7+zDEyKEjKdOCM5xHCTQlORw33ekId+ll30S0y7 rtFrwgTb4leRzWNhD1JtyLA8gUu8yyT7iuWRy3Ls/xnHcLbZlJDDlJA3QnxMlDF40MQYvDx+FnTt XmTYljwXWBCCu4OQwatEHIdQlIYxx2rLqyYXeOV8LYs7HdcWM3hVSGRs2C7HjZjIF7YXYjejHBxJ Chm8yMDHQNbb0p6dZGYtWWCrr/A8MniRRlcW2dyui8mgew3lhlrcpDw0eN4giVdsM8py1jHI8kLc bfH5LmW+6wdrdQIJjK3m+X+OLaxmo0mbr1DsoZe0oJFFf1YHWFcqLjPzxvLcCBXJvGn+g9C16yrL XXLSdQjp/+PWgEEMpBOtKSKHnazljLcC/A8lxz1qFpD4PQAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAy MS0xMC0yMFQxMjo1NjoyNyswMDowMKx3GHgAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMjEtMTAtMjBU MTI6NTY6MjcrMDA6MDDdKqDEAAAAAElFTkSuQmCC');
}

.block--row-strech {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
}

.block--row-strech-1 {
  flex:1
}

.day-and-month {
  width: 85px;
}

.year {
  width: 100%;
}

.fileinput--hidden {
  display: none;
}

.statcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 0.3rem solid;
  border-color: #000091;
  border-radius: 10px;
  background-color: #E5E5F4;
}

.statcard__indicateur {
  font-size: 2.5rem;
  text-align: center;
}
.statcard__title {
  text-align: center;
  margin-top: 1.5rem;
  min-height: 65px;
}

/* SVG ikonate */
.content__icons {
  width: 32px;
  height: 32px;
  stroke-width: 1.5;
  stroke-linecap: square;
  stroke-linejoin: miter;
  fill: none;
  background: var(--white);
  border-radius: 4px;
  display: inline-block;
}

.content__icons--small svg {
  width: 24px !important;
  height: 24px !important;
}

.content__icons--red svg {
  stroke: #E10600;
  color: #E10600;
}

.content__icons--blue svg {
  stroke: #0762C8;
  color: #0762C8;
}

.content__icons--green svg {
  stroke: #008941;
  color: #008941;
}

.content__icons--grey svg {
  stroke: #9C9C9C;
  color: #9C9C9C;
}

.content__icons--orange svg {
  stroke: #eea317;
  color: #eea317;
}

.fr-btn--green {
  background-color: #008941;
  --color-hover: #00a34d !important;
  --color-active: #00a34d !important;
}

.fr-btn--grey {
  background-color: #9C9C9C;
  --color-hover: #CECECE !important;
  --color-active: #CECECE !important;
}

.button-hidden {
  display: none !important;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}


.status_ouvert {
  color: #0762C8;
}

.status_resolu {
  color: #008941;
}

.status_clos {
  color: #9C9C9C;
}
