.select-search .fr-select {
  padding-left: 0;
  padding-right: 0;
}
.vscomp-toggle-button {
  padding-left: 1rem;
  font-family: Marianne, arial, sans-serif;
  font-size: 1rem;
  font-weight: 400
}
.vscomp-wrapper:focus .vscomp-toggle-button,
.vscomp-wrapper.focused .vscomp-toggle-button {
  box-shadow: none;
  padding: .5rem 0;
}
.vscomp-wrapper:not(.has-value) .vscomp-value {
  opacity: 0;
}
.vscomp-arrow {
  right: 3px;
  width: 40px;
}
.vscomp-arrow:after {
  border: 2px solid transparent;
  border-right-color: #111;
  border-bottom-color: #111;
  width: 9px;
  height: 9px;
}
.pop-comp-wrapper{
  width: 100%;
  max-width: 100% !important;
  transform: translate3d(0, 46px, 0) !important;
}