
.container-progressbar {
    width: 100%;
}

ul.progressbar {
    counter-reset: step;
    padding-inline-start: 0!important;
}

.progressbar li {
    list-style-type: none;
    width: 10%;
    float: left;
    font-size: 0.75rem;
    position: relative;
    text-align: center;
    color: #666666;
    z-index: 0;
}

.progressbar li.current_step {
    font-size: 0.9rem !important;
    font-weight: bold;
    color: #000091;
    width: 10% !important;
}

.progressbar li div {
    padding: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.progressbar li:before {
    width: 32px;
    height: 32px;
    font-size: smaller;
    font-weight: bold;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #666666;
    background-color:#666666;
    color:white;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    z-index: 100;
}

.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: calc(-50% + 15px);
    z-index: -1;
    overflow: visible;
    display: block
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: #18753c;
}
.progressbar li.active:before {
    border-color: #18753c;
    background-color: #18753c;
}
.progressbar li.active + li:after {
    background-color: #18753c;
}

.progressbar li.current_step:before {
    content: '√' !important;
    border-color: #000091;
    background-color: #000091;
}

.clickable_step{
    cursor: pointer;
}

.clickable_step:before {
    cursor: pointer;
}