.fr-header__tools.flex_unset {
  flex: unset;
  position: relative
}

.fr-nav__btn[aria-controls="list-habilitation"]::before {
  display: none!important;
}


.orange-background,
.fr-nav__btn[aria-current].orange-background,
.fr-nav__btn[aria-current].orange-background:hover,
.fr-nav__btn[aria-current].orange-background:hover a {
  background-color: #e4794a;
  color: #fff;
  text-decoration: none;
  width: 100%;
}
.fr-nav__btn[aria-current].orange-background::after {
  margin-left: auto;
}

.habilitation-bloc .fr-btn {
  display: block;
  text-align: left;
  width: 100%;
}

.habilitation-bloc {
  position: absolute;
  background: #FFFFFF;
  z-index: 10000;
  font-size: 14px;
  right: 1rem;
  top: auto;
  padding: 0;
  margin-right: 0;
  box-shadow: 0 16px 16px -16px #00000052,0 8px 16px #0000001a;
}

.habilitation-bloc ul{
  overflow-y: auto;
  max-height: 400px;
}

.habilitation-bloc .fr-menu__list {
  margin-bottom: 0;
}

.habilitation-bloc .fr-menu__list {
  padding: 0;
}

.habilitation-bloc .fr-menu__list li {
  text-align: left;
}

.habilitation-bloc .fr-menu__list li:hover a {
  text-decoration: none;
}

.habilitation-bloc .fr-nav__link {
  flex-direction: column;
  align-items: flex-start;
}