.container__feedback_btn {
    position: fixed;
    float: none;
    bottom: 50px;
    right: 50px;
    text-align: center;
  }

  .cta {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #000091;
    background-color: #000091;
    color: #fff;
    transition: width 0.7s;
  }
  
  .cta:hover {
    width: 270px;
    transition: width 0.7s;
    color: #000091;
  }

  .cta .apilos-icon{
    opacity: 1;
    transition: opacity 0.5s
  }

  .cta:hover .apilos-icon{
    opacity: 0;
    transition: opacity 0.5s
  }

  .cta .button-text {
    opacity: 0;
    transition: opacity .5s;
    position: absolute;
    width: 100%;
    left: 0;
    font-size: 5px;
  }
  
  .cta:hover .button-text {
    opacity: 1;
    transition: opacity 0.5s, font-size 1s;
    font-size: 16px;
  }