<div class="fr-input-group {% if form_input.errors %}fr-select-group--error{% endif %}" id="{{form_input.id_for_label}}_group">
    {% if label %}
        {% if form_input.help_text %}
            {% if not helptext_visible %}
                <detailS>
                    <summary>
                        <label class="fr-label fr-mb-1w apilos-d-inline" for="{{form_input.id_for_label}}">
                            {{ label }}
                            {% include "common/form/required_field.html" with form_input=form_input %}
                        </label>
                        <span class="fr-link fr-link--sm fr-icon-information-line content__helpicon"></span>
                    </summary>
                    {% include "common/help_field.html" with form_input=form_input %}
                </detailS>
            {% else %}
                <label class="fr-label fr-mb-1w" for="{{form_input.id_for_label}}">
                    {{ label }}
                    {% include "common/form/required_field.html" with form_input=form_input %}
                    {% include "common/help_field.html" with form_input=form_input %}
                </label>
            {% endif %}
        {% else %}
            <label class="fr-label fr-mb-1w" for="{{form_input.id_for_label}}">
                {{ form_input.label }}
                {% include "common/form/required_field.html" with form_input=form_input %}
            </label>
        {% endif %}
    {% elif form_input.label %}
        {% if form_input.help_text %}
            {% if not helptext_visible %}
                <detailS>
                    <summary>
                        <label class="fr-label fr-mb-1w apilos-d-inline" for="{{form_input.id_for_label}}">
                            {{ form_input.label }}
                            {% include "common/form/required_field.html" with form_input=form_input %}
                        </label>
                        <span class="fr-link fr-link--sm fr-icon-information-line content__helpicon"></span>
                    </summary>
                    {% include "common/help_field.html" with form_input=form_input %}
                </detailS>
            {% else %}
                <label class="fr-label fr-mb-1w" for="{{form_input.id_for_label}}">
                    {{ form_input.label }}
                    {% include "common/form/required_field.html" with form_input=form_input %}
                    {% include "common/help_field.html" with form_input=form_input %}
                </label>
            {% endif %}
        {% else %}
            <label class="fr-label fr-mb-1w" for="{{form_input.id_for_label}}">
                {{ form_input.label }}
                {% include "common/form/required_field.html" with form_input=form_input %}
            </label>
        {% endif %}
    {% elif helptext_visible %}
        <label class="fr-label fr-mb-1w" for="{{form_input.id_for_label}}">
            {% include "common/help_field.html" with form_input=form_input %}
        </label>
    {% endif %}
    <div class="fr-mt-1w block--row-strech" id="{{form_input.id_for_label}}_div">
        <textarea
            class="fr-input {% if form_input.errors %}fr-input--error{% endif %}"
            aria-describedby="text-input-error-desc-error"
            type="text"
            id="{{form_input.id_for_label}}"
            name="{{form_input.html_name}}"
            rows="{% if rows %}{{rows}}{% else %}3{% endif %}"
            {% include "common/form/disable_form_input.html" %}>{{ form_input.value|default_if_none:'' }}</textarea>
        {% include "common/utils/comments_field.html" %}
    </div>
    {% for error in form_input.errors %}
        <p id="text-input-error-desc-error" class="fr-error-text">
            {{ error }}
        </p>
    {% endfor %}
    {% if is_list %}
        <p class="fr-mb-3w fr-text--xs notes">
            Ce champ sera affiché comme une liste, chaque ligne sera un item de la liste.
        </p>
    {% endif %}
</div>
