<div class="fr-select-group {% if form_input.errors %}fr-select-group--error{% endif %}" id="{{ form_input.id_for_label }}_group">
    {% if form_input.label %}
        <label class="fr-label {{ label_class }}" for="{{ form_input.id_for_label }}">
            {{ form_input.label }}
            {% include "common/form/required_field.html" with form_input=form_input %}
            {% include "common/help_field.html" with form_input=form_input %}
        </label>
    {% endif %}

    <div class="fr-mt-1w block--row-strech" id="{{ form_input.id_for_label }}_div">
        <select
            multiple
            class="fr-select {% if form_input.errors %}fr-select--error{% endif %}"
            id="{{ form_input.id_for_label }}"
            name="{{ form_input.html_name }}"
            {% include "common/form/disable_form_input.html" %}>
            {% for element in form_input.field.choices %}
                <option value="{{ element.0 }}"
                        {% if element.0 in form_input.value %}selected{% endif %}>
                    {{ element.1 }}
                </option>
            {% endfor %}
        </select>
        {% include "common/utils/comments_field.html" %}
    </div>
    <script type="text/javascript" nonce="{{ request.csp_nonce }}">
        VirtualSelect.init({
            ele: '#{{ form_input.id_for_label }}',
            optionsCount: 5,
            search: true,
            multiple: true
        });
    </script>

    {% for error in form_input.errors %}
        <p id="select-error-desc-error" class="fr-error-text">
            {{ error }}
        </p>
    {% endfor %}
</div>
