<div class="fr-select-group {% if form_input.errors %}fr-select-group--error{% endif %}">
    {% if label %}
        <label class="fr-label {{ label_class }}" for="{{form_input.id_for_label}}">
            {{ label }}
            <span class="fr-hint-text apilos-text--normal">{{ help_text }}</span>
        </label>
    {% endif %}
    <div class="fr-mt-1w block--row-strech" id="{{form_input.id_for_label}}_div">
        <select
            multiple
            placeholder="Ajouter les départements permettant de filtrer géographiquement"
            class="apilos-multiselect"
            id="testbase"
            name="{{form_input.html_name}}"
            data-silent-initial-value-set="true">
            {% for element in enum %}
                <option value="{{element.id}}"
                    {% if element.id in form_input.value %}selected{% endif %}>
                    {{element}}
                </option>
            {% endfor %}
        </select>
        <script type="text/javascript" nonce="{{request.csp_nonce}}">
            VirtualSelect.init({
                ele: '#testbase',
                optionsCount: 5,
                search: true
            });
        </script>
    </div>

    {% for error in form_input.errors %}
        <p id="select-error-desc-error" class="fr-error-text">
            {{ error }}
        </p>
    {% endfor %}
</div>


