{% load static %}

<div class="fr-input-group {% if form_input.errors %}fr-select-group--error{% endif %}">
    <div class="fr-mb-2w">
        {% if textarea and not verticalDisplay %}
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
        {% endif %}
        <div class="block--row-strech" id="{{form_input.id_for_label}}_div">

            <label class="block--row-strech-1 fr-label fr-mt-1w fr-mb-2w fr-h4" for="{{form_input.id_for_label}}">
                {{ label }}
                {% if mandatory %}
                    &nbsp;{% include "common/mandatory_field_star.html" %}
                {% endif %}
                {% include "common/help_field.html" with form_input=form_input %}
            </label>
            {% include "common/comment_icon.html" with form_input_id=form_input.id_for_label object_field=object_field comments=comments %}
        </div>

        {% if textarea %}
            <textarea
                class="fr-input {% if form_input.errors %}fr-input--error{% endif %}"
                aria-describedby="text-input-error-desc-error"
                type="text"
                id="{{form_input.id_for_label}}"
                name="{{form_input.html_name}}"
                rows="{% if rows %}{{rows}}{% else %}8{% endif %}"
                {% include "common/form/disable_form_input.html" %}
            >{{ form_input.value }}</textarea>
        {% endif %}


        {% if textarea and not verticalDisplay %}
            </div>
            <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
        {% endif %}

        {% if not editable and comments|hasnt_active_comments:object_field %}
            <div class="fr-mt-6w">
                {% include "common/display_files.html" with file_list=file_list %}
            </div>
        {% else %}
            <div class="fr-mt-1w">
                {% if textarea %}
                    <i class="fr-text--sm">et/ou </i>
                {% endif %}
                <button type="button" class="fr-btn fr-mb-1w" id="{{form_input_files.id_for_label}}_dz_button">
                    <img class="apilos-fi-btn fr-mr-1w" src="{% static "icons/upload.svg" %}" ></img>Téléverser une image
                </button>

                <script type="text/javascript" nonce="{{request.csp_nonce}}">
                    document.addEventListener('DOMContentLoaded', function () {
                        document.getElementById('{{form_input_files.id_for_label}}_dz_button')
                            .addEventListener('click', function(){ document.getElementById('{{form_input_files.id_for_label}}_dropzone').click() });
                    });
                </script>

                {% include "common/help_field.html" with form_input=form_input_files %}
            </div>
            <div
                class="fr-col-12 dropzone dz"
                id="{{form_input_files.id_for_label}}_dropzone">
                <div class="fallback">
                    Votre navigateur ne permet pas de téléverser des documents.
                    Nous vous conseillons de modifier vos paramètres concernant
                    l'application des scripts javascript ou d'utiliser un autre navigateur.
                </div>
            </div>
            <input
                type="hidden"
                id="{{form_input_files.id_for_label}}"
                name="{{form_input_files.html_name}}"
                value="{{form_input_files.value}}" />
            <div id="{{form_input_files.id_for_label}}_errors"></div>
            <input
                type="hidden"
                id="{{form_input_files.id_for_label}}_object_name"
                value="{{ object_name }}">
            <input
                type="hidden"
                id="{{form_input_files.id_for_label}}_object_uuid"
                value="{{ object_uuid }}">

            <script type="text/javascript" nonce="{{request.csp_nonce}}">
                //        document.addEventListener("DOMContentLoaded", function() {
                let {{form_input.id_for_label}} = init_dropzone_from_file("{{form_input_files.id_for_label}}" {% if image_only %}, 'image/*'{% endif %});
                init_dropzone_list({{form_input.id_for_label}},"{{form_input_files.id_for_label}}")
                //        });
            </script>

        {% endif %}

    </div>


    {% if textarea and not verticalDisplay %}
        </div>
        </div>
    {% endif %}
    {% for error in form_input.errors %}
        <p id="text-input-error-desc-error" class="fr-error-text">
            {{ error }}
        </p>
    {% endfor %}
</div>

{% include "common/comment_dialog.html" with form_input_id=form_input.id_for_label form_input_html=form_input.html_name  convention=convention object_field=object_field comments=comments %}
