{% load static %}

<div class="fr-input-group {% if form_input.errors %}fr-select-group--error{% endif %}">
    <div class="fr-mb-2w">
        {% if textarea and not verticalDisplay %}
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
        {% endif %}
        <label class="fr-label fr-mt-1w fr-mb-2w fr-h5" for="{{form_input.id_for_label}}">
            {{ label }}
            {% if mandatory %}
                {% include "common/mandatory_field.html" %}
            {% endif %}
            {% if help %}
                {% include "common/help_field.html" with form_input=form.acquereur description="{{ help }}" %}
            {% endif %}
        </label>

        {% if textarea %}
            <textarea
                class="fr-input {% if form_input.errors %}fr-input--error{% endif %}"
                aria-describedby="text-input-error-desc-error"
                type="text"
                id="{{form_input.id_for_label}}"
                name="{{form_input.html_name}}"
                rows="{% if rows %}{{rows}}{% else %}8{% endif %}">{{ form_input.value }}</textarea>
        {% endif %}


        {% if textarea and not verticalDisplay %}
            </div>
            <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
        {% endif %}

        <div class="fr-mt-1w">
            {% if textarea %}
                <i class="fr-text--sm">et/ou </i>
            {% endif %}
            <button type="button" class="fr-btn fr-mb-1w" onclick="document.getElementById('{{form_input_files.id_for_label}}_dropzone').click()">
                <img class="apilos-fi-btn fr-mr-1w" src="{% static "icons/upload.svg" %}" ></img>Téléverser une image
            </button>
            {% include "common/help_field.html" with id="{{form_input.id_for_label}}_description" description="Les fichiers images et pdf sont acceptés dans la limite de 100 Mo" %}

        </div>

        <div class="fr-col-12 dropzone dz" id="{{form_input_files.id_for_label}}_dropzone">
            <div class="fallback">
                Votre navigateur ne permet pas de téléverser des documents.
                Nous vous conseillons de modifier vos paramètres concernant
                l'application des scripts javascript ou d'utiliser un autre navigateur.
            </div>
        </div>
        <input hidden
            type="hidden"
            id="{{form_input_files.id_for_label}}"
            name="{{form_input_files.html_name}}"
            value="{{form_input_files.value }}" />
    </div>
    <script type="text/javascript">
        //        document.addEventListener("DOMContentLoaded", function() {
        let {{form_input.id_for_label}} = init_dropzone_from_file("{{form_input_files.id_for_label}}", '{{ csrf_token }}', '{{ convention.uuid }}');
        init_dropzone_list({{form_input.id_for_label}},"{{form_input_files.id_for_label}}")
        //        });
    </script>


    {% if textarea and not verticalDisplay %}
        </div>
        </div>
    {% endif %}
    {% for error in form_input.errors %}
        <p id="text-input-error-desc-error" class="fr-error-text">
            {{ error }}
        </p>
    {% endfor %}
</div>





