{% load static %}

<script src="{% static "virtual-select/dist/virtual-select.min.js" %}" nonce="{{request.csp_nonce}}"></script>
<script type="text/javascript" nonce="{{request.csp_nonce}}">
    document.addEventListener('DOMContentLoaded', function () {
        VirtualSelect.init({
            ele: '#id_bailleur',
            multiple: false,
            hideClearButton: true,
            search: true,
            searchPlaceholderText: "Rechercher votre bailleur...",
            noSearchResultsText: "Aucun bailleur ne correspond à votre recherche"
        });
    });
</script>
