{% extends "conventions/_partial/step_section.html" %}

{% block title %}
    Signataire de la convention{% if convention.programme.is_foyer or convention.programme.is_residence %} (Propriétaire){% endif %}
{% endblock title %}

{% block content %}
    <div class="fr-col-12">
        {% if convention.programme.is_logements_ordinaires %}
            <div class="fr-toggle fr-mb-2w">
                <input type="checkbox" {% if form.identification_bailleur.value %}checked="checked"{% endif %} class="fr-toggle__input" aria-describedby="{{ form.identification_bailleur.html_name }}-messages" id="{{ form.identification_bailleur.html_name }}" name="{{ form.identification_bailleur.html_name }}"{% include "common/form/disable_form_input.html" %}>
                <label class="fr-toggle__label" for="{{ form.identification_bailleur.html_name }}">{{ form.identification_bailleur.label }}</label>
                <div class="fr-messages-group" id="{{ form.identification_bailleur.html_name }}-messages" aria-live="polite"></div>
            </div>
            <div class="identification_bailleur_detail_outer_div fr-mb-2w">
                {% include "common/form/input_textarea.html" with mandatory_input=True form_input=form.identification_bailleur_detail editable=True helptext_visible=True %}
            </div>
        {% endif %}

        <div class="signataire_infos">
            {% include "common/form/input_text.html" with mandatory_input=True form_input=form.signataire_nom object_field="bailleur__signataire_nom__"|add:form.uuid.value %}

            <div class="fr-mb-2w">
                <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--bottom">
                    <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                        {% include "common/form/input_text.html" with form_input=form.signataire_fonction object_field="bailleur__signataire_fonction__"|add:form.uuid.value %}
                    </div>
                    <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-pl-md-1w fr-mb-2w">
                        {% include "common/form/input_date.html" with form_input=form.signataire_date_deliberation object_field="bailleur__signataire_date_deliberation__"|add:form.uuid.value %}
                    </div>
                </div>
            </div>
        </div>

        <div class="fr-mb-2w">
            {% include "common/form/input_text.html" with form_input=form.signataire_bloc_signature object_field="bailleur__signataire_bloc_signature__"|add:form.uuid.value %}
        </div>

        {% if convention.programme.is_foyer or convention.programme.is_residence %}
            <h4>Gestionnaire des logements conventionnés</h4>
            {% with convention_uuid=convention.uuid|slugify %}

                {% include "common/form/input_text.html" with form_input=form.gestionnaire object_field="convention__gestionnaire__"|add:convention_uuid %}

                {% include "common/form/input_text.html" with form_input=form.gestionnaire_signataire_nom object_field="convention__gestionnaire_signataire_nom__"|add:convention_uuid %}

                <div class="fr-mb-2w">
                    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--bottom">
                        <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                            {% include "common/form/input_text.html" with form_input=form.gestionnaire_signataire_fonction object_field="convention__gestionnaire_signataire_fonction__"|add:convention_uuid %}
                        </div>
                        <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-pl-md-1w fr-mb-2w">
                            {% include "common/form/input_date.html" with form_input=form.gestionnaire_signataire_date_deliberation object_field="convention__gestionnaire_signataire_date_deliberation__"|add:convention_uuid %}
                        </div>
                    </div>
                </div>
                {% include "common/form/input_text.html" with form_input=form.gestionnaire_bloc_info_complementaire object_field="convention__gestionnaire_bloc_info_complementaire__"|add:convention_uuid %}
            {% endwith %}

            <div class="fr-col-12">
                <label><em>Prévisualisation des éléments complémentaires</em></label>
                <div class="fr-card fr-card--no-arrow">
                    <div class="fr-card__body fr-my-2w">
                        <div> [...] en date du <span class="apilos-insert-date-deliberation"></span>, <span class="apilos-insert-info-complementaire"></span> dénommé ci-après le gestionnaire, et agissant à ce titre en application de la convention de location conclue avec le propriétaire ;
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {% if convention.programme.is_logements_ordinaires %}
        <script type="text/javascript" nonce="{{ request.csp_nonce }}">
            // Script to switch between bailleurs infos and identification personalisée depending on a toggle
            const textarea_outer_div = document.getElementsByClassName("identification_bailleur_detail_outer_div")[0]
            const signataire_infos_div = document.getElementsByClassName("signataire_infos")[0]
            const input_checkbox = document.getElementById("identification_bailleur")
            // Initialize
            if (input_checkbox.checked) {
                textarea_outer_div.classList.remove("hidden");
                signataire_infos_div.classList.add("hidden");
            } else {
                textarea_outer_div.classList.add("hidden");
                signataire_infos_div.classList.remove("hidden");
            }

            // Listen to change on checkbox
            input_checkbox.onchange = (e) => {
                textarea_outer_div.classList.toggle("hidden");
                signataire_infos_div.classList.toggle("hidden");
            }
        </script>
    {% endif %}
    {% include "common/required_fields_info.html" %}
{% endblock content %}
