{% extends "conventions/_partial/step_section.html" %}

{% block title %}Entreprise bailleur{% endblock %}

{% block content %}
    {% with bailleur=convention.bailleur %}
        {% with form=extra_forms.bailleur_form %}
            <div class="fr-col-12 fr-text--lg fr-mb-0">
                <strong>
                    {{ bailleur.nom }}
                </strong>
            </div>
            <div class="fr-col-12 fr-col-lg-6">
                {% if bailleur.adresse %}
                    <div>
                        <address>{{ bailleur.adresse }}<address>
                    </div>
                {% endif %}
                <div>
                    <address>
                        {% if bailleur.code_postal %}{{ bailleur.code_postal }}{% endif %}&nbsp;
                        {% if bailleur.ville %}{{ bailleur.ville }}{% endif %}
                    <address>
                </div>
            </div>
            <div class="fr-col-12 fr-col-lg-6">
                <div class="fr-col-12">{% if bailleur.nature_bailleur == NATURE_BAILLEUR.PRIVES %}Email{% else %}SIRET{% endif %} : {{ bailleur.siret }}</div>
                {% if bailleur.capital_social %}
                    <div class="fr-col-12">Capital social : {{ bailleur.capital_social }}</div>
                {% endif %}
            </div>
            <hr class="fr-col-12 fr-mt-3w">
            {% if form.bailleur.field.choices|length > 1 or form.errors %}
                <div class="fr-col-12">
                    <div class="block--row-strech">
                        <div class="block--row-strech-1 fr-mr-2w">
                            <p class="fr-text--lg fr-mb-0">
                                <strong>Ce n'est pas le bon bailleur ?</strong>
                            </p>
                            <p>
                                Vous pouvez demander l'attribution de cette convention à un autre bailleur.
                            </p>
                        </div>
                        <details {% if form.errors %}open{% endif %} class="fr-mt-3w">
                            <summary>
                                <div class="fr-btn fr-btn--secondary">Changer le bailleur de cette convention et de son opération</div>
                            </summary>
                            <div>
                                {% url 'users:search_bailleur' as search_bailleur_url %}
                                {% include "common/form/input_search_select_form.html" with form_input=form.bailleur url=search_bailleur_url %}
                                <button class="fr-btn" name="change_bailleur" value="True" {% include "common/form/disable_form_input.html" %}>
                                    Changer le bailleur
                                </button>
                            </div>
                        </details>
                    </div>
                </div>
            {% endif %}
            <div class="fr-col-12 fr-mb-0 fr-text--sm">
                <em>Vous pouvez{% if form.bailleur.field.choices %} également{% endif %} mettre à jour les informations de votre bailleur, si celles-ci sont erronées, dans
                    <a
                        href="{% url 'settings:edit_bailleur' bailleur_uuid=convention.bailleur.uuid %}"
                        target="_blank"
                        rel="noreferrer"
                    >
                        votre espace d'administration
                    </a>
                </em>
            </div>
        {% endwith %}
    {% endwith %}
{% endblock content %}
