{% extends "conventions/_partial/step_section.html" %}

{% block title %}Administration{% endblock %}

{% block content %}
    {% with form=extra_forms.administration_form %}
        <div class="fr-col-12 fr-text--lg fr-mb-0">
            <strong>
                {{ convention.administration }}
            </strong>
        </div>
        {% if request|is_instructeur %}
            <div class="fr-col-12 fr-mt-1w">
                <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--top">
                    <div class="fr-col-12 fr-col-md-7">
                        <p class="fr-m-0"><strong>Ce n'est pas la bonne administration ?</strong></p>
                        <p>
                            Vous pouvez changer l'administration de cette convention.<br />
                            Cette opération est irréversible et vous fera perdre l'accès à cette convention.
                        </p>
                    </div>
                    <details id="change-admin" {% if form.errors %}open{% endif %} class="fr-mt-3w fr-col-12 fr-col-md-5">
                        <!-- NOSONAR -->
                        <summary id="change-admin-summary" role="button" aria-expanded="false">
                            <div class="fr-btn fr-btn--secondary fr-mt-auto fr-ml-auto fr-mb-1w">Changer l'administration</div>
                        </summary>
                        {% with convention_uuid_str=convention.uuid|stringformat:"s" %}
                            {% url 'users:search_administration' as search_administration_url %}
                            {% include "common/form/input_search_select_unified.html" with form_input=form.administration url=search_administration_url %}
                        {% endwith %}

                        <button
                            name="change_administration"
                            value="True"
                            class="fr-btn fr-btn--icon-left fr-icon-warning-line"
                            type="submit"
                            {% include "common/form/disable_form_input.html" %}
                        >
                            Valider le changement d'administration
                        </button>
                    </details>
                </div>
            </div>
        {% endif %}
    {% endwith %}
{% endblock content %}

<script>
const details = document.getElementById('change-admin');
const summary = document.getElementById('change-admin-summary');

summary.setAttribute('aria-expanded', details.open);

summary.addEventListener('click', () => {
  summary.setAttribute('aria-expanded', details.open);
});

summary.addEventListener('keydown', (event) => {
  if (event.key === 'Enter' || event.key === ' ') {
    event.preventDefault();
    details.open = !details.open;
    summary.setAttribute('aria-expanded', details.open);
  }
});
</script>
