<script type="text/javascript" nonce="{{ request.csp_nonce }}">
    {% if use_dom_ready %}
    document.addEventListener('DOMContentLoaded', function () {
    {% endif %}
        const statusElement = document.getElementById('convention_redirect_{{ convention.uuid }}');
        const linkElement = document.getElementById('convention_link_{{ convention.uuid }}');

        if (statusElement && linkElement) {
            let targetUrl = "{% url 'conventions:recapitulatif' convention_uuid=convention.uuid %}";

            if (statusElement.classList.contains("sent")) {
                targetUrl = "{% url 'conventions:sent' convention_uuid=convention.uuid %}";
            }
            else if (statusElement.classList.contains("signed")) {
                targetUrl = "{% url 'conventions:post_action' convention_uuid=convention.uuid %}";
            }
            else if (statusElement.classList.contains("project")) {
                targetUrl = "{% url 'conventions:bailleur' convention_uuid=convention.uuid %}";
            }
            else if (statusElement.classList.contains("publication_en_cours")) {
                targetUrl = "{% url 'conventions:publication' convention_uuid=convention.uuid %}";
            }
            else if (statusElement.classList.contains("publie")) {
                targetUrl = "{% url 'conventions:post_action' convention_uuid=convention.uuid %}";
            }

            linkElement.href = targetUrl;
            statusElement.addEventListener('click', function() {
                {% if open_in_new_tab %}
                window.open(targetUrl, "_blank");
                {% else %}
                location.href = targetUrl;
                {% endif %}
            });
        }
    {% if use_dom_ready %}
    });
    {% endif %}
</script>
