{% extends "layout/base.html" %}

{% block page_title %}Administration - APiLos{% endblock%}

{% block content %}
    {% with "administration_form" as form_id %}
        <div class="fr-container-fluid ds_banner">
            {% include "conventions/common/form_header.html"%}
            {% include "common/step_progressbar.html"%}
            <div class="fr-container">
                <form method="post" action="" id="{{ form_id }}">
                    {{ form.errors }}
                    {% csrf_token %}
                    <div class="fr-grid-row fr-grid-row--gutters">
                        <div class="fr-col-md-12">
                            {% include "common/form/input_text.html" with form_input=form.verification editable=True %}
                            {% include "common/form/input_select.html" with form_input=form.administration editable=True %}
                        </div>
                    </div>
                </form>
                {% include "conventions/common/form_footer_button.html" with warning="Vous n'aurez plus accès à cette convention dès qu'elle sera transférée à une autre administration" %}
            </div>
        </div>
    {% endwith %}
{% endblock %}
