{% extends "layout/base.html" %}

{% block page_title %}Annexes - APiLos{% endblock%}

{% block content %}
    <div class="fr-container-fluid ds_banner fr-pb-1w">
        <div class="fr-container">
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-md-12  fr-my-5w">
                        {% include "common/convention_edit_info.html" with convention=convention %}
                        <h2>Etape {{convention_form_step}}/{{ nb_steps }} - Annexes</h2>
                        {% include "common/mandatory_fields_info.html" %}

                        <div role="alert" class="fr-alert fr-alert--info fr-mb-3w">
                            <p>Attention, les annexes concernées sont ici les jardins, les caves et les terrasses</p>
                            <p>la déclaration des stationnements par type se fera à la prochaine étape</p>
                        </div>

                        <h4>Annexes associés aux logements</h4>

                        {% if editable %}
                            {% include "common/form/download_upload_form.html" with convention_uuid=convention.uuid file_type='annexes' upform=upform  what='annexes'%}
                            <hr class="fr-col-12 fr-my-3w">
                        {% endif %}

                        {% for error in import_warnings %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error }}
                            </p>
                        {% endfor %}

                        {% for error in formset.non_form_errors %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error }}
                            </p>
                        {% endfor %}

                        {{ formset.management_form }}
                        <div class="fr-table fr-table--bordered">
                            <table>

                                <thead>
                                    <tr>
                                        <th scope="col" class="col__width--150">Type d'annexe {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col" class="col__width--200">Désignation des logements {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col" class="col__width--150">Typologie des logements {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col" class="col__width--120">Surface de l'annexe {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col" class="col__width--120">Loyer unitaire en € {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col" class="col__width--120">Loyer maxinum du logement en € {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for form in formset %}
                                        <tr>
                                            <td>
                                                <select
                                                    class="fr-select {% if form.typologie.errors %}fr-select--error{% endif %}"
                                                    id="{{form.typologie.id_for_label}}"
                                                    name="{{form.typologie.html_name}}"
                                                    {% if not editable %}disabled{% endif %}>
                                                    <option value="" {% if not form.typologie.value %}selected{% endif %} disabled hidden></option>
                                                    {% for typologie in typologies %}
                                                        <option value="{{typologie.value}}"
                                                            {% if typologie.value  == form.typologie.value %}selected{% endif %}>
                                                            {{typologie.label}}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                                {% for error in form.typologie.errors %}
                                                    <p id="select-error-desc-error" class="fr-error-text">
                                                        {{ error }}
                                                    </p>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% include "common/form/input_text.html" with form_input=form.logement_designation %}
                                            </td>
                                            <td>
                                                <select
                                                    class="fr-select {% if form.logement_typologie.errors %}fr-select--error{% endif %}"
                                                    id="{{form.logement_typologie.id_for_label}}"
                                                    name="{{form.logement_typologie.html_name}}"
                                                    {% if not editable %}disabled{% endif %}>
                                                    <option value="" {% if not form.logement_typologie.value %}selected{% endif %} disabled hidden></option>
                                                    {% for logement_typologie in logement_typologies %}
                                                        <option value="{{logement_typologie.value}}"
                                                            {% if logement_typologie.value  == form.logement_typologie.value %}selected{% endif %}>
                                                            {{logement_typologie.label}}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                                {% for error in form.logement_typologie.errors %}
                                                    <p id="select-error-desc-error" class="fr-error-text">
                                                        {{ error }}
                                                    </p>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% include "common/form/input_number.html" with form_input=form.surface_hors_surface_retenue step="0.01" %}
                                            </td>
                                            <td>
                                                {% include "common/form/input_number.html" with form_input=form.loyer_par_metre_carre step="0.01" %}
                                            </td>
                                            <td>
                                                {% include "common/form/input_number.html" with form_input=form.loyer step="0.01" %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-button-footer fr-col-md-12  fr-py-5w">
                    {% include "common/button/previous.html" with precedent='conventions:logements' convention_uuid=convention.uuid %}
                    {% if editable %}
                        {% include "common/button/next_and_save.html" with suivant='conventions:annexes' convention_uuid=convention.uuid editable=editable %}
                    {% else %}
                        {% include "common/button/next.html" with suivant='conventions:stationnements' convention_uuid=convention.uuid %}
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
