{% extends "layout/base.html" %}

{% load static %}

{% load custom_filters %}

{% block page_title %}Annexes - APiLos{% endblock%}

{% block javascript_extras %}
    <script src="{% static "js/comment-block.js" %}" nonce="{{request.csp_nonce}}"></script>
{% endblock %}

{% block content %}
    <div class="fr-container-fluid ds_banner fr-pb-1w">
        {% include "conventions/common/form_header.html" with convention=convention %}
        {% include "common/step_progressbar.html" with convention=convention convention_form_step=convention_form_step %}
        <div class="fr-container">
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <input
                    type="hidden"
                    id="{{form.uuid.id_for_label}}"
                    name="{{form.uuid.html_name}}"
                    value="{{ form.uuid.value|default_if_none:'' }}">
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-md-12">

                        <div role="alert" class="fr-alert fr-alert--info fr-mb-3w">
                            <p>Attention, les annexes concernées sont ici les jardins, les caves et les surfaces de terrasse au-delà de 9 m² (ex : Pour une terrasse d’une surface totale de 10 m², renseignez ici uniquement 1 m², les 9m² sont intégrés dans le calcul de la surface utile)</p>
                            <p>La déclaration des stationnements par type se fera à la prochaine étape</p>
                        </div>

                        <h4>Annexes associés aux logements exclues du calcul de la surface utile et pouvant donner lieu à un loyer accessoire</h4>

                        <div id='download_upload_block' {% if not editable %}hidden{% endif %}>
                            {% include "common/form/download_upload_form.html" with convention_uuid=convention.uuid file_type='annexes' upform=upform  what='annexes'%}
                            <hr class="fr-col-12 fr-my-3w">
                        </div>

                        {% for error in import_warnings %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error }}
                            </p>
                        {% endfor %}

                        {% for error in formset.non_form_errors %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error }}
                            </p>
                        {% endfor %}

                        {{ formset.management_form }}
                        <div class="fr-table fr-table--bordered table--layout-fixed">
                            <table>
                                <thead>
                                    <tr>
                                        {% if convention.statut != 'BROUILLON' %}

                                        <th scope="col">
                                            {% with main_comment_id="annexe__all" %}
                                                <div id='{{main_comment_id}}_comment'>
                                                    <div class="content__icons content__icons--blue{% if small %}content__icons--small{% endif %}"
                                                        id="{{main_comment_id}}_comment-img"
                                                        data-fr-opened="false"
                                                        aria-controls="global_comment_modal-dialog">
                                                        <svg role="img" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewbox="0 0 24 24" aria-labelledby="chatIconTitle">
                                                            <title id="chatIconTitle">Annexes comments</title>
                                                            <path d="M8.82388455,18.5880577 L4,21 L4.65322944,16.4273939 C3.00629211,15.0013 2,13.0946628 2,11 C2,6.581722 6.4771525,3 12,3 C17.5228475,3 22,6.581722 22,11 C22,15.418278 17.5228475,19 12,19 C10.8897425,19 9.82174472,18.8552518 8.82388455,18.5880577 Z"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            
                                                <dialog aria-labelledby="global_comment_modal-title" id="global_comment_modal-dialog" class="fr-modal" role="dialog" >
                                                    <div class="fr-container fr-container--fluid fr-container-md">
                                                        <div class="fr-grid-row fr-grid-row--center">
                                                            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                                            
                                                                <div id="loading">
                                                                    <img id="loading-image" src="{% static "icons/loading.gif" %}" alt="Loading..." />
                                                                </div>
                                            
                                                                <div class="fr-modal__body">
                                                                    <div class="fr-modal__header">
                                                                        <button type="button" class="fr-link--close fr-link" aria-controls="global_comment_modal-dialog">Fermer</button>
                                                                    </div>
                                                                    <div class="fr-modal__content fr-mb-1w" id="global_in_page_modal_comment">
                                                                        <h3 id="global_comment_modal-title" class="fr-modal__title">
                                                                            <span class="fr-fi-arrow-right-line fr-fi--lg"></span>
                                                                            <span id="global_comment_modal-title_text"></span>
                                                                        </h3>
                                                                        <div id="global_comment_modal_comments">
                                                                        </div>
                                                                        <div id="global_in_page_new_comment">
                                                                            <div class='fr-mt-3w fr-mb-1w'><b>Ajouter un commentaire :</b></div>
                                                                            <textarea
                                                                                class="fr-input"
                                                                                aria-describedby="text-input-error-desc-error"
                                                                                type="text"
                                                                                id="textarea_global_comment_modal"
                                                                                name="textarea_global_comment_modal"></textarea>
                                                                            <ul class="fr-mt-1w fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left fr-btns-group--sm">
                                                                                <li>
                                                                                    <button id='global_comment_modal-submit' type="button" class="fr-btn fr-btn--sm">
                                                                                        Commenter
                                                                                    </button>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                            
                                            
                                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                </dialog>
                                                <script type="text/javascript" nonce="{{request.csp_nonce}}">
                                                    document.getElementById("textarea_global_comment_modal").addEventListener('input', function() {
                                                        rows = this.value.split(/\r\n|\r|\n/).length
                                                        this.setAttribute('rows', rows)
                                                    })
                                                </script>
                                                <script type="text/javascript" nonce="{{request.csp_nonce}}">
                                                    display_global_comment_icon('{{convention.uuid}}','{{main_comment_id}}')

                                                    document.getElementById('global_comment_modal-submit').onclick = function() {
                                                        console.log('manage commit to do')
                                                    }
                                                    document.getElementById('{{main_comment_id}}_comment').onclick = function() {
                                                        global_comment_modal_display_comments('{{convention.uuid}}','{{main_comment_id}}', 'Annexes')
                                                    }
                                                    
                                                </script>
                                            {% endwith %}
                                        
                                        </th>
                                        {% endif %}
                                        <th scope="col" class="col__width--150">Type d'annexe {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col" class="col__width--200">Désignation des logements {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col" class="col__width--150">Typologie des logements {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col" class="col__width--120">Surface de l'annexe {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col" class="col__width--120">Loyer unitaire en € {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col" class="col__width--120">Loyer maximum du logement en € {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for form_annexe in formset %}
                                        {% with main_object_field="annexe__uuid__"|add:form_annexe.uuid.value %}
                                            <tr>
                                                {% if convention.statut != 'BROUILLON' %}
                                                    <td id="{{form_annexe.uuid.id_for_label}}_div">
                                                        {% include "common/comment_icon.html" with form_input_id=form_annexe.uuid.id_for_label object_field=main_object_field comments=comments %}
                                                        {% include "common/comment_dialog.html" with form_input_id=form_annexe.uuid.id_for_label form_input_html=form_annexe.uuid.html_name convention=convention object_field=main_object_field comments=comments %}
                                                    </td>
                                                {% endif %}
                                                <td>
                                                    <input
                                                        type="hidden"
                                                        id="{{form_annexe.uuid.id_for_label}}"
                                                        name="{{form_annexe.uuid.html_name}}"
                                                        value="{{ form_annexe.uuid.value|default_if_none:'' }}">
                                                    {% include "common/form/select_enum.html" with form_input=form_annexe.typologie parent_object_field=main_object_field editable=editable_upload %}
                                                </td>
                                                <td>
                                                    {% include "common/form/input_text.html" with form_input=form_annexe.logement_designation parent_object_field=main_object_field editable=editable_upload %}
                                                </td>
                                                <td>
                                                    {% include "common/form/select_enum.html" with form_input=form_annexe.logement_typologie parent_object_field=main_object_field editable=editable_upload %}
                                                </td>
                                                <td>
                                                    {% include "common/form/input_number.html" with form_input=form_annexe.surface_hors_surface_retenue step="0.01" parent_object_field=main_object_field editable=editable_upload %}
                                                </td>
                                                <td>
                                                    {% include "common/form/input_number.html" with form_input=form_annexe.loyer_par_metre_carre step="0.01" parent_object_field=main_object_field editable=editable_upload %}
                                                </td>
                                                <td>
                                                    {% include "common/form/input_number.html" with form_input=form_annexe.loyer step="0.01" parent_object_field=main_object_field editable=editable_upload %}
                                                </td>
                                            </tr>
                                        {% endwith %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>


                        <h4>Type d'annexes incluses dans le calcul de la surface utile</h4>

                        <div class="fr-grid-row fr-grid-row--gutters">
                            <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                {% include "common/form/input_checkbox.html" with form_input=form.annexe_caves label="Caves" object_field="lot__annexe_caves__"|add:form.uuid.value %}
                                {% include "common/form/input_checkbox.html" with form_input=form.annexe_soussols label="Sous-sols" object_field="lot__annexe_soussols__"|add:form.uuid.value %}
                                {% include "common/form/input_checkbox.html" with form_input=form.annexe_remises label="Remises" object_field="lot__annexe_remises__"|add:form.uuid.value %}
                                {% include "common/form/input_checkbox.html" with form_input=form.annexe_ateliers label="Ateliers" object_field="lot__annexe_ateliers__"|add:form.uuid.value %}
                                {% include "common/form/input_checkbox.html" with form_input=form.annexe_sechoirs label="Séchoirs" object_field="lot__annexe_sechoirs__"|add:form.uuid.value %}
                                {% include "common/form/input_checkbox.html" with form_input=form.annexe_celliers label="Celliers extérieurs au logement" object_field="lot__annexe_celliers__"|add:form.uuid.value %}
                            </div>
                            <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                {% include "common/form/input_checkbox.html" with form_input=form.annexe_resserres label="Resserres" object_field="lot__annexe_resserres__"|add:form.uuid.value %}
                                {% include "common/form/input_checkbox.html" with form_input=form.annexe_combles label="Combles et greniers aménageables" object_field="lot__annexe_combles__"|add:form.uuid.value %}
                                {% include "common/form/input_checkbox.html" with form_input=form.annexe_balcons label="Balcons" object_field="lot__annexe_balcons__"|add:form.uuid.value %}
                                {% include "common/form/input_checkbox.html" with form_input=form.annexe_loggias label="Loggias et Vérandas" object_field="lot__annexe_loggias__"|add:form.uuid.value %}
                                {% include "common/form/input_checkbox.html" with form_input=form.annexe_terrasses label="Terrasses" sublabel="Dans la limite de 9 m2, les parties de terrasses accessibles en étage ou aménagées sur ouvrage enterré ou à moitié enterré" object_field="lot__annexe_terrasses__"|add:form.uuid.value %}
                            </div>
                        </div>

                    </div>
                </div>

                {% include "common/mandatory_fields_info.html" %}
                <div class="form-button-footer fr-col-md-12 fr-py-5w">
                    {% if editable %}
                        {% include "common/button/next_and_save.html" with suivant='conventions:annexes' convention_uuid=convention.uuid editable=editable %}
                        {% include "common/button/previous.html" with precedent='conventions:logements' convention_uuid=convention.uuid %}
                    {% else %}
                        {% include "common/button/noteditable_button.html" with convention=convention %}
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
