{% extends "layout/base.html" %}

{% load static %}

{% block page_title %}Annexes - APiLos{% endblock%}

{% block javascript_extras %}
    <script src="{% static "js/comment-block.js" %}" nonce="{{request.csp_nonce}}"></script>
{% endblock %}

{% block content %}
    <div class="fr-container-fluid ds_banner fr-pb-1w">
        {% include "common/convention_edit_info.html" with convention=convention %}
        {% include "common/step_progressbar.html" with convention=convention convention_form_step=convention_form_step %}
        <div class="fr-container">
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-md-12 fr-mt-5w">
                        <!-- <h2>Etape {{convention_form_step}}/{{ nb_steps }} - Annexes</h2> -->

                        <div role="alert" class="fr-alert fr-alert--info fr-mb-3w">
                            <p>Attention, les annexes concernées sont ici les jardins, les caves et les terrasses</p>
                            <p>la déclaration des stationnements par type se fera à la prochaine étape</p>
                        </div>

                        <h4>Annexes associés aux logements exclues du calcul de la surface habitable</h4>

                        {% if editable %}
                            {% include "common/form/download_upload_form.html" with convention_uuid=convention.uuid file_type='annexes' upform=upform  what='annexes'%}
                            <hr class="fr-col-12 fr-my-3w">
                        {% endif %}

                        {% for error in import_warnings %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error }}
                            </p>
                        {% endfor %}

                        {% for error in formset.non_form_errors %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error }}
                            </p>
                        {% endfor %}

                        {{ formset.management_form }}
                        <div class="fr-table fr-table--bordered table--layout-fixed">
                            <table>

                                <thead>
                                    <tr>
                                        {% if convention.statut != 'BROUILLON' %}
                                            <th scope="col">
                                                <div class="content__icons content__icons--darkgrey">
                                                    <svg role="img" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewbox="0 0 24 24" aria-labelledby="chatIconTitle">
                                                        <title id="chatIconTitle">Comments</title>
                                                        <path d="M8.82388455,18.5880577 L4,21 L4.65322944,16.4273939 C3.00629211,15.0013 2,13.0946628 2,11 C2,6.581722 6.4771525,3 12,3 C17.5228475,3 22,6.581722 22,11 C22,15.418278 17.5228475,19 12,19 C10.8897425,19 9.82174472,18.8552518 8.82388455,18.5880577 Z"></path>
                                                    </svg>
                                                </div>
                                            </th>
                                        {% endif %}
                                        <th scope="col" class="col__width--150">Type d'annexe {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col" class="col__width--200">Désignation des logements {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col" class="col__width--150">Typologie des logements {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col" class="col__width--120">Surface de l'annexe {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col" class="col__width--120">Loyer unitaire en € {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col" class="col__width--120">Loyer maxinum du logement en € {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for form in formset %}
                                        {% with main_object_field="annexe__uuid__"|add:form.uuid.value %}
                                            <tr>
                                                {% if convention.statut != 'BROUILLON' %}
                                                    <td id="{{form.uuid.id_for_label}}_div">
                                                        {% include "common/comment_icon.html" with form_input_id=form.uuid.id_for_label object_field=main_object_field comments=comments %}
                                                        {% include "common/comment_dialog.html" with form_input_id=form.uuid.id_for_label form_input_html=form.uuid.html_name convention=convention object_field=main_object_field comments=comments %}
                                                    </td>
                                                {% endif %}
                                                <td>
                                                    <input
                                                        type="hidden"
                                                        id="{{form.uuid.id_for_label}}"
                                                        name="{{form.uuid.html_name}}"
                                                        value="{{ form.uuid.value|default_if_none:'' }}">
                                                    {% include "common/form/select_enum.html" with form_input=form.typologie enum=typologies parent_object_field=main_object_field %}
                                                </td>
                                                <td>
                                                    {% include "common/form/input_text.html" with form_input=form.logement_designation parent_object_field=main_object_field %}
                                                </td>
                                                <td>
                                                    {% include "common/form/select_enum.html" with form_input=form.logement_typologie enum=logement_typologies parent_object_field=main_object_field %}
                                                </td>
                                                <td>
                                                    {% include "common/form/input_number.html" with form_input=form.surface_hors_surface_retenue step="0.01" parent_object_field=main_object_field %}
                                                </td>
                                                <td>
                                                    {% include "common/form/input_number.html" with form_input=form.loyer_par_metre_carre step="0.01" parent_object_field=main_object_field %}
                                                </td>
                                                <td>
                                                    {% include "common/form/input_number.html" with form_input=form.loyer step="0.01" parent_object_field=main_object_field %}
                                                </td>
                                            </tr>
                                        {% endwith %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>


                        <h4>Type d'annexes incluses dans le calcul de la surface habitable</h4>

                        <div class="fr-grid-row fr-grid-row--gutters">
                            <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                {% include "common/form/input_checkbox.html" with form_input=form.annexe_caves label="Caves" object_field="lot__annexe_caves__"|add:form.uuid.value %}
                                {% include "common/form/input_checkbox.html" with form_input=form.annexe_soussols label="Sous-sols" object_field="lot__annexe_soussols__"|add:form.uuid.value %}
                                {% include "common/form/input_checkbox.html" with form_input=form.annexe_remises label="Remises" object_field="lot__annexe_remises__"|add:form.uuid.value %}
                                {% include "common/form/input_checkbox.html" with form_input=form.annexe_ateliers label="Ateliers" object_field="lot__annexe_ateliers__"|add:form.uuid.value %}
                                {% include "common/form/input_checkbox.html" with form_input=form.annexe_sechoirs label="Séchoirs" object_field="lot__annexe_sechoirs__"|add:form.uuid.value %}
                                {% include "common/form/input_checkbox.html" with form_input=form.annexe_celliers label="Celliers extérieurs au logement" object_field="lot__annexe_celliers__"|add:form.uuid.value %}
                            </div>
                            <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                {% include "common/form/input_checkbox.html" with form_input=form.annexe_resserres label="Resserres" object_field="lot__annexe_resserres__"|add:form.uuid.value %}
                                {% include "common/form/input_checkbox.html" with form_input=form.annexe_combles label="Combles et greniers aménageables" object_field="lot__annexe_combles__"|add:form.uuid.value %}
                                {% include "common/form/input_checkbox.html" with form_input=form.annexe_balcons label="Balcons" object_field="lot__annexe_balcons__"|add:form.uuid.value %}
                                {% include "common/form/input_checkbox.html" with form_input=form.annexe_loggias label="Loggias et Vérandas" object_field="lot__annexe_loggias__"|add:form.uuid.value %}
                                {% include "common/form/input_checkbox.html" with form_input=form.annexe_terrasses label="Terrasses" sublabel="Dans la limite de 9 m2, les parties de terrasses accessibles en étage ou aménagées sur ouvrage enterré ou à moitié enterré" object_field="lot__annexe_terrasses__"|add:form.uuid.value %}
                            </div>
                        </div>

                    </div>
                </div>

                {% include "common/mandatory_fields_info.html" %}
                <div class="form-button-footer fr-col-md-12 fr-py-5w">
                    {% if editable %}
                        {% include "common/button/next_and_save.html" with suivant='conventions:annexes' convention_uuid=convention.uuid editable=editable %}
                        {% include "common/button/previous.html" with precedent='conventions:logements' convention_uuid=convention.uuid %}
                    {% else %}
                        {% include "common/button/noteditable_button.html" with convention=convention %}
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
