{% extends "layout/base.html" %}

{% load static %}

{% load custom_filters %}

{% block page_title %}Annexes - APiLos{% endblock%}

{% block javascript_extras %}
    <script src="{% static "js/comment-factory.js" %}" nonce="{{request.csp_nonce}}"></script>
{% endblock %}

{% block content %}
    <div class="fr-container-fluid ds_banner fr-pb-1w">
        {% include "conventions/common/form_header.html"%}
        {% include "common/step_progressbar.html"%}
        <div class="fr-container">
            <form method="post" action="" enctype="multipart/form-data">


                {% include "conventions/common/form_attribution.html" %}
                <div class="form-button-footer fr-col-md-12 fr-py-5w">
                    {% if editable %}
                        {% include "common/button/next_and_save.html" %}
                        {% comment %} FIXME manage previous using steps {% endcomment %}
                        {% include "common/button/previous.html" with precedent='conventions:annexes' convention_uuid=convention.uuid %}
                    {% else %}
                        {% include "common/button/noteditable_button.html"%}
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
