{% load custom_filters %}
{% for convention in conventions %}
    {# squid:S1134 - The <ol> tag is in the parent template that includes this component #}
    {% if convention|display_redirect_post_action %}
        {% if convention.date_publication_spf or convention|display_redirect_convention_publie %}
            <li class="fr-grid-row">
                <div class="apilos-step-post-action fr-mr-2w">
                    <div class="apilos-step-post-action--bubble fr-mr-2w"></div>
                    <div class="apilos-step-post-action--line"></div>
                </div>
                <div class="fr-col-11">
                    {% if convention|display_redirect_convention_publie %}
                        {% if convention.date_publication_spf %}
                            <p class="fr-grid-row fr-m-0">
                                Avenant {{ convention.numero|default_if_none:'x' }} publié le <span class="fr-ml-1v"><strong>{{ convention.date_publication_spf|date:"d F Y"|default_if_none:'-' }}</strong> sous la référence <strong>{{ convention.reference_spf }}</strong></span>
                            </p>
                        {% else %}
                            <p class="fr-grid-row fr-m-0">
                                Avenant {{ convention.numero|default_if_none:'x' }} est publié sous la référence <strong>{{ convention.reference_spf }}</strong>
                            </p>
                        {% endif %}
                    {% else %}
                        <p class="fr-grid-row fr-m-0">Votre avenant a été précédemment publié sous la référence <strong>{{ convention.reference_spf }}</strong>, puis annulé en vue d'une rectification.</p>
                    {% endif %}
                    <div class="fr-mb-3w">
                        <a class="fr-link" href="{% url 'conventions:preview' convention_uuid=convention.uuid doc_type='publication' %}"> Voir en PDF</a>
                    </div>
                </div>
            </li>
        {% endif %}
        <li class="fr-grid-row">  <!-- NOSONAR -->
            <div class="apilos-step-post-action fr-mr-2w">
                <div class="apilos-step-post-action--bubble fr-mr-2w"></div>
                {% if not forloop.last %}
                    <div class="apilos-step-post-action--line"></div>
                {% endif %}
            </div>
            <div class="fr-col-11">
                <div class="fr-grid-row">
                    <p class="fr-m-0">
                        Avenant {{ convention.numero|default_if_none:'x' }} {% if convention.televersement_convention_signee_le %}du <span class="fr-ml-1v"><strong>{{ convention.televersement_convention_signee_le|date:"d F Y"|default_if_none:'-' }} </strong></span>{% endif %}
                    </p>
                </div>

                <div class="fr-mb-3w">
                    <a class="fr-link" href="{% url 'conventions:preview' convention_uuid=convention.uuid %}"> Voir en PDF</a>
                </div>

            </div>
        </li>
    {% else %}
        <li class="fr-grid-row">  <!-- NOSONAR -->
            <div class="apilos-step-post-action fr-mr-2w">
                <div class="apilos-step-post-action--bubble fr-mr-2w"></div>
                {% if not forloop.last %}
                    <div class="apilos-step-post-action--line"></div>
                {% endif %}
            </div>
            <div class="fr-grid-row fr-grid-row--middle fr-mb-3w">
                <div>
                    <p class="fr-m-0">
                        Avenant {{ convention.numero|default_if_none:'x' }}
                        {% if convention.televersement_convention_signee_le %}
                            du <span class="fr-ml-1v">
                                <strong>{{ convention.televersement_convention_signee_le|date:"d F Y"|default_if_none:'-' }} </strong>
                            </span>
                        {% endif %}
                    </p>
                    <div>
                        <a class="fr-link" href="{% url 'conventions:recapitulatif' convention_uuid=convention.uuid %}" >Voir l'avenant</a>
                    </div>
                </div>

                <div class="fr-ml-4w"><strong>{% include "conventions/home/statut_tag.html" %}</strong></div>
            </div>
        </li>
    {% endif %}
{% endfor %}
