{% extends "layout/base.html" %}

{% block page_title %}Recapitulatif - APiLos{% endblock%}

{% load static %}

{% load custom_filters %}

{% block javascript_extras %}
    <script src="{% static "js/comment-factory.js" %}" nonce="{{request.csp_nonce}}"></script>
    <script src="{% static "js/turbo.es2017-umd.js" %}" nonce="{{request.csp_nonce}}"></script>
    <script type="text/javascript" src="{% static "js/type1and2.js" %}" nonce="{{request.csp_nonce}}"></script>
    <script nonce="{{request.csp_nonce}}">
        Turbo.session.drive = false
    </script>
{% endblock %}


{% block content %}
    {% with programme_uuid=programme.uuid|slugify convention_uuid=convention.uuid|slugify lot_uuid=lot.uuid|slugify %}
        <input type="hidden" id="convention_uuid" value="{{convention.uuid}}">
        <div class="fr-container-fluid ds_banner">
            {% include "conventions/common/form_header.html"%}
            <div class="fr-container">
                {% csrf_token %}
                {% if convention|display_comments %}
                    <turbo-frame id="opened_comments_block" data-turbo="true">
                        {% include "comments/opened_comments.html" %}
                    </turbo-frame>
                {% endif %}
                {% if 'bailleur' in avenant_list %}
                    {% include "conventions/recapitulatif/bailleur.html" %}
                {% endif %}
                {% if 'logements' in avenant_list %}
                    {% include "conventions/recapitulatif/logements.html" %}
                    {% include "conventions/recapitulatif/annexes.html" %}
                    {% include "conventions/recapitulatif/comments.html" %}
                {% endif %}
                {% if 'duree' in avenant_list %}
                    {% include "conventions/recapitulatif/financements.html" %}
                {% endif %}
                <turbo-frame id="convention_actions" data-turbo="true">

                    <div class="fr-grid-row fr-grid-row--gutters fr-my-5w">
                        {% if convention|display_convention_form_progressbar %}
                            {% include "conventions/actions/generate_convention.html" %}
                        {% endif %}
                        {% if convention|display_back_to_instruction:request %}
                            {% include "conventions/actions/back_to_instruction.html" %}
                        {% endif %}
                    </div>
                    {% if request|is_bailleur and convention.is_project %}
                        <div class="fr-grid-row fr-grid-row--gutters fr-my-5w">
                            {% include "conventions/actions/delete.html"%}
                            {% include "conventions/actions/submit_convention.html" %}
                        </div>
                    {% endif %}

                    {% include "conventions/actions/bailleur_notification.html" %}

                    {% include "conventions/actions/instructeur_notification.html" %}

                    {% include "conventions/actions/instructeur_validation.html" %}

                    {% if 'bailleur' not in avenant_list %}
                        <div class="fr-col-12 block--row-strech">
                            <div class="block--row-strech-1 fr-mr-6w">
                                <h2 class="fr-text--lg">Mettre à jour les informations du bailleur</h2>
                                <p>Suite à une vente, un changement de gestionnaire, ou un changement de dénomination du propriétaire</p>
                            </div>
                            <form method="post">
                                {% csrf_token %}
                                <input value="{{avenant_types.bailleur}}" name="avenant_type" hidden>
                                <button class="fr-btn fr-btn--secondary fr-icon-eye-line fr-btn--icon-left"><span class=""></span>Mettre à jour</button>
                            </form>
                        </div>
                        <hr>
                    {% endif %}
                    {% if 'logements' not in avenant_list %}
                        <div class="fr-col-12 block--row-strech">
                            <div class="block--row-strech-1 fr-mr-6w">
                                <h2 class="fr-text--lg">Mettre à jour les logements</h2>
                                <p>En cas de modification du programme, de travaux, de réhabilitation totale, ou d’une évolution des loyers.</p>
                            </div>
                            <form method="post">
                                {% csrf_token %}
                                <input value="{{avenant_types.logements}}" name="avenant_type" hidden>
                                <button class="fr-btn fr-btn--secondary fr-icon-eye-line fr-btn--icon-left"><span class=""></span>Mettre à jour</button>
                            </form>
                        </div>
                        <hr>
                    {% endif %}
                    {% if 'duree' not in avenant_list %}
                        pas de durée
                    {% endif %}

                    {% if convention|display_is_resiliated %}

                        <div class="fr-col-md-12 fr-py-5w">
                            <div role="alert" class="fr-alert fr-alert--warning">

                                <p class="fr-alert__title">La convention a été résiliée le {{ convention.date_resiliation|date:"j F Y" }}</p>

                            </div>
                        </div>
                    {% endif %}

                </turbo-frame>




                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12">

                        <div class="form-button-footer fr-col-md-12 fr-py-5w">
                            {% if request|is_bailleur %}
                                {% if convention.is_bailleur_editable %}
                                    {% include "common/button/previous.html" with precedent='conventions:comments' convention_uuid=convention.uuid %}
                                {% else %}
                                    {% include "common/button/return_convention_index.html" %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <script type="text/javascript" src="{% static "js/recap-logements-table.js" %}" nonce="{{request.csp_nonce}}"></script>

    {% endwith %}
{% endblock %}
