{% extends "layout/base.html" %}

{% load static %}

{% block page_title %}
    {% if convention.is_avenant %}
        Avenant - Bailleur - APiLos
    {% else %}
        Étape 1 - Bailleur - APiLos
    {% endif %}
{% endblock page_title %}

{% block javascript_extras %}
    <script src="{% static "js/comment-factory.js" %}" nonce="{{ request.csp_nonce }}"></script>
{% endblock javascript_extras %}

{% block content %}
    {% include "conventions/common/form_header.html" %}
    {% include "common/step_progressbar.html" %}
    <div class="fr-container">
        <form method="post" action="">
            {% csrf_token %}
            {% include "conventions/_bailleur_entreprise.html" %}
            {% include "conventions/_bailleur_signataire.html" %}
            {% include "conventions/_bailleur_administration.html" %}
            {% include "conventions/common/form_footer_button.html" %}
        </form>
    </div>
{% endblock content %}
