{% extends "layout/base.html" %}

{% load static %}

{% block page_title %}Bailleur - APiLos{% endblock%}

{% block javascript_extras %}
    <script src="{% static "js/comment-factory.js" %}" nonce="{{request.csp_nonce}}"></script>
    <script src="{% static "virtual-select/virtual-select.min.js" %}" nonce="{{request.csp_nonce}}"></script>
{% endblock %}

{% block css_extras %}
    <link rel="stylesheet" href="{% static 'virtual-select/virtual-select.min.css' %}">
{% endblock %}

{% block content %}

    <div class="fr-container-fluid ds_banner">
        {% include "conventions/common/form_header.html"%}
        {% include "common/step_progressbar.html"%}
        <div class="fr-container">
            <form method="post" action="">
                {% csrf_token %}

                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12">

                        <h4>Entreprise bailleur</h4>

                        <div class="apilos-bordered fr-mb-3w">

                            <div role="alert" class="fr-alert fr-alert--info fr-mb-3w">
                                <p>Les infomations dans ce cadre sont attachées à l'entreprise bailleur,
                                    les modifications seront donc reportées sur toutes les conventions en
                                    projet ou en cours d'instruction appartenant à ce bailleur.</p>
                                {% if upform.bailleur.field.choices|length > 1 %}
                                    <details>
                                        <summary>
                                            <span class="fr-link">Vous pouvez aussi demander une modification du bailleur de l'opération de la convention en cliquant sur ce lien</span>
                                        </summary>
                                        <div>
                                            {% csrf_token %}
                                            {% with convention_uuid_str=convention.uuid|stringformat:"s" %}
                                                {% url 'users:search_bailleur' as search_bailleur_url %}
                                                {% include "common/form/input_search_select.html" with form_input=upform.bailleur queryset=upform.bailleur.field.queryset field=upform.bailleur.field.to_field_name url=search_bailleur_url %}
                                            {% endwith %}
                                            <button class="fr-btn" name="update_bailleur" value="True">
                                                Changer le bailleur de la convention et de son opération
                                            </button>
                                        </div>
                                    </details>
                                {% endif %}
                            </div>

                            {% include "common/form/input_text.html" with form_input=form.nom object_field="bailleur__nom__"|add:form.uuid.value %}

                            <div class="fr-mb-2w">
                                <div class="fr-grid-row fr-grid-row--gutters">
                                    <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                        {% include "common/form/input_text.html" with form_input=form.siret object_field="bailleur__siret__"|add:form.uuid.value %}
                                    </div>
                                    <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-pl-md-1w fr-mb-2w">
                                        {% include "common/form/input_number.html" with step="0.01" form_input=form.capital_social object_field="bailleur__capital_social__"|add:form.uuid.value %}
                                    </div>
                                </div>
                            </div>

                            {% include "common/form/input_text.html" with form_input=form.adresse object_field="bailleur__adresse__"|add:form.uuid.value %}

                            <div class="fr-mb-2w">
                                <div class="fr-grid-row fr-grid-row--gutters">
                                    <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                        {% include "common/form/input_text.html" with form_input=form.code_postal object_field="bailleur__code_postal__"|add:form.uuid.value %}
                                    </div>
                                    <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-pl-md-1w fr-mb-2w">
                                        {% include "common/form/input_text.html" with form_input=form.ville object_field="bailleur__ville__"|add:form.uuid.value %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4>Signataire de la convention{% if convention.programme.is_foyer or convention.programme.is_residence %} (Propriétaire){% endif %}</h4>

                        {% include "common/form/input_text.html" with form_input=form.signataire_nom object_field="bailleur__signataire_nom__"|add:form.uuid.value %}

                        <div class="fr-mb-2w">
                            <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--bottom">
                                <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                    {% include "common/form/input_text.html" with form_input=form.signataire_fonction object_field="bailleur__signataire_fonction__"|add:form.uuid.value %}
                                </div>
                                <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-pl-md-1w fr-mb-2w">
                                    {% include "common/form/input_date.html" with form_input=form.signataire_date_deliberation object_field="bailleur__signataire_date_deliberation__"|add:form.uuid.value %}
                                </div>
                            </div>
                        </div>

                        <div class="fr-mb-2w">
                            {% include "common/form/input_text.html" with form_input=form.signataire_bloc_signature object_field="bailleur__signataire_bloc_signature__"|add:form.uuid.value %}
                        </div>

                        {% if convention.programme.is_foyer or convention.programme.is_residence %}
                            <h4>Gestionnaire des logments conventionnés</h4>
                            {% with convention_uuid=convention.uuid|slugify %}

                                {% include "common/form/input_text.html" with form_input=form.gestionnaire object_field="convention__gestionnaire__"|add:convention_uuid %}

                                {% include "common/form/input_text.html" with form_input=form.gestionnaire_signataire_nom object_field="convention__gestionnaire_signataire_nom__"|add:convention_uuid %}

                                <div class="fr-mb-2w">
                                    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--bottom">
                                        <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                            {% include "common/form/input_text.html" with form_input=form.gestionnaire_signataire_fonction object_field="convention__gestionnaire_signataire_fonction__"|add:convention_uuid %}
                                        </div>
                                        <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-pl-md-1w fr-mb-2w">
                                            {% include "common/form/input_date.html" with form_input=form.gestionnaire_signataire_date_deliberation object_field="convention__gestionnaire_signataire_date_deliberation__"|add:convention_uuid %}
                                        </div>
                                    </div>
                                </div>

                                <div class="fr-mb-2w">
                                    {% include "common/form/input_text.html" with form_input=form.gestionnaire_signataire_bloc_signature object_field="convention__gestionnaire_signataire_bloc_signature__"|add:convention_uuid %}
                                </div>

                            {% endwith %}
                        {% endif %}
                    </div>
                </div>
                {% include "common/required_fields_info.html" %}
                {% include "conventions/common/form_footer_button.html" %}
            </form>
        </div>
    </div>
{% endblock %}
