{% if request.user.is_instructeur and convention.is_instruction_ongoing %}
    <div class="fr-col-md-12  fr-py-5w">
        <div role="alert" class="fr-alert fr-alert--info">
            <!-- <p class="fr-alert__title">Convention à valider</p> -->
            {% if convention.get_last_instructeur_notification %}
                <p>Denière notification du bailleur : {{ convention.get_last_instructeur_notification.cree_le }}</p>
            {% endif %}
            <p class='fr-h4'>Vous avez ajouté des commentaires et des demandes de modification, notifier le bailleur </p>
            <div>
                <form method="post" action="{% url 'conventions:feedback' convention_uuid=convention.uuid %}">
                    {% csrf_token %}
                    <div class="fr-checkbox-group">
                        <input
                            type="hidden"
                            id="{{notificationForm.from_instructeur.id_for_label}}"
                            name="{{notificationForm.from_instructeur.html_name}}"
                            value=1>
                        <input
                            type="checkbox"
                            id="{{notificationForm.send_copy.id_for_label}}"
                            name="{{notificationForm.send_copy.html_name}}"
                            checked>
                        <label class="fr-label" for="{{notificationForm.send_copy.id_for_label}}">envoyez-moi une copie du message envoyé
                        </label>
                    </div>
                    {% include "common/form/input_textarea.html" with label="Ajouter un commentaire à l'attention du bailleur (optionnel)" form_input=notificationForm.comment %}
                    <button class="fr-btn">
                        Notifier le bailleur
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endif %}
