{% extends "layout/base.html" %}

{% block page_title %}Bailleur - APiLos{% endblock%}

{% block content %}
    <div class="fr-container-fluid ds_banner">
        <div class="fr-container">
            <form method="post" action="">
                {% csrf_token %}
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12 fr-col-md-12  fr-my-5w">
                        {% include "common/convention_edit_info.html" with convention=convention %}
                        <h2>Etape {{convention_form_step}}/{{ nb_steps }} - Identité du signataire</h2>
                        {% include "common/mandatory_fields_info.html" %}

                        <h4>Entreprise bailleur</h4>

                        {% include "common/form/input_text.html" with form_input=form.nom label="Nom du bailleur" %}
                        <div class="fr-mb-2w">
                            <div class="fr-grid-row fr-grid-row--gutters">
                                <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                    {% include "common/form/input_text.html" with form_input=form.siret label="SIRET ou SIREN" %}
                                </div>
                                <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-pl-md-1w fr-mb-2w">
                                    {% include "common/form/input_number.html" with step="0.01" form_input=form.capital_social label="Capital social" mandatory=False %}
                                </div>
                            </div>
                        </div>

                        {% include "common/form/input_text.html" with form_input=form.adresse label="Adresse" %}

                        <div class="fr-mb-2w">
                            <div class="fr-grid-row fr-grid-row--gutters">
                                <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                    {% include "common/form/input_text.html" with form_input=form.code_postal label="Code postal" %}
                                </div>
                                <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-pl-md-1w fr-mb-2w">
                                    {% include "common/form/input_text.html" with form_input=form.ville label="Ville" %}
                                </div>
                            </div>
                        </div>

                        <h4>Signataire de la convention</h4>

                        {% include "common/form/input_text.html" with form_input=form.dg_nom label="Nom du signataire de la convention" %}

                        <div class="fr-mb-2w">
                            <div class="fr-grid-row fr-grid-row--gutters">
                                <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                    {% include "common/form/input_text.html" with form_input=form.dg_fonction label="Fonction du signataire de la convention" %}
                                </div>
                                <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-pl-md-1w fr-mb-2w">
                                    {% include "common/form/input_date.html" with form_input=form.dg_date_deliberation label="Date de délibération" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-button-footer fr-col-12 fr-col-md-12  fr-py-5w">
                    {% include "common/button/previous.html" with precedent='conventions:selection_update' convention_uuid=convention.uuid %}
                    {% if editable %}
                        {% include "common/button/next_and_save.html" with suivant='conventions:bailleur' convention_uuid=convention.uuid editable=editable %}
                    {% else %}
                        {% include "common/button/next.html" with suivant='conventions:programme' convention_uuid=convention.uuid %}
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
