{% extends "layout/base.html" %}

{% block page_title %}Cadastre - APiLos{% endblock%}

{% load static %}

{% block javascript_extras %}
    <script src="{% static "dropzonejs/min/dropzone.min.js" %}" nonce="{{request.csp_nonce}}"></script>
    <script src="{% static "dropzonejs/min/dropzone-amd-module.min.js" %}" nonce="{{request.csp_nonce}}"></script>
    <script src="{% static "js/dropzone-client.js" %}" nonce="{{request.csp_nonce}}"></script>
{% endblock %}

{% block css_extras %}
    <link rel="stylesheet" href="{% static "dropzonejs/min/basic.min.css" %}">
    <link rel="stylesheet" href="{% static "dropzonejs/min/dropzone.min.css" %}">
{% endblock %}


{% block content %}
    <div class="fr-container-fluid ds_banner fr-pb-1w">
        <div class="fr-container">
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-md-12  fr-my-5w">
                        {% include "common/convention_edit_info.html" with convention=convention %}
                        <h2>Etape {{convention_form_step}}/{{ nb_steps }} - Informations cadastrales sur le programme</h2>
                        {% include "common/mandatory_fields_info.html" %}

                        <h4>Permis et dates</h4>

                        {% include "common/form/input_text.html" with form_input=form.permis_construire label="Numéro de permis construire" %}

                        <div class="fr-grid-row fr-grid-row--gutters">
                            <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                {% include "common/form/input_date.html" with form_input=form.date_acte_notarie label="Date de l'acte notarié" %}
                            </div>
                            <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-pl-md-1w fr-mb-2w">
                                {% include "common/form/input_date.html" with form_input=form.date_achat label="Date d'achat" %}
                            </div>
                        </div>

                        <div class="fr-grid-row fr-grid-row--gutters">
                            <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                {% include "common/form/input_date.html" with form_input=form.date_achevement_previsible label="Date d'achèvement previsible" %}
                            </div>
                            <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-pl-md-1w fr-mb-2w">
                                {% include "common/form/input_date.html" with form_input=form.date_achevement label="Date d'achèvement ou d'obtention de certificat de conformité" %}
                            </div>
                        </div>

                        {% include "common/form/input_upload.html" with label="Vendeur" form_input=form.vendeur form_input_files=form.vendeur_files object_name='programme' object_uuid=convention.programme.uuid textarea=True image_only=True file_list=convention.programme.vendeur_files.values mandatory=True %}

                        {% include "common/form/input_upload.html" with label="Acquéreur" form_input=form.acquereur form_input_files=form.acquereur_files object_name='programme' object_uuid=convention.programme.uuid textarea=True image_only=True file_list=convention.programme.acquereur_files.values mandatory=True %}

                        {% include "common/form/input_upload.html" with label="Référence du notaire" form_input=form.reference_notaire form_input_files=form.reference_notaire_files object_name='programme' object_uuid=convention.programme.uuid textarea=True image_only=True file_list=convention.programme.reference_notaire_files.values %}

                        {% include "common/form/input_upload.html" with label="Référence de publication de l'acte" form_input=form.reference_publication_acte form_input_files=form.reference_publication_acte_files object_name='programme' object_uuid=convention.programme.uuid textarea=True image_only=True file_list=convention.programme.reference_publication_acte_files.values %}

                        <div class="fr-grid-row fr-grid-row--gutters">
                            <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                {% include "common/form/input_upload.html" with label="Acte de propriété" form_input=form.acte_de_propriete form_input_files=form.acte_de_propriete_files object_name='programme' object_uuid=convention.programme.uuid file_list=convention.programme.acte_de_propriete_files.values %}
                            </div>
                            <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                {% include "common/form/input_upload.html" with label="Acte notarial" form_input=form.acte_notarial form_input_files=form.acte_notarial_files  object_name='programme' object_uuid=convention.programme.uuid file_list=convention.programme.acte_notarial_files.values %}
                            </div>
                        </div>


                        <hr class="fr-col-12 fr-my-3w">

                        <h4>Références cadastrales</h4>

                        {% include "common/form/input_upload.html" with form_input=form.reference_cadastrale form_input_files=form.reference_cadastrale_files object_name='programme' object_uuid=convention.programme.uuid image_only=True file_list=convention.programme.reference_cadastrale_files.values %}

                        {% if editable %}
                            {% include "common/form/download_upload_form.html" with convention_uuid=convention.uuid file_type='cadastre' upform=upform  what="références cadastrales"%}
                            <hr class="fr-col-12 fr-my-3w">
                        {% endif %}

                        {% for error in import_warnings %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error }}
                            </p>
                        {% endfor %}

                        {% for error in formset.non_form_errors %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error }}
                            </p>
                        {% endfor %}

                        {{ formset.management_form }}
                        <div class="fr-table fr-table--bordered">
                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col">Section {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col">Numéro {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col">Lieudit {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col">Surface {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for form_pret in formset %}
                                        <tr>
                                            <td>
                                                {% include "common/form/input_text.html" with form_input=form_pret.section %}
                                            </td>
                                            <td>
                                                {% include "common/form/input_text.html" with form_input=form_pret.numero %}
                                            </td>
                                            <td>
                                                {% include "common/form/input_text.html" with form_input=form_pret.lieudit %}
                                            </td>
                                            <td>
                                                {% include "common/form/input_text.html" with form_input=form_pret.surface %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <hr class="fr-col-12 fr-my-3w">


                    </div>
                </div>

                <div class="fr-col-md-12  fr-py-5w button-bar">
                    {% include "common/button/previous.html" with precedent='conventions:programme' convention_uuid=convention.uuid %}
                    {% if editable %}
                        {% include "common/button/next_and_save.html" with suivant='conventions:cadastre' convention_uuid=convention.uuid editable=editable %}
                    {% else %}
                        {% include "common/button/next.html" with suivant='conventions:edd' convention_uuid=convention.uuid %}
                    {% endif %}
                </div>


            </form>
        </div>
    </div>
    <!-- <form action="/upload/" method="POST" class="dropzone dz">
    {% csrf_token %}
    <div class="fallback">
        <input name="file" type multiple />
    </div>
</form> -->


{% endblock %}
