{% extends "layout/base.html" %}

{% block page_title %}Cadastre - APiLos{% endblock%}

{% load static %}

{% load custom_filters %}

{% block javascript_extras %}
    <script src="{% static "dropzonejs/min/dropzone.min.js" %}" nonce="{{request.csp_nonce}}"></script>
    <script src="{% static "dropzonejs/min/dropzone-amd-module.min.js" %}" nonce="{{request.csp_nonce}}"></script>
    <script src="{% static "js/dropzone-client.js" %}" nonce="{{request.csp_nonce}}"></script>
    <script src="{% static "js/comment-factory.js" %}" nonce="{{request.csp_nonce}}"></script>
{% endblock %}

{% block css_extras %}
    <link rel="stylesheet" href="{% static "dropzonejs/min/basic.min.css" %}">
    <link rel="stylesheet" href="{% static "dropzonejs/min/dropzone.min.css" %}">
{% endblock %}


{% block content %}
    <div class="fr-container-fluid ds_banner fr-pb-1w">
        {% include "conventions/common/form_header.html"%}
        {% include "common/step_progressbar.html"%}
        <div class="fr-container">
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <input
                    type="hidden"
                    id="{{form.uuid.id_for_label}}"
                    name="{{form.uuid.html_name}}"
                    value="{{ form.uuid.value|default_if_none:'' }}">
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-md-12">
                        <h4>Permis et dates</h4>

                        {% include "common/form/input_text.html" with form_input=form.permis_construire object_field="programme__permis_construire__"|add:form.uuid.value %}

                        <div class="fr-grid-row fr-grid-row--gutters">
                            <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-pl-md-1w fr-mb-2w">
                                Date d'autorisation hors habitat inclusif [FOYER]
                                {% include "common/form/input_date.html" with form_input=form.date_hors_habitat_inclusif object_field="programme__date_hors_habitat_inclusif__"|add:form.uuid.value %}
                            </div>
                            <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                Date de la convention de location [FOYER]
                                {% include "common/form/input_date.html" with form_input=form.date_cas_echeant object_field="programme__date_cas_echeant__"|add:form.uuid.value %}
                            </div>
                        </div>
                        <div class="fr-grid-row fr-grid-row--gutters">
                            <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-pl-md-1w fr-mb-2w">
                                {% include "common/form/input_date.html" with form_input=form.date_achat object_field="programme__date_achat__"|add:form.uuid.value %}
                            </div>
                            <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                {% include "common/form/input_date.html" with form_input=form.date_acte_notarie object_field="programme__date_acte_notarie__"|add:form.uuid.value %}
                            </div>
                        </div>

                        <div class="fr-grid-row fr-grid-row--gutters">
                            <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                <div class="fr-mb-3w fr-form-group">
                                    <fieldset class="fr-fieldset">
                                        <legend hidden>Choix de la date d'achevement</legend>
                                        <div class="fr-fieldset__content">
                                            <div class="fr-radio-group">
                                                <input type="radio" value= "achevement" id="achevement" name="achevement" class="achevement_choice_button"
                                                    {% if convention.programme.date_achevement %} checked {% endif %}
                                                >
                                                <label for="achevement">Mon bâtiment est achevé</label>
                                            </div>
                                            <div class="fr-radio-group">
                                                <input type="radio" value= "achevement_previsible" id="achevement_previsible" name="achevement"class="achevement_choice_button"
                                                    {% if convention.programme.date_achevement_previsible and convention.programme.date_achevement is None %} checked {% endif %}
                                                >
                                                <label for="achevement_previsible">Mon bâtiment est en construction</label>
                                            </div>
                                        </div>
                                        <script type="text/javascript" nonce="{{request.csp_nonce}}">
                                            document.addEventListener('DOMContentLoaded', function () {
                                                document.querySelectorAll(".achevement_choice_button").forEach(buttonChoice => {
                                                    var valueChoice = buttonChoice.value;
                                                    if (buttonChoice.hasAttribute("checked")) {
                                                        document.querySelectorAll(".div_date_choice").forEach(div => {
                                                            div.setAttribute("hidden", "")
                                                        })
                                                        document.getElementById(valueChoice+"_date").removeAttribute("hidden");
                                                    };
                                                    buttonChoice.addEventListener("click", () => {
                                                        document.querySelectorAll(".div_date_choice").forEach(div => {
                                                            div.setAttribute("hidden", "")
                                                        })
                                                        document.getElementById(valueChoice+"_date").removeAttribute("hidden");
                                                    })
                                                })
                                            });
                                        </script>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w div_date_choice" id="achevement_previsible_date" hidden>
                                {% include "common/form/input_date.html" with form_input=form.date_achevement_previsible object_field="programme__date_achevement_previsible__"|add:form.uuid.value %}
                            </div>
                            <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-pl-md-1w fr-mb-2w div_date_choice" id="achevement_date" hidden>
                                {% include "common/form/input_date.html" with form_input=form.date_achevement object_field="programme__date_achevement__"|add:form.uuid.value %}
                            </div>
                        </div>

                        <div class="apilos-bordered fr-my-3w">
                            <p class="notes">
                                <em>Pour toutes les sections ci-dessous, vous avez la possibilité de renseigner les champs en saisissant les informations ou en téléversant des images.</em>
                            </p>
                            {% include "common/form/input_upload.html" with form_input=form.vendeur form_input_files=form.vendeur_files object_name='programme' object_uuid=convention.programme.uuid textarea=True image_only=True file_list=convention.programme.vendeur|get_files_from_textfiles object_field="programme__vendeur__"|add:form.uuid.value %}

                            {% include "common/form/input_upload.html" with form_input=form.acquereur form_input_files=form.acquereur_files object_name='programme' object_uuid=convention.programme.uuid textarea=True image_only=True file_list=convention.programme.acquereur|get_files_from_textfiles object_field="programme__acquereur__"|add:form.uuid.value %}

                            {% include "common/form/input_upload.html" with form_input=form.reference_notaire form_input_files=form.reference_notaire_files object_name='programme' object_uuid=convention.programme.uuid textarea=True image_only=True file_list=convention.programme.reference_notaire|get_files_from_textfiles object_field="programme__reference_notaire__"|add:form.uuid.value %}

                            {% include "common/form/input_upload.html" with form_input=form.reference_publication_acte form_input_files=form.reference_publication_acte_files object_name='programme' object_uuid=convention.programme.uuid textarea=True image_only=True file_list=convention.programme.reference_publication_acte|get_files_from_textfiles object_field="programme__reference_publication_acte__"|add:form.uuid.value %}
                        </div>
                        {% include "common/form/input_upload.html" with form_input=form.reference_cadastrale form_input_files=form.reference_cadastrale_files object_name='programme' object_uuid=convention.programme.uuid image_only=True file_list=convention.programme.reference_cadastrale|get_files_from_textfiles object_field="programme__reference_cadastrale__"|add:form.uuid.value %}
                        <div id='download_upload_block' {% if not editable %}hidden{% endif %}>
                            {% include "common/form/download_upload_form.html" with file_type='cadastre' upform=upform  what="références cadastrales"%}
                            <hr class="fr-col-12 fr-my-3w">
                        </div>

                        {% for error in import_warnings %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error }}
                            </p>
                        {% endfor %}

                        {% for error in formset.non_form_errors %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error }}
                            </p>
                        {% endfor %}

                        {{ formset.management_form }}
                        <div class="fr-table fr-table--bordered table--layout-fixed">
                            <table aria-label="Références cadastrales">
                                <thead>
                                    <tr>
                                        {% if convention|display_comments %}
                                            {% include 'common/utils/comments_header.html' with object_name='reference_cadastrale' label='Références cadastrales' %}
                                        {% endif %}
                                        <th scope="col">Section {% if formset.total_form_count %}{% include "common/form/required_field_star.html" %}{% endif %}</th>
                                        <th scope="col">Numéro {% if formset.total_form_count %}{% include "common/form/required_field_star.html" %}{% endif %}</th>
                                        <th scope="col">Lieudit {% if formset.total_form_count %}{% include "common/form/required_field_star.html" %}{% endif %}</th>
                                        <th scope="col">Surface {% if formset.total_form_count %}{% include "common/form/required_field_star.html" %}{% endif %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for form_cadastre in formset %}
                                        {% with main_object_field="reference_cadastrale__uuid__"|add:form_cadastre.uuid.value %}
                                            <tr id="{{form_cadastre.uuid.id_for_label}}_group">
                                                {% if convention|display_comments %}
                                                    <td id="{{form_cadastre.uuid.id_for_label}}_div">
                                                        {% include 'common/utils/comments_field.html' with object_field=main_object_field form_input=form_cadastre.uuid %}
                                                    </td>
                                                {% endif %}
                                                <td>
                                                    <input
                                                        type="hidden"
                                                        id="{{form_cadastre.uuid.id_for_label}}"
                                                        name="{{form_cadastre.uuid.html_name}}"
                                                        value="{{ form_cadastre.uuid.value|default_if_none:'' }}">
                                                    {% include "common/form/input_text.html" with form_input=form_cadastre.section parent_object_field=main_object_field editable=editable_after_upload %}
                                                </td>
                                                <td>
                                                    {% include "common/form/input_text.html" with form_input=form_cadastre.numero parent_object_field=main_object_field editable=editable_after_upload %}
                                                </td>
                                                <td>
                                                    {% include "common/form/input_text.html" with form_input=form_cadastre.lieudit parent_object_field=main_object_field editable=editable_after_upload %}
                                                </td>
                                                <td>
                                                    {% include "common/form/input_text.html" with form_input=form_cadastre.surface parent_object_field=main_object_field editable=editable_after_upload %}
                                                </td>
                                            </tr>
                                        {% endwith %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-my-2w">
                            {% include "common/form/input_upload.html" with form_input=form.effet_relatif form_input_files=form.effet_relatif_files  object_name='programme' object_uuid=convention.programme.uuid file_list=convention.programme.effet_relatif|get_files_from_textfiles object_field="programme__effet_relatif__"|add:form.uuid.value %}
                        </div>
                        <div class="apilos-bordered fr-my-3w">
                            <p class="notes">
                                <em>Ces informations sont complémentaires et à destination de l’instructeur. Elles ne figureront pas dans le document final de la convention.</em>
                            </p>

                            <div class="fr-grid-row fr-grid-row--gutters">
                                <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                    {% include "common/form/input_upload.html" with form_input=form.acte_de_propriete form_input_files=form.acte_de_propriete_files object_name='programme' object_uuid=convention.programme.uuid file_list=convention.programme.acte_de_propriete|get_files_from_textfiles object_field="programme__acte_de_propriete__"|add:form.uuid.value %}
                                </div>
                                <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                    {% include "common/form/input_upload.html" with form_input=form.certificat_adressage form_input_files=form.certificat_adressage_files  object_name='programme' object_uuid=convention.programme.uuid file_list=convention.programme.certificat_adressage|get_files_from_textfiles object_field="programme__certificat_adressage__"|add:form.uuid.value %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                {% include "common/required_fields_info.html" %}
                <div class="form-button-footer fr-col-md-12 fr-py-5w">
                    {% if editable %}
                        {% include "common/button/next_and_save.html" %}
                        {% include "common/button/previous.html" with precedent='conventions:programme' convention_uuid=convention.uuid %}
                    {% else %}
                        {% include "common/button/noteditable_button.html"%}
                    {% endif %}
                </div>

            </form>
        </div>
    </div>
{% endblock %}
