{% extends "layout/base.html" %}

{% load static %}

{% load custom_filters %}

{% block page_title %}Conventions - APiLos{% endblock%}

{% block content %}
    <div class="fr-container-fluid ds_banner fr-mb-8w">
        {# Main title & optionnal CTAs #}
        <div class="fr-container">{% include "./_partial/search_header.html" %}</div>
    </div>

    {# Page's actual inner content #}
    <div class="fr-container fr-my-3w">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-md-12 ">
                <h4 class="fr-mb-1v">Calculer l’actualisation d’un loyer</h4>
                <p>Complétez le formulaire pour obtenir l’actualisation légale des vos loyers</p>

                <form action="{% url 'conventions:loyer_simulateur' %}" method="post">
                    {% csrf_token %}

                    <div class="fr-col-12">
                        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--bottom">
                            <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                {% include "common/form/input_select.html" with form_input=form.nature_logement editable=True %}
                            </div>

                            <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                {% include "common/form/input_date.html" with form_input=form.date_initiale editable=True %}
                            </div>

                            <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                {% include "common/form/input_number.html" with form_input=form.montant editable=True step=".01" %}
                            </div>

                            <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                {% include "common/form/input_date.html" with form_input=form.date_actualisation editable=True %}
                            </div>

                            <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                {% include "common/form/input_select.html" with form_input=form.departement editable=True %}
                            </div>
                        </div>
                    </div>

                    <button class="fr-btn fr-icon-equalizer-fill fr-btn--icon-right">
                        Calculer
                    </button>

                </form>
            </div>

            {% if montant_actualise %}
                <div class="fr-col-md-6 apilos-recap fr-mt-2w">
                    <ul>
                        <li>
                            <span class="fr-text--bold apilos-text-blue-sun">Résultat</span>
                        </li>
                        <li>
                            <span class="fr-text--bold">Montant actualisé</span><br/>
                            <span class="fr-display-md">{% if montant_actualise %}{{ montant_actualise|floatformat:2 }} €{% endif %}</span>

                        </li>
                        <li>
                            <span class="fr-text--bold">Période de validité</span><br/>
                            <p>{% if annee_validite %}Du 1er janvier {{ annee_validite }} au 31 décembre {{ annee_validite }}{% endif %}</p>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
