{% extends "layout/base.html" %}

{% load static %}

{% block javascript_extras %}
    <script src="{% static "dropzonejs/min/dropzone.min.js" %}"></script>
    <script src="{% static "dropzonejs/min/dropzone-amd-module.min.js" %}"></script>
    <script src="{% static "js/dropzone-client.js" %}"></script>
{% endblock %}

{% block css_extras %}
    <link rel="stylesheet" href="{% static "dropzonejs/min/basic.min.css" %}">
    <link rel="stylesheet" href="{% static "dropzonejs/min/dropzone.min.css" %}">
{% endblock %}

{% block content %}
    <div class="fr-container-fluid ds_banner">
        <div class="fr-container">
            <form method="post" action="">
                {% csrf_token %}

                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-md-12 fr-col-lg-10 fr-col-offset-lg-1 fr-my-5w">
                        <h2>Etape {{convention_form_step}}/{{ nb_steps }} - Ajouter des informations à l'attention du service instructeur</h2>
                        {% include "common/convention_edit_info.html" with convention=convention %}
                        {% include "common/mandatory_fields_info.html" %}

                        {% include "common/form/input_upload.html" with label="Ajoutez vos commentaires à l'attention de l'instructeur" form_input=form.comments form_input_files=form.comments_files convention=convention textarea=True verticalDisplay=True %}

                    </div>
                </div>
                <div class="fr-col-md-12 fr-col-lg-10 fr-col-offset-lg-1 fr-py-5w" style="display: flex;flex-direction: row;align-items: center;justify-content: space-between;">
                    {% include "common/button/precedent.html" with precedent='conventions:stationnements' convention_uuid=convention.uuid %}
                    {% include "common/button/suivant.html" with suivant='conventions:comments' convention_uuid=convention.uuid %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
