{% extends "layout/base.html" %}

{% block page_title %}Commentaires - APiLos{% endblock%}

{% load static %}

{% block javascript_extras %}
    <script src="{% static "dropzonejs/min/dropzone.min.js" %}" nonce="{{request.csp_nonce}}"></script>
    <script src="{% static "dropzonejs/min/dropzone-amd-module.min.js" %}" nonce="{{request.csp_nonce}}"></script>
    <script src="{% static "js/dropzone-client.js" %}" nonce="{{request.csp_nonce}}"></script>
    <script src="{% static "js/comment-block.js" %}" nonce="{{request.csp_nonce}}"></script>
{% endblock %}

{% block css_extras %}
    <link rel="stylesheet" href="{% static "dropzonejs/min/basic.min.css" %}">
    <link rel="stylesheet" href="{% static "dropzonejs/min/dropzone.min.css" %}">
{% endblock %}

{% block content %}
    <div class="fr-container-fluid ds_banner">
        <div class="fr-container">
            {% include "common/form/conventionform_header.html" %}
            <form method="post" action="">
                {% csrf_token %}

                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-md-12 fr-mt-5w">
                        <!-- <h2>Etape {{convention_form_step}}/{{ nb_steps }} - Informations complémentaires</h2> -->
                        {% include "common/form/input_upload.html" with label="Ajoutez vos commentaires à l'attention de l'instructeur" form_input=form.comments form_input_files=form.comments_files object_name='convention' object_uuid=convention.uuid file_list=convention.comments_files.values textarea=True verticalDisplay=True object_field="convention__comments__"|add:form.uuid.value %}
                    </div>
                </div>

                {% include "common/mandatory_fields_info.html" %}
                <div class="form-button-footer fr-col-md-12 fr-py-5w">
                    {% if editable %}
                        {% include "common/button/next_and_save.html" with suivant='conventions:comments' convention_uuid=convention.uuid editable=editable %}
                        {% include "common/button/previous.html" with precedent='conventions:stationnements' convention_uuid=convention.uuid %}
                    {% else %}
                        {% include "common/button/noteditable_button.html" with convention=convention %}
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
