{% extends "layout/base.html" %}

{% block page_title %}Commentaires - APiLos{% endblock %}

{% load static %}

{% block javascript_extras %}
    {% include "conventions/common/dropzone_js.html" %}
    <script src="{% static "js/comment-factory.js" %}" nonce="{{ request.csp_nonce }}"></script>
{% endblock javascript_extras %}

{% block css_extras %}
    {% include "conventions/common/dropzone_css.html" %}
{% endblock css_extras %}

{% block content %}
    <div class="fr-container-fluid ds_banner">
        {% include "conventions/common/form_header.html" %}
        {% include "common/step_progressbar.html" %}
        <div class="fr-container">
            <form method="post" action="">
                {% include "conventions/common/form_commentaires.html" %}
                {% include "conventions/common/form_footer_button.html" %}
            </form>
        </div>
    </div>
{% endblock content %}
