<p class="fr-mb-4w">
    <span class="fr-icon-user-line" aria-hidden="true"></span> Contributeurs à la convention :

    {% if not contributors.instructeurs and not contributors.bailleurs %}
        aucun contributeur pour l'instant
    {% endif %}
    {% if contributors.instructeurs %}
        pour l'instruction
        {% for instructeur in contributors.instructeurs %}
            <strong>{{instructeur.0}} {{instructeur.1}}</strong>
            {% if not forloop.last %} et {% endif %}
        {% endfor %}
        {% if contributors.bailleurs %}, {% endif %}
    {% endif %}
    {% if contributors.bailleurs %}
        pour le bailleur
        {% for bailleur in contributors.bailleurs %}
            <strong>{{bailleur.0}} {{bailleur.1}}</strong>
            {% if not forloop.last %} et {% endif %}
        {% endfor %}
    {% endif %}
</p>
