{% load custom_filters %}
{% load display_filters %}

<div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-md-12 fr-mb-2w">
            <form class="fr-mt-2w" method="get" action="" id="search_table">
                <input type="hidden" id="order_by" name="order_by" value="{{ order_by }}">
                <input type="hidden" id="page" name="page" value="{{ page }}">
                {# Champs de recherche spécifiques (dépend du rôle de l'utilisateur) #}
                <div class="fr-grid-row fr-grid-row--gutters">

                    {# Champs bailleur #}
                    {% if bailleur_query %}
                        <div class="fr-col-12 fr-col-md-12 fr-col-lg-3 fr-mb-2w">
                            <div class="">
                                {% url 'users:search_bailleur' as search_bailleur_url %}
                                <select class="fr-select" name="bailleur" id="search-field-bailleur">
                                    {% if request.GET.bailleur %}
                                        <option selected value="{{ request.GET.bailleur }}">{% bailleur_from request.GET.bailleur %}</option>
                                        {% endwith }
                                    {% else %}
                                        <option selected value>Bailleur</option>
                                        {% for bailleur in bailleur_query %}
                                            <option value="{{ bailleur.uuid }}">
                                                {{ bailleur }}
                                            </option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <script type="text/javascript" nonce="{{request.csp_nonce}}">
                                VirtualSelect.init({
                                    ele: '#search-field-bailleur',
                                    search: true,
                                    placeholder: "Bailleur",
                                    selectedValue: null,
                                    searchPlaceholderText: "Nom du bailleur ( SIREN )",
                                    onServerSearch: function (search, select) {
                                        fetch('{{ search_bailleur_url }}?q=' + search)
                                            .then((response) => response.json())
                                            .then(data => select.setServerOptions(data));
                                    },
                                });
                            </script>
                        </div>
                    {% endif %}

                    {# Champs administration #}
                    {% if administration_query %}
                        <div class="fr-col-12 fr-col-md-12 fr-col-lg-3">
                            <div class="">
                                {% url 'users:search_administration' as search_administration_url %}
                                <select class="fr-select" name="administration" id="search-field-administration">
                                    {% if request.GET.administration %}
                                        <option selected value="{{ request.GET.administration }}">{% administration_from request.GET.administration %}</option>
                                    {% else %}
                                        <option selected value>Instructeur</option>
                                        {% for administration in administration_query %}
                                            <option value="{{ administration.uuid }}">
                                                {{ administration }}
                                            </option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                                <script type="text/javascript" nonce="{{request.csp_nonce}}">
                                    VirtualSelect.init({
                                        ele: '#search-field-administration',
                                        search: true,
                                        placeholder: "Instructeur",
                                        selectedValue: null,
                                        searchPlaceholderText: "Nom du l'administration'",
                                        onServerSearch: function (search, select) {
                                            fetch('{{ search_administration_url }}?q=' + search)
                                                .then((response) => response.json())
                                                .then(data => select.setServerOptions(data));
                                        },
                                    });
                                </script>
                            </div>
                        </div>
                    {% endif %}

                    {# Champs commune #}
                    <div class="fr-col-12 fr-col-md-12 fr-col-lg-3">
                        <input class="fr-input" placeholder="Commune" type="text" name="ville" value="{{ request.GET.ville }}" />
                    </div>

                    {# Champs de recherche génériques (affichés à tous les utilisateurs) #}
                    {# Champs Statut #}
                    <div class="fr-col-12 fr-col-md-12 fr-col-lg-3 fr-mb-2w">
                        <div class="">
                            <select class="fr-select" id="cstatut" name="cstatut">
                                <option value="">Statut</option>
                                {% for value, label in statuts %}
                                    <option value="{{ label }}"
                                            {% if label == request.GET.cstatut %}selected{% endif %}>
                                        {{ label }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    {# Champs financement #}
                    <div class="fr-col-12 fr-col-md-12 fr-col-lg-3 fr-mb-2w">
                        <div class="">
                            <select class="fr-select" name="financement">
                                <option value="">Financement</option>
                                {% for value, label in financements %}
                                    <option value="{{ label }}"
                                            {% if value == request.GET.financement %}selected{% endif %}>
                                        {{ label }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    {# Champs annee de signature #}
                    {% if date_signature_choices %}
                        <div class="fr-col-12 fr-col-md-12 fr-col-lg-3 fr-mb-2w">
                            <div class="">
                                <select class="fr-select" name="date_signature">
                                    <option value="">Année de signature</option>
                                    {% for value, label in date_signature_choices %}
                                        <option value="{{ value }}"
                                                {% if value == request.GET.date_signature %}selected{% endif %}>
                                            {{ label }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% endif %}

                    {# Champs "Libre" (code opération / numéro de convention, code postal ou nom du programme) #}
                    <div class="fr-col-12 fr-col-md-12 fr-col-lg-3 fr-mb-2w">
                        <input class="fr-input" placeholder="Numéro, nom, code postal…" type="search" id="search_input" name="search_input" value="{{ search_input }}" />
                    </div>

                    {# Champs ANRU #}
                    <div class="fr-col-12 fr-col-md-12 fr-col-lg-3 fr-mb-2w">
                        <div class="fr-fieldset__element">
                            <div class="fr-checkbox-group fr-checkbox-group--sm">
                                <input name="anru" id="checkbox-restrict-to-anru" type="checkbox" {% if request.GET.anru %}checked{% endif %}>
                                <label class="fr-label" for="checkbox-restrict-to-anru">
                                    ANRU
                                    <span class="fr-hint-text">N'afficher que les conventions ANRU</span>
                                </label>
                                <div class="fr-messages-group" id="checkboxes-hint-el-sm-3-messages" aria-live="assertive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--right">
                    <button class="fr-btn" id="search_btn">
                        <span class="fr-icon-search-line fr-mr-1w" aria-hidden="true"></span>
                        Rechercher
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
