<div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-grid-row fr-grid-row--right">
            <a href="{% url 'conventions:loyer_simulateur' %}" class="fr-link fr-ml-2w"
               title="Calculatrice de loyers"
               aria-selected="{% if request.resolver_match.view_name == "conventions:loyer_simulateur" %}true{% else %}false{% endif %}">
                <span aria-hidden="true" class="fr-icon-equalizer-fill"></span>
                Calculatrice de loyers
            </a>
        </div>

        <div class="fr-col-md-12 fr-mb-1w">
            <hr>
            <h2 class="fr-sr-only">Filtres de recherche</h2>
            <form class="fr-mt-2w" method="get" action="" id="search_table">
                <input type="hidden" id="order_by" name="order_by" value="{{ order_by }}">
                <input type="hidden" id="page" name="page" value="{{ page }}">

                <div class="fr-grid-row fr-grid-row--gutters fr-mb-1w">

                    {# Champs nom de l'opération #}
                    <div class="fr-col-12 fr-col-lg-6 search-input">
                        <label class="select-label" for="search_operation_nom">Nom de l'opération</label>
                        <input class="fr-input fr-mt-1w" type="search" id="search_operation_nom" name="search_operation_nom" value="{{ request.GET.search_operation_nom }}" placeholder="Rechercher"/>
                    </div>

                    {# Champs numéro de l'opération ou de la convention #}
                    <div class="fr-col-12 fr-col-lg-6 search-input">
                        <label class="select-label" for="search_numero">Numéro de l'opération ou de la convention</label>
                        <input class="fr-input fr-mt-1w" type="search" id="search_numero" name="search_numero" value="{{ request.GET.search_numero }}" placeholder="Rechercher"/>
                    </div>

                </div>

                <div class="fr-grid-row fr-grid-row--gutters fr-mb-1w">

                    {# Champs bailleur #}
                    {% if bailleur_query %}
                        <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 search-select search-bailleur">
                            {% url 'users:search_bailleur' as search_bailleur_url %}
                            {% if request.GET.bailleur %}
                                {% bailleur_from request.GET.bailleur as bailleur_initial %}
                            {% endif %}
                            {% include "common/form/input_search_select_unified.html" with field_id="search-field-bailleur" field_name="bailleur" label="Bailleur (nom ou SIREN)" placeholder="Rechercher" search_url=search_bailleur_url initial_value=request.GET.bailleur initial_text=bailleur_initial initial_queryset=bailleur_query %}
                        </div>
                    {% endif %}

                    {# Champs commune #}
                    <div class="fr-col-12 fr-col-lg-6 search-input">
                        <label class="select-label" for="search_lieu">Commune, code postal</label>
                        <input class="fr-input fr-mt-1w" type="search" id="search_lieu" name="search_lieu" value="{{ request.GET.search_lieu }}" placeholder="Rechercher"/>
                    </div>

                </div>

                <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">

                    {# Champs statut #}
                    {% include "common/form/input_multiselect_choices.html" with field_id="cstatut" label="Statut convention ou avenant" request_url=selected_statuts choices=statut_choices %}

                    {# Champs financement #}
                    <div class="fr-col-12 fr-col-lg-3 search-select">
                        <label class="select-label" for="financement">Type de financement</label>
                        <select class="fr-select fr-mt-1w" name="financement" id="financement">
                            <option value="">Sélectionner une option</option>
                            {% for value, label in financement_choices %}
                                <option value="{{ value }}"
                                        {% if value == request.GET.financement %}selected{% endif %}>
                                    {{ label }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    {# Champs date de signature #}
                    {% if date_signature_choices %}
                        <div class="fr-col-12 fr-col-lg-3 search-select">
                            <label class="select-label" for="date_signature">Année de signature</label>
                            <select class="fr-select fr-mt-1w" name="date_signature" id="date_signature">
                                <option value="">Sélectionner une période</option>
                                {% for value, label in date_signature_choices %}
                                    <option value="{{ value }}"
                                            {% if label == request.GET.date_signature %}selected{% endif %}>
                                        {{ label }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}

                    {# Champs nature des logements #}
                    <div class="fr-col-12 fr-col-lg-3 search-select">
                        <label class="select-label" for="nature_logement">Nature des logements</label>
                        <select class="fr-select fr-mt-1w" name="nature_logement" id="nature_logement">
                            <option value="">Sélectionner une option</option>
                            {% for value, label in nature_logement_choices %}
                                <option value="{{ value }}"
                                        {% if value == request.GET.nature_logement %}selected{% endif %}>
                                    {{ label }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                </div>

                <div class="fr-grid-row fr-grid-row--gutters">

                    {# Champs avenant #}
                    <div class="fr-col-12 fr-col-md-6 fr-col-lg-6">
                        <div class="fr-fieldset__element">
                            <div class="fr-checkbox-group fr-checkbox-group--sm">
                                <input name="avenant_seulement" id="checkbox-restrict-to-with-avenant" type="checkbox" {% if request.GET.avenant_seulement %}checked{% endif %}>
                                <label class="fr-label" for="checkbox-restrict-to-with-avenant">
                                    Afficher uniquement les avenants
                                </label>
                            </div>
                        </div>
                    </div>

                    {# Champs ANRU #}
                    <div class="fr-col-12 fr-col-md-6 fr-col-lg-6">
                        <div class="fr-fieldset__element">
                            <div class="fr-checkbox-group fr-checkbox-group--sm">
                                <input name="anru" id="checkbox-restrict-to-anru" type="checkbox" {% if request.GET.anru %}checked{% endif %}>
                                <label class="fr-label" for="checkbox-restrict-to-anru">
                                    Afficher uniquement les conventions ANRU
                                </label>
                            </div>
                        </div>
                    </div>

                    {# Champs ANAH #}
                    <div class="fr-col-12 fr-col-md-6 fr-col-lg-6">
                        <div class="fr-fieldset__element">
                            <div class="fr-checkbox-group fr-checkbox-group--sm">
                                <input name="anah" id="checkbox-restrict-to-anah" type="checkbox" {% if request.GET.anah %}checked{% endif %}>
                                <label class="fr-label" for="checkbox-restrict-to-anah">
                                    Afficher uniquement les conventions ANAH
                                </label>
                            </div>
                        </div>
                    </div>

                    {# Champs Seconde Vie #}
                    <div class="fr-col-12 fr-col-md-6 fr-col-lg-6">
                        <div class="fr-fieldset__element">
                            <div class="fr-checkbox-group fr-checkbox-group--sm">
                                <input name="seconde_vie" id="checkbox-restrict-to-seconde-vie" type="checkbox" {% if request.GET.seconde_vie %}checked{% endif %}>
                                <label class="fr-label" for="checkbox-restrict-to-seconde-vie">
                                    Afficher uniquement les secondes vies
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="fr-col-12 fr-grid-row fr-grid-row--right">
                        <button class="fr-btn" id="search_btn">
                            <span class="fr-icon-search-line fr-mr-1w" aria-hidden="true"></span>
                            Rechercher
                        </button>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>
