{% load custom_filters %}
{% load display_filters %}

<div class="fr-container-fluid ds_banner">
    <div class="fr-container fr-px-3w fr-mb-3w">
        <div class="fr-grid-row fr-grid-row--gutters fr-card fr-card--no-border">
            <div class="fr-col-md-12">
                {% with order_fields=request|get_available_order_fields:url_name %}
                    {% if order_fields %}
                        <details class="apilos-order-menu">
                            <summary class="fr-grid-row fr-grid-row--right">Trier par
                                <span class="apilos-order-name fr-link">{{order_fields|get_ordervalue:order_by}}</span>
                                <span class="fr-icon-arrow-down-s-line"></span>
                            </summary>
                            <div class="fr-grid-row fr-grid-row--right">
                                <div class="apilos-order-menu--open fr-p-2w">
                                    {% for order_key, order_value in order_fields.items %}
                                        <div  class="fr-py-1w">
                                            {% include "common/table/display_order_item.html" %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </details>
                    {% endif %}
                {% endwith %}
                {% if filtered_conventions_count > 0 %}
                    <div class="fr-table fr-table--bordered table--layout-fixed">
                        <table aria-label="Conventions">
                            {% if filtered_conventions_count != all_conventions_count %}
                                <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle fr-mb-2w">
                                    <div class="fr-grid-row fr-col-12">

                                        <div class="fr-mr-2w notes">{{ filtered_conventions_count }} résultats</div>
                                        {% if new_search %}
                                            <a href="/" class="fr-link">
                                                <span class="fr-icon-close-circle-line fr-mr-1w"></span>
                                                Réinitaliser la recherche
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                            <thead>
                                <tr class="th_inline">

                                    {% if debug_search_scoring %}
                                        <th title="Scoring" scope="col">
                                            >> Debug scoring >>>>>>>>>>>>>>
                                        </th>
                                    {% endif %}

                                    <th title="Statut de la convention" scope="col">
                                        Statut
                                    </th>
                                    {% if request|is_instructeur %}
                                        <th scope="col">Bailleur</th>
                                    {% endif %}
                                    {% if request|display_administration %}
                                        <th scope="col">Instructeur</th>
                                    {% endif %}
                                    <th title="Opération" scope="col" class="col__width--150">
                                        Opération
                                    </th>
                                    <th title="Financement" scope="col">
                                        Financement
                                    </th>
                                    <th title="Ville" scope="col">
                                        Ville
                                    </th>
                                    <th title="Nombre de logements à conventionner" scope="col">
                                        Logements
                                    </th>
                                    {% if new_search %}
                                        <th title="Date de signature" scope="col">
                                            Signature
                                        </th>
                                    {% elif url_name == "search_instruction" or url_name == "operation_conventions" %}
                                        <th title="Date de livraison et mise en service" scope="col">
                                            Livraison
                                        </th>
                                    {% else %}
                                        <th title="Date de signature" scope="col">
                                            Signature
                                        </th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for convention in conventions %}
                                    <tr id="convention_redirect_{{convention.uuid}}"
                                        class="clickable {% if convention|display_redirect_project and not convention.is_avenant %}project{% elif convention|display_redirect_sent %}sent{% elif convention|display_redirect_post_action and not convention.is_avenant %}signed{% endif %}">

                                        {% if debug_search_scoring %}
                                            <td>
                                                <div>
                                                    <b>score: {{ convention.score }}</b>
                                                </div>
                                                <div>
                                                    programme nom: {{ convention.programme_nom_similarity }}
                                                </div>
                                                <div>
                                                    programme ville: {{ convention.programme_ville_similarity }}
                                                </div>
                                                <div>
                                                    programme numero: {{ convention.programme_numero_similarity }}
                                                </div>
                                                <div>
                                                    bailleur nom: {{ convention.bailleur_nom_similarity }}
                                                </div>
                                                <div>
                                                    bailleur siret: {{ convention.bailleur_siret_similarity }}
                                                </div>
                                                <div>
                                                    conv numero: {{ convention.conv_numero_similarity }}
                                                </div>
                                            </td>
                                        {% endif %}

                                        <td title="{{convention.statut_for_template.statut_display}}">
                                            {% include "conventions/home/statut_tag.html"  %}
                                            <script type="text/javascript" nonce="{{request.csp_nonce}}">
                                                document.addEventListener('DOMContentLoaded', function () {
                                                    document.getElementById('convention_redirect_{{convention.uuid}}').addEventListener('click', function(){
                                                        if (this.classList.contains("sent")) {
                                                            location.href="{% url 'conventions:sent' convention_uuid=convention.uuid %}"
                                                        }
                                                        else if (this.classList.contains("signed")) {
                                                            location.href="{% url 'conventions:post_action' convention_uuid=convention.uuid %}"
                                                        }
                                                        else if (this.classList.contains("project")) {
                                                            location.href="{% url 'conventions:bailleur' convention_uuid=convention.uuid %}"
                                                        }
                                                        else {
                                                            location.href="{% url 'conventions:recapitulatif' convention_uuid=convention.uuid %}"
                                                        }
                                                    });
                                                });
                                            </script>
                                        </td>
                                        {% if request|is_instructeur %}
                                            <td>
                                                {% if new_search %}
                                                    {{convention.programme.bailleur|highlight_if_match:search_bailleur}}
                                                {% else %}
                                                    {{convention.programme.bailleur|highlight:search_input}}
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                        {% if request|display_administration %}
                                            <td>{{convention.programme.administration}}</td>
                                        {% endif %}
                                        <td>
                                            <div class="apilos--flex-row-left-center">
                                                <strong class="apilos--overflow_ellipsis">
                                                    {% if new_search %}
                                                        {{convention.programme|highlight_if_match:search_operation_nom}}
                                                    {% else %}
                                                        {{convention.programme|highlight:search_input}}
                                                    {% endif %}
                                                </strong>
                                                {% if convention.is_avenant %}
                                                    <span class="{% if convention.is_denonciation %}warning-notification {% else %}text-title-blue-france {% endif %} fr-p-1w fr-ml-1w apilos-tag-avenant background-white">{{convention|display_kind|capfirst}}</span>
                                                {% endif %}
                                            </div>
                                            {% if convention.programme.numero_galion %}
                                                <div>
                                                    <em data-test-role="programme-galion-cell">
                                                        {% if new_search %}
                                                            Op. : {{convention.programme.numero_galion|highlight_if_match:search_numero}}
                                                        {% else %}
                                                            Op. : {{convention.programme.numero_galion|highlight:search_input}}
                                                        {% endif %}
                                                    </em>
                                                </div>
                                            {% endif %}
                                            {% if url_name == "search_active" or url_name == "search_resiliees" or new_search %}
                                                <div>
                                                    {% if convention.numero %}
                                                        <em data-test-role="programme-galion-cell">
                                                            {% if new_search %}
                                                                Conv. : {{convention.numero|highlight_if_match:search_numero}}
                                                            {% else %}
                                                                Conv. : {{convention.numero|highlight:search_input}}
                                                            {% endif %}
                                                        </em>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td data-test-role="programme-financement-cell">{{convention.financement}}</td>
                                        <td>
                                            <strong>
                                                {% if new_search %}
                                                    {{convention.programme.ville|highlight_if_match:search_lieu}}
                                                {% else %}
                                                    {{convention.programme.ville|highlight:search_input}}
                                                {% endif %}
                                            </strong>
                                            <br/>
                                            <em>
                                                {% if new_search %}
                                                    {{convention.programme.code_postal|highlight_if_match:search_lieu}}
                                                {% else %}
                                                    {{convention.programme.code_postal|highlight:search_input}}
                                                {% endif %}
                                            </em>
                                        </td>
                                        <td>{{convention.lot.nb_logements}}</td>

                                        {% if new_search %}
                                            <td>{{convention.televersement_convention_signee_le|date:"d F Y"|default_if_none:'-' }}</td>
                                        {% elif url_name == "search_instruction" or url_name == "operation_conventions" %}
                                            <td>{{convention.programme.date_achevement_compile|date:"d F Y"|default_if_none:'-' }}</td>
                                        {% else %}
                                            <td>{{convention.televersement_convention_signee_le|date:"d F Y"|default_if_none:'-' }}</td>
                                        {% endif %}

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% include 'common/table/pagination.html' with paginate_list=conventions %}

                {% else %}
                    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
                        <div class="fr-mr-2w notes fr-col-2">Aucun résultat</div>
                        <a href="/" class="fr-link">
                            <span class="fr-icon-close-circle-line fr-mr-1w"></span>
                            Réinitaliser la recherche
                        </a>
                    </div>
                    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
                        <div class="fr-col-9">
                            <div class="fr-text--lg">Aucune convention ne correspond à votre recherche</div>
                            <div>Si vous avez recherché par numéro ou mots-clés, vérifiez qu’ils sont corrects.<br/>Sinon peut-être que la convention que vous recherchez n’est pas référencée dans le SIAP / Apilos. </div>
                        </div>
                        <img class="fr-mr-3w" src="/static/icons/not_found.png" alt="not_found">
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


