
<div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-grid-row fr-grid-row--right">
            <a href="{% url 'conventions:loyer_simulateur' %}" class="fr-link fr-ml-2w"
               title="Calculatrice de loyers"
               aria-selected="{% if request.resolver_match.view_name == "conventions:loyer_simulateur" %}true{% else %}false{% endif %}"                                >
                <span aria-hidden="true" class="fr-icon-equalizer-fill"></span>
                Calculatrice de loyers
            </a>
        </div>

        <div class="fr-col-md-12 fr-mb-2w">
            <form class="fr-mt-2w" method="get" action="" id="search_table">
                <input type="hidden" id="order_by" name="order_by" value="{{ order_by }}">
                <input type="hidden" id="page" name="page" value="{{ page }}">

                <div class="fr-grid-row fr-grid-row--gutters">

                    {# Champs recherche libre #}
                    <div class="fr-col-12">
                        <input class="fr-input" type="search" id="search_input" name="search_input" value="{{ search_input }}"
                               placeholder="Recherche par chiffres et mots-clés"/>
                        <div class="fr-text--xs fr-mt-2w fr-mb-5w apilos-text-info"><span class="fr-icon-info-fill fr-mr-1w" aria-hidden="true"></span>Recherche libre multi-critères : nom, numéro, adresse de l'opération ; numéro de la convention ; SIREN, nom du bailleur  |  <em>Exemple : "sapins bleus 18000"</em></div>
                    </div>

                </div>

                <div class="fr-grid-row fr-grid-row--gutters">

                    {# Champs statut #}
                    <div class="fr-col-12 fr-col-lg-3 fr-mb-2w search-select">
                        <div class="select-label">Statut de la convention</div>
                        <select
                            multiple
                            class="fr-select fr-mt-1w"
                            id="cstatut"
                            name="cstatut">
                            {% for value, label in statut_choices %}
                                <option value="{{ label }}"
                                        {% if label in request.GET.cstatut %}selected{% endif %}>
                                    {{ label }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <script type="text/javascript" nonce="{{request.csp_nonce}}">
                        VirtualSelect.init({
                            ele: '#cstatut',
                            optionsCount: 5,
                            search: false,
                            multiple: true
                        });
                    </script>

                    {# Champs financement #}
                    <div class="fr-col-12 fr-col-lg-3 fr-mb-2w search-select">
                        <div class="select-label">Type de financement</div>
                        <select class="fr-select fr-mt-1w" name="financement">
                            <option value="">Sélectionner une option</option>
                            {% for value, label in financement_choices %}
                                <option value="{{ value }}"
                                        {% if value == request.GET.financement %}selected{% endif %}>
                                    {{ label }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    {# Champs date de signature #}
                    {% if date_signature_choices %}
                        <div class="fr-col-12 fr-col-lg-3 fr-mb-2w search-select">
                            <div class="select-label">Année de signature</div>
                            <select class="fr-select fr-mt-1w" name="date_signature">
                                <option value="">Sélectionner une période</option>
                                {% for value in date_signature_choices %}
                                    <option value="{{ value }}"
                                            {% if value == request.GET.date_signature %}selected{% endif %}>
                                        {{ value }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}

                    {# Champs nature des logements #}
                    <div class="fr-col-12 fr-col-lg-3 fr-mb-2w search-select">
                        <div class="select-label">Nature des logements</div>
                        <select class="fr-select fr-mt-1w" name="nature_logement">
                            <option value="">Sélectionner une option</option>
                            {% for value, label in nature_logement_choices %}
                                <option value="{{ value }}"
                                        {% if value == request.GET.nature_logement %}selected{% endif %}>
                                    {{ label }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                </div>

                <div class="fr-grid-row fr-grid-row--gutters">

                    {# Champs ANRU #}
                    <div class="fr-col-12 fr-col-md-12 fr-col-lg-4">
                        <div class="fr-fieldset__element">
                            <div class="fr-checkbox-group fr-checkbox-group--sm">
                                <input name="anru" id="checkbox-restrict-to-anru" type="checkbox" {% if request.GET.anru %}checked{% endif %}>
                                <label class="fr-label" for="checkbox-restrict-to-anru">
                                    Afficher uniquement les conventions ANRU
                                </label>
                            </div>
                        </div>
                    </div>

                    {# Champs avenant #}
                    <div class="fr-col-12 fr-col-md-12 fr-col-lg-5">
                        <div class="fr-fieldset__element">
                            <div class="fr-checkbox-group fr-checkbox-group--sm">
                                <input name="avenant_seulement" id="checkbox-restrict-to-with-avenant" type="checkbox" {% if request.GET.avenant_seulement %}checked{% endif %}>
                                <label class="fr-label" for="checkbox-restrict-to-with-avenant">
                                    Afficher uniquement les avenants
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="fr-col-12 fr-col-lg-3 fr-col-12 fr-col-md-12 fr-col-lg-3 fr-grid-row fr-grid-row--right">
                        <button class="fr-btn" id="search_btn">
                            <span class="fr-icon-search-line fr-mr-1w" aria-hidden="true"></span>
                            Rechercher
                        </button>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>
