<div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-grid-row fr-grid-row--right">
            <a href="{% url 'conventions:loyer_simulateur' %}" class="fr-link fr-ml-2w"
               title="Calculatrice de loyers"
               aria-selected="{% if request.resolver_match.view_name == "conventions:loyer_simulateur" %}true{% else %}false{% endif %}"                                >
                <span aria-hidden="true" class="fr-icon-equalizer-fill"></span>
                Calculatrice de loyers
            </a>
        </div>

        <div class="fr-col-md-12 fr-mb-1w">
            <hr>
            <form class="fr-mt-2w" method="get" action="" id="search_table">
                <input type="hidden" id="order_by" name="order_by" value="{{ order_by }}">
                <input type="hidden" id="page" name="page" value="{{ page }}">

                <div class="fr-grid-row fr-grid-row--gutters fr-mb-1w">

                    {# Champs nom de l'opération #}
                    <div class="fr-col-12 fr-col-lg-6 search-input">
                        <div class="select-label">Nom de l'opération</div>
                        <input class="fr-input fr-mt-1w" type="search" id="search_operation_nom" name="search_operation_nom" value="{{ request.GET.search_operation_nom }}" placeholder="Rechercher"/>
                    </div>

                    {# Champs numéro de l'opération ou de la convention #}
                    <div class="fr-col-12 fr-col-lg-6 search-input">
                        <div class="select-label">Numéro de l'opération ou de la convention</div>
                        <input class="fr-input fr-mt-1w" type="search" id="search_numero" name="search_numero" value="{{ request.GET.search_numero }}" placeholder="Rechercher"/>
                    </div>

                </div>

                <div class="fr-grid-row fr-grid-row--gutters fr-mb-1w">

                    {# Champs bailleur #}
                    {% if bailleur_query %}
                        <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 search-select search-bailleur">
                            <div class="select-label">Bailleur (nom ou SIREN)</div>
                            <div class="fr-mt-1w">
                                {% url 'users:search_bailleur' as search_bailleur_url %}
                                <select class="fr-select" name="bailleur" id="search-field-bailleur">
                                    {% if request.GET.bailleur %}
                                        <option selected value="{{ request.GET.bailleur }}">{% bailleur_from request.GET.bailleur %}</option>
                                        {% endwith }
                                    {% else %}
                                        <option selected value></option>
                                        {% for bailleur in bailleur_query %}
                                            <option value="{{ bailleur.uuid }}">
                                                {{ bailleur }}
                                            </option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <script type="text/javascript" nonce="{{ request.csp_nonce }}">
                                VirtualSelect.init({
                                    ele: '#search-field-bailleur',
                                    search: true,
                                    placeholder: "Rechercher",
                                    searchPlaceholderText: "Nom du bailleur ( SIREN )",
                                    onServerSearch: function (search, select) {
                                        fetch('{{ search_bailleur_url }}?q=' + search)
                                            .then((response) => response.json())
                                            .then(data => select.setServerOptions(data));
                                    },
                                });
                            </script>
                        </div>
                    {% endif %}

                    {# Champs commune #}
                    <div class="fr-col-12 fr-col-lg-6 search-input">
                        <div class="select-label">Commune, code postal</div>
                        <input class="fr-input fr-mt-1w" type="search" id="search_lieu" name="search_lieu" value="{{ request.GET.search_lieu }}" placeholder="Rechercher"/>
                    </div>

                </div>

                <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">

                    {# Champs statut #}
                    <div class="fr-col-12 fr-col-lg-3 search-select search-statut">
                        <div class="select-label">Statut convention ou avenant</div>
                        <select
                            multiple
                            class="fr-select fr-mt-1w"
                            id="cstatut"
                            name="cstatut">
                            {% for label, value in statut_choices %}
                                <option value="{{ value }}"
                                        {% if value in request.GET.cstatut %}selected{% endif %}>
                                    {{ label }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <script type="text/javascript" nonce="{{ request.csp_nonce }}">
                        VirtualSelect.init({
                            ele: '#cstatut',
                            optionsCount: 5,
                            search: false,
                            multiple: true,
                            placeholder: "Sélectionner",
                            optionsSelectedText: "options sélectionnées",
                            disableSelectAll: true,
                            allOptionsSelectedText: "Toutes les options",
                        });
                    </script>

                    {# Champs financement #}
                    <div class="fr-col-12 fr-col-lg-3 search-select">
                        <div class="select-label">Type de financement</div>
                        <select class="fr-select fr-mt-1w" name="financement">
                            <option value="">Sélectionner une option</option>
                            {% for value, label in financement_choices %}
                                <option value="{{ value }}"
                                        {% if value == request.GET.financement %}selected{% endif %}>
                                    {{ label }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    {# Champs date de signature #}
                    {% if date_signature_choices %}
                        <div class="fr-col-12 fr-col-lg-3 search-select">
                            <div class="select-label">Année de signature</div>
                            <select class="fr-select fr-mt-1w" name="date_signature">
                                <option value="">Sélectionner une période</option>
                                {% for value, label in date_signature_choices %}
                                    <option value="{{ value }}"
                                            {% if label == request.GET.date_signature %}selected{% endif %}>
                                        {{ label }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}

                    {# Champs nature des logements #}
                    <div class="fr-col-12 fr-col-lg-3 search-select">
                        <div class="select-label">Nature des logements</div>
                        <select class="fr-select fr-mt-1w" name="nature_logement">
                            <option value="">Sélectionner une option</option>
                            {% for value, label in nature_logement_choices %}
                                <option value="{{ value }}"
                                        {% if value == request.GET.nature_logement %}selected{% endif %}>
                                    {{ label }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                </div>

                <div class="fr-grid-row fr-grid-row--gutters">

                    {# Champs avenant #}
                    <div class="fr-col-12 fr-col-md-12 fr-col-lg-4">
                        <div class="fr-fieldset__element">
                            <div class="fr-checkbox-group fr-checkbox-group--sm">
                                <input name="avenant_seulement" id="checkbox-restrict-to-with-avenant" type="checkbox" {% if request.GET.avenant_seulement %}checked{% endif %}>
                                <label class="fr-label" for="checkbox-restrict-to-with-avenant">
                                    Afficher uniquement les avenants
                                </label>
                            </div>
                        </div>
                    </div>

                    {# Champs ANRU #}
                    <div class="fr-col-12 fr-col-md-12 fr-col-lg-5">
                        <div class="fr-fieldset__element">
                            <div class="fr-checkbox-group fr-checkbox-group--sm">
                                <input name="anru" id="checkbox-restrict-to-anru" type="checkbox" {% if request.GET.anru %}checked{% endif %}>
                                <label class="fr-label" for="checkbox-restrict-to-anru">
                                    Afficher uniquement les conventions ANRU
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="fr-col-12 fr-col-lg-3 fr-col-12 fr-col-md-12 fr-col-lg-3 fr-grid-row fr-grid-row--right">
                        <button class="fr-btn" id="search_btn">
                            <span class="fr-icon-search-line fr-mr-1w" aria-hidden="true"></span>
                            Rechercher
                        </button>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>
