{% load custom_filters %}
{% for convention in conventions %}
    {# squid:S1134 - The <ol> tag is in the parent template that includes this component #}
    <li class="fr-grid-row">  <!-- NOSONAR -->
        <div class="apilos-step-post-action fr-mr-2w">
            <div class="apilos-step-post-action--bubble apilos-step-post-action--bubble--red fr-mr-2w"></div>
        </div>
        {% if convention|display_redirect_post_action %}
            <div class="fr-col-11">
                <div class="fr-grid-row">
                    <p class="fr-m-0">
                        Dénonciation de la convention
                    </p>
                </div>

                <div class="fr-mb-3w">
                    <a class="fr-link" href="{% url 'conventions:recapitulatif' convention_uuid=convention.uuid %}"> Voir la dénonciation finalisée</a>
                </div>

            </div>
        {% else %}
            <div class="fr-grid-row fr-grid-row--middle fr-mb-3w">
                <div>
                    <p class="fr-m-0">
                        Dénonciation de la convention
                    </p>
                    <div>
                        <a class="fr-link" href="{% url 'conventions:recapitulatif' convention_uuid=convention.uuid %}" >Voir la dénonciation en cours</a>
                    </div>
                </div>

                <div class="fr-ml-4w"><strong>{% include "conventions/home/statut_tag.html" %}</strong></div>
            </div>
        {% endif %}
    </li>
{% endfor %}
