{% extends "layout/base.html" %}

{% load static %}

{% block javascript_extras %}
    <script src="{% static "dropzonejs/min/dropzone.min.js" %}"></script>
    <script src="{% static "dropzonejs/min/dropzone-amd-module.min.js" %}"></script>
    <script src="{% static "js/dropzone-client.js" %}"></script>
{% endblock %}

{% block css_extras %}
    <link rel="stylesheet" href="{% static "dropzonejs/min/basic.min.css" %}">
    <link rel="stylesheet" href="{% static "dropzonejs/min/dropzone.min.css" %}">
{% endblock %}

{% block content %}
    <div class="fr-container-fluid ds_banner fr-pb-1w">
        <div class="fr-container">
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-md-12 fr-col-lg-10 fr-col-offset-lg-1 fr-my-5w">
                        <h2>Etape {{convention_form_step}}/{{ nb_steps }} - État descriptif de division</h2>
                        {% include "common/convention_edit_info.html" with convention=convention %}
                        {% include "common/mandatory_fields_info.html" %}

                        <p><span class="fr-fi-alert-line fr-mr-1w" aria-hidden="true"></span>Pour rappel, l'état descriptif de division est obligatoire dès qu’un programme comporte plusieurs financements
                            et donc plusieurs conventions. Il existe 2 types d’EDD: EDD simplifié & EDD volumétrique
                        </p>

                        {% include "common/form/input_upload.html" with label="EDD volumétrique" form_input=form.edd_volumetrique form_input_files=form.edd_volumetrique_files convention=convention textarea=True image_only=True %}

                        {% include "common/form/input_text.html" with form_input=form.mention_publication_edd_volumetrique label="Mention de publication de l'EDD volumétrique" %}

                        {% include "common/form/input_upload.html" with label="EDD classique" form_input=form.edd_classique form_input_files=form.edd_classique_files convention=convention textarea=True image_only=True %}

                        {% include "common/form/input_text.html" with form_input=form.mention_publication_edd_classique label="Mention de publication de l'EDD classique" %}

                        <h4 class="fr-mb-1w">EDD Simplifé</h4>

                        {% include "common/form/download_upload_form.html" with convention_uuid=convention.uuid file_type='logements_edd' upform=upform  what="logements pour l'EDD simplifié"%}

                        <hr class="fr-col-12 fr-my-3w">

                        {% for error in import_warnings %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error }}
                            </p>
                        {% endfor %}

                        {% for error in formset.non_form_errors %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error }}
                            </p>
                        {% endfor %}

                        {{ formset.management_form }}
                        <div class="fr-table fr-table--bordered">
                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col">Financement {% if formset.total_form_count %}{% include "common/mandatory_field.html" %}{% endif %}</th>
                                        <th scope="col">Désignation {% if formset.total_form_count %}{% include "common/mandatory_field.html" %}{% endif %}</th>
                                        <th scope="col">Type {% if formset.total_form_count %}{% include "common/mandatory_field.html" %}{% endif %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for form in formset %}
                                        <tr>
                                            <td>
                                                <select
                                                    class="fr-select {% if form.financement.errors %}fr-select--error{% endif %}"
                                                    id="{{form.financement.id_for_label}}"
                                                    name="{{form.financement.html_name}}">
                                                    <option value="" {% if not form.financement.value %}selected{% endif %} disabled hidden></option>
                                                    {% for financement in financements %}
                                                        <option value="{{financement.value}}"
                                                            {% if financement.value  == form.financement.value %}selected{% endif %}>
                                                            {{financement.label}}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                                {% for error in form.financement.errors %}
                                                    <p id="select-error-desc-error" class="fr-error-text">
                                                        {{ error }}
                                                    </p>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% include "common/form/input_text.html" with form_input=form.designation %}
                                            </td>
                                            <td>
                                                <select
                                                    class="fr-select {% if form.typologie.errors %}fr-select--error{% endif %}"
                                                    id="{{form.typologie.id_for_label}}"
                                                    name="{{form.typologie.html_name}}">
                                                    <option value="" {% if not form.typologie.value %}selected{% endif %} disabled hidden></option>
                                                    {% for typologie in typologies %}
                                                        <option value="{{typologie.value}}"
                                                            {% if typologie.value  == form.typologie.value %}selected{% endif %}>
                                                            {{typologie.label}}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                                {% for error in form.typologie.errors %}
                                                    <p id="select-error-desc-error" class="fr-error-text">
                                                        {{ error }}
                                                    </p>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="fr-col-md-12 fr-col-lg-10 fr-col-offset-lg-1 fr-py-5w button-bar">
                    {% include "common/button/precedent.html" with precedent='conventions:cadastre' convention_uuid=convention.uuid %}
                    {% include "common/button/suivant.html" with suivant='conventions:edd' convention_uuid=convention.uuid %}
                </div>


            </form>
        </div>
    </div>
{% endblock %}
