{% extends "layout/base.html" %}

{% block page_title %}EDD - APiLos{% endblock%}

{% load static %}

{% load custom_filters %}

{% block javascript_extras %}
    <script src="{% static "dropzonejs/min/dropzone.min.js" %}" nonce="{{request.csp_nonce}}"></script>
    <script src="{% static "dropzonejs/min/dropzone-amd-module.min.js" %}" nonce="{{request.csp_nonce}}"></script>
    <script src="{% static "js/dropzone-client.js" %}" nonce="{{request.csp_nonce}}"></script>
    <script src="{% static "js/comment-factory.js" %}" nonce="{{request.csp_nonce}}"></script>
{% endblock %}

{% block css_extras %}
    <link rel="stylesheet" href="{% static "dropzonejs/min/basic.min.css" %}">
    <link rel="stylesheet" href="{% static "dropzonejs/min/dropzone.min.css" %}">
{% endblock %}

{% block content %}
    <div class="fr-container-fluid ds_banner fr-pb-1w">
        {% include "conventions/common/form_header.html"%}
        {% include "common/step_progressbar.html"%}
        <div class="fr-container">
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <input
                    type="hidden"
                    id="{{form.uuid.id_for_label}}"
                    name="{{form.uuid.html_name}}"
                    value="{{ form.uuid.value|default_if_none:'' }}">
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-md-12">

                        <div role="alert" class="fr-alert fr-alert--info fr-mb-3w">
                            <p>L'ajout des états descriptifs de division (EDD) est facultatif et dépend des spécificités locales des services de publicité foncière. </p>
                            <p>Pour rappel, l'EDD peut être demandé quand une opération comporte plusieurs financements et donc plusieurs conventions.</p>
                            <a href="https://siap-logement.atlassian.net/wiki/spaces/ABDCS/pages/8061055/EDD" class='fr-link' target="_blank" rel="noopener">Plus d'informations</a>
                        </div>
                        <h4 class="fr-mb-1w">EDD Simplifié</h4>
                        <p class="fr-text--xs notes fr-mb-1w">
                            <em>L'EDD simplifié doit comporter tous les logements du programme quels que soient leurs financements.</em>
                        </p>

                        <div id='download_upload_block' {% if not editable %}hidden{% endif %}>
                            {% include "common/form/download_upload_form.html" with file_type='logements_edd' upform=upform  what="logements pour l'EDD simplifié"%}
                            <hr class="fr-col-12 fr-my-3w">
                        </div>

                        {% for error in import_warnings %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error }}
                            </p>
                        {% endfor %}

                        {% for error in formset.non_form_errors %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error }}
                            </p>
                        {% endfor %}

                        {% include "conventions/common/form_optional_errors_modal.html" %}

                        {% for error in formset.optional_errors %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error.message }}
                            </p>
                        {% endfor %}

                        {{ formset.management_form }}
                        <div class="fr-table fr-table--bordered table--layout-fixed">
                            <div class="fr-table__wrapper">
                                <div class="fr-table__container">
                                    <div class="fr-table__content">
                                        <table aria-label="Logement de l'EDD">
                                            <thead>
                                                <tr>
                                                    {% if convention|display_comments %}
                                                        {% include 'common/utils/comments_header.html' with object_name='logement_edd' label="Logements de l'EDD" %}
                                                    {% endif %}
                                                    <th scope="col">Financement {% if formset.total_form_count %}{% include "common/form/required_field_star.html" %}{% endif %}</th>
                                                    <th scope="col">Désignation {% if formset.total_form_count %}{% include "common/form/required_field_star.html" %}{% endif %}</th>
                                                    <th scope="col">Numéro de lot {% if formset.total_form_count %}{% include "common/form/required_field_star.html" %}{% endif %}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for form_edd in formset %}
                                                    {% with input_id="logement_edd_"|add:form_edd.uuid.value main_object_field="logement_edd__uuid__"|add:form_edd.uuid.value %}
                                                        <tr id="{{form_edd.uuid.id_for_label}}_group">
                                                            {% if convention|display_comments %}
                                                                <td id="{{form_edd.uuid.id_for_label}}_div">
                                                                    {% include 'common/utils/comments_field.html' with object_field=main_object_field form_input=form_edd.uuid %}
                                                                </td>
                                                            {% endif %}
                                                            <td>
                                                                <input
                                                                    type="hidden"
                                                                    id="{{form_edd.uuid.id_for_label}}"
                                                                    name="{{form_edd.uuid.html_name}}"
                                                                    value="{{ form_edd.uuid.value|default_if_none:'' }}">
                                                                {% include "common/form/input_select.html" with form_input=form_edd.financement parent_object_field=main_object_field editable=editable_after_upload %}
                                                            </td>
                                                            <td>
                                                                {% include "common/form/input_text.html" with form_input=form_edd.designation parent_object_field=main_object_field editable=editable_after_upload %}
                                                            </td>
                                                            <td>
                                                                {% include "common/form/input_text.html" with form_input=form_edd.numero_lot parent_object_field=main_object_field editable=editable_after_upload %}
                                                            </td>
                                                        </tr>
                                                    {% endwith %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        {% include "common/form/input_upload.html" with form_input=form.edd_volumetrique form_input_files=form.edd_volumetrique_files object_name='lot' object_uuid=convention.lot.uuid textarea=True image_only=True file_list=convention.lot.edd_volumetrique|get_files_from_textfiles object_field="lot__edd_volumetrique__"|add:form.lot_uuid.value %}

                        {% include "common/form/input_textarea.html" with form_input=form.mention_publication_edd_volumetrique object_field="programme__mention_publication_edd_volumetrique__"|add:form.uuid.value %}
                        <hr>
                        {% include "common/form/input_upload.html" with form_input=form.edd_classique form_input_files=form.edd_classique_files object_name='lot' object_uuid=convention.lot.uuid textarea=True image_only=True file_list=convention.lot.edd_classique|get_files_from_textfiles object_field="lot__edd_classique__"|add:form.lot_uuid.value %}

                        {% include "common/form/input_textarea.html" with form_input=form.mention_publication_edd_classique object_field="programme__mention_publication_edd_classique__"|add:form.uuid.value %}
                        <hr>
                        {% include "common/form/input_upload.html" with form_input=form.edd_stationnements form_input_files=form.edd_stationnements_files object_name='programme' object_uuid=convention.programme.uuid textarea=True image_only=True file_list=convention.programme.edd_stationnements|get_files_from_textfiles object_field="programme__edd_stationnements__"|add:form.uuid.value %}
                    </div>
                </div>

                {% include "common/required_fields_info.html" %}
                {% include "conventions/common/form_footer_button.html" %}
            </form>
        </div>
    </div>
{% endblock %}
