{% extends "layout/base.html" %}

{% block page_title %}EDD - APiLos{% endblock%}

{% load static %}

{% block javascript_extras %}
    <script src="{% static "dropzonejs/min/dropzone.min.js" %}" nonce="{{request.csp_nonce}}"></script>
    <script src="{% static "dropzonejs/min/dropzone-amd-module.min.js" %}" nonce="{{request.csp_nonce}}"></script>
    <script src="{% static "js/dropzone-client.js" %}" nonce="{{request.csp_nonce}}"></script>
    <script src="{% static "js/comment-block.js" %}" nonce="{{request.csp_nonce}}"></script>
{% endblock %}

{% block css_extras %}
    <link rel="stylesheet" href="{% static "dropzonejs/min/basic.min.css" %}">
    <link rel="stylesheet" href="{% static "dropzonejs/min/dropzone.min.css" %}">
{% endblock %}

{% block content %}
    <div class="fr-container-fluid ds_banner fr-pb-1w">
        <div class="fr-container">
            {% include "common/form/conventionform_header.html" %}
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-md-12 fr-mt-5w">
                        <!-- <h2>Etape {{convention_form_step}}/{{ nb_steps }} - État descriptif de division</h2> -->

                        <div role="alert" class="fr-alert fr-alert--info fr-mb-3w">
                            <p>Pour rappel, l'état descriptif de division est obligatoire dès qu’un programme comporte plusieurs financements et donc plusieurs conventions. </p>
                            <p>Il existe 3 types d’EDD: EDD volumétrique, EDD classique & EDD simplifié</p>
                        </div>

                        {% include "common/form/input_upload.html" with label="EDD volumétrique" form_input=form.edd_volumetrique form_input_files=form.edd_volumetrique_files object_name='programme' object_uuid=convention.programme.uuid textarea=True image_only=True file_list=convention.programme.edd_volumetrique_files.values object_field="programme__edd_volumetrique__"|add:form.uuid.value %}

                        {% include "common/form/input_text.html" with form_input=form.mention_publication_edd_volumetrique label="Mention de publication de l'EDD volumétrique" object_field="programme__mention_publication_edd_volumetrique__"|add:form.uuid.value %}

                        {% include "common/form/input_upload.html" with label="EDD classique" form_input=form.edd_classique form_input_files=form.edd_classique_files object_name='programme' object_uuid=convention.programme.uuid textarea=True image_only=True file_list=convention.programme.edd_classique_files.values object_field="programme__edd_classique__"|add:form.uuid.value %}

                        {% include "common/form/input_text.html" with form_input=form.mention_publication_edd_classique label="Mention de publication de l'EDD classique" object_field="programme__mention_publication_edd_classique__"|add:form.uuid.value %}

                        <h4 class="fr-mb-1w">EDD Simplifié</h4>

                        {% if editable %}
                            {% include "common/form/download_upload_form.html" with convention_uuid=convention.uuid file_type='logements_edd' upform=upform  what="logements pour l'EDD simplifié"%}
                            <hr class="fr-col-12 fr-my-3w">
                        {% endif %}

                        {% for error in import_warnings %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error }}
                            </p>
                        {% endfor %}

                        {% for error in formset.non_form_errors %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error }}
                            </p>
                        {% endfor %}

                        {% if formset.optional_errors and formset.total_error_count == 0 %}

                            <input data-fr-opened="true" aria-controls="fr-modal-2" type="hidden">
                            <dialog aria-labelledby="fr-modal-2-title" id="fr-modal-2" data-fr-opened="true" class="fr-modal" role="dialog" >
                                <div class="fr-container fr-container--fluid fr-container-md">
                                    <div class="fr-grid-row fr-grid-row--center">
                                        <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                                            <div class="fr-modal__body">
                                                <div class="fr-modal__header">
                                                    <button class="fr-link--close fr-link" type="button" aria-controls="fr-modal-2">Fermer</button>
                                                </div>
                                                <div class="fr-modal__content">
                                                    <h1 id="fr-modal-2-title" class="fr-modal__title">
                                                        <span class="fr-fi-arrow-right-line fr-fi--lg"></span>
                                                        Attention
                                                    </h1>
                                                    {% for error in formset.optional_errors %}
                                                        <p id="text-input-error-desc-error" class="fr-error-text modal__error-text">
                                                            {{ error.message }}
                                                        </p>
                                                    {% endfor %}

                                                </div>
                                                <div class="fr-modal__footer">
                                                    <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline fr-btns-group--inline-lg fr-btns-group--icon-left">
                                                        <li>
                                                            <button class="fr-btn fr-btn--secondary" type="button" aria-controls="fr-modal-2">
                                                                Corriger
                                                            </button>
                                                        </li>
                                                        <li>
                                                            <button class="fr-btn fr-fi-checkbox-line" name='ignore_optional_errors' value=1>
                                                                Valider quand même
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </dialog>
                        {% endif %}

                        {% for error in formset.optional_errors %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error.message }}
                            </p>
                        {% endfor %}

                        {{ formset.management_form }}
                        <div class="fr-table fr-table--bordered">
                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col">Financement {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col">Désignation {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col">Type {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        {% if convention.statut != 'BROUILLON' %}
                                            <th scope="col">Comments</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for form in formset %}
                                        {% with input_id="logement_edd_"|add:form.uuid.value main_object_field="logement_edd__uuid__"|add:form.uuid.value %}
                                            <tr>
                                                <td>
                                                    <input
                                                        type="hidden"
                                                        id="{{form.uuid.id_for_label}}"
                                                        name="{{form.uuid.html_name}}"
                                                        value="{{ form.uuid.value|default_if_none:'' }}">
                                                    {% include "common/form/select_enum.html" with form_input=form.financement enum=financements parent_object_field=main_object_field %}
                                                </td>
                                                <td>
                                                    {% include "common/form/input_text.html" with form_input=form.designation parent_object_field=main_object_field %}
                                                </td>
                                                <td>
                                                    {% include "common/form/select_enum.html" with form_input=form.typologie enum=typologies parent_object_field=main_object_field %}
                                                </td>
                                                {% if convention.statut != 'BROUILLON' %}
                                                    <td id="{{form.uuid.id_for_label}}_div">
                                                        {% include "common/comment_icon.html" with form_input_id=form.uuid.id_for_label object_field=main_object_field comments=comments %}
                                                        {% include "common/comment_dialog.html" with form_input_id=form.uuid.id_for_label form_input_html=form.uuid.html_name convention=convention object_field=main_object_field comments=comments %}
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endwith %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                {% include "common/mandatory_fields_info.html" %}
                <div class="form-button-footer fr-col-md-12 fr-py-5w">
                    {% if editable %}
                        {% include "common/button/next_and_save.html" with suivant='conventions:edd' convention_uuid=convention.uuid editable=editable %}
                        {% include "common/button/previous.html" with precedent='conventions:cadastre' convention_uuid=convention.uuid %}
                    {% else %}
                        {% include "common/button/noteditable_button.html" with convention=convention %}
                    {% endif %}
                </div>


            </form>
        </div>
    </div>
{% endblock %}
