{% extends "layout/base.html" %}

{% load static %}

{% block page_title %}Financements - APiLos{% endblock%}

{% block javascript_extras %}
    <script src="{% static "js/comment-block.js" %}" nonce="{{request.csp_nonce}}"></script>
{% endblock %}

{% block content %}
    <div class="fr-container-fluid ds_banner fr-pb-1w">
        {% include "common/convention_edit_info.html" with convention=convention %}
        {% include "common/step_progressbar.html" with convention=convention convention_form_step=convention_form_step %}
        <div class="fr-container">
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-md-12 fr-mt-5w">
                        <!-- <h2>Etape {{convention_form_step}}/{{ nb_steps }} - Financements</h2> -->

                        <h4>Financement : Prêts & Subventions</h4>

                        {% if editable %}
                            {% include "common/form/download_upload_form.html" with convention_uuid=convention.uuid file_type='financement' upform=upform  what='prêts' %}
                            <hr class="fr-col-12 fr-my-3w">
                        {% endif %}

                        {% for error in import_warnings %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error }}
                            </p>
                        {% endfor %}

                        {% for error in formset.non_form_errors %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error }}
                            </p>
                        {% endfor %}

                        {{ formset.management_form }}
                        <div class="fr-table fr-table--bordered table--layout-fixed">
                            <table>
                                <thead>
                                    <tr>
                                        {% if convention.statut != 'BROUILLON' %}
                                            <th scope="col">
                                                <div class="content__icons content__icons--darkgrey">
                                                    <svg role="img" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewbox="0 0 24 24" aria-labelledby="chatIconTitle">
                                                        <title id="chatIconTitle">Comments</title>
                                                        <path d="M8.82388455,18.5880577 L4,21 L4.65322944,16.4273939 C3.00629211,15.0013 2,13.0946628 2,11 C2,6.581722 6.4771525,3 12,3 C17.5228475,3 22,6.581722 22,11 C22,15.418278 17.5228475,19 12,19 C10.8897425,19 9.82174472,18.8552518 8.82388455,18.5880577 Z"></path>
                                                    </svg>
                                                </div>
                                            </th>
                                        {% endif %}
                                        <th scope="col">Numéro</th>
                                        <th scope="col">Date d'octroi</th>
                                        <th scope="col">Durée (en années)</th>
                                        <th scope="col">Montant (en €) {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col">Préteur</th>
                                        <th scope="col">Préciser le prêteur si 'Autre'</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for form_pret in formset %}
                                        {% with main_object_field="pret__uuid__"|add:form_pret.uuid.value %}
                                            <tr>
                                                {% if convention.statut != 'BROUILLON' %}
                                                    <td id="{{form_pret.uuid.id_for_label}}_div">
                                                        {% include "common/comment_icon.html" with form_input_id=form_pret.uuid.id_for_label object_field=main_object_field comments=comments %}
                                                        {% include "common/comment_dialog.html" with form_input_id=form_pret.uuid.id_for_label form_input_html=form_pret.uuid.html_name convention=convention object_field=main_object_field comments=comments %}
                                                    </td>
                                                {% endif %}
                                                <td>
                                                    <input
                                                        type="hidden"
                                                        id="{{form_pret.uuid.id_for_label}}"
                                                        name="{{form_pret.uuid.html_name}}"
                                                        value="{{ form_pret.uuid.value|default_if_none:'' }}">
                                                    {% include "common/form/input_text.html" with form_input=form_pret.numero parent_object_field=main_object_field %}
                                                </td>
                                                <td>
                                                    {% include "common/form/input_date.html" with form_input=form_pret.date_octroi parent_object_field=main_object_field %}
                                                </td>
                                                <td>
                                                    {% include "common/form/input_number.html" with form_input=form_pret.duree parent_object_field=main_object_field %}
                                                </td>
                                                <td>
                                                    {% include "common/form/input_number.html" with form_input=form_pret.montant step="0.01" parent_object_field=main_object_field %}
                                                </td>
                                                <td>
                                                    {% include "common/form/select_enum.html" with form_input=form_pret.preteur enum=preteurs parent_object_field=main_object_field %}
                                                </td>
                                                <td>
                                                    {% include "common/form/input_text.html" with form_input=form_pret.autre parent_object_field=main_object_field %}
                                                </td>
                                            </tr>
                                        {% endwith %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <hr class="fr-col-12 fr-my-3w">

                        <h4>Préciser aussi</h4>

                        <div class="fr-mb-2w">
                            <div class="fr-grid-row fr-grid-row--gutters">
                                <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                    <div class="fr-input-group {% if form.annee_fin_conventionnement.errors %}fr-select-group--error{% endif %}">
                                        <label class="fr-label fr-mb-1w" for="{{form.annee_fin_conventionnement.id_for_label}}">
                                            Date de fin de la convention
                                            {% include "common/mandatory_field.html" with form_input=form.annee_fin_conventionnement %}
                                            {% include "common/help_field.html" with form_input=form.annee_fin_conventionnement %}
                                        </label>
                                        <div class="block--row-strech fr-mt-1w">
                                            <div class="day-and-month">
                                                <span>30&nbsp;/&nbsp;06&nbsp;/&nbsp;</span>
                                            </div>
                                            <div class="year">
                                                <div class="block--row-strech" id="{{form.annee_fin_conventionnement.id_for_label}}_div">
                                                    <select
                                                        class="fr-select {% if form.annee_fin_conventionnement.errors %}fr-select--error{% endif %}"
                                                        id="{{form.annee_fin_conventionnement.id_for_label}}"
                                                        name="{{form.annee_fin_conventionnement.html_name}}"
                                                        {% include "common/form/disable_form_input.html" with object_field="convention__annee_fin_conventionnement__"|add:form.uuid.value %}>
                                                        <option value="" {% if not form.annee_fin_conventionnement.value %}selected{% endif %} disabled hidden>Année</option>
                                                        {% for year in years %}
                                                            <option value="{{year}}"
                                                                {% if year|slugify == form.annee_fin_conventionnement.value|slugify %}selected{% endif %}>
                                                                {{year}}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                    {% include "common/comment_icon.html" with form_input_id=form.annee_fin_conventionnement.id_for_label object_field="convention__annee_fin_conventionnement__"|add:form.uuid.value comments=comments %}
                                                </div>
                                                {% include "common/comment_dialog.html" with form_input_id=form.annee_fin_conventionnement.id_for_label form_input_html=form.annee_fin_conventionnement.html_name convention=convention object_field="convention__annee_fin_conventionnement__"|add:form.uuid.value comments=comments %}
                                            </div>
                                        </div>
                                        {% for error in form.annee_fin_conventionnement.errors %}
                                            <p id="select-error-desc-error" class="fr-error-text">
                                                {{ error }}
                                            </p>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-pl-md-1w fr-mb-2w">
                                    {% include "common/form/input_number.html" with form_input=form.fond_propre step="0.01" label="Fonds propres" object_field="convention__fond_propre__"|add:form.uuid.value %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% include "common/mandatory_fields_info.html" %}
                <div class="form-button-footer fr-col-md-12  fr-py-5w">
                    {% if editable %}
                        {% include "common/button/next_and_save.html" with suivant='conventions:financement' convention_uuid=convention.uuid editable=editable %}
                        {% include "common/button/previous.html" with precedent='conventions:edd' convention_uuid=convention.uuid %}
                    {% else %}
                        {% include "common/button/noteditable_button.html" with convention=convention %}
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
