{% extends "layout/base.html" %}

{% load custom_filters static %}

{% block page_title %}Financements - APiLos{% endblock %}

{% block javascript_extras %}
    <script src="{% static "js/comment-factory.js" %}" nonce="{{ request.csp_nonce }}"></script>
{% endblock javascript_extras %}

{% block content %}
    <div class="fr-container-fluid ds_banner fr-pb-1w">
        {% include "conventions/common/form_header.html" %}
        {% include "common/step_progressbar.html" %}
        <div class="fr-container">
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <input
                    type="hidden"
                    id="{{ form.uuid.id_for_label }}"
                    name="{{ form.uuid.html_name }}"
                    value="{{ form.uuid.value|default_if_none:'' }}">
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-md-12">

                        <h4>Financement : Prêts et Subventions</h4>

                        <div id='download_upload_block' {% if not editable %}hidden{% endif %}>
                            {% include "common/form/download_upload_form.html" with file_type='financement' upform=upform what='prêts et subventions' file_field_label='financement' %}
                            <hr class="fr-col-12 fr-my-3w">
                        </div>

                        {% for error in import_warnings %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error }}
                            </p>
                        {% endfor %}

                        {% for error in formset.non_form_errors %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error }}
                            </p>
                        {% endfor %}

                        {{ formset.management_form }}
                        <div class="fr-table">
                            <div class="fr-table__wrapper">
                                <div class="fr-table__container">
                                    <div class="fr-table__content">
                                        <table aria-label="Prêts">
                                            <thead>
                                                <tr>
                                                    {% if convention|display_comments %}
                                                        {% include 'common/utils/comments_header.html' with object_name='pret' label='Prêts et subventions' %}
                                                    {% endif %}
                                                    <th scope="col">Numéro</th>
                                                    <th scope="col">Date d'octroi</th>
                                                    <th scope="col">Durée (en années)</th>
                                                    <th scope="col">Montant (en €) {% if formset.total_form_count %}{% include "common/form/required_field_star.html" %}{% endif %}</th>
                                                    <th scope="col">Préteur</th>
                                                    <th scope="col">Préciser le prêteur si 'Autre'</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for form_pret in formset %}
                                                    {% with main_object_field="pret__uuid__"|add:form_pret.uuid.value %}
                                                        <tr id="{{ form_pret.uuid.id_for_label }}_group">
                                                            {% if convention|display_comments %}
                                                                <td id="{{ form_pret.uuid.id_for_label }}_div">
                                                                    {% include 'common/utils/comments_field.html' with object_field=main_object_field form_input=form_pret.uuid %}
                                                                </td>
                                                            {% endif %}
                                                            <td>
                                                                <input
                                                                    type="hidden"
                                                                    id="{{ form_pret.uuid.id_for_label }}"
                                                                    name="{{ form_pret.uuid.html_name }}"
                                                                    value="{{ form_pret.uuid.value|default_if_none:'' }}">
                                                                {% include "common/form/input_text.html" with form_input=form_pret.numero parent_object_field=main_object_field editable=editable_after_upload %}
                                                            </td>
                                                            <td>
                                                                {% include "common/form/input_date.html" with form_input=form_pret.date_octroi parent_object_field=main_object_field editable=editable_after_upload %}
                                                            </td>
                                                            <td>
                                                                {% include "common/form/input_number.html" with form_input=form_pret.duree parent_object_field=main_object_field editable=editable_after_upload %}
                                                            </td>
                                                            <td>
                                                                {% include "common/form/input_number.html" with form_input=form_pret.montant step="0.01" parent_object_field=main_object_field editable=editable_after_upload %}
                                                            </td>
                                                            <td>
                                                                {% include "common/form/input_select.html" with form_input=form_pret.preteur parent_object_field=main_object_field editable=editable_after_upload %}
                                                            </td>
                                                            <td>
                                                                {% include "common/form/input_text.html" with form_input=form_pret.autre parent_object_field=main_object_field editable=editable_after_upload %}
                                                            </td>
                                                        </tr>
                                                    {% endwith %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="fr-col-12 fr-my-3w">

                        <h4>Préciser aussi</h4>
                        <div class="fr-mb-2w">
                            <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--bottom">
                                <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-3w">
                                    {% if convention.programme.is_foyer or convention.programme.is_residence %}
                                        {% include "common/form/input_textarea.html" with form_input=form.historique_financement_public helptext_visible=True object_field="convention__historique_financement_public__"|add:form.uuid.value %}
                                    {% else %}
                                        {% include "common/form/input_number.html" with form_input=form.fond_propre step="0.01" object_field="convention__fond_propre__"|add:form.uuid.value %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--bottom">
                                <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                    <div class="fr-input-group {% if form.annee_fin_conventionnement.errors %}fr-select-group--error{% endif %}">
                                        <label class="fr-label fr-mb-1w" for="{{ form.annee_fin_conventionnement.id_for_label }}">
                                            Date de fin de la convention
                                            {% include "common/form/required_field.html" with form_input=form.annee_fin_conventionnement %}
                                            <details>
                                                <summary class="text-title-blue-france fr-text--xs">
                                                    <u>Comment déterminer ma date de fin de convention ?</u>
                                                </summary>
                                                <div class="fr-text--xs">
                                                    <div>
                                                        {% if convention.is_pls_financement_type %}
                                                            La convention bénéficie d'un financement «{{ convention.get_financement_display }}», la durée de conventionnement doit être comprise entre 15 et 40 ans.<br>
                                                        {% elif convention.lot.financement == 'SANS_FINANCEMENT' %}
                                                            La convention ne bénéficie pas de financement, la durée de conventionnement doit être supérieure à 9 ans.
                                                        {% else %}
                                                            Année de signature de la convention + au moins la durée du prêt le plus long. <br>
                                                            Elle ne peut être inférieure à 9 ans.
                                                            {% if not convention.programme.is_foyer and not convention.programme.is_residence %}
                                                                Si la convention est signée après le 30 juin, la durée de la convention à prendre en compte débute à l'année N+1.</div>
                                                            {% endif %}
                                                        {% endif %}
                                                        <div><a href="https://siap-logement.atlassian.net/wiki/spaces/ABDCS/pages/7209048/Pr+alable+r+glementaire+et+informatif+-+Conventionnement+APL#Dur%C3%A9e-des-conventions-APL" target="_blank" rel="noopener" class="fr-link fr-text--xs">Plus d’informations sur la date de fin de convention.</a></div>
                                                    </div>
                                                </details>
                                                {% include "common/help_field.html" with form_input=form.annee_fin_conventionnement helptext_visible=True %}
                                            </label>
                                            <div class="block--row-strech">
                                                <div class="fr-mt-1w fr-mr-1w">
                                                    {% if convention.programme.is_foyer or convention.programme.is_residence %}
                                                        <span>31&nbsp;/&nbsp;12&nbsp;/&nbsp;</span>
                                                    {% else %}
                                                        <span>30&nbsp;/&nbsp;06&nbsp;/&nbsp;</span>
                                                    {% endif %}
                                                </div>
                                                <div class="block--row-strech-1">
                                                    {% include "common/form/input_number.html" with form_input=form.annee_fin_conventionnement object_field="convention__annee_fin_conventionnement__"|add:form.uuid.value %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% include "common/required_fields_info.html" %}
                    {% include "conventions/common/form_footer_button.html" %}
                </form>
            </div>
        </div>
{% endblock content %}
