{% extends "layout/base.html" %}

{% load custom_filters static %}

{% block page_title %}Conventions et avenants - APiLos{% endblock %}

{% block javascript_extras %}
    <script src="{% static 'choices/choices.min.js' %}"></script>
{% endblock javascript_extras %}

{% block css_extras %}
    <link rel="stylesheet" href="{% static 'choices/choices.min.css' %}">
{% endblock css_extras %}

{% block content %}
    {% if user_has_conventions %}
        <div class="fr-container-fluid ds_banner">
            <div class="fr-container">{% include "./_partial/search_header.html" %}</div>
        </div>
        <div class="fr-container">
            {% include "common/messages.html" %}
        </div>
        {% include "conventions/convention_list_filters_new.html" %}
        {% include "conventions/convention_list.html" %}
    {% else %}
        {% if request|is_bailleur %}
            {% if CERBERE_AUTH %}
                {% include "conventions/home/bailleur_cerbere_no_convention.html" %}
            {% else %}
                {% include "conventions/home/bailleur_no_convention.html" %}
            {% endif %}
        {% elif request|is_instructeur %}
            {% if CERBERE_AUTH %}
                {% include "conventions/home/instructeur_cerbere_no_convention.html" %}
            {% else %}
                {% include "conventions/home/instructeur_no_convention.html" %}
            {% endif %}
        {% else %}
            {% include "conventions/home/bailleur_no_convention.html" %}
        {% endif %}
    {% endif %}
{% endblock content %}
