{% extends "layout/base.html" %}

{% load static %}

{% block page_title %}Conventions - APiLos{% endblock%}

{% block content %}
    <div class="fr-container-fluid ds_banner">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-my-5w">
                    {% if request.user.is_bailleur %}
                        <h2 class="fr-mb-3w">Créez une nouvelle convention ou gérez vos conventions en cours</h2>

                        <h4 class="fr-mb-3w">
                            Commencer une nouvelle convention dès à présent
                        </h4>
                        <button class="fr-btn" id="new_convention">
                            <span class="fr-fi-edit-line fr-mr-1w" aria-hidden="true"></span>Créer une nouvelle convention
                        </button>
                        {% include "common/utils/onclick_redirect.html" with id='new_convention' url_target='conventions:selection' %}
                    {% elif request.user.is_instructeur or request.user.is_staff %}
                        <h2 class="fr-mb-3w">Bienvenue dans votre espace Instructeur</h2>
                    {% else %}
                        <p class="fr-mb-3w">Votre profile n'est pas bien configuré, merci de vous rapprocher de votre instructeur</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <hr class="fr-grid-row fr-col-xs-10 fr-col-7 fr-my-7w">
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-md-12 ">
                {% if conventions %}
                    <div class="fr-table fr-table--bordered">
                        <p hidden>{{filter}}</p>
                        <table>
                            <caption>Gérez vos conventions</caption>

                            <thead>
                                <tr>
                                    {% if request.user.is_instructeur %}
                                        <th scope="col">Bailleur</th>
                                    {% endif %}
                                    <th scope="col">Programme</th>
                                    <th scope="col">Financement</th>
                                    <th scope="col">Ville</th>
                                    <th scope="col">Nombre de logements à conventionner</th>
                                    <th scope="col">Statut</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for convention in conventions %}
                                    <tr>
                                        {% if request.user.is_instructeur %}
                                            <td>{{convention.bailleur.nom}}</td>
                                        {% endif %}
                                        <td>{{convention.programme.nom}}</td>
                                        <td>{{convention.financement}}</td>
                                        <td>{{convention.programme.ville}}</td>
                                        <td>{{convention.lot.nb_logements}}</td>
                                        <td>{{convention.get_statut_display}}</td>
                                        <td>
                                            {% if request.user.is_bailleur %}
                                                {% if convention.is_bailleur_editable %}
                                                    <button class="fr-btn fr-fi-edit-line" title="Modifier votre convention" id="update_convention_{{ convention.uuid }}">
                                                        Edit
                                                    </button>
                                                    <script nonce="{{request.csp_nonce}}">
                                                        document.addEventListener('DOMContentLoaded', function () {
                                                            document.getElementById('update_convention_{{ convention.uuid }}')
                                                                .addEventListener('click', function(){ location.href="{% url 'conventions:selection_update' convention_uuid=convention.uuid %}" });
                                                        });
                                                    </script>
                                                {% else %}
                                                    <button class="fr-btn fr-fi-eye-line" title="Visualiser votre convention" id="view_convention_{{ convention.uuid }}">
                                                        View
                                                    </button>
                                                    <script nonce="{{request.csp_nonce}}">
                                                        document.addEventListener('DOMContentLoaded', function () {
                                                            document.getElementById('view_convention_{{ convention.uuid }}')
                                                                .addEventListener('click', function(){ location.href="{% url 'conventions:recapitulatif' convention_uuid=convention.uuid %}" });
                                                        });
                                                    </script>
                                                {% endif %}
                                            {% endif %}
                                            {% if request.user.is_instructeur %}
                                                {% if convention.is_instructeur_editable %}
                                                    <button class="fr-btn fr-fi-edit-line" title="Modifier votre convention" id="update_convention_{{ convention.uuid }}">
                                                        Edit
                                                    </button>
                                                    <script nonce="{{request.csp_nonce}}">
                                                        document.addEventListener('DOMContentLoaded', function () {
                                                            document.getElementById('update_convention_{{ convention.uuid }}')
                                                                .addEventListener('click', function(){ location.href="{% url 'conventions:recapitulatif' convention_uuid=convention.uuid %}" });
                                                        });
                                                    </script>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p>Vous n'avez pas encore de conventions...</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
