{% extends "layout/base.html" %}

{% block page_title %}Logements - APiLos{% endblock%}

{% load static %}

{% block content %}
    <div class="fr-container-fluid ds_banner fr-pb-1w">
        <div class="fr-container">
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-md-12  fr-my-5w">
                        {% include "common/convention_edit_info.html" with convention=convention %}
                        <h2>Etape {{convention_form_step}}/{{ nb_steps }} - Détails des logements</h2>
                        {% include "common/mandatory_fields_info.html" %}

                        <h4>Logements associés à la convention</h4>

                        {% if editable %}
                            {% include "common/form/download_upload_form.html" with convention_uuid=convention.uuid file_type='logements' upform=upform  what='logements'%}
                            <hr class="fr-col-12 fr-my-3w">
                        {% endif %}

                        {% for error in import_warnings %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error }}
                            </p>
                        {% endfor %}

                        {% for error in formset.non_form_errors %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error }}
                            </p>
                        {% endfor %}

                        {{ formset.management_form }}
                        <div class="fr-table fr-table--bordered">
                            <table id="lgts_table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="col__width--200">Désignation {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col" class="col__width--150">Type {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col" class="col__width--120">Surface habitable {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col" class="col__width--120">Surface des annexes réelle {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col" class="col__width--120">Surface des annexes retenue dans la SU {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col" class="col__width--120">Surface Utile {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col" class="col__width--120">Loyer maxinum en € par m² de surface utile {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col" class="col__width--120">Coefficient propre au logement {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col" class="col__width--120">Loyer maxinum du logement en € {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for form in formset %}
                                        <tr>
                                            <td>
                                                <input
                                                    type="hidden"
                                                    id="{{form.uuid.id_for_label}}"
                                                    name="{{form.uuid.html_name}}"
                                                    value="{{ form.uuid.value|default_if_none:'' }}">
                                                {% include "common/form/input_text.html" with form_input=form.designation %}
                                            </td>
                                            <td>
                                                <select
                                                    class="fr-select {% if form.typologie.errors %}fr-select--error{% endif %}"
                                                    id="{{form.typologie.id_for_label}}"
                                                    name="{{form.typologie.html_name}}"
                                                    {% if not editable %}disabled{% endif %}>
                                                    <option value="" {% if not form.typologie.value %}selected{% endif %} disabled hidden></option>
                                                    {% for typologie in typologies %}
                                                        <option value="{{typologie.value}}"
                                                            {% if typologie.value  == form.typologie.value %}selected{% endif %}>
                                                            {{typologie.label}}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                                {% for error in form.typologie.errors %}
                                                    <p id="select-error-desc-error" class="fr-error-text">
                                                        {{ error }}
                                                    </p>
                                                {% endfor %}
                                            </td>
                                            <td id="lgt_sh">
                                                {% include "common/form/input_number.html" with form_input=form.surface_habitable step="0.01" onchange="compute_total_value('sh')" %}
                                            </td>
                                            <td id="lgt_sa">
                                                {% include "common/form/input_number.html" with form_input=form.surface_annexes step="0.01" onchange="compute_total_value('sa')" %}
                                            </td>
                                            <td id="lgt_sar">
                                                {% include "common/form/input_number.html" with form_input=form.surface_annexes_retenue step="0.01" onchange="compute_total_value('sar')" %}
                                            </td>
                                            <td id="lgt_su">
                                                {% include "common/form/input_number.html" with form_input=form.surface_utile step="0.01" onchange="compute_total_value('su')" %}
                                            </td>
                                            <td>
                                                {% include "common/form/input_number.html" with form_input=form.loyer_par_metre_carre step="0.01" %}
                                            </td>
                                            <td>
                                                {% include "common/form/input_number.html" with form_input=form.coeficient step="0.001" %}
                                            </td>
                                            <td id="lgt_loyer">
                                                {% include "common/form/input_number.html" with form_input=form.loyer step="0.01" onchange="compute_total_value('loyer')" %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td class="fr-text--lg">
                                            Total
                                        </td>
                                        <td>
                                        </td>
                                        <td id="total_sh" class="fr-text--lg text--center">
                                        </td>
                                        <td id="total_sa" class="fr-text--lg text--center">
                                        </td>
                                        <td id="total_sar" class="fr-text--lg text--center">
                                        </td>
                                        <td id="total_su" class="fr-text--lg text--center">
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td id="total_loyer" class="fr-text--lg text--center">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-button-footer fr-col-md-12  fr-py-5w">
                    {% include "common/button/previous.html" with precedent='conventions:prets' convention_uuid=convention.uuid %}
                    {% if editable %}
                        {% include "common/button/next_and_save.html" with suivant='conventions:logements' convention_uuid=convention.uuid editable=editable %}
                    {% else %}
                        {% include "common/button/next.html" with suivant='conventions:annexes' convention_uuid=convention.uuid %}
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{% static "js/logements-table.js" %}" nonce="{{request.csp_nonce}}"></script>

{% endblock %}
