{% extends "layout/base.html" %}

{% load static %}

{% block page_title %}Logements - APiLos{% endblock%}

{% block javascript_extras %}
    <script src="{% static "js/comment-factory.js" %}" nonce="{{request.csp_nonce}}"></script>
{% endblock %}

{% block content %}
    <div class="fr-container-fluid ds_banner fr-pb-1w">
        {% include "conventions/common/form_header.html"%}
        {% include "common/step_progressbar.html"%}
        <div class="fr-container">
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}

                [FOYER] adaptation des logements pour le cas des Foyers<br>

                {% if convention.is_avenant %}
                    <div class="fr-grid-row fr-grid-row--gutters">
                        <div class="fr-col-12 fr-mb-2w">
                            {% include "common/form/input_number.html" with display_inline=True form_input=form.nb_logements object_field="lot__nb_logements__"|add:form.uuid.value %}
                        </div>
                    </div>
                {% endif %}

                {% include "conventions/common/form_logements.html"%}
                <div class="form-button-footer fr-col-md-12 fr-py-5w">
                    {% if editable %}
                        {% include "common/button/next_and_save.html" %}
                        {% if not convention.is_avenant %}
                            {% include "common/button/previous.html" with precedent='conventions:financement' convention_uuid=convention.uuid %}
                        {% endif %}
                    {% else %}
                        {% include "common/button/noteditable_button.html"%}
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{% static "js/logements-table.js" %}" nonce="{{request.csp_nonce}}"></script>

{% endblock %}
