{% extends "layout/base.html" %}

{% block page_title %}Prêts et Financements - APiLos{% endblock%}

{% block content %}
    <div class="fr-container-fluid ds_banner fr-pb-1w">
        <div class="fr-container">
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-md-12  fr-my-5w">
                        {% include "common/convention_edit_info.html" with convention=convention %}
                        <h2>Etape {{convention_form_step}}/{{ nb_steps }} - Financements</h2>
                        {% include "common/mandatory_fields_info.html" %}

                        <h4>Prêts associés à la convention</h4>

                        {% if editable %}
                            {% include "common/form/download_upload_form.html" with convention_uuid=convention.uuid file_type='prets' upform=upform  what='prêts' %}
                            <hr class="fr-col-12 fr-my-3w">
                        {% endif %}

                        {% for error in import_warnings %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error }}
                            </p>
                        {% endfor %}

                        {% for error in formset.non_form_errors %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error }}
                            </p>
                        {% endfor %}

                        {{ formset.management_form }}
                        <div class="fr-table fr-table--bordered">
                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col">Numéro</th>
                                        <th scope="col">Date d'octroi</th>
                                        <th scope="col">Durée (en années)</th>
                                        <th scope="col">Montant (en €) {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col">Préteur</th>
                                        <th scope="col">Préciser le prêteur si 'Autre'</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for form_pret in formset %}
                                        <tr>
                                            <td>
                                                {% include "common/form/input_text.html" with form_input=form_pret.numero %}
                                            </td>
                                            <td>
                                                {% include "common/form/input_date.html" with form_input=form_pret.date_octroi %}
                                            </td>
                                            <td>
                                                {% include "common/form/input_number.html" with form_input=form_pret.duree %}
                                            </td>
                                            <td>
                                                {% include "common/form/input_number.html" with form_input=form_pret.montant step="0.01" %}
                                            </td>
                                            <td>
                                                <select
                                                    class="fr-select {% if form_pret.preteur.errors %}fr-select--error{% endif %}"
                                                    id="{{form_pret.preteur.id_for_label}}"
                                                    name="{{form_pret.preteur.html_name}}"
                                                    {% if not editable %}disabled{% endif %}>
                                                    <option value="" {% if not form_pret.preteur.value %}selected{% endif %} disabled hidden>Sélectionnez le prêteur</option>
                                                    {% for preteur in preteurs %}
                                                        <option value="{{preteur.value}}"
                                                            {% if preteur.value  == form_pret.preteur.value %}selected{% endif %}>
                                                            {{preteur.label}}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                                {% for error in form_pret.preteur.errors %}
                                                    <p id="select-error-desc-error" class="fr-error-text">
                                                        {{ error }}
                                                    </p>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% include "common/form/input_text.html" with form_input=form_pret.autre %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <hr class="fr-col-12 fr-my-3w">

                        <h4>Préciser aussi</h4>

                        <div class="fr-mb-2w">
                            <div class="fr-grid-row fr-grid-row--gutters">
                                <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                    <div class="fr-input-group {% if form.annee_fin_conventionnement.errors %}fr-select-group--error{% endif %}">
                                        <label class="fr-label fr-mb-1w" for="{{form.annee_fin_conventionnement.id_for_label}}">
                                            Date de fin de la convention
                                            {% include "common/mandatory_field.html" with form_input=form.annee_fin_conventionnement %}
                                            {% include "common/help_field.html" with form_input=form.annee_fin_conventionnement %}
                                        </label>
                                        <div class="block--row-strech fr-mt-1w">
                                            <div class="day-and-month">
                                                <span>30&nbsp;/&nbsp;06&nbsp;/&nbsp;</span>
                                            </div>
                                            <div class="year">
                                                <select
                                                    class="fr-select {% if form.annee_fin_conventionnement.errors %}fr-select--error{% endif %}"
                                                    id="{{form.annee_fin_conventionnement.id_for_label}}"
                                                    name="{{form.annee_fin_conventionnement.html_name}}"
                                                    {% if not editable %}disabled{% endif %}>
                                                    <option value="" {% if not form.annee_fin_conventionnement.value %}selected{% endif %} disabled hidden>Année</option>
                                                    {% for year in years %}
                                                        <option value="{{year}}"
                                                            {% if year|slugify == form.annee_fin_conventionnement.value|slugify %}selected{% endif %}>
                                                            {{year}}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        {% for error in form.annee_fin_conventionnement.errors %}
                                            <p id="select-error-desc-error" class="fr-error-text">
                                                {{ error }}
                                            </p>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-pl-md-1w fr-mb-2w">
                                    {% include "common/form/input_number.html" with form_input=form.fond_propre step="0.01" label="Fonds propres" %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-button-footer fr-col-md-12  fr-py-5w">
                    {% include "common/button/previous.html" with precedent='conventions:edd' convention_uuid=convention.uuid %}
                    {% if editable %}
                        {% include "common/button/next_and_save.html" with suivant='conventions:prets' convention_uuid=convention.uuid editable=editable %}
                    {% else %}
                        {% include "common/button/next.html" with suivant='conventions:logements' convention_uuid=convention.uuid %}
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
