{% extends "layout/base.html" %}

{% block page_title %}Prévisualisation - APiLos{% endblock%}

{% load static %}

{% block content %}
    <div class="fr-container-fluid ds_banner">
        {% include "conventions/common/form_header.html" with convention=convention %}
        {% include "common/step_progressbar.html" with convention=convention %}
        <div class="fr-container fr-mb-2w">
            <h2>Visualiser votre convention</h2>
            {% if convention.statut == '5. Transmise' %}
                toto
                <div class="fr-col-md-12 fr-py-5w h-80vh">
                    <iframe src="/conventions/{{ convention.uuid}}/{{convention.fichier_signe}}" width="100%" height="1000px" nonce="{{request.csp_nonce}}"></iframe>
                </div>
            {% else %}
                pouet
                <div class="fr-col-md-12 fr-py-5w h-80vh">
                    <iframe src="{{ STORAGE_LOCATION }}/conventions/{{ convention.uuid }}/convention_docs/{{ convention.uuid}}.pdf"  width="100%" height="1000px" nonce="{{request.csp_nonce}}"></iframe>
                </div>
            {% endif %}

        </div>
        /conventions/{{ convention.uuid }}/convention_docs/{{ convention.uuid}}.pdf<br/>
        {{convention.fichier_signe}}
        {{ STORAGE_LOCATION }}

    </div>
{% endblock %}

