{% extends "layout/base.html" %}

{% block page_title %}Recapitulatif - APiLos{% endblock%}

{% load static %}

{% load custom_filters %}

{% block javascript_extras %}
    <script src="{% static "js/comment-factory.js" %}" nonce="{{request.csp_nonce}}"></script>
    <script src="{% static "turbo/turbo.es2017-umd.js" %}" nonce="{{request.csp_nonce}}"></script>
    <script type="text/javascript" src="{% static "js/type1and2.js" %}" nonce="{{request.csp_nonce}}"></script>
    <script nonce="{{request.csp_nonce}}">
        Turbo.session.drive = false
    </script>
{% endblock %}

{% block content %}
    {% with programme_uuid=programme.uuid|slugify convention_uuid=convention.uuid|slugify lot_uuid=lot.uuid|slugify ecolo_ref=convention.ecolo_reference %}
        <input type="hidden" id="convention_uuid" value="{{convention.uuid}}">
        <div class="fr-container-fluid ds_banner">
            {% include "conventions/common/form_header.html"%}
            {% include "common/nav_bar.html"  with nav_bar_step="recapitulatif" %}
            <div class="fr-container fr-mt-5w">
                {% csrf_token %}
                {% if not convention.is_avenant %}
                    {% include "conventions/recapitulatif/alert_convention.html" %}
                {% endif %}
                {% if convention|display_comments %}
                    <turbo-frame id="opened_comments_block" data-turbo="true">
                        {% include "comments/opened_comments.html" %}
                    </turbo-frame>
                {% endif %}
                {% if convention.is_avenant %}
                    {% if 'bailleur' in avenant_list %}
                        {% include "conventions/recapitulatif/bailleur.html" with target_url='conventions:avenant_bailleur' %}
                    {% endif %}
                    {% if 'logements' in avenant_list %}
                        {% include "conventions/recapitulatif/foyer_residence_logements.html" with target_url='conventions:avenant_foyer_residence_logements' %}
                        {% include "conventions/recapitulatif/collectif.html" with target_url='conventions:avenant_collectif' %}
                        {% include "conventions/recapitulatif/logements.html" with target_url='conventions:avenant_logements' %}
                        {% include "conventions/recapitulatif/annexes.html" with target_url='conventions:avenant_annexes' %}
                    {% endif %}
                    {% if 'duree' in avenant_list %}
                        {% include "conventions/recapitulatif/financement.html" with target_url='conventions:avenant_financement' %}
                    {% endif %}
                    {% if 'commentaires' in avenant_list %}
                        {% include "conventions/recapitulatif/commentaires.html" with target_url='conventions:avenant_commentaires' %}
                    {% endif %}
                    <hr class="fr-mt-3w">

                    {% if convention|display_convention_form_progressbar %}

                        {% if 'bailleur' not in avenant_list %}
                            {% include "conventions/avenant/bailleur_update_start.html" with avenant_uuid=convention.uuid %}
                            <hr>
                        {% endif %}
                        {% if 'logements' not in avenant_list %}
                            {% include "conventions/avenant/logements_update_start.html" with avenant_uuid=convention.uuid %}
                            <hr>
                        {% endif %}
                        {% if 'duree' not in avenant_list %}
                            {% include "conventions/avenant/financement_update_start.html" with avenant_uuid=convention.uuid %}
                            <hr>
                        {% endif %}
                        {% if 'commentaires' not in avenant_list %}
                            {% include "conventions/avenant/commentaires_update_start.html" with avenant_uuid=convention.uuid %}
                            <hr>
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% include "conventions/recapitulatif/bailleur.html"  with target_url='conventions:bailleur'%}
                    {% include "conventions/recapitulatif/operation.html" with target_url='conventions:programme'%}
                    {% include "conventions/recapitulatif/references_cadastrales.html"  with target_url='conventions:references_cadastrales'%}
                    {%  if not ecolo_ref %}
                        {% include "conventions/recapitulatif/edd.html"  with target_url='conventions:edd'%}
                        {% include "conventions/recapitulatif/financement.html" with target_url='conventions:financement' %}
                    {% endif %}
                    {% include "conventions/recapitulatif/logements.html" with target_url='conventions:logements' %}
                    {% include "conventions/recapitulatif/foyer_residence_logements.html" with target_url='conventions:foyer_residence_logements' %}
                    {% include "conventions/recapitulatif/collectif.html" with target_url='conventions:collectif' %}
                    {%  if not ecolo_ref %}
                        {% include "conventions/recapitulatif/annexes.html" with target_url='conventions:annexes' %}
                    {% else %}
                        {% include "conventions/recapitulatif/pieces_jointes.html" %}
                    {% endif %}
                    {% include "conventions/recapitulatif/stationnements.html" with target_url='conventions:stationnements' %}
                    {% include "conventions/recapitulatif/foyer_attribution.html" with target_url='conventions:foyer_attribution' %}
                    {% include "conventions/recapitulatif/residence_attribution.html" with target_url='conventions:residence_attribution' %}
                    {% include "conventions/recapitulatif/variantes.html" with target_url='conventions:variantes' %}
                    {% include "conventions/recapitulatif/commentaires.html" with target_url='conventions:commentaires' %}
                {% endif %}

                <turbo-frame id="convention_actions" data-turbo="true">
                    {% include "conventions/actions/submit_convention.html" %}
                    {% include "conventions/actions/bailleur_notification.html" %}
                    {% include "conventions/actions/instructeur_notification.html" %}
                    {% include "conventions/actions/type1and2_options.html" %}
                    {% include "conventions/actions/generate_convention.html" %}
                    {% include "conventions/actions/delete.html"%}
                    {% include "conventions/actions/instructeur_validation.html" %}
                    {% include "conventions/actions/display_spf_info.html" %}
                    {% include "conventions/actions/display_resiliation_info.html" %}
                </turbo-frame>

                <div class="fr-col-12 fr-py-5w">
                    {% include "common/button/return_convention_index.html" %}
                </div>

            </div>
        </div>

        <script type="text/javascript" src="{% static "js/logements-table.js" %}" nonce="{{request.csp_nonce}}"></script>

    {% endwith %}
{% endblock %}
