{% extends "layout/base.html" %}

{% block page_title %}Recapitulatif - APiLos{% endblock%}

{% load static %}

{% block css_extras %}
    <link rel="stylesheet" href="{% static "dropzonejs/min/basic.min.css" %}">
    <link rel="stylesheet" href="{% static "dropzonejs/min/dropzone.min.css" %}">
{% endblock %}

{% block content %}
    <div class="fr-container-fluid ds_banner">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-md-12 fr-my-5w">
                    {% include "common/convention_edit_info.html" with convention=convention %}
                    <h2>Etape {{convention_form_step}}/{{ nb_steps }} - Récapitulatif</h2>

                    {% if not convention.is_submitted %}
                        <div role="alert" class="fr-alert fr-alert--error">
                            <p class="fr-alert__title">Attention</p>
                            <p>le document de convention n'est pas encore soumis à l'instruction{% if user.is_bailleur %},
                                pour finaliser votre demande de conventionnement, vous devez clicker sur le bouton
                                <b>"Soumettre au service instructeur"</b>{% endif %}</p>
                        </div>
                    {% endif %}


                    <div class="fr-grid-row fr-grid-row--gutters">
                        <div class="fr-col-12 fr-col-lg-6">
                            <div class="fr-card fr-card--no-arrow">
                                <div class="fr-card__body">
                                    <h4 class="fr-card__title">Convention</h4>
                                    {% include "common/display_field_if_exists.html" with label="Nom du programme" value=programme.nom %}
                                    {% include "common/display_field_if_exists.html" with label="Financement" value=lot.financement %}
                                    {% include "common/display_field_if_exists.html" with label="Ville" value=programme.ville %}
                                    {% include "common/display_field_if_exists.html" with label="Nombre de logements à conventionner" value=lot.nb_logements %}
                                </div>
                            </div>
                        </div>
                        <div class="fr-col-12 fr-col-lg-6">
                            <div class="fr-card fr-card--no-arrow">
                                <div class="fr-card__body">
                                    <h4 class="fr-card__title">Bailleur</h4>
                                    {% include "common/display_field_if_exists.html" with label="Nom" value=bailleur.nom %}
                                    {% include "common/display_field_if_exists.html" with label="SIRET ou SIREN" value=bailleur.siret %}
                                    {% include "common/display_field_if_exists.html" with label="Capital social" value=bailleur.capital_social %}
                                    {% include "common/display_field_if_exists.html" with label="Adresse" value=bailleur.adresse %}
                                    {% include "common/display_field_if_exists.html" with label="Code postal" value=bailleur.code_postal %}
                                    {% include "common/display_field_if_exists.html" with label="Ville" value=bailleur.ville %}
                                    {% include "common/display_field_if_exists.html" with label="Nom du signataire de la convention" value=bailleur.dg_nom %}
                                    {% include "common/display_field_if_exists.html" with label="Fonction du signataire de la convention" value=bailleur.dg_fonction %}
                                    {% include "common/display_field_if_exists.html" with label="Date de délibération" value=bailleur.dg_date_deliberation %}
                                </div>
                            </div>
                        </div>
                        <div class="fr-col-12 fr-col-lg-6">
                            <div class="fr-card fr-card--no-arrow">
                                <div class="fr-card__body">
                                    <h4 class="fr-card__title">Programme</h4>
                                    {% if request.user.is_instructeur %}
                                        {% include "common/display_field_if_exists.html" with label="Numero Galion" value=programme.numero_galion %}
                                    {% endif %}
                                    {% include "common/display_field_if_exists.html" with label="Nom" value=programme.nom %}
                                    {% include "common/display_field_if_exists.html" with label="Adresse" value=programme.adresse %}
                                    {% include "common/display_field_if_exists.html" with label="Code postal" value=programme.code_postal %}
                                    {% include "common/display_field_if_exists.html" with label="Ville" value=programme.ville %}
                                    {% include "common/display_field_if_exists.html" with label="ANRU" value=programme.anru %}
                                    {% include "common/display_field_if_exists.html" with label="Type d'habitat" value=programme.get_type_habitat_display %}
                                    {% include "common/display_field_if_exists.html" with label="Type d'opération" value=programme.get_type_operation_display %}
                                    {% include "common/display_field_if_exists.html" with label="Nombre de locaux commerciaux (non-conventionnés)" value=programme.nb_locaux_commerciaux %}
                                    {% include "common/display_field_if_exists.html" with label="Nombre de bureaux (non-conventionnés)" value=programme.nb_bureaux %}
                                    {% include "common/display_field_if_exists.html" with label="Autres logements non-conventionnés" value=programme.autre_locaux_hors_convention %}
                                </div>
                            </div>
                        </div>
                        <div class="fr-col-12 fr-col-lg-6">
                            <div class="fr-card fr-card--no-arrow">
                                <div class="fr-card__body">
                                    <h4 class="fr-card__title">Programme - informations cadastrale</h4>
                                    {% include "common/display_field_if_exists.html" with label="Numéro de permis construire" value=programme.permis_construire %}
                                    {% include "common/display_field_if_exists.html" with label="Date de l'acte notarié" value=programme.date_acte_notarie %}
                                    {% include "common/display_field_if_exists.html" with label="Date d'achat" value=programme.date_achat %}
                                    {% include "common/display_field_if_exists.html" with label="Date d'achèvement previsible" value=programme.date_achevement_previsible %}
                                    {% include "common/display_field_if_exists.html" with label="Date d'achèvement ou d'obtention de certificat de conformité" value=programme.date_achevement %}
                                    {% include "common/display_text_and_files_if_exists.html" with label="Vendeur" text=programme.vendeur_text file_list=programme.vendeur_files.values %}
                                    {% include "common/display_text_and_files_if_exists.html" with label="Acquéreur" text=programme.acquereur_text file_list=programme.acquereur_files.values %}
                                    {% include "common/display_text_and_files_if_exists.html" with label="Référence du notaire" text=programme.reference_notaire_text file_list=programme.reference_notaire_files.values %}
                                    {% include "common/display_text_and_files_if_exists.html" with label="Référence de publication de l'acte" text=programme.reference_publication_acte_text file_list=programme.reference_publication_acte_files.values %}
                                    {% include "common/display_text_and_files_if_exists.html" with label="Acte de propriété" text=programme.acte_de_propriete_text file_list=programme.acte_de_propriete_files.values %}
                                    {% include "common/display_text_and_files_if_exists.html" with label="Acte notarial" text=programme.acte_notarial_text file_list=programme.acte_notarial_files.values %}
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="fr-grid-row fr-grid-row--gutters">
                        <div class="fr-col-12 fr-col-lg-12">
                            <div class="fr-card fr-card--no-arrow">
                                <div class="fr-card__body">
                                    <h4 class="fr-card__title">Références cadastrales</h4>
                                    {% include "common/display_text_and_files_if_exists.html" with text=programme.reference_cadastrale_text file_list=programme.reference_cadastrale_files.values %}
                                    <div class="fr-table fr-table--bordered table--limited-height">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th scope="col">Section {% include "common/mandatory_field_star.html" %}</th>
                                                    <th scope="col">Numéro {% include "common/mandatory_field_star.html" %}</th>
                                                    <th scope="col">Lieudit {% include "common/mandatory_field_star.html" %}</th>
                                                    <th scope="col">Surface {% include "common/mandatory_field_star.html" %}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for reference in reference_cadastrales %}
                                                    <tr>
                                                        <td>
                                                            {{ reference.section }}
                                                        </td>
                                                        <td>
                                                            {{ reference.numero }}
                                                        </td>
                                                        <td>
                                                            {{ reference.lieudit }}
                                                        </td>
                                                        <td>
                                                            {{ reference.surface }}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="fr-grid-row fr-grid-row--gutters">
                        <div class="fr-col-12 fr-col-lg-12">
                            <div class="fr-card fr-card--no-arrow">
                                <div class="fr-card__body">
                                    <h4 class="fr-card__title">Programme - EDD</h4>
                                    {% include "common/display_text_and_files_if_exists.html" with label="EDD volumétrique" text=programme.edd_volumetrique_text file_list=programme.edd_volumetrique_files.values %}
                                    {% include "common/display_text_and_files_if_exists.html" with label="EDD classique" text=programme.edd_classique_text file_list=programme.edd_classique_files.values %}
                                    <p class="fr-my-1w">EDD Simplifé : </p>
                                    <div class="fr-table fr-table--bordered table--limited-height">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th scope="col">Financement {% include "common/mandatory_field_star.html" %}</th>
                                                    <th scope="col">Désignation {% include "common/mandatory_field_star.html" %}</th>
                                                    <th scope="col">Type {% include "common/mandatory_field_star.html" %}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for lgt in logement_edds %}
                                                    <tr>
                                                        <td>
                                                            {{lgt.financement}}
                                                        </td>
                                                        <td>
                                                            {{lgt.designation}}
                                                        </td>
                                                        <td>
                                                            {{lgt.typologie}}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="fr-grid-row fr-grid-row--gutters">
                        <div class="fr-col-12 fr-col-lg-12">
                            <div class="fr-card fr-card--no-arrow">
                                <div class="fr-card__body">
                                    <h4 class="fr-card__title">Financement</h4>
                                    <p class="fr-my-1w">Prêts : </p>
                                    <div class="fr-table fr-table--bordered table--limited-height">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th scope="col">Numéro</th>
                                                    <th scope="col">Date d'octroi</th>
                                                    <th scope="col">Durée (en années)</th>
                                                    <th scope="col">Montant (en €) {% include "common/mandatory_field_star.html" %}</th>
                                                    <th scope="col">Préteur</th>
                                                    <th scope="col">Préciser le prêteur si 'Autre'</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for pret in convention.pret_set.all %}
                                                    <tr>
                                                        <td>
                                                            {{ pret.numero }}
                                                        </td>
                                                        <td>
                                                            {{ pret.date_octroi }}
                                                        </td>
                                                        <td>
                                                            {{ pret.duree }}
                                                        </td>
                                                        <td>
                                                            {{ pret.montant }}
                                                        </td>
                                                        <td>
                                                            {{ pret.preteur }}
                                                        </td>
                                                        <td>
                                                            {{ pret.autre }}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    {% include "common/display_field_if_exists.html" with label="Date de fin de la convention" value=programme.date_fin_conventionnement %}
                                    {% include "common/display_field_if_exists.html" with label="Fonds propres" value=programme.fond_propre %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="fr-grid-row fr-grid-row--gutters">
                        <div class="fr-col-12 fr-col-lg-12">
                            <div class="fr-card fr-card--no-arrow">
                                <div class="fr-card__body">
                                    <h4 class="fr-card__title">Logements</h4>
                                    <div class="fr-table fr-table--bordered table--limited-height">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="col__width--200">Désignation {% include "common/mandatory_field_star.html" %}</th>
                                                    <th scope="col" class="col__width--150">Type {% include "common/mandatory_field_star.html" %}</th>
                                                    <th scope="col" class="col__width--120">Surface habitable {% include "common/mandatory_field_star.html" %}</th>
                                                    <th scope="col" class="col__width--120">Surface des annexes réelle {% include "common/mandatory_field_star.html" %}</th>
                                                    <th scope="col" class="col__width--120">Surface des annexes retenue dans la SU {% include "common/mandatory_field_star.html" %}</th>
                                                    <th scope="col" class="col__width--120">Surface Utile {% include "common/mandatory_field_star.html" %}</th>
                                                    <th scope="col" class="col__width--120">Loyer maxinum en € par m² de surface utile {% include "common/mandatory_field_star.html" %}</th>
                                                    <th scope="col" class="col__width--120">Coefficient propre au logement {% include "common/mandatory_field_star.html" %}</th>
                                                    <th scope="col" class="col__width--120">Loyer maxinum du logement en € {% include "common/mandatory_field_star.html" %}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for logement in logements %}
                                                    <tr>
                                                        <td>
                                                            {{ logement.designation }}
                                                        </td>
                                                        <td>
                                                            {{ logement.typologie }}
                                                        </td>
                                                        <td id="lgt_sh">
                                                            {{ logement.surface_habitable|floatformat:2 }}
                                                        </td>
                                                        <td id="lgt_sa">
                                                            {{ logement.surface_annexes|floatformat:2 }}
                                                        </td>
                                                        <td id="lgt_sar">
                                                            {{ logement.surface_annexes_retenue|floatformat:2 }}
                                                        </td>
                                                        <td id="lgt_su">
                                                            {{ logement.surface_utile|floatformat:2 }}
                                                        </td>
                                                        <td>
                                                            {{ logement.loyer_par_metre_carre|floatformat:2 }}
                                                        </td>
                                                        <td>
                                                            {{ logement.coeficient|floatformat:3 }}
                                                        </td>
                                                        <td id="lgt_loyer">
                                                            {{ logement.loyer|floatformat:2 }}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                <tr>
                                                    <td class="fr-text--lg">
                                                        Total
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td id="total_sh" class="fr-text--lg">
                                                    </td>
                                                    <td id="total_sa" class="fr-text--lg">
                                                    </td>
                                                    <td id="total_sar" class="fr-text--lg">
                                                    </td>
                                                    <td id="total_su" class="fr-text--lg">
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td>
                                                    </td>
                                                    <td id="total_loyer" class="fr-text--lg">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="fr-grid-row fr-grid-row--gutters">
                        <div class="fr-col-12 fr-col-lg-12">
                            <div class="fr-card fr-card--no-arrow">
                                <div class="fr-card__body">
                                    <h4 class="fr-card__title">Annexes</h4>
                                    <div class="fr-table fr-table--bordered table--limited-height">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="col__width--150">Type d'annexe {% include "common/mandatory_field_star.html" %}</th>
                                                    <th scope="col" class="col__width--200">Désignation des logements {% include "common/mandatory_field_star.html" %}</th>
                                                    <th scope="col" class="col__width--150">Typologie des logements {% include "common/mandatory_field_star.html" %}</th>
                                                    <th scope="col" class="col__width--120">Surface de l'annexe {% include "common/mandatory_field_star.html" %}</th>
                                                    <th scope="col" class="col__width--120">Loyer unitaire en € {% include "common/mandatory_field_star.html" %}</th>
                                                    <th scope="col" class="col__width--120">Loyer maxinum du logement en € {% include "common/mandatory_field_star.html" %}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for annexe in annexes %}
                                                    <tr>
                                                        <td>
                                                            {{ annexe.get_typologie_display }}
                                                        </td>
                                                        <td>
                                                            {{ annexe.logement.designation }}
                                                        </td>
                                                        <td>
                                                            {{ annexe.logement.get_typologie_display }}
                                                        </td>
                                                        <td>
                                                            {{ annexe.surface_hors_surface_retenue|floatformat:2 }}
                                                        </td>
                                                        <td>
                                                            {{ annexe.loyer_par_metre_carre|floatformat:2 }}
                                                        </td>
                                                        <td>
                                                            {{ annexe.loyer|floatformat:2 }}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="fr-grid-row fr-grid-row--gutters">
                        <div class="fr-col-12 fr-col-lg-12">
                            <div class="fr-card fr-card--no-arrow">
                                <div class="fr-card__body">
                                    <h4 class="fr-card__title">Stationnements</h4>
                                    <div class="fr-table fr-table--bordered table--limited-height">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="col__width--150">Type de stationnement {% include "common/mandatory_field_star.html" %}</th>
                                                    <th scope="col" class="col__width--200">Nombre de staionnements {% include "common/mandatory_field_star.html" %}</th>
                                                    <th scope="col" class="col__width--150">Loyer maximum en € {% include "common/mandatory_field_star.html" %}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for stationnement in stationnements %}
                                                    <tr>
                                                        <td>
                                                            {{ stationnement.get_typologie_display }}
                                                        </td>
                                                        <td>
                                                            {{ stationnement.nb_stationnements }}
                                                        </td>
                                                        <td>
                                                            {{ stationnement.loyer|floatformat:2 }}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="fr-grid-row fr-grid-row--gutters">
                        <div class="fr-col-12 fr-col-lg-12">
                            <div class="fr-card fr-card--no-arrow">
                                <div class="fr-card__body">
                                    <h4 class="fr-card__title">Informations à l'attention du service instructeur</h4>
                                    <div class="table--limited-height">
                                        {% include "common/display_text_and_files_if_exists.html" with text=convention.comments_text file_list=convention.comments_files.values %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-button-footer fr-col-md-12  fr-py-5w">
                {% if request.user.is_bailleur %}
                    {% if convention.is_bailleur_editable %}
                        {% include "common/button/previous.html" with precedent='conventions:comments' convention_uuid=convention.uuid %}
                        <div>
                            <form method="post" action="{% url 'conventions:save' convention_uuid=convention.uuid %}">
                                {% csrf_token %}
                                <button class="fr-btn fr-btn--secondary">
                                    Enregistrer le Brouillon
                                </button>
                                <button name="SubmitConvention" value=True class="fr-btn">
                                    Soumettre au service instructeur
                                </button>
                            </form>
                        </div>
                    {% else %}
                        {% include "common/button/return_convention_index.html" %}
                    {% endif %}
                {% endif %}
                {% if request.user.is_instructeur %}
                    {% if convention.is_instructeur_editable %}
                        {% include "common/button/previous.html" with precedent='conventions:comments' convention_uuid=convention.uuid %}
                        <div>
                            <form method="post" action="{% url 'conventions:generate' convention_uuid=convention.uuid %}">
                                {% csrf_token %}
                                <button class="fr-btn">
                                    Générer et Télécharger la convention
                                </button>
                            </form>
                        </div>

                    {% else %}
                        {% include "common/button/return_convention_index.html" %}
                    {% endif %}
                {% endif %}
            </div>


            {% if request.user.is_instructeur %}
                <div class="fr-col-md-12  fr-py-5w">

                    <div role="alert" class="fr-alert fr-alert--error">
                        {% if not convention.valide_le %}
                            <!-- <p class="fr-alert__title">Convention à valider</p> -->

                            <p>Une fois la convention générée, si celle-ci correspond aux attendus, vous pouvez l'envoyer au bailleur par email et cliquer sur la bouton ci-dessous.
                                Cela nous permet de suivre le statut de la convention en temps réel.</p>
                            <div>
                                <form method="post" action="{% url 'conventions:validate' convention_uuid=convention.uuid %}">
                                    {% csrf_token %}
                                    <button class="fr-btn">
                                        Valider la convention
                                    </button>
                                </form>
                            </div>
                        {% else %}
                            <p class="fr-alert__title">La convention a été validée le {{ convention.valide_le|date:"j F Y" }}</p>
                        {% endif %}
                        <p class="fr-my-3w"><b>Bientôt</b>, nous serons en mesure de prendre en charge la suite du processus de conventionnement dans l'interface</p>
                    </div>
                </div>

            {% endif %}


        </div>
    </div>

    <script type="text/javascript" src="{% static "js/recap-logements-table.js" %}" nonce="{{request.csp_nonce}}"></script>


{% endblock %}
