{% extends "layout/base.html" %}

{% block page_title %}
    {% if convention.is_avenant %}
        Convention - Avenant - APiLos
    {% else %}
        Convention - Récapitulatif - APiLos
    {% endif %}
{% endblock page_title %}

{% load custom_filters display_filters static %}
{% block javascript_extras %}
    <script src="{% static "js/comment-factory.js" %}" nonce="{{ request.csp_nonce }}"></script>
    <script src="{% static "turbo/turbo.es2017-umd.js" %}" nonce="{{ request.csp_nonce }}"></script>
    <script type="text/javascript" src="{% static "js/type1and2.js" %}" nonce="{{ request.csp_nonce }}"></script>
    <script nonce="{{ request.csp_nonce }}">Turbo.session.drive = false</script>
    <script src="{% static "js/header-size.js" %}" nonce="{{ request.csp_nonce }}"></script>
{% endblock javascript_extras %}

{% block content %}
    {% comment %} TODO: reverse relation convention lot {% endcomment %}
    {% with programme_uuid=convention.programme.uuid|slugify convention_uuid=convention.uuid|slugify lot_uuid=convention.lot.uuid|slugify ecolo_ref=convention.ecolo_reference %}
        <input type="hidden" id="convention_uuid" value="{{ convention.uuid }}">
        <div class="fr-container-fluid ds_banner recapitulatif">
            {% include "conventions/common/form_header.html" %}
            {% include "common/nav_bar.html" with nav_bar_step="recapitulatif" %}
            <div class="fr-container fr-mt-5w">
                {% if convention.statut == CONVENTION_STATUT.SIGNEE %}
                    <div class="fr-px-2w">
                        <p class="fr-m-0">
                            {{ convention|display_kind|capfirst }} n°<strong>{{ convention.numero|default_if_none:'-' }}</strong> signé{{ convention|display_gender_terminaison }} le <span class="fr-ml-1v">{{ convention.televersement_convention_signee_le|date:"d F Y"|default_if_none:'-' }}</span>
                        </p>
                    </div>
                {% endif %}
                {% csrf_token %}
                {% if not convention.is_avenant %}
                    {% include "conventions/recapitulatif/alert_convention.html" %}
                {% endif %}
                {% if convention.parents.all %}
                    {% include "conventions/recapitulatif/seconde_vie_parents.html" with parents=convention.parents.all %}
                {% endif %}
                {% if convention|display_comments %}
                    <turbo-frame id="opened_comments_block" data-turbo="true">
                        {% include "comments/opened_comments.html" %}
                    </turbo-frame>
                {% endif %}
                {% if request|can_use_expert_mode:convention %}
                    <div class="fr-grid-row fr-grid-row--right">
                        <a href="{% url 'conventions:expert_mode' convention_uuid=convention.uuid %}"
                           class="fr-btn fr-btn--secondary">
                            {% if request.session.is_expert %}
                                <span class="fr-icon-close-circle-line fr-mr-1w"></span>
                                Sortir du mode expert
                            {% else %}
                                <span class="fr-icon-ball-pen-line fr-mr-1w"></span>
                                Passer en mode expert
                            {% endif %}
                        </a>
                    </div>
                    {% if request.session.is_expert %}
                        {% include "conventions/recapitulatif/convention.html" %}
                    {% endif %}
                {% endif %}
                {% if convention.is_denonciation %}
                    {% include "conventions/recapitulatif/denonciation.html" with target_url='conventions:denonciation' %}
                {% elif convention.is_resiliation %}
                    {% if request.user.is_instructeur_departemental or convention|display_is_validated %}
                        {% include "conventions/recapitulatif/resiliation.html" with target_url='conventions:resiliation' %}
                        {% include "conventions/recapitulatif/resiliation_acte.html" with target_url='conventions:resiliation_acte' %}
                    {% else %}
                        {% include "conventions/recapitulatif/resiliation.html" with target_url='conventions:resiliation_creation' %}
                    {% endif %}
                {% elif convention.is_avenant %}
                    {% if 'bailleur' in avenant_list %}
                        {% if convention_form_steps|is_a_step:'ConventionBailleurView' or convention_form_steps|is_a_step:'AvenantBailleurView' %}
                            {% include "conventions/recapitulatif/bailleur.html" with target_url='conventions:avenant_bailleur' bailleur=convention.bailleur checked=True %}
                        {% else %}
                            {% include "conventions/recapitulatif/bailleur.html" with target_url='conventions:avenant_bailleur' bailleur=convention.bailleur checked=False %}
                        {% endif %}
                    {% else %}
                        {% include "conventions/recapitulatif/bailleur.html" with target_url='conventions:avenant_bailleur' bailleur=convention.bailleur checked=False %}
                    {% endif %}
                    {% if 'programme' in avenant_list %}
                        {% include "conventions/recapitulatif/operation.html" with target_url='conventions:avenant_programme' programme=convention.programme lot=convention.lot checked=True %}
                    {% else %}
                        {% include "conventions/recapitulatif/operation.html" with target_url='conventions:avenant_programme' programme=convention.programme lot=convention.lot checked=False %}
                    {% endif %}
                    {% if 'cadastre' in avenant_list %}
                        {% include "conventions/recapitulatif/references_cadastrales.html" with target_url='conventions:avenant_cadastre' programme=convention.programme reference_cadastrales=convention.programme.referencecadastrales.all checked=True %}
                    {% else %}
                        {% include "conventions/recapitulatif/references_cadastrales.html" with target_url='conventions:avenant_cadastre' programme=convention.programme reference_cadastrales=convention.programme.referencecadastrales.all checked=False %}
                    {% endif %}
                    {% if 'edd' in avenant_list %}
                        {% include "conventions/recapitulatif/edd.html" with target_url='conventions:avenant_edd' programme=convention.programme lot=convention.lot logement_edds=convention.programme.logementedds.all checked=True %}
                    {% else %}
                        {% include "conventions/recapitulatif/edd.html" with target_url='conventions:avenant_edd' programme=convention.programme lot=convention.lot logement_edds=convention.programme.logementedds.all checked=False %}
                    {% endif %}
                    {% if 'logements' in avenant_list %}
                        {% include "conventions/recapitulatif/foyer_residence_logements.html" with target_url='conventions:avenant_foyer_residence_logements' lot=convention.lot logements=convention.logements_import_ordered checked=True %}
                        {% include "conventions/recapitulatif/logements.html" with target_url='conventions:avenant_logements' lot=convention.lot logements=convention.logements_import_ordered logements_sans_loyer=convention.logements_sans_loyer_import_ordered logements_corrigee=convention.logements_corrigee_import_ordered logements_corrigee_sans_loyer=convention.logements_corrigee_sans_loyer_import_ordered checked=True %}
                    {% else %}
                        {% include "conventions/recapitulatif/foyer_residence_logements.html" with target_url='conventions:avenant_foyer_residence_logements' lot=convention.lot logements=convention.logements_import_ordered checked=False %}
                        {% include "conventions/recapitulatif/logements.html" with target_url='conventions:avenant_logements' lot=convention.lot logements=convention.logements_import_ordered logements_sans_loyer=convention.logements_sans_loyer_import_ordered logements_corrigee=convention.logements_corrigee_import_ordered logements_corrigee_sans_loyer=convention.logements_corrigee_sans_loyer_import_ordered checked=False %}
                    {% endif %}

                    {% if 'duree' in avenant_list %}
                        {% include "conventions/recapitulatif/financement.html" with target_url='conventions:avenant_financement' checked=True %}
                    {% else %}
                        {% include "conventions/recapitulatif/financement.html" with target_url='conventions:avenant_financement' checked=False %}
                    {% endif %}
                    {% if 'stationnement' in avenant_list %}
                        {% include "conventions/recapitulatif/stationnements.html" with target_url='conventions:avenant_stationnement' stationnements=convention.stationnements checked=True %}
                    {% else %}
                        {% include "conventions/recapitulatif/stationnements.html" with target_url='conventions:avenant_stationnement' stationnements=convention.stationnements checked=False %}
                    {% endif %}
                    {% if 'foyer_attribution' in avenant_list %}
                        {% include "conventions/recapitulatif/foyer_attribution.html" with target_url='conventions:avenant_foyer_attribution' checked=True %}
                    {% else %}
                        {% include "conventions/recapitulatif/foyer_attribution.html" with target_url='conventions:avenant_foyer_attribution' checked=False %}
                    {% endif %}
                    {% if 'residence_attribution' in avenant_list %}
                        {% include "conventions/recapitulatif/residence_attribution.html" with target_url='conventions:avenant_residence_attribution' checked=True %}
                    {% else %}
                        {% include "conventions/recapitulatif/residence_attribution.html" with target_url='conventions:avenant_residence_attribution' checked=False %}
                    {% endif %}
                    {% if 'variantes' in avenant_list %}
                        {% include "conventions/recapitulatif/variantes.html" with target_url='conventions:avenant_variantes' checked=True %}
                    {% else %}
                        {% include "conventions/recapitulatif/variantes.html" with target_url='conventions:avenant_variantes' checked=False %}
                    {% endif %}
                    {% if 'champ_libre' in avenant_list %}
                        {% include "conventions/recapitulatif/champ_libre.html" with target_url='conventions:avenant_champ_libre' checked=True %}
                    {% else %}
                        {% include "conventions/recapitulatif/champ_libre.html" with target_url='conventions:avenant_champ_libre' checked=False %}
                    {% endif %}
                    {% if 'commentaires' in avenant_list %}
                        {% include "conventions/recapitulatif/commentaires.html" with target_url='conventions:avenant_commentaires' checked=True %}
                    {% else %}
                        {% include "conventions/recapitulatif/commentaires.html" with target_url='conventions:avenant_commentaires' checked=False %}
                    {% endif %}
                    {% if not convention.is_avenant and convention|display_convention_form_progressbar %}
                        {% if 'commentaires' not in avenant_list %}
                            <hr class="fr-mt-3w">
                            {% include "conventions/avenant/commentaires_update_start.html" with avenant_uuid=convention.uuid %}
                            <hr>
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% include "conventions/recapitulatif/bailleur.html" with target_url='conventions:bailleur' bailleur=convention.bailleur %}
                    {% include "conventions/recapitulatif/operation.html" with target_url='conventions:programme' programme=convention.programme lot=convention.lot %}
                    {% include "conventions/recapitulatif/references_cadastrales.html" with target_url='conventions:cadastre' programme=convention.programme reference_cadastrales=convention.programme.referencecadastrales.all %}
                    {% if not ecolo_ref %}
                        {% include "conventions/recapitulatif/edd.html" with target_url='conventions:edd' programme=convention.programme lot=convention.lot logement_edds=convention.programme.logementedds.all %}
                        {% include "conventions/recapitulatif/financement.html" with target_url='conventions:financement' %}
                    {% endif %}
                    {% include "conventions/recapitulatif/logements.html" with target_url='conventions:logements' lot=convention.lot logements=convention.logements_import_ordered logements_sans_loyer=convention.logements_sans_loyer_import_ordered logements_corrigee=convention.logements_corrigee_import_ordered logements_corrigee_sans_loyer=convention.logements_corrigee_sans_loyer_import_ordered %}
                    {% include "conventions/recapitulatif/foyer_residence_logements.html" with target_url='conventions:foyer_residence_logements' lot=convention.lot logements=convention.logements_import_ordered %}
                    {% include "conventions/recapitulatif/collectif.html" with target_url='conventions:collectif' lot=convention.lot locaux_collectifs=convention.locaux_collectifs %}
                    {% if not ecolo_ref %}
                        {% include "conventions/recapitulatif/annexes.html" with target_url='conventions:annexes' annexes=convention.annexes lot=convention.lot %}
                    {% else %}
                        {% include "conventions/recapitulatif/pieces_jointes.html" %}
                    {% endif %}
                    {% include "conventions/recapitulatif/stationnements.html" with target_url='conventions:stationnements' stationnements=convention.stationnements %}
                    {% include "conventions/recapitulatif/foyer_attribution.html" with target_url='conventions:foyer_attribution' %}
                    {% include "conventions/recapitulatif/residence_attribution.html" with target_url='conventions:residence_attribution' %}
                    {% include "conventions/recapitulatif/variantes.html" with target_url='conventions:variantes' %}
                    {% include "conventions/recapitulatif/commentaires.html" with target_url='conventions:commentaires' %}
                {% endif %}
                {% if not request|is_readonly %}
                    <turbo-frame id="convention_actions" data-turbo="true">
                        {% include "conventions/actions/submit_convention.html" %}
                        {% include "conventions/actions/instructeur_notification.html" %}
                        {% if not convention|display_is_validated and not convention|display_reactive_convention %}
                            <div class="fr-grid-row fr-grid-row--gutters fr-mt-3w">
                                <div class="fr-col-12 fr-col-md-6">
                                    {% include "conventions/actions/bailleur_notification.html" %}
                                </div>

                                <span class="fr-sr-only">ou</span>

                                {% if convention.is_denonciation %}
                                    <div class="fr-col-12 fr-col-md-6 fr-py-5w fr-px-3w apilos-or-border">
                                        {% include "conventions/actions/validate_denonciation.html" %}
                                    </div>
                                {% elif convention.is_resiliation %}
                                    <div class="fr-col-12 fr-col-md-6 fr-py-5w fr-px-3w apilos-or-border">
                                        {% include "conventions/actions/validate_resiliation.html" %}
                                    </div>
                                {% elif not convention.is_resiliation %}
                                    <div class="fr-col-12 fr-col-md-6 fr-py-5w fr-px-3w apilos-or-border">
                                        {% include "conventions/actions/instructeur_validation.html" %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                        {% include "conventions/actions/type1and2_options.html" %}
                        {% if not convention.is_denonciation and not convention.is_resiliation %}
                            {% include "conventions/actions/generate_convention.html" %}
                        {% endif %}
                        {% include "conventions/actions/cancel_convention.html" %}
                        {% include "conventions/actions/delete.html" %}
                        {% include "conventions/actions/display_spf_info.html" %}
                        {% include "conventions/actions/display_resiliation_info.html" %}
                    </turbo-frame>
                {% endif %}
                <div class="fr-col-12 fr-py-5w">{% include "common/button/return_convention_index.html" %}</div>
            </div>
        </div>
        <script type="text/javascript" src="{% static "js/logements-table.js" %}" nonce="{{ request.csp_nonce }}"></script>
    {% endwith %}
    {% include "conventions/recapitulatif/uncheck_modal.html" %}
{% endblock content %}
