{% extends "conventions/resiliation_base.html" %}

{% block content %}
    <div class="fr-container-fluid ds_banner">

        {% include "conventions/common/form_header.html"%}
        {% include "common/step_progressbar.html"%}
    </div>
    <div class="fr-container fr-py-5w">
        <form method="post" action="">
            {% csrf_token %}
            <div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">
                <div class="fr-col-12 fr-mb-4w">
                    <h4>Date de résiliation</h4>
                    {% include "common/form/input_date.html" with form_input=form.date_resiliation object_field="convention__date_resiliation__"|add:form.uuid.value %}
                </div>
                <div class="fr-col-12 fr-mb-4w">
                    <h4>Motif de résiliation</h4>
                    {% include "common/form/input_textarea.html" with form_input=form.motif_resiliation object_field="convention__motif_resiliation__"|add:form.uuid.value %}
                </div>
                <div class="fr-col-12 fr-mb-4w">
                    {% include "common/form/input_upload.html" with single_file=False form_input=form.commentaires form_input_files=form.commentaires_files object_name='convention' object_uuid=convention.uuid file_list=convention.commentaires|get_files_from_textfiles textarea=True verticalDisplay=True object_field="convention__commentaires__"|add:form.uuid.value %}
                </div>
                {% include "conventions/common/form_footer_button.html" %}
            </div>
        </form>
    </div>
{% endblock %}
