{% extends "conventions/resiliation_base.html" %}

{% block content %}
    <div class="fr-container-fluid ds_banner">

        {% include "conventions/common/form_header.html"%}
        {% include "common/step_progressbar.html"%}
    </div>
    <div class="fr-container fr-py-5w">
        <form method="post" action="">
            {% csrf_token %}
            <div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">
                <div class="fr-col-12 fr-mb-4w">
                    <h4>Date de résiliation demandée</h4>
                    {% include "common/form/input_date.html" with form_input=form.date_resiliation_demandee object_field="convention__date_resiliation_demandee__"|add:form.uuid.value %}
                </div>
                <div class="fr-col-12 fr-mb-4w">
                    <h4>Motif de résiliation</h4>
                    {% include "common/form/input_textarea.html" with form_input=form.motif_resiliation object_field="convention__motif_resiliation__"|add:form.uuid.value %}
                </div>
                <div class="fr-col-12 fr-mb-4w">
                    <h4>Champ libre facultatif</h4>
                    {% include "common/form/input_textarea.html" with form_input=form.champ_libre_avenant object_field="convention__champ_libre_avenant__"|add:form.uuid.value %}
                </div>
                {% include "conventions/common/form_footer_button.html" %}
            </div>
        </form>
    </div>
{% endblock %}
