{% extends "conventions/resiliation_base.html" %}

{% block content %}
    <div class="fr-container-fluid ds_banner">

        {% include "conventions/common/form_header.html"%}
        {% include "common/step_progressbar.html"%}
    </div>
    <div class="fr-container fr-py-5w">
        <form method="post" action="">
            {% csrf_token %}
            <div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">
                <div class="fr-col-12 fr-mb-4w">
                    {% include "common/form/input_upload.html" with single_file=False form_input=form.fichier_instruction_resiliation form_input_files=form.fichier_instruction_resiliation_files object_name='convention' object_uuid=convention.uuid file_list=convention.fichier_instruction_resiliation|get_files_from_textfiles object_field="convention__fichier_instruction_resiliation__"|add:form.uuid.value %}
                </div>
                {% include "conventions/common/form_footer_button.html" %}
            </div>
        </form>
    </div>
{% endblock %}
