{% extends "layout/base.html" %}

{% load static %}

{% load custom_filters %}

{% block page_title %}Attribution - APiLos{% endblock%}

{% block javascript_extras %}
    <script src="{% static "js/comment-factory.js" %}" nonce="{{request.csp_nonce}}"></script>
{% endblock %}

{% block content %}
    <div class="fr-container-fluid ds_banner fr-pb-1w">
        {% include "conventions/common/form_header.html"%}
        {% include "common/step_progressbar.html"%}
        <div class="fr-container">
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <input
                    type="hidden"
                    id="{{form.uuid.id_for_label}}"
                    name="{{form.uuid.html_name}}"
                    value="{{ form.uuid.value|default_if_none:'' }}">
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12">
                        <h3>Conditions d'attribution et d'occupation permanente du logement-foyer</h3>

                        <div class="fr-grid-row fr-grid-row--gutters">
                            <div class="fr-col-12 fr-mb-2w">
                                {% include "common/form/input_number.html" with display_inline=True form_input=form.attribution_reservation_prefectoral object_field="convention__attribution_reservation_prefectoral__"|add:form.uuid.value %}
                            </div>
                        </div>

                        <h4>Autres modalitées</h4>
                        {% include "common/form/input_textarea.html" with form_input=form.attribution_modalites_reservations helptext_visible=True object_field="convention__attribution_modalites_reservations__"|add:form.uuid.value %}
                        {% include "common/form/input_textarea.html" with form_input=form.attribution_modalites_choix_personnes helptext_visible=True object_field="convention__attribution_modalites_choix_personnes__"|add:form.uuid.value %}
                        {% include "common/form/input_textarea.html" with form_input=form.attribution_prestations_integrees helptext_visible=True is_list=True object_field="convention__attribution_prestations_integrees__"|add:form.uuid.value %}
                        {% include "common/form/input_textarea.html" with form_input=form.attribution_prestations_facultatives helptext_visible=True is_list=True object_field="convention__attribution_prestations_facultatives__"|add:form.uuid.value %}

                    </div>
                </div>

                {% include "common/required_fields_info.html" %}
                {% include "conventions/common/form_footer_button.html" %}
            </form>
        </div>
    </div>
{% endblock %}
