{% extends "layout/base.html" %}

{% block page_title %}Sauvegarde - APiLos{% endblock%}

{% block content %}
    <div class="fr-container-fluid ds_banner">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-md-12  fr-my-5w">
                    <h2>Votre convention a été enregistrée !</h2>
                    <p class="fr-mb-3w">
                        <span class="content__headline">Référence de la convention : {{convention}}</span>
                    </p>
                    <div role="alert" class="fr-alert fr-alert--error">
                        <p>ATTENTION</p>
                        <p>le document de convention n'est pas encore soumis à l'instruction</p>
                    </div>
                    <p class="fr-mb-3w">La convention est enregistrée mais n'est pas encore soumise au service instructeur,
                        vous pouvez la soumettre à n'importe quel moment en l'éditant de nouveau et en cliquant sur le bouton
                        <b>"Soumettre au service instructeur"</b> sur l'écran de récapitulatif.
                    </p>
                    <p class="fr-mb-3w">Nous restons à votre disposition pour toute information et question.</p>
                    <p class="fr-mb-3w">En vous remerciant, nous vous souhaitons une bonne journée</p>
                    <p class="fr-mb-3w">L'équipe <a href="mailto:contact@apilos.beta.gouv.fr" target="_blank">APiLos</a></p>

                </div>
            </div>

            <div class="form-button-footer fr-col-md-12  fr-py-5w">
                {% include "common/button/return_convention_index.html" %}
            </div>

        </div>
    </div>
{% endblock %}
