{% extends "layout/base.html" %}

{% block content %}
    <div class="fr-container-fluid ds_banner">
        <div class="fr-container">
            <form method="post" action="">
                {% csrf_token %}
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-md-12 fr-col-lg-10 fr-col-offset-lg-1 fr-my-5w">
                        <h2 class="fr-mb-3w">Etape {{convention_form_step}}/{{ nb_steps }} - Choix du programme à conventionner</h2>
                        {% include "common/mandatory_fields_info.html" %}
                        <p class="fr-mb-3w">
                            <div class="fr-select-group{% if form.lot_uuid.errors %} fr-select-group--error{% endif %}">
                                <label class="fr-label" for="{{form.lot_uuid.id_for_label}}">
                                    Séléctionnez votre programme et son financement {% include "common/mandatory_field.html" with form_input=form.lot_uuid %}
                                </label>
                                <select class="fr-select {% if form.lot_uuid.errors %}fr-select--error{% endif %}" id="lot_uuid" name="lot_uuid" {% if not editable %}disabled{% endif %}>
                                    <option value="" selected disabled hidden>Selectionnez une option</option>
                                    {% for lot in programmes %}
                                        <option
                                            value="{{lot.uuid}}"
                                            {% if lot.uuid|stringformat:"s"  == form.lot_uuid.value %}selected{% endif %}
                                            {% if lot.convention_set.all and lot.uuid|stringformat:"s"  != form.lot_uuid.value %}disabled="disabled"{% endif %}>
                                            {{ lot.programme.ville}} - {{ lot.programme.nom }} - {{lot.nb_logements}} lgts - {{ lot.financement }}
                                        </option>
                                    {% endfor %}
                                </select>
                                {% for error in form.lot_uuid.errors %}
                                    <p id="select-error-desc-error" class="fr-error-text">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            </div>
                        </p>
                    </div>
                </div>
                <div class="form-button-footer fr-col-md-12 fr-col-lg-10 fr-col-offset-lg-1 fr-py-5w">
                    <a class="fr-btn fr-btn--secondary" href='{% url 'conventions:index' %}'>
                        Revenir à l'étape précédente
                    </a>
                    {% if editable %}
                        {% if convention_uuid %}
                            {% include "common/button/next_and_save.html" with suivant='conventions:selection_update' convention_uuid=convention_uuid %}
                        {% else %}
                            {% include "common/button/next_and_save.html" with suivant='conventions:selection' %}
                        {% endif %}
                    {% else %}
                        {% include "common/button/next.html" with suivant='conventions:bailleur' convention_uuid=convention_uuid %}
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
