{% extends "layout/base.html" %}

{% load static %}

{% block page_title %}Type de stationnements - APiLos{% endblock%}

{% block javascript_extras %}
    <script src="{% static "js/comment-block.js" %}" nonce="{{request.csp_nonce}}"></script>
{% endblock %}

{% block content %}
    <div class="fr-container-fluid ds_banner fr-pb-1w">
        <div class="fr-container">
            {% include "common/form/conventionform_header.html" %}
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-md-12 fr-mt-5w">
                        <!-- <h2>Etape {{convention_form_step}}/{{ nb_steps }} - Stationnements</h2> -->

                        <h4>Liste des stationnements associés au lot conventionné</h4>

                        {% if editable %}
                            {% include "common/form/download_upload_form.html" with convention_uuid=convention.uuid file_type='stationnements' upform=upform  what='stationnements'%}
                            <hr class="fr-col-12 fr-my-3w">
                        {% endif %}

                        {% for error in import_warnings %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error }}
                            </p>
                        {% endfor %}

                        {% for error in formset.non_form_errors %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error }}
                            </p>
                        {% endfor %}

                        {{ formset.management_form }}
                        <div class="fr-table fr-table--bordered">
                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col" class="col__width--150">Type de stationnement {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col" class="col__width--200">Nombre de staionnements {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        <th scope="col" class="col__width--150">Loyer maximum en € {% if formset.total_form_count %}{% include "common/mandatory_field_star.html" %}{% endif %}</th>
                                        {% if convention.statut != 'BROUILLON' %}
                                            <th scope="col">Comments</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for form in formset %}
                                        {% with main_object_field="type_stationnement__uuid__"|add:form.uuid.value %}
                                            <tr>
                                                <td>
                                                    <input
                                                        type="hidden"
                                                        id="{{form.uuid.id_for_label}}"
                                                        name="{{form.uuid.html_name}}"
                                                        value="{{ form.uuid.value|default_if_none:'' }}">
                                                    {% include "common/form/select_enum.html" with form_input=form.typologie enum=typologies parent_object_field=main_object_field %}
                                                </td>
                                                <td>
                                                    {% include "common/form/input_number.html" with form_input=form.nb_stationnements parent_object_field=main_object_field %}
                                                </td>
                                                <td>
                                                    {% include "common/form/input_number.html" with form_input=form.loyer step="0.01" parent_object_field=main_object_field %}
                                                </td>
                                                {% if convention.statut != 'BROUILLON' %}
                                                    <td id="{{form.uuid.id_for_label}}_div">
                                                        {% include "common/comment_icon.html" with form_input_id=form.uuid.id_for_label object_field=main_object_field comments=comments %}
                                                        {% include "common/comment_dialog.html" with form_input_id=form.uuid.id_for_label form_input_html=form.uuid.html_name convention=convention object_field=main_object_field comments=comments %}
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endwith %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% include "common/mandatory_fields_info.html" %}
                <div class="form-button-footer fr-col-md-12 fr-py-5w">
                    {% if editable %}
                        {% include "common/button/next_and_save.html" with suivant='conventions:stationnements' convention_uuid=convention.uuid editable=editable %}
                        {% include "common/button/previous.html" with precedent='conventions:annexes' convention_uuid=convention.uuid %}
                    {% else %}
                        {% include "common/button/noteditable_button.html" with convention=convention %}
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
