{% extends "layout/base.html" %}

{% block content %}
    <div class="fr-container-fluid ds_banner">
        <div class="fr-container">
            <form method="post" action="">
                {% csrf_token %}

                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-md-12 fr-col-lg-10 fr-col-offset-lg-1 fr-my-5w">
                        <h2>Etape 9/{{ nb_steps }} - Ajouter des informations à l'attention du service instructeur</h2>
                        {% include "common/convention_edit_info.html" with convention=convention %}
                        {% include "common/mandatory_fields_info.html" %}


                        <div class="fr-input-group {% if form.comments.errors %}fr-select-group--error{% endif %}">
                            <label class="fr-label" for="{{form.comments.id_for_label}}">
                                Ajoutez vos commentaires à l'attention de l'instructeur
                            </label>
                            {% include "common/form/input_textarea.html" with form_input=form.comments rows=10 %}
                        </div>
                    </div>
                </div>
                <div class="fr-col-md-12 fr-col-lg-10 fr-col-offset-lg-1 fr-py-5w" style="display: flex;flex-direction: row;align-items: center;justify-content: space-between;">
                    {% include "common/button/precedent.html" with precedent='conventions:step8' convention_uuid=convention.uuid %}
                    {% include "common/button/suivant.html" with suivant='conventions:step9' convention_uuid=convention.uuid %}
                </div>
            </form>
        </div>
    </div>
    <hr class="fr-grid-row fr-col-xs-10 fr-col-7 fr-my-7w">
{% endblock %}
