{% extends "layout/base.html" %}

{% block content %}
<div class="fr-container-fluid ds_banner">
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-md-12 fr-col-lg-11 fr-col-offset-lg-1 fr-my-5w">
        <h2 class="fr-mb-3w">Etape 2 - Information bailleur</h2>
        <p class="fr-mb-3w">
          ...
          convention id = {{convention_uuid}}
        </p>
      </div>
      <div class="fr-col-md-12 fr-col-lg-10 fr-col-offset-lg-1 fr-my-5w" style="display: flex;flex-direction: row;align-items: center;justify-content: space-between;">
        <button class="fr-btn" onclick="location.href='{% url 'conventions:step1_u' convention_uuid=convention_uuid %}'">
          <span class="fr-fi-arrow-left-s-line fr-mr-1w" aria-hidden="true"></span>Précédent
        </button>
        {% include "common/button/suivant.html" with suivant='conventions:step3' %}
      </div>
    </div>
  </div>
</div>
<hr class="fr-grid-row fr-col-xs-10 fr-col-7 fr-my-7w">
{% endblock %}