{% extends "layout/base.html" %}

{% block content %}
    <div class="fr-container-fluid ds_banner">
        <div class="fr-container">
            <form method="post" action="">
                {% csrf_token %}
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-md-12 fr-col-lg-10 fr-col-offset-lg-1 fr-my-5w">
                        <h2>Etape 4/{{ nb_steps }} - Programme : informations cadastrales</h2>
                        {% include "common/convention_edit_info.html" with convention=convention %}
                        {% include "common/mandatory_fields_info.html" %}

                        {% include "common/form/input_text.html" with form_input=form.permis_construire label="Numéro de permis construire" %}

                        <div class="fr-mb-2w">
                            <div class="fr-grid-row fr-grid-row--gutters">
                                <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                    {% include "common/form/input_date.html" with form_input=form.date_acte_notarie label="Date de l'acte notarié" %}
                                </div>
                                <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-pl-md-1w fr-mb-2w">
                                    {% include "common/form/input_date.html" with form_input=form.date_achat label="Date d'achat" %}
                                </div>
                            </div>
                        </div>

                        <div class="fr-mb-2w">
                            <div class="fr-grid-row fr-grid-row--gutters">
                                <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                    {% include "common/form/input_date.html" with form_input=form.date_achevement_previsible label="Date d'achevement previsible" %}
                                </div>
                                <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-pl-md-1w fr-mb-2w">
                                    {% include "common/form/input_date.html" with form_input=form.date_achevement label="Date d'achevement ou d'obtention de certificat deconformité" %}
                                </div>
                            </div>
                        </div>

                        <div class="fr-input-group {% if form.vendeur.errors %}fr-select-group--error{% endif %}">
                            <label class="fr-label fr-mb-1w" for="{{form.vendeur.id_for_label}}">
                                Vendeur
                                {% include "common/mandatory_field.html" %}
                            </label>
                            {% include "common/form/input_upload_button.html"%}
                            {% include "common/form/input_textarea.html" with form_input=form.vendeur rows=5 %}
                        </div>

                        <div class="fr-input-group {% if form.acquereur.errors %}fr-select-group--error{% endif %}">
                            <label class="fr-label fr-mb-1w" for="{{form.acquereur.id_for_label}}">
                                Acquéreur
                                {% include "common/mandatory_field.html" %}
                            </label>
                            {% include "common/form/input_upload_button.html"%}
                            {% include "common/form/input_textarea.html" with form_input=form.acquereur rows=5 %}
                        </div>

                        <div class="fr-input-group {% if form.reference_notaire.errors %}fr-select-group--error{% endif %}">
                            <label class="fr-label fr-mb-1w" for="{{form.reference_notaire.id_for_label}}">
                                Référence du notaire
                            </label>
                            {% include "common/form/input_upload_button.html"%}
                            {% include "common/form/input_textarea.html" with form_input=form.reference_notaire rows=5 %}
                        </div>

                        <div class="fr-input-group {% if form.reference_publication_acte.errors %}fr-select-group--error{% endif %}">
                            <label class="fr-label fr-mb-1w" for="{{form.reference_publication_acte.id_for_label}}">
                                Référence de publication de l'acte
                            </label>
                            {% include "common/form/input_upload_button.html"%}
                            {% include "common/form/input_textarea.html" with form_input=form.reference_publication_acte rows=5 %}
                        </div>

                    </div>
                </div>
                <div class="fr-col-md-12 fr-col-lg-10 fr-col-offset-lg-1 fr-py-5w" style="display: flex;flex-direction: row;align-items: center;justify-content: space-between;">
                    {% include "common/button/precedent.html" with precedent='conventions:step3' convention_uuid=convention.uuid %}
                    {% include "common/button/suivant.html" with suivant='conventions:step4' convention_uuid=convention.uuid %}
                </div>

            </form>
        </div>
    </div>
{% endblock %}
