{% extends "layout/base.html" %}

{% block content %}
    <div class="fr-container-fluid ds_banner">
        <div class="fr-container">

            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-md-12 fr-col-lg-10 fr-col-offset-lg-1 fr-my-5w">
                        <h2>Etape 5/{{ nb_steps }} - Financements</h2>
                        {% include "common/convention_edit_info.html" with convention=convention %}
                        {% include "common/mandatory_fields_info.html" %}

                        <div class="fr-input-group {% if form.date_fin_conventionnement.errors %}fr-select-group--error{% endif %}">
                            <label class="fr-label" for="{{form.date_fin_conventionnement.id_for_label}}">
                                Date de fin de la convention
                            </label>
                            {% include "common/form/input_date.html" with form_input=form.date_fin_conventionnement %}
                        </div>

                        <hr class="fr-col-12 fr-my-3w">

                        {% include "common/form/download_upload_form.html" with convention_uuid=convention.uuid file_type='prets' upform=upform  what='prêts' import_errors=import_errors %}

                        <hr class="fr-col-12 fr-my-3w">
                        {% for error in import_warnings %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error }}
                            </p>
                        {% endfor %}

                        {{ formset.management_form }}
                        <div class="fr-table fr-table--bordered">
                            <table>
                                <caption>Liste des prêts associés à la convention</caption>

                                <thead>
                                    <tr>
                                        <th scope="col">Numéro</th>
                                        <th scope="col">Date d'octroi</th>
                                        <th scope="col">Durée</th>
                                        <th scope="col">Montant {% include "common/mandatory_field.html" %}</th>
                                        <th scope="col">Préteur</th>
                                        <th scope="col">Précisee le prêteur si 'Autre'</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for form_pret in formset %}
                                        <tr>
                                            <td>
                                                {% include "common/form/input_text.html" with form_input=form_pret.numero %}
                                            </td>
                                            <td>
                                                {% include "common/form/input_date.html" with form_input=form_pret.date_octroi %}
                                            </td>
                                            <td>
                                                {% include "common/form/input_number.html" with form_input=form_pret.duree %}
                                            </td>
                                            <td>
                                                {% include "common/form/input_number.html" with form_input=form_pret.montant step="0.01" %}
                                            </td>
                                            <td>
                                                <select
                                                    class="fr-select {% if form_pret.preteur.errors %}fr-select--error{% endif %}"
                                                    id="{{form_pret.preteur.id_for_label}}"
                                                    name="{{form_pret.preteur.html_name}}">
                                                    <option value="" {% if not form_pret.preteur.value %}selected{% endif %} disabled hidden>Sélectionnez le prêteur</option>
                                                    {% for preteur in preteurs %}
                                                        <option value="{{preteur.value}}"
                                                            {% if preteur.value  == form_pret.preteur.value %}selected{% endif %}>
                                                            {{preteur.label}}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                                {% for error in form_pret.preteur.errors %}
                                                    <p id="select-error-desc-error" class="fr-error-text">
                                                        {{ error }}
                                                    </p>
                                                {% endfor %}
                                            </td>
                                            <td>
                                                {% include "common/form/input_text.html" with form_input=form_pret.autre %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="fr-input-group {% if form.fond_propre.errors %}fr-select-group--error{% endif %}">
                            <label class="fr-label" for="{{form.fond_propre.id_for_label}}">
                                Fond propre
                            </label>
                            {% include "common/form/input_number.html" with form_input=form.fond_propre step="0.01" %}
                        </div>


                    </div>
                </div>
                <div class="fr-col-md-12 fr-col-lg-10 fr-col-offset-lg-1 fr-py-5w" style="display: flex;flex-direction: row;align-items: center;justify-content: space-between;">
                    {% include "common/button/precedent.html" with precedent='conventions:step4' convention_uuid=convention.uuid %}
                    {% include "common/button/suivant.html" with suivant='conventions:step5' convention_uuid=convention.uuid %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
