{% extends "layout/base.html" %}

{% block content %}
    <div class="fr-container-fluid ds_banner">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-md-12 fr-col-lg-10 fr-col-offset-lg-1 fr-my-5w">
                    <h2>Félicitation</h2>
                    {% include "common/convention_edit_info.html" with convention=convention %}
                    <p class="fr-mb-3w">Bravo, c'est soumis le : {{convention.soumis_le}}</p>

                </div>
            </div>

            <div class="fr-col-md-12 fr-col-lg-10 fr-col-offset-lg-1 fr-py-5w" style="display: flex;flex-direction: row;align-items: center;justify-content: space-between;">
                <a class="fr-btn fr-btn--secondary" href='{% url 'conventions:index' %}'>
                    Retourner à la liste des conventions
                </a>
            </div>

        </div>
    </div>
    <hr class="fr-grid-row fr-col-xs-10 fr-col-7 fr-my-7w">
{% endblock %}
