{% extends "layout/base.html" %}

{% load custom_filters static %}

{% block page_title %}Variantes - APiLos{% endblock %}

{% block javascript_extras %}
    <script src="{% static "js/comment-factory.js" %}" nonce="{{ request.csp_nonce }}"></script>
{% endblock javascript_extras %}

{% block content %}
    <div class="fr-container-fluid ds_banner fr-pb-1w">
        {% include "conventions/common/form_header.html" %}
        {% include "common/step_progressbar.html" %}
        <div class="fr-container">
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <input
                    type="hidden"
                    id="{{ form.uuid.id_for_label }}"
                    name="{{ form.uuid.html_name }}"
                    value="{{ form.uuid.value|default_if_none:'' }}">
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12">
                        <h3>Nature du programme conventionné</h3>

                        {% for error in form.non_field_errors %}
                            <p id="text-input-error-desc-error" class="fr-error-text">
                                {{ error }}
                            </p>
                        {% endfor %}

                        <div class="fr-grid-row fr-grid-row--gutters">
                            <div class="fr-col-12 fr-mb-2w">
                                {% include "common/form/input_checkbox.html" with form_input=form.foyer_residence_variante_1 strike_unchecked=True object_field="convention__foyer_residence_variante_1__"|add:form.uuid.value %}
                                {% include "common/form/input_checkbox.html" with form_input=form.foyer_residence_variante_2 strike_unchecked=True object_field="convention__foyer_residence_variante_2__"|add:form.uuid.value %}
                                <div id="foyer_residence_variante_2_details">
                                    {% include "common/form/input_textarea.html" with form_input=form.foyer_residence_variante_2_travaux object_field="convention__foyer_residence_variante_2_travaux__"|add:form.uuid.value %}
                                    {% if convention.programme.is_residence %}
                                        <div class="fr-grid-row fr-grid-row--gutters">
                                            <div class="fr-col-12 fr-col-lg-6 fr-mb-2w">
                                                {% include "common/form/input_number.html" with form_input=form.foyer_residence_variante_2_nb_tranches display_inline=True object_field="convention__foyer_residence_variante_2_nb_tranches__"|add:form.uuid.value %}
                                            </div>
                                            <div class="fr-col-12 fr-col-lg-6 fr-mb-2w">
                                                {% include "common/form/input_number.html" with form_input=form.foyer_residence_variante_2_nb_annees display_inline=True object_field="convention__foyer_residence_variante_2_nb_annees__"|add:form.uuid.value %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                {% include "common/form/input_checkbox.html" with form_input=form.foyer_residence_variante_3 strike_unchecked=True object_field="convention__foyer_residence_variante_3__"|add:form.uuid.value %}
                            </div>
                        </div>
                    </div>
                </div>
                {% include "conventions/common/form_footer_button.html" %}
            </form>
        </div>
    </div>
    <script type="text/javascript" nonce="{{ request.csp_nonce }}">
        document.addEventListener('DOMContentLoaded', function(){
            if (!document.getElementById('foyer_residence_variante_2').checked) {
                document.getElementById('foyer_residence_variante_2_details').hidden = true
            }
        })
        function strike_checked_option(e, div_to_toggle_id) {
            if (!e.target.checked) {
                e.target.parentElement.getElementsByTagName('label')[0].classList.add('apilos-form-label--strike')
                if (div_to_toggle_id !== undefined){
                    document.getElementById(div_to_toggle_id).hidden = true
                }
            }
            else {
                e.target.parentElement.getElementsByTagName('label')[0].classList.remove('apilos-form-label--strike')
                if (div_to_toggle_id !== undefined){
                    document.getElementById(div_to_toggle_id).hidden = false
                }
            }
        }
        document.getElementById('foyer_residence_variante_1').addEventListener('change', e => strike_checked_option(e, undefined));
        document.getElementById('foyer_residence_variante_2').addEventListener('change', e => strike_checked_option(e, 'foyer_residence_variante_2_details'));
        document.getElementById('foyer_residence_variante_3').addEventListener('change', e => strike_checked_option(e, undefined));
    </script>
{% endblock content %}
