{% for habilitation in request.session.habilitations %}
    <a href="{{ request|get_change_habilitation_url:habilitation.id }}" class="{% if habilitation.id == request.session.habilitation_id %}apilos-active-habilitation{% endif %}">
        <b>{{ habilitation.groupe.libelleRole }}</b><br>
        {% if habilitation.sousTitre1 %}
            {{ habilitation.sousTitre1 }}<br>
        {% endif %}
        {{ habilitation.sousTitre2 }}
    </a>
{% endfor %}

<a href="{{ request|get_manage_habilitation_url }}">
    <span class="fr-fi-logout-box-r-line fr-mr-1w" aria-hidden="true">
    </span>Gérer mes habilitations
</a>
<a href="{% url 'cas_ng_logout' %}?next=/">
    <span class="fr-fi-logout-box-r-line fr-mr-1w" aria-hidden="true">
    </span>Déconnexion
</a>
