{% if request.session.menu %}
    <div class="fr-header__menu">
        <div class="fr-container">
            <nav class="fr-nav" id="navigation-773" role="navigation" aria-label="Menu principal">
                <ul class="fr-nav__list">
                    {% for menu in request.session.menu %}
                        {% if menu.menuItems %}
                            <li class="fr-nav__item">
                                <button class="fr-nav__btn" aria-expanded="false" aria-controls="menu-{{ menu.url }}" {% if menu.url|is_conventionnement_menu_url %}aria-current="page"{% endif %} >{{ menu.libelle }}</button>
                                <div class="fr-collapse fr-menu" id="menu-{{ menu.url }}">
                                    <ul class="fr-menu__list">
                                        {% for submenu in menu.menuItems %}
                                            <li>

                                                <a
                                                    class="fr-nav__link"
                                                    href="{{ request|get_menu_url:submenu.url }}"
                                                    {% if submenu.openNewWindow %}target="_blank" rel="noreferrer"{% else %}target="_self"{% endif %}
                                                    {% if submenu.url|is_conventionnement_menu_url %}aria-current="page"{% endif %}
                                                >
                                                    {{ submenu.libelle }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        {% else %}
                            <li class="fr-nav__item">
                                <a class="fr-nav__link" href="{{ request|get_menu_url:menu.url }}" target="_self">{{ menu.libelle }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
{% endif %}
