{% extends "layout/base.html" %}

{% block page_title %} Envoi - APiLos{% endblock %}

{% load static %}

{% block content %}
    <div class="fr-container-fluid ds_banner">
        {% include "conventions/common/form_header.html" %}
        {% include "common/nav_bar.html" with nav_bar_step="sent" %}

        <div class="fr-container fr-py-5w">
            {% include "conventions/common/stepper.html" %}
            <h4>Indiquez la date de la publication de la convention</h4>
            <form method="POST">
                {% csrf_token %}
                <div class="fr-grid-row ">
                    <div class="fr-col-4">
                        {% include "common/form/input_numero_publication.html" with form_input=publication_info_form.reference_spf editable=True %}
                    </div>
                    <div class="fr-col-4">
                    </div>
                    <div class="fr-col-4">
                        {% include "common/form/input_date.html" with form_input=publication_info_form.date_publication_spf editable=True %}
                    </div>
                </div>

                <ul class="fr-my-7w fr-btns-group fr-btns-group--inline-md fr-btns-group--right">
                    <li>
                        <button type="submit" formaction="{% url 'conventions:cancel_upload_publication' convention_uuid=convention.uuid %}" class="fr-btn fr-btn--secondary">
                            Annuler
                        </button>
                    </li>
                    <li>
                        <button type="submit" class="fr-btn">
                            Enregistrer et valider la publication
                        </button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
{% endblock content %}
