{% if request.user.is_administrator %}
    <button class="fr-btn fr-fi-add-circle-line fr-btn--icon-left" type="button" data-fr-opened="false" aria-controls="fr-modal-add-administration">
        Ajouter une administration
    </button>
    <dialog aria-labelledby="fr-modal-title-modal-add-administration" role="dialog" id="fr-modal-add-administration" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-link--close fr-link" title="Fermer la fenêtre modale" aria-controls="fr-modal-add-administration">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-modal-add-administration" class="fr-modal__title">
                                <span class="fr-fi-arrow-right-line fr-fi--lg"></span>
                                Ajouter une administration à l'utilisateur ‹‹{{ form.username.value }}››
                            </h1>
                            <form method="post" action="{% url 'settings:edit_user' username=form.username.value %}">
                                {% csrf_token %}

                                {% include "settings/form/select_administration.html" with form_input=form_add_administration.administration %}

                                <button class="fr-btn" name="action_type", value="add_administration">
                                    Enregistrer
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
{% endif %}