{% extends "layout/base.html" %}

{% load static %}

{% load custom_filters %}

{% block page_title %}Utilisateurs - APiLos{% endblock%}

{% block javascript_extras %}
    <script src="{% static "virtual-select/virtual-select.min.js" %}" nonce="{{request.csp_nonce}}"></script>
{% endblock %}

{% block css_extras %}
    <link rel="stylesheet" href="{% static 'virtual-select/virtual-select.min.css' %}">
{% endblock %}

{% block content %}
    <div class="fr-container-fluid">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters fr-py-5w">
                <div class='fr-col-12 fr-col-md-4 fr-col-lg-3'>
                    {% include 'settings/common/side_menu.html' with active_menu='users' %}
                </div>
                <div class='fr-col-12 fr-col-md-8 fr-col-lg-9 fr-pl-md-3w'>
                    <div class='fr-col-12'>
                        <h3>Création d'un utilisateur</h3>
                        <form method="post" action="">
                            {% csrf_token %}
                            {% include "common/form/input_text.html" with form_input=form.email %}
                            {% include "common/form/input_text.html" with form_input=form.username %}
                            {% include "common/form/input_text.html" with form_input=form.first_name %}
                            {% include "common/form/input_text.html" with form_input=form.last_name %}
                            {% include "common/form/input_telephone.html" with form_input=form.telephone %}
                            {% include "settings/form/email_preferences.html" with user=None form_input=form.preferences_email %}
                            {% if request.user.is_superuser %}
                                <h4>Rôles spéciaux</h4>
                            {% else %}
                                <h4>Rôle spécial</h4>
                            {% endif %}
                            {% include "common/form/input_checkbox.html" with form_input=form.administrateur_de_compte editable=request.user.is_administrator %}
                            {% if request.user.is_superuser %}
                                {% include "common/form/input_checkbox.html" with form_input=form.is_superuser %}
                            {% endif %}

                            {% if request.user.is_superuser %}
                                {% include "common/form/input_select.html" with form_input=form.user_type with_empty_option=True label_class="fr-h4" %}
                                <script type="text/javascript" nonce="{{request.csp_nonce}}">
                                    document.addEventListener('DOMContentLoaded', function () {
                                        document.getElementById('{{form.user_type.id_for_label}}')
                                            .addEventListener('change', function(event){
                                            if (event.target.value == "BAILLEUR") {
                                                document.getElementById('select_administration').hidden = true
                                                document.getElementById('select_bailleur').hidden = false
                                            }
                                            else if (event.target.value == "INSTRUCTEUR") {
                                                document.getElementById('select_administration').hidden = false
                                                document.getElementById('select_bailleur').hidden = true
                                            }
                                            else {
                                                document.getElementById('select_administration').hidden = true
                                                document.getElementById('select_bailleur').hidden = true
                                            }

                                        });
                                    });
                                </script>
                                <div id="select_administration" {% if form.user_type.value != 'INSTRUCTEUR' %} hidden {% endif %}>
                                    {% include "settings/form/select_administration.html" with form_input=form.administration %}
                                </div>
                                <div id="select_bailleur" {% if form.user_type.value != 'BAILLEUR' %} hidden {% endif %}>
                                    {% url 'users:search_bailleur' as search_bailleur_url %}
                                    {% include "common/form/input_search_select.html" with form_input=form.bailleur queryset=form.bailleur.field.queryset field=form.bailleur.field.to_field_name url=search_bailleur_url %}
                                </div>
                            {% else %}
                                {% if request|is_bailleur %}
                                    <input
                                        type="hidden"
                                        id="{{form.user_type.id_for_label}}"
                                        name="{{form.user_type.html_name}}"
                                        value="BAILLEUR">
                                    {% url 'users:search_bailleur' as search_bailleur_url %}
                                    {% include "common/form/input_search_select.html" with form_input=form.bailleur queryset=form.bailleur.field.queryset field=form.bailleur.field.to_field_name url=search_bailleur_url %}
                                {% endif %}
                                {% if request|is_instructeur %}
                                    <input
                                        type="hidden"
                                        id="{{form.user_type.id_for_label}}"
                                        name="{{form.user_type.html_name}}"
                                        value="INSTRUCTEUR">
                                    {% include "settings/form/select_administration.html" with form_input=form.administration %}
                                {% endif %}
                            {% endif %}
                            <button class="fr-btn fr-fi-save-line fr-btn--icon-left fr-mt-3w" type="submit">
                                Enregistrer
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
