{% extends "layout/base.html" %}

{% load static %}

{% block page_title %}Administration{{ paginated_items.paginator.count|pluralize }} - APiLos{% endblock%}

{% block content %}
    <div class="fr-container-fluid">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters fr-py-5w">
                <div class='fr-col-12 fr-col-md-4 fr-col-lg-3'>
                    {% include 'settings/common/side_menu.html' with active_menu='administrations' %}
                </div>
                <div class='fr-col-12 fr-col-md-8 fr-col-lg-9 fr-pl-md-3w'>

                    <form class="fr-my-3w" method="get" action="" id="search_table">
                        <input type="hidden" id="page" name="page" value="{{paginated_items.number}}">
                        <input type="hidden" id="order_by" name="order_by" value="{{order_by}}">

                        {% if total_items > 3 %}
                            <div class="fr-search-bar" id="header-search" role="search">
                                <label class="fr-label" for="search_input">
                                    Recherche
                                </label>
                                <input class="fr-input" placeholder="Rechercher" type="search" id="search_input" name="search_input" value="{{search_input}}">
                                <button class="fr-btn" title="Rechercher">
                                    Rechercher
                                </button>
                            </div>
                        {% endif %}
                    </form>

                    <div class="fr-table fr-table--bordered table--layout-fixed">
                        <div class="fr-table__wrapper">
                            <div class="fr-table__container">
                                <div class="fr-table__content">
                                    <table>
                                        <caption>{{paginated_items.paginator.count}}{% if paginated_items.paginator.count != total_items %} / {{ total_items }}{% endif %} administration{{ paginated_items.paginator.count|pluralize }}</caption>

                                        <thead>
                                            <tr>
                                                <th scope="col">
                                                    Nom
                                                    {% include "common/table/display_order_icon.html" with order_by=order_by order_by_column='nom' url_target='settings:administration' %}
                                                </th>
                                                <th scope="col">
                                                    Code
                                                    {% include "common/table/display_order_icon.html" with order_by=order_by order_by_column='code' url_target='settings:administration' %}
                                                </th>
                                                <th scope="col">
                                                    Ville de signature
                                                    {% include "common/table/display_order_icon.html" with order_by=order_by order_by_column='ville_signature' url_target='settings:administration' %}
                                                </th>
                                                <th scope="col">
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for administration in paginated_items %}
                                                <tr>
                                                    <td>{{ administration.nom }}</td>
                                                    <td>{{ administration.code }}</td>
                                                    <td>{{ administration.ville_signature }}</td>
                                                    <td>
                                                        <a class="fr-link fr-mb-1w" href="{% url 'settings:edit_administration' administration_uuid=administration.uuid %}" >
                                                            <span class="fr-icon-edit-line" aria-hidden="true"></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% include 'common/table/pagination.html' with paginate_list=paginated_items %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
