{% extends "layout/base.html" %}

{% load static %}

{% block page_title %}Administration{% if administrations.paginator.count > 1 %}s{% endif %} - APiLos{% endblock%}

{% block content %}
    <div class="fr-container-fluid">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters fr-py-5w">
                <div class='fr-col-12 fr-col-md-4 fr-col-lg-3'>
                    {% include 'settings/common/side_menu.html' with active_menu='administrations' %}
                </div>
                <div class='fr-col-12 fr-col-md-8 fr-col-lg-9 fr-pl-md-3w'>
                    <div class="fr-table fr-table--bordered table--layout-fixed">
                        <table>
                            <caption>{{administrations.paginator.count}} administration{% if administrations.paginator.count > 1 %}s{% endif %}</caption>

                            <thead>
                                <tr>
                                    <th scope="col">
                                        Nom
                                    </th>
                                    <th scope="col">
                                        Code
                                    </th>
                                    <th scope="col">
                                        Ville de signature
                                    </th>
                                    <th scope="col">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for administration in administrations %}
                                    <tr>
                                        <td>{{ administration.nom }}</td>
                                        <td>{{ administration.code }}</td>
                                        <td>{{ administration.ville_signature }}</td>
                                        <td>
                                            <a class="fr-link fr-mb-1w" href="{% url 'settings:edit_administration' administration_uuid=administration.uuid %}" >
                                                <span class="fr-fi-edit-line" aria-hidden="true"></span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% include 'common/utils/pagination.html' with paginate_list=administrations %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
