<div class="fr-table">
    <div class="fr-table__wrapper">
        <div class="fr-table__container">
            <div class="fr-table__content">
                <table>
                    <caption>{{ count }}{% if count != total_items %} / {{ total_items }}{% endif %} bailleur{{ count|pluralize }}</caption>

                    <thead>
                        <tr>
                            <th scope="col">
                                Nom
                                {% include "common/table/display_order_icon.html" with order_by=order_by order_by_column='nom' url_target='settings:bailleur' %}
                            </th>
                            <th scope="col">
                                Type
                                {% include "common/table/display_order_icon.html" with order_by=order_by order_by_column='sous_nature_bailleur' url_target='settings:bailleur' %}
                            </th>
                            <th scope="col">
                                Siret
                                {% include "common/table/display_order_icon.html" with order_by=order_by order_by_column='siret' url_target='settings:bailleur' %}
                            </th>
                            <th scope="col">
                                Ville
                                {% include "common/table/display_order_icon.html" with order_by=order_by order_by_column='ville' url_target='settings:bailleur' %}
                            </th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bailleur in items %}
                            <tr>
                                <td>{{ bailleur.nom }}</td>
                                <td>{{ bailleur.get_sous_nature_bailleur_display }}</td>
                                <td>{{ bailleur.siret }}</td>
                                <td>{{ bailleur.ville }}</td>
                                <td>
                                    <a class="fr-link fr-mb-1w" href="{% url 'settings:edit_bailleur' bailleur_uuid=bailleur.uuid %}" >
                                        <span class="fr-icon-edit-line" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
