{% extends "layout/base.html" %}

{% load static %}

{% block page_title %}Administration - APiLos{% endblock%}

{% block content %}
    <div class="fr-container-fluid">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters fr-py-5w">
                <div class='fr-col-12 fr-col-md-4 fr-col-lg-3'>
                    {% include 'settings/common/side_menu.html' with active_menu='administrations' %}
                </div>
                <div class='fr-col-12 fr-col-md-8 fr-col-lg-9 fr-pl-md-3w'>
                    <h3>Modification de l'administration « {{ form.nom.value }} »</h3>
                    {% include "common/messages.html" %}
                    <form method="post" action="">
                        {% csrf_token %}
                        {% if not CERBERE_AUTH %}
                            {% include "common/form/input_text.html" with form_input=form.nom  %}
                            {% include "common/form/input_text.html" with form_input=form.code editable=request.user.is_superuser %}
                        {% endif %}
                        {% include "common/form/input_text.html" with form_input=form.ville_signature %}
                        {% include "common/form/input_text.html" with form_input=form.signataire_bloc_signature helptext_visible=True %}
                        {% include "common/form/input_text.html" with form_input=form.prefix_convention %}

                        {% include "common/form/input_number.html" with display_inline=True form_input=form.nb_convention_exemplaires %}

                        <h4>Adresse à laquelle les conventions doivent-être envoyées</h4>
                        <span class="fr-hint-text fr-mb-3w">Il est possible de préciser le service dans le champ de l'adresse, par exemple :<br>
                            <div class="fr-ml-3w">
                                Service du Conventionnement APL<br>
                                Délégataire des aides à la Pierre<br>
                                16 Rue Antoine Zattara<br>
                                13332 Marseille
                            </div>
                        </span>
                        {% include "common/form/input_textarea.html" with form_input=form.adresse %}
                        <div class="fr-grid-row fr-grid-row--gutters">
                            <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                {% include "common/form/input_text.html" with form_input=form.code_postal %}
                            </div>
                            <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                {% include "common/form/input_text.html" with form_input=form.ville %}
                            </div>
                        </div>



                        <button class="fr-btn fr-fi-save-line fr-btn--icon-left" type="submit">
                            Enregistrer
                        </button>
                    </form>
                    {% if not CERBERE_AUTH %}
                        <h3 class="fr-mt-3w">Utilisateurs de l'administration « {{ form.nom.value }} »</h3>
                        {% include 'settings/user_list.html' with users=paginated_users read_only=True %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
