{% extends "layout/base.html" %}

{% load static %}

{% block page_title %}Administration - APiLos{% endblock%}

{% block content %}
    <div class="fr-container-fluid">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters fr-py-5w">
                <div class='fr-col-12 fr-col-md-4 fr-col-lg-3'>
                    {% include 'settings/common/side_menu.html' with active_menu='administrations' %}
                </div>
                <div class='fr-col-12 fr-col-md-8 fr-col-lg-9 fr-pl-md-3w'>
                    <h3>Modification de l'administration ‹‹{{ form.nom.value }}››</h3>
                    <form method="post" action="">
                        {% csrf_token %}
                        {% include "common/form/input_text.html" with form_input=form.nom  %}
                        {% include "common/form/input_text.html" with form_input=form.code editable=request.user.is_superuser %}
                        {% include "common/form/input_text.html" with form_input=form.ville_signature %}
                        {% include "common/form/input_text.html" with form_input=form.prefix_convention %}
                        {% include "common/form/input_text.html" with form_input=form.adresse %}
                        {% include "common/form/input_text.html" with form_input=form.code_postal %}
                        {% include "common/form/input_text.html" with form_input=form.ville %}

                        <button class="fr-btn fr-fi-save-line fr-btn--icon-left" type="submit">
                            Enregistrer
                        </button>
                    </form>

                    <h3 class="fr-mt-3w">Utilisateurs du bailleur ‹‹{{ form.nom.value }}››</h3>
                    {% include 'settings/user_list.html' with users=paginated_users read_only=True %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
