{% extends "layout/base.html" %}

{% load static %}

{% block page_title %}Bailleur - APiLos{% endblock%}

{% block javascript_extras %}
    <script src="{% static "virtual-select/virtual-select.min.js" %}" nonce="{{request.csp_nonce}}"></script>
{% endblock %}

{% block css_extras %}
    <link rel="stylesheet" href="{% static 'virtual-select/virtual-select.min.css' %}">
{% endblock %}

{% block content %}
    <div class="fr-container-fluid">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters fr-py-5w">
                <div class='fr-col-12 fr-col-md-4 fr-col-lg-3'>
                    {% include 'settings/common/side_menu.html' with active_menu='bailleurs' %}
                </div>
                <div class='fr-col-12 fr-col-md-8 fr-col-lg-9 fr-pl-md-3w'>
                    <h3>Modification du bailleur « {{ form.nom.value }} »</h3>
                    {% include "common/messages.html" %}
                    <div role="warning" class="fr-alert fr-alert--warning fr-mb-3w">
                        <p>Les modifications que vous apportez à votre bailleur seront appliquées à toutes les conventions qui ne sont pas encore validées</p>
                    </div>
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="fr-grid-row fr-grid-row--gutters">
                            <div class="fr-col-12 fr-col-md-12">

                                <h4>Entreprise bailleur</h4>

                                {% include "common/form/input_text.html" with form_input=form.nom object_field="bailleur__nom__"|add:form.uuid.value %}

                                {% if not CERBERE_AUTH %}
                                    {% if request.user.is_superuser or request.user.administrateur_de_compte %}
                                        {% if form.bailleur.field.queryset.count > 0 and bailleur.bailleurs.count == 0 %}
                                            {% url 'users:search_parent_bailleur' bailleur_uuid=bailleur.uuid as search_bailleur_url %}
                                            {% include "common/form/input_search_select.html" with form_input=form.bailleur queryset=form.bailleur.field.queryset field=form.bailleur.field.to_field_name url=search_bailleur_url %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                {% if form.bailleur.value %}
                                    <div class="fr-mb-3w">
                                        <a href="{% url 'settings:edit_bailleur' bailleur_uuid=form.bailleur.value %}"> Éditer le bailleur parent</a>
                                    </div>
                                {% endif %}

                                {% include "common/form/input_select.html" with form_input=form.nature_bailleur editable=request.user.is_superuser %}
                                {% include "common/form/input_select.html" with form_input=form.sous_nature_bailleur editable=request.user.is_superuser %}

                                <div class="fr-mb-2w">
                                    <div class="fr-grid-row fr-grid-row--gutters">
                                        <div class="fr-col-12 fr-col-md-12 fr-col-lg-4 fr-mb-2w">
                                            {% include "common/form/input_text.html" with form_input=form.siret object_field="bailleur__siret__"|add:form.uuid.value %}
                                        </div>
                                        <div class="fr-col-12 fr-col-md-12 fr-col-lg-4 fr-mb-2w">
                                            {% include "common/form/input_text.html" with form_input=form.siren editable=false %}
                                        </div>
                                        <div class="fr-col-12 fr-col-md-12 fr-col-lg-4 fr-pl-md-1w fr-mb-2w">
                                            {% include "common/form/input_number.html" with step="0.01" form_input=form.capital_social object_field="bailleur__capital_social__"|add:form.uuid.value %}
                                        </div>
                                    </div>
                                </div>

                                {% include "common/form/input_text.html" with form_input=form.adresse object_field="bailleur__adresse__"|add:form.uuid.value %}

                                <div class="fr-mb-2w">
                                    <div class="fr-grid-row fr-grid-row--gutters">
                                        <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                            {% include "common/form/input_text.html" with form_input=form.code_postal object_field="bailleur__code_postal__"|add:form.uuid.value %}
                                        </div>
                                        <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-pl-md-1w fr-mb-2w">
                                            {% include "common/form/input_text.html" with form_input=form.ville object_field="bailleur__ville__"|add:form.uuid.value %}
                                        </div>
                                    </div>
                                </div>

                                <h4>Signataire de la convention</h4>

                                {% include "common/form/input_text.html" with form_input=form.signataire_nom object_field="bailleur__signataire_nom__"|add:form.uuid.value %}

                                <div class="fr-mb-2w">
                                    <div class="fr-grid-row fr-grid-row--gutters">
                                        <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                                            {% include "common/form/input_text.html" with form_input=form.signataire_fonction object_field="bailleur__signataire_fonction__"|add:form.uuid.value %}
                                        </div>
                                        <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-pl-md-1w fr-mb-2w">
                                            {% include "common/form/input_date.html" with form_input=form.signataire_date_deliberation object_field="bailleur__signataire_date_deliberation__"|add:form.uuid.value %}
                                        </div>
                                    </div>
                                </div>

                                {% include "common/form/input_text.html" with form_input=form.signataire_bloc_signature object_field="bailleur__signataire_bloc_signature__"|add:form.uuid.value %}

                            </div>
                        </div>
                        {% include "common/required_fields_info.html" %}

                        <button class="fr-btn fr-fi-save-line fr-btn--icon-left" type="submit">
                            Enregistrer
                        </button>
                    </form>
                    {% if not CERBERE_AUTH %}
                        {% if bailleur.bailleurs.count > 0 %}
                            {% include 'settings/bailleur_list_table.html' with count=bailleur.bailleurs.count total_items=bailleur.bailleurs.count items=bailleur.bailleurs.all%}
                        {% endif %}
                        <h3 class="fr-mt-3w">Utilisateurs du bailleur « {{ form.nom.value }} »</h3>
                        {% include 'settings/user_list.html' with users=user_list.paginated_users total_users=user_list.total_users read_only=True %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
