{% extends "layout/base.html" %}

{% load static %}

{% block page_title %}Importer un listing bailleur - APiLos{% endblock%}

{% block content %}
    <div class="fr-container-fluid">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters fr-py-5w fr-mb-1w">
                <div class='fr-col-12 fr-col-md-4 fr-col-lg-3'>
                    {% include 'settings/common/side_menu.html' with active_menu='users' %}
                </div>
                <div class='fr-col-12 fr-col-md-8 fr-col-lg-9 fr-pl-md-3w'>

                    <h4>Importer un listing utilisateur bailleur</h4>

                    <form method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="fr-grid-row fr-grid-row--right fr-grid-row--middle">
                            <a class="fr-btn fr-btn--secondary fr-icon-download-line fr-btn--icon-left" href="{% url 'conventions:load_xlsx_model' file_type='listing_bailleur' %}">
                                Télécharger un fichier d'exemple
                            </a>
                            <p class="mx-4 my-0"> ou </p>
                            <input id="file-upload-lock" type="hidden" name="Upload" value="true" disabled="disabled" />
                            <input
                                class="fileinput--hidden"
                                type="file"
                                id="file-upload-input"
                                name="file"
                                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />

                            <button
                                class="fr-btn fr-icon-upload-line fr-btn--icon-left auto-upload-btn"
                                type="button"
                                data-input="file-upload-input"
                                data-lock="file-upload-lock"
                            >
                                Déposer le fichier de listing bailleur
                            </button>

                        </div>

                        <hr class="fr-col-12 fr-my-3w">

                        {% if upform.errors %}
                            <div class="fr-col-12">
                                {% for field in upform %}
                                    {% for error in field.errors %}
                                        <p id="select-error-desc-error" class="fr-error-text">
                                            {{ error|escape }}
                                        </p>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {{ formset.management_form }}
                        <div class="fr-table fr-table--bordered table--layout-fixed">
                            <table aria-label="Prêts">
                                <thead>
                                    <tr>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Prénom</th>
                                        <th scope="col">Identifiant</th>
                                        <th scope="col">Bailleur</th>
                                        <th scope="col">Adresse e-mail</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for form_user_bailleur in formset %}
                                        <tr>
                                            <td>
                                                {% include "common/form/input_text.html" with form_input=form_user_bailleur.first_name editable=True %}
                                            </td>
                                            <td>
                                                {% include "common/form/input_text.html" with form_input=form_user_bailleur.last_name editable=True %}
                                            </td>
                                            <td>
                                                {% include "common/form/input_text.html" with form_input=form_user_bailleur.username editable=True %}
                                            </td>
                                            <td>
                                                {% include "common/form/input_select.html" with form_input=form_user_bailleur.bailleur enum=form_user_bailleur.fields.bailleur.queryset editable=True %}
                                            </td>
                                            <td>
                                                {% include "common/form/input_text.html" with form_input=form_user_bailleur.email editable=True %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>


                        <button class="fr-btn fr-icon-save-line fr-btn--icon-right">
                            Enregistrer
                        </button>

                    </form>


                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript" nonce="{{request.csp_nonce}}">
        document.addEventListener('DOMContentLoaded', function () {
            // Handler auto upload buttons
            for (let button of document.getElementsByClassName('auto-upload-btn')) {

                const input = document.getElementById(button.getAttribute('data-input'));
                const lock = document.getElementById(button.getAttribute('data-lock'));

                if (input) {
                    button.onclick = function () {
                        // Enable related hidden input as lock
                        if (lock) {
                            lock.removeAttribute('disabled');
                        }
                        // Trigger file selection popup
                        input.click();
                    }

                    input.onchange = function () {
                        this.form.submit();
                    }
                }
            }
        });
    </script>
{% endblock %}
