{% if request.user|is_administration_administrator:administration %}
    <button type="button" class="fr-link fr-mb-1w" data-fr-opened="false" aria-controls="fr-modal-{{administration.uuid}}">
        <span class="fr-icon-delete-line" aria-hidden="true"></span>
    </button>

    <dialog aria-labelledby="fr-modal-title-modal-{{administration.uuid}}" role="dialog" id="fr-modal-{{administration.uuid}}" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-link--close fr-link" title="Fermer la fenêtre modale" aria-controls="fr-modal-{{administration.uuid}}">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-modal-{{administration.uuid}}" class="fr-modal__title">
                                <span class="fr-icon-arrow-right-line fr-icon--lg"></span>
                                Supprimer une administration à l'utilisateur « {{ form.username.value }} »
                            </h1>
                            <form method="post" action="{% url 'settings:edit_user' username=form.username.value %}">
                                {% csrf_token %}
                                <input type="hidden" name="administration" value="{{administration.uuid}}">
                                <p>Êtes vous certain de vouloir supprimer l'accès au conventions de l'administration « <em>{{administration}}</em> » à l'utilisateur « {{ form.username.value }} »</p>

                                <button class="fr-btn fr-mt-3w" name="action_type", value="remove_administration">
                                    Supprimer
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
{% endif %}