{% load static %}

<form class="fr-my-3w" method="get" action="" id="search_table">
    <input type="hidden" id="page" name="page" value="{{users.number}}">
    <input type="hidden" id="order_by" name="order_by" value="{{order_by}}">

    {% if total_users > 3 %}
        <div class="fr-search-bar" id="header-search" role="search">
            <label class="fr-label" for="search_input">
                Recherche
            </label>
            <input class="fr-input" placeholder="Rechercher" type="search" id="search_input" name="search_input" value="{{search_input}}">
            <button class="fr-btn" title="Rechercher">
                Rechercher
            </button>
        </div>
    {% endif %}
</form>

<div class="fr-table">
    <div class="fr-table__wrapper">
        <div class="fr-table__container">
            <div class="fr-table__content">
                <table>
                    <caption>{{users.paginator.count}}{% if users.paginator.count != total_users %} / {{total_users}}{% endif %} utilisateur{{ users.paginator.count|pluralize }}</caption>

                    <thead>
                        <tr>
                            <th scope="col">
                                Identifiant
                                {% include "common/table/display_order_icon.html" with order_by=order_by order_by_column='username' url_target='settings:user' %}
                            </th>
                            <th scope="col">
                                Prénom
                                {% include "common/table/display_order_icon.html" with order_by=order_by order_by_column='first_name' url_target='settings:user' %}
                            </th>
                            <th scope="col">
                                Nom
                                {% include "common/table/display_order_icon.html" with order_by=order_by order_by_column='last_name' url_target='settings:user' %}
                            </th>
                            <th scope="col">
                                email
                                {% include "common/table/display_order_icon.html" with order_by=order_by order_by_column='email' url_target='settings:user' %}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            {% if user.username%}
                                <tr>
                                    <td>
                                        {{ user.username}}
                                    </td>
                                    <td>{{ user.first_name}}</td>
                                    <td>{{ user.last_name}}</td>
                                    <td>{{ user.email}}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% include 'common/table/pagination.html' with paginate_list=users %}
