{% extends "layout/base.html" %}

{% load static %}

{% block page_title %}Utilisateurs - APiLos{% endblock%}

{% block content %}
    <div class="fr-container-fluid">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters fr-py-5w fr-mb-1w">
                <div class='fr-col-12 fr-col-md-4 fr-col-lg-3'>
                    {% include 'settings/common/side_menu.html' with active_menu='users' %}
                </div>
                <div class='fr-col-12 fr-col-md-8 fr-col-lg-9 fr-pl-md-3w'>
                    {# Success alert messages #}
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                <div class="fr-alert fr-alert--success">
                                    <h3 class="fr-alert__title">{{ message.extra_tags }}</h3>
                                    <p>{{ message.message }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {# Button link to import bailleur users page #}
                    <div class="fr-grid-row fr-grid-row--right fr-my-3w">
                        <a class="fr-btn" href="{% url 'settings:import_bailleur_users' %}">
                            <span class="fr-icon-upload-line fr-mr-1w" aria-hidden="true"></span>Importer un listing utilisateur bailleur
                        </a>
                    </div>


                    {% include 'settings/user_list.html' with users=paginated_users %}

                    {% if request.user.is_administrator %}
                        <a class="fr-btn fr-fi-add-circle-line fr-btn--icon-left fr-mt-3w" type="button" href="{% url 'settings:add_user'%}">
                            Ajouter un utilisateur
                        </a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
