{% extends "layout/base.html" %}

{% load static %}

{% block page_title %}Votre Profil - APiLos{% endblock %}

{% block content %}
    <div class="fr-container-fluid">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters fr-py-5w fr-mb-1w">
                <div class='fr-col-12 fr-col-md-4 fr-col-lg-3'>
                    {% include 'settings/common/side_menu.html' with active_menu='profile' %}
                </div>

                <div class='fr-col-12 fr-col-md-8 fr-col-lg-9 fr-pl-md-3w'>
                    <div class='fr-col-12'>
                        {% if not request.user.is_admin %}
                            <form method="post" action="">
                                {% csrf_token %}

                                {% include "settings/form/email_preferences.html" with user=request.user form_input=form.preferences_email editable=True %}

                                <button class="fr-btn fr-icon-save-line fr-btn--icon-left fr-mt-3w" type="submit">
                                    Enregistrer
                                </button>
                            </form>
                        {% else %}
                            Pas de préférences email pour un profil Super-utilisateur ou Staff.
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
