{% extends "layout/base.html" %}

{% load static %}

{% block page_title %}Mon Profile - APiLos{% endblock%}

{% block content %}
    <div class="fr-container-fluid">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters fr-py-5w fr-mb-1w">
                <div class='fr-col-12 fr-col-md-4 fr-col-lg-3'>
                    {% include 'settings/common/side_menu.html' with active_menu='users' %}
                </div>
                <div class='fr-col-12 fr-col-md-8 fr-col-lg-9 fr-pl-md-3w'>
                    <div class="fr-table fr-table--bordered table--layout-fixed">
                        <table>
                            <caption>{{users.paginator.count}} collaborateur{% if users.paginator.count > 1 %}s{% endif %}</caption>

                            <thead>
                                <tr>
                                    <th scope="col">
                                        Identifiant
                                    </th>
                                    <th scope="col">
                                        Prénom
                                    </th>
                                    <th scope="col">
                                        Nom
                                    </th>
                                    <th scope="col">
                                        email
                                    </th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>{{ user.username}}</td>
                                        <td>{{ user.first_name}}</td>
                                        <td>{{ user.last_name}}</td>
                                        <td>{{ user.email}}</td>
                                        <td>
                                            <a class="fr-link fr-mb-1w" href="{% url 'settings:edit_user' username=user.username %}" >
                                                <span class="fr-fi-edit-line" aria-hidden="true"></span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% include 'common/utils/pagination.html' with paginate_list=users %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
