{% if tab_active %}
    {# If tab is currently open, no link needed #}
    <li>
        <div class="fr-tabs__tab" aria-selected="true">{{ count }} convention{% if count > 1 %}s{% endif %} {{ label }}</div>
    </li>
{% else %}
    <li>
        <a class="fr-tabs__tab" href="{% url route %}?{{conventions.query_kept_params}}" title="{{ title }}" aria-selected="false" >
            <span class="fr-link">{{ count }} convention{% if count > 1 %}s{% endif %} {{ label }} </span>
        </a>
    </li>
{% endif %}
