{% load static %}
<div class="fr-container-fluid ds_banner">
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-my-5w">
                <h1>Bienvenue sur APiLos !</h1>
                <p class="apilos-subtitle">Vous travaillez pour un bailleur de logements sociaux et souhaitez créer votre première convention APL.</p>
                <p class="apilos-subtitle">Nous vous accompagnons tout au long de la procédure !</p>
            </div>
        </div>
    </div>
</div>
<div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-mt-5w fr-mb-3w">
            <div class="fr-grid-row">
                <div class="fr-col-3 fr-col-md-3">
                    <h2 class="fr-mt-2w">Je me prépare</h2>
                </div>
                <div class="fr-col-9 fr-col-md-9">
                    <div class="fr-mb-3w">
                        <h3>Je récupère le(s) document(s) suivant(s)</h3>
                        <p>Il vous sera demandé de nous communiquer l'un des documents suivants concernant l'opération que vous souhaitez conventionner : </p>
                        <ul class="fr-col-offset-1">
                            <li>Acte de vente</li>
                            <li>OU acte de propriété</li>
                            <li>OU acte notarial</li>
                        </ul>
                    </div>
                    <div class="fr-mb-3w">
                        <h3>Je prépare mes tableaux</h3>
                        <p>Vous pouvez télécharger et remplir les tableaux nécessaires à la création de votre convention. Ces modèle vous seront aussi proposés à chaque étape.</p>
                        <div class="fr-col-offset-1">
                            <a href="{% url 'conventions:load_xlsx_model' file_type='all' %}" } class="fr-btn fr-btn--secondary" id='download_model'>
                                <img class="apilos-fi-btn--secondary fr-mr-1w" src="{% static "icons/download.svg" %}">Télécharger les modèles de tableaux
                            </a>
                        </div>
                    </div>
                    <div class="fr-mb-3w">
                        <h3>Je consulte l'aide en ligne</h3>
                        <p>Pour approfondir votre compréhension d'APiLos, référez-vous à tout moment à notre
                            <a href="//docs.apilos.beta.gouv.fr" target="_blank" rel="noopener">
                                Aide en ligne
                            </a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-mb-5w">
        <div class="fr-col-12">
            <div class="fr-alert fr-alert--info">
                <p>Vous pouvez créer un projet de convention ANRU
                    avant d'avoir réuni l'ensemble de ces documents
                </p>
            </div>
        </div>
    </div>
    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-mb-5w">
        <a class="fr-btn" href="{% url 'conventions:new_convention_anru' %}">
            <span class="fr-icon-add-circle-line fr-mr-1w" aria-hidden="true"></span>Je suis prêt à commencer ma convention ANRU
        </a>
    </div>
</div>
