{% load static %}
<div class="fr-container-fluid ds_banner">
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-my-5w">
                <h1>Bienvenue dans votre espace Bailleur</h1>
                <p class="apilos-subtitle">Ici, vous retrouverez vos conventions dès que les procédures de financement seront engagées </p>
                {% include "common/FAQ_link.html" %}
            </div>
        </div>
    </div>
</div>
<div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-mt-5w fr-mb-3w">
            <div class="fr-grid-row">
                <div class="fr-col-3 fr-col-md-3">
                    <h2 class="fr-mt-2w">Je prépare</h2>
                </div>
                <div class="fr-col-9 fr-col-md-9">
                    <div class="fr-mb-3w">
                        <h3>Les documents</h3>
                        <p>Il vous sera demandé de nous communiquer l'un des documents suivants concernant l'opération que vous souhaitez conventionner : </p>
                        <ul class="fr-col-offset-1">
                            <li>Acte de vente</li>
                            <li>OU acte de propriété</li>
                            <li>OU acte notarial</li>
                        </ul>
                    </div>
                    <div class="fr-mb-3w">
                        <h3>Les tableaux</h3>
                        <p>Vous pouvez télécharger et remplir les tableaux nécessaires à la création de votre convention. Ces modèles vous seront aussi proposés à chaque étape.</p>
                        <div class="fr-col-offset-1">
                            <a href="{% url 'conventions:load_xlsx_model' file_type='all' %}" class="fr-btn fr-btn--secondary" id='download_model'>
                                <img class="apilos-fi-btn--secondary fr-mr-1w" src="{% static "icons/download.svg" %}">Télécharger les modèles de tableaux
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
