{% extends "layout/base.html" %}

{% block page_title %} Envoi - APiLos{% endblock %}

{% load static %}

{% block javascript_extras %}
    <script src="{% static "js/header-size.js" %}" nonce="{{ request.csp_nonce }}"></script>
{% endblock javascript_extras %}

{% block content %}
    <div class="fr-container-fluid ds_banner">
        {% include "conventions/common/form_header.html" %}
        {% include "common/nav_bar.html" with nav_bar_step="sent" %}

        <div class="fr-container fr-py-5w">
            {% include "conventions/common/stepper.html" %}
            <h4>Indiquez la date de signature de la convention</h4>
            <form method="POST">
                {% csrf_token %}
                <div class="fr-grid-row">
                    <div class="fr-col-4">
                        {% include "common/form/input_date.html" with form_input=signature_date_form.televersement_convention_signee_le editable=True %}
                    </div>
                </div>

                <ul class="fr-my-7w fr-btns-group fr-btns-group--inline-md fr-btns-group--right">
                    <li>
                        <button type="submit" formaction="{% url 'conventions:cancel_upload_signed' convention_uuid=convention.uuid %}" class="fr-btn fr-btn--secondary">
                            Annuler
                        </button>
                    </li>
                    <li>
                        <button type="submit" class="fr-btn">
                            Valider le document et la date de signature
                        </button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
{% endblock content %}
