<div class="fr-select-group {% if form_input.errors %}fr-select-group--error{% endif %}">
    {% if form_input.label %}
        <label class="fr-label" for="{{ form_input.id_for_label }}">
            {{ form_input.label }}
        </label>
    {% endif %}
    <div class="fr-mt-1w block--row-strech" id="{{ form_input.id_for_label }}_div">
        <select
            class="fr-select {% if form_input.errors %}fr-select--error{% endif %}"
            id="{{ form_input.id_for_label }}"
            name="{{ form_input.html_name }}">
            <option value="" selected disabled hidden></option>
            {% for element in form_input.field.choices %}
                <option value="{{ element.0 }}">
                    {{ element.1 }}
                </option>
            {% endfor %}
        </select>
    </div>

    {% for error in form_input.errors %}
        <p id="select-error-desc-error" class="fr-error-text">
            {{ error }}
        </p>
    {% endfor %}
</div>

{% comment %} Ce composant n'est jamais utilisé donc je me permet de commenter le script d'initialisation de VirtualSelect car le projet n'utilise plus VirtualSelect, il faut utiliser les nouveaux composants search_select {% endcomment %}

{% comment %} <script type="text/javascript" nonce="{{ request.csp_nonce }}">
    document.addEventListener('DOMContentLoaded', function () {
        VirtualSelect.init({
            ele: '#{{ form_add_bailleur.bailleur.id_for_label }}',
            multiple: false,
            hideClearButton: true,
            search: true,
            searchPlaceholderText: "Rechercher votre bailleur...",
            noSearchResultsText: "Aucun bailleur ne correspond à votre recherche"
        });
    });
</script> {% endcomment %}
