<div class='background-contrast-grey950'>
    <div class="fr-container">
        {% if convention %}
            <div class="fr-col-12 fr-pt-5w fr-pb-5w">
                <div class="fr-highlight">
                    <h1>{{convention.programme.nom}}</h1>
                </div>
                <div class="fr-grid-row fr-grid-row--gutters fr-pl-9w">
                    <div class="fr-col-12  ">
                        <span class="{{convention.get_status_class}} fr-px-1w fr-h3">
                            {{convention.get_statut_display}}
                        </span>
                    </div>
                </div>
                {% if request.user.is_instructeur %}
                    <div class="fr-grid-row fr-grid-row--gutters fr-pl-9w">
                        <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-text--bold">
                            Entreprise bailleur : {{ convention.bailleur }}
                        </div>
                    </div>
                {% endif %}
                {% if request.user.is_bailleur %}
                    <div class="fr-grid-row fr-grid-row--gutters fr-pl-9w">
                        <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-text--bold">
                            Service instructeur : {{ convention.programme.administration }}
                        </div>
                    </div>
                {% endif %}
                <div class="fr-grid-row fr-grid-row--gutters  fr-pl-9w">
                    <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-text--bold">
                        Financement : {{ convention.lot.financement|default_if_none:'-' }}
                    </div>
                    <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-pl-md-1w fr-text--bold">
                        Nombre de logements : {{ convention.lot.nb_logements|default_if_none:'-' }}
                    </div>
                </div>
                <div class="fr-grid-row fr-grid-row--gutters  fr-pl-9w">
                    <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-text--bold">
                        Code postal : {{ convention.programme.code_postal|default_if_none:'-' }}
                    </div>
                    <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-pl-md-1w fr-text--bold">
                        Ville : {{ convention.programme.ville|default_if_none:'-' }}
                    </div>
                </div>




            </div>
        {% endif %}
    </div>
</div>
