{% if object_field %}
    <div class="block--row-strech" id="{{ object_field }}_group">
        <div class="block--row-strech-1 fr-my-1w ">
            <div class="content__fileblock">
                <div class="content__icons--checkbox" role="checkbox" aria-checked="{% if value %}true{% else %}false{% endif %}" aria-label="{{ label }}" aria-hidden="true">
                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <rect x="21" y="3" width="18" height="18" rx="1" transform="rotate(90 21 3)"></rect>
                        {% if value %}
                            <path d="M6.66666 12.6667L9.99999 16L17.3333 8.66669"></path>
                        {% endif %}
                    </svg>
                </div>
                <div>
                    <p class="fr-mb-0">
                        <span class="fr-sr-only">Case </span>
                        {{ label }}
                        {% if value %}
                            <span class="fr-sr-only">Coché</span>
                        {% else %}
                            <span class="fr-sr-only">Non coché</span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% include "common/utils/comments_field.html" with callback_click="refresh_opened_comments" %}
    </div>
{% else %}
    <div class="fr-mb-1w content__fileblock">
        <div class="content__icons--checkbox" aria-hidden="true">
            <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="checkboxIconTitle">
                <title id="checkboxIconTitle">Checkbox</title>
                <rect x="21" y="3" width="18" height="18" rx="1" transform="rotate(90 21 3)"></rect>
                {% if value %}
                    <path d="M6.66666 12.6667L9.99999 16L17.3333 8.66669"></path>
                {% endif %}
            </svg>
        </div>
        <div class="fr-mb-1w">
            <p class="fr-mb-0">
                <span class="fr-sr-only">Case </span>
                {{ label }}
                {% if value %}
                    <span class="fr-sr-only">Coché</span>
                {% else %}
                    <span class="fr-sr-only">Non coché</span>
                {% endif %}
            </p>
        </div>
    </div>
{% endif %}
