{% load custom_filters %}

{% if convention|display_is_validated %}
    <div class="fr-container apilos-sticky apilos-sticky-2 ds_banner">
        <div class="fr-col-12">
            <nav class="fr-nav" id="recap_navigation" role="navigation" aria-label="Menu secondaire">
                <ul class="fr-nav__list">
                    <li class="fr-nav__item">
                        {% if convention|display_redirect_post_action %}
                            <a class="fr-nav__link" href="{% url 'conventions:post_action' convention_uuid=convention.uuid %}" target="_self" {% if nav_bar_step == "action" %}aria-current="page"{% endif %}>Vue d'ensemble</a>
                        {% else %}
                            {% if convention|display_redirect_convention_en_publication and not convention.is_avenant %}
                                <a class="fr-nav__link" href="{% url 'conventions:publication' convention_uuid=convention.uuid %}" target="_self" {% if nav_bar_step == "sent" %}aria-current="page"{% endif %}>Vue d'ensemble</a>

                            {% else %}
                                <a class="fr-nav__link" href="{% url 'conventions:sent' convention_uuid=convention.uuid %}" target="_self" {% if nav_bar_step == "sent" %}aria-current="page"{% endif %}>Vue d'ensemble</a>
                            {% endif %}
                        {% endif %}
                    </li>
                    <li class="fr-nav__item">
                        <a class="fr-nav__link" href="{% url 'conventions:recapitulatif' convention_uuid=convention.uuid %}" target="_self" {% if nav_bar_step == "recapitulatif" %}aria-current="page"{% endif %}>Informations détaillées</a>
                    </li>
                    {% if not convention.is_denonciation and not convention.is_resiliation %}
                        <li class="fr-nav__item">
                            <a class="fr-nav__link" href="{% url 'conventions:preview' convention_uuid=convention.uuid %}" target="_self" {% if nav_bar_step == "preview" %}aria-current="page"{% endif %}>Visualiser votre document</a>
                        </li>
                    {% endif %}
                    {# Accès au journal de board restreint à l'équipe Apilos le temps de la validation #}
                    {% if user.is_instructeur %}
                        <li class="fr-nav__item">
                            <a class="fr-nav__link" href="{% url 'conventions:journal' convention_uuid=convention.uuid %}" target="_self" {% if nav_bar_step == "journal" %}aria-current="page"{% endif %}>Journal de bord</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endif %}
