{% load custom_filters %}

{% if form_step and form_step.total > 1 %}
    <div class="fr-container">
        <div class="fr-stepper">
            <h2 class="fr-stepper__title">
                <span class="fr-stepper__state">Étape {{form_step.number}} sur {{form_step.total}}</span>
                {{form_step.title}}
            </h2>
            <div id="progress_bar_block">
                <div class="fr-stepper__steps" data-fr-current-step="{{form_step.number}}" data-fr-steps="{{form_step.total}}"></div>
                <div id="progress_bar_links" hidden class="apilos-stepper__steps-details" data-apilos-total-steps="9">
                    {% for step in form_step.steps %}
                        <div><a class="fr-text--xs" href={% url step.pathname convention_uuid=convention.uuid %}>{{step.label}}</a></div>
                    {% endfor %}
                </div>
                <script type="text/javascript" nonce="{{request.csp_nonce}}">
                    document.addEventListener('DOMContentLoaded', function () {
                        progress_bar_block = document.getElementById('progress_bar_block');
                        progress_bar_block.addEventListener('mouseleave', function(event){
                            document.getElementById('progress_bar_links').hidden = true;
                        });
                        progress_bar_block.addEventListener('mouseover', function(event){
                            document.getElementById('progress_bar_links').hidden = false;
                        });
                    });
                </script>
            </div>
            {% if form_step.next %}
                <div class="fr-grid-row">
                    <div class="fr-col-6">
                        <p class="fr-stepper__details">
                            <span class="fr-text--bold">Passer à l'étape suivante (sans enregistrer) : </span>
                            {% if form_step.next_target %}
                                <a href="{% url form_step.next_target convention_uuid=convention.uuid %}">{{form_step.next}}</a>
                            {% else %}
                                {{form_step.next}}
                            {% endif %}
                        </p>
                    </div>
                    {% if form_step.total != form_step.number %}
                        <div class="fr-col-6 apilos-stepper-align-right">
                            <p class="fr-stepper__details">
                                <a href="{% url 'conventions:recapitulatif' convention_uuid=convention.uuid %}">Récapitulatif</a>
                            </p>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
