{% load custom_filters %}

{% if form_step and form_step.total > 1 %}
    <div class="fr-container">
        <div class="fr-stepper fr-mt-2w">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-11">
                    <h2 class="fr-stepper__title">
                        <span class="fr-stepper__state">Étape {{ form_step.number }} sur {{ form_step.total }}</span>
                        {{ form_step.title }}
                    </h2>
                </div>
                {% with doc_url=form_step.title|siap_convention_step_doc_url %}
                {% if doc_url %}
                    <div class="fr-col-1">
                        <a class="fr-btn fr-icon-question-mark fr-btn--icon-left fr-btn--tertiary"
                            href={{ doc_url }}
                            target="_blank">
                            <span class="fr-sr-only">Base de connaissances SIAP logement (fenêtre externe)</span>
                        </a>
                    </div>
                {% endif %}
                {% endwith %}
            </div>

            <div class="fr-stepper__steps" data-fr-current-step="{{ form_step.number }}" data-fr-steps="{{ form_step.total }}"></div>
            {% if form_step.next %}
                <div class="fr-grid-row">
                    <div class="fr-col-6">
                        <p class="fr-stepper__details">
                            <span class="fr-text--bold">Passer à l'étape suivante (sans enregistrer) : </span>
                            {% if form_step.next_target %}
                                <a href="{% url form_step.next_target convention_uuid=convention.uuid %}">{{ form_step.next }}</a>
                            {% else %}
                                {{ form_step.next }}
                            {% endif %}
                        </p>
                    </div>
                    {% if form_step.total != form_step.number %}
                        <div class="fr-col-6 apilos-align-right">
                            <p class="fr-stepper__details">
                                <a href="{% url 'conventions:recapitulatif' convention_uuid=convention.uuid %}">Récapitulatif</a>
                            </p>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
