<h4>Bonjour L'équipe APiLos !!!</h4>

<p><strong>Votre attention s'il vous plait.</strong></p>

<p>La convention <a href="{{ convention_url }}">{{ convention }}</a> vient d'être créé par {{ user }} pour le bailleur {{ convention.programme.bailleur }}.</p>

<p>Pouvez-vous vérifier :</p>
<ul>
    <li>L'attribution de cette convention à la bonne administration délégataire (DAP)</li>
    <li>L'attribution à la bonne ZONE 123 et ABC</li>
</ul>

<p>Cordialement</p>
<p><strong>L'équipe <a href="mailto:contact@apilos.beta.gouv.fr">APiLos</a> pour l'équipe <a href="mailto:contact@apilos.beta.gouv.fr">APiLos</a></strong></p>
