<h4>Bonjour</h4>

<p>La convention <a href="{{convention_url}}">{{convention}}</a> a reçu les modifications demandées.
    Vous pouvez instruire à nouveau cette convention.</p>

{% if commentaire %}
    <p>Le bailleur vous a laissé le message suivant : </p>
    <pre style='margin:20px; padding:5px; border:1px solid grey;'>{{commentaire}}</pre>
{% endif %}

<p>Si toutes les modifications demandées ont été apportées, vous pourrez valider la convention.</p>

<p>N'hésitez pas à vous faire part de tout retour ou suggestion d'amiloration sur la plateforme à l'adresse email <a href="mailto:contact@apilos.beta.gouv.fr">contact@apilos.beta.gouv.fr</a></p>

<p>Dans l'attente de vous retrouver sur APiLos pour une nouvelle convention, nous restons à votre disposition.</p>

<p>Cordialement</p>
<p><b>L'équipe <a href="mailto:contact@apilos.beta.gouv.fr">APiLos</a></b></p>
