<h4>Bienvenue sur la plateforme APiLos</h4>
<span><i>Le portail qui simplifie le conventionnement APL pour le logement social</i></span>

<p>Vous avez désormais accès à la plateforme avec les identifiants suivants : </p>

<ul>
    <li>email : {{ user.email }}</li>
    <li>Identifiant : {{ user.username }}</li>
    <li>Mot de passe : {{ password }}</li>
</ul>

<p>Pour vous connecter, clickez sur le lien <a href="{{login_url}}">APiLos</a></p>

<p>Dans l'attente de vous retrouver sur APiLos pour une nouvelle convention, nous restons à votre disposition.</p>

<p>Cordialement</p>
<p><b>L'équipe <a href="mailto:contact@apilos.beta.gouv.fr">APiLos</a></b></p>
