<h4>Bienvenue sur la plateforme APiLos, un service du SIAP</h4>
<span><em>Le portail qui facilite l’accès aux logements sociaux par la simplification des conventions</em></span>

<p>Vous avez désormais accès à la plateforme avec les identifiants suivants : </p>

<ul>
    <li>email : {{ user.email }}</li>
    <li>Identifiant : {{ user.username }}</li>
    <li>Mot de passe : {{ password }}</li>
</ul>

<p>Pour vous connecter, cliquez sur le lien <a href="{{ login_url }}">APiLos</a></p>

<p>Si le lien ne fonctionne pas, nous vous prions de copier et coller cette adresse dans le navigateur de votre choix : {{ login_url }}</p>

Pour vous aider à saisir vos conventions sur APiLos, retrouvez les tutoriels sur la <a href="https://docs.apilos.beta.gouv.fr/">FAQ</a>.

<p>Avec l’équipe APiLos, nous restons à votre disposition sur <a href="mailto:contact@apilos.beta.gouv.fr"></a>contact@apilos.beta.gouv.fr></a></p>

<p>Cordialement</p>
<p><strong>L'équipe <a href="mailto:contact@apilos.beta.gouv.fr">APiLos</a>, un service du SIAP</strong></p>
