{% extends "layout/base.html" %}

{% block content %}
    <div class="fr-container-fluid ds_banner fr-pb-3w">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-lg-6 fr-col-offset-lg-1 fr-mb-2w">
                    <h2 class="fr-mt-3w fr-mt-md-5w fr-mb-5w">Problème de permissions</h2>
                    <p class="fr-mb-3w">
                        Vous n'avez pas les droits pour exécuter cette action ou afficher cet écran
                    </p>
                    <p class="fr-mb-3w">
                        N'hésitez pas nous prévenir si vous pensez que ce comportement n'est pas normal
                    </p>
                    <p class="fr-mb-3w">
                        L'équipe <a href="{{ SIAP_ASSISTANCE_URL }}" target="_blank">APiLos</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
