{% extends "layout/base.html" %}

{% block content %}
    <div class="fr-container-fluid ds_banner fr-pb-3w">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-lg-6 fr-col-offset-lg-1 fr-mb-2w">
                    <h2 class="fr-mt-3w fr-mt-md-5w fr-mb-5w">Ressource non trouvée</h2>
                    <p class="fr-mb-3w">
                        La page demandée ou l'objet demandé n'ont pas été trouvés. Il peut aussi s'agir d'un problème de droits sur la ressource demandée.
                    </p>
                    <p class="fr-mb-3w">
                        Si le problème persiste merci de contacter l'équipe <a href="{{ SIAP_ASSISTANCE_URL }}" target="_blank" rel="noreferrer">APiLos</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
