{% extends "layout/base.html" %}

{% block content %}
    <div class="fr-container-fluid ds_banner fr-pb-3w">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-lg-11 fr-col-offset-lg-1 fr-mb-2w">

                    {% if is_siap_exception %}
                        <h2 class="fr-mt-3w fr-mt-md-5w fr-mb-5w">Une erreur est survenue sur la plateforme SIAP-APiLos</h2>
                    {% else %}
                        <h2 class="fr-mt-3w fr-mt-md-5w fr-mb-5w">Une erreur est survenue sur la plateforme APiLos</h2>
                    {% endif %}
                    <p class="fr-mb-3w">
                        Nous vous prions de nous excuser pour la gène occasionnée.
                    </p>
                    {% if message %}
                        <div class="fr-alert fr-alert--error">
                            <h3 class="fr-alert__title">Détails de l'erreur</h3>
                            <p>{{ message }}</p>
                        </div>
                    {% endif %}

                    {% if is_siap_exception %}
                        <p>
                            <a class="fr-btn fr-btn--icon-left fr-icon-refresh-line fr-mt-3w" href="{{ current_url }}">
                                Rafraichir la page
                            </a>
                            Cela permet parfois de résoudre le problème si celui-ci est temporaire.
                        </p>
                    {% endif %}

                    <p class="fr-my-3w">
                        Si le problème persiste merci de contacter l'équipe <a href="{{ SIAP_ASSISTANCE_URL }}" target="_blank" rel="noreferrer">APiLos</a>
                    </p>

                    <a class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-arrow-go-back-line fr-mb-3w" href="{{ SIAP_CLIENT_HOST }}?habilitation_id={{ habilitation_id }}">Retourner au tableau de bord SIAP</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
