{% extends "layout/base.html" %}

{% block content %}
    <div class="fr-container-fluid ds_banner fr-pb-3w">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-lg-11 fr-col-offset-lg-1 fr-mb-2w">

                    {% if exception_type == 'NotHandledBailleurPriveSIAPException' %}
                        <h2 class="fr-mt-3w fr-mt-md-5w fr-mb-5w">Cette fonctionnalité n'est pas encore prise en charge par la plateforme SIAP-APiLos</h2>
                        <p class="fr-mb-3w">
                            Le conventionnement des opérations portées par des bailleurs privés (personnes physiques sans SIREN) n'est pas pris en charge actuellement par la plateforme SIAP-APiLos.<br>
                            Nos équipes techniques travaillent actuellement à la mise en place de cette fonctionnalité.
                        </p>
                        <p class="fr-mb-3w">
                            Nous vous prions de nous excuser pour la gène occasionnée. Si votre besoin est urgent, merci de <a href="{{ SIAP_ASSISTANCE_URL }}" target="_blank" rel="noreferrer">contacter notre assistance</a>
                        </p>
                    {% elif exception_type == 'NoConventionForOperationSIAPException' %}
                        <h2 class="fr-mt-3w fr-mt-md-5w fr-mb-5w">Cette opération ne donne pas lieu à un conventionnement.</h2>
                        <p class="fr-mb-3w">
                            Les aides de l'opération ne donnent pas lieu à un conventionnement.
                        </p>
                    {% else %}
                        <h2 class="fr-mt-3w fr-mt-md-5w fr-mb-5w">Erreur serveur</h2>
                        <p class="fr-mb-3w">
                            Une erreur est survenue. Nous vous prions de nous excuser.
                        </p>
                        <p class="fr-mb-3w">
                            Si le problème persiste merci de contacter l'équipe <a href="{{ SIAP_ASSISTANCE_URL }}" target="_blank" rel="noreferrer">APiLos</a>
                        </p>
                    {% endif %}
                    {% if CERBERE_AUTH %}
                        <a class="fr-btn fr-btn--secondary fr-mb-3w" value="Retour à l'accueil" href="{{ SIAP_CLIENT_HOST }}/tableau-bord">Retourner au tableau de bord</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
