{% extends "layout/base.html" %}

{% load static %}

{% block page_title %}APiLos, la plateforme de conventionnement des logements sociaux{% endblock%}

{% block content %}
    <div class="fr-container-fluid ds_banner">
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters fr-py-6w">
                <div class="fr-col-lg-6 fr-col-offset-lg-1 fr-mb-2w">
                    {% include "layout/teasers/main_presentation.html" %}
                </div>
                <div class="fr-col-12 fr-col-lg-5 fr-pl-0 fr-pl-md-4w">
                    <figure class="fr-content-media fr-my-0">
                        <img src="{% static "img/accueil.jpg" %}" class="content__homepage-image">
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <hr class="fr-grid-row fr-col-xs-10 fr-col-7 fr-my-7w">
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--gutters">
            <h2 class="fr-mb-3w">Comment ça marche ?</h2>
            <div class="fr-container">
                <div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">
                    <div class="fr-col-lg-1 fr-col-md-3">
                        <span class="fr-icon-community-line fr-fi--xxl" aria-hidden="true"></span>
                    </div>
                    <div class="fr-col-lg-7 fr-col-md-9">
                        <h3>Côté bailleur</h3>
                        <ul>
                            <li>Récupérez les informations de l’agrément de financement</li>
                            <li>Validez ou modifiez les informations déjà connues par l’Etat</li>
                            <li>Déposez en ligne vos documents</li>
                            <li>Transmettez le projet de convention aux services instructeurs</li>
                            <li>Intégrez les modifications demandées par l'instructeur</li>
                        </ul>
                    </div>
                    {% if not CERBERE_AUTH %}
                        <div class="fr-col-lg-4 fr-col-md-12 fr-mt-md-5w fr-mt-lg-10w">
                            <a class="fr-btn" href="{% url 'login' %}">
                                <span class="fr-icon-edit-line fr-mr-1w" aria-hidden="true">
                                </span>Créer une convention
                            </a>
                        </div>
                    {% endif %}
                </div>
                <div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">
                    <div class="fr-col-lg-1 fr-col-md-3">
                        <span class="fr-icon-draft-line fr-fi--xxl" aria-hidden="true"></span>
                    </div>
                    <div class="fr-col-lg-7 fr-col-md-9">
                        <h3>Côté instructeur</h3>
                        <ul>
                            <li>Suivez en temps réel l'état d'avancement des projets de convention</li>
                            <li>Instruisez uniquement les champs remplis par le bailleur</li>
                            <li>Echangez avec les bailleurs via la plateforme</li>
                            <li>Générez la convention APL au format Cerfa en 1 clic</li>
                        </ul>
                    </div>
                    {% if not CERBERE_AUTH %}
                        <div class="fr-col-lg-4 fr-col-md-12 fr-mt-md-5w fr-mt-lg-10w">
                            <a class="fr-btn fr-btn--secondary" href="{% url 'login' %}?instructeur=1">
                                <span class="fr-icon-account-line fr-mr-1w" aria-hidden="true">
                                </span>Instruire une convention
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--gutters">
            <h2 class="fr-mb-3w">Nos utilisateurs en parlent</h2>
            <div class="fr-container">
                <div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">
                    <div class="fr-col-lg-6 fr-col-12 fr-pr-4w">
                        <iframe class="fr-col-12" style="height:300px" type="text/html"  allowfullscreen title="Video Instructeur" src="https://www.dailymotion.com/embed/video/x8frr91" title="Présentation instructeur" nonce="{{request.csp_nonce}}"> </iframe>
                        <div class="text--center fr-py-3w fr-px-5w">
                            <div class="fr-h6 text-title-blue-france">Pour les bailleurs</div>
                            <p><strong>"Je suis convaincue par APiLos, l'élaboration des conventions APL est beaucoup plus facile, beaucoup plus agréable et beaucoup moins chronophage."</strong></p>
                            <div><strong>Sabine Réus</strong>, Assistante Financière PACA Corse</div>
                            <div>CDC Habitat</div>
                        </div>
                    </div>
                    <div class="fr-col-lg-6 fr-col-12 fr-pr-4w">
                        <iframe class="fr-col-12" style="height:300px" type="text/html"  allowfullscreen title="Video Instructeur" src="https://www.dailymotion.com/embed/video/x8fkp4y" title="Présentation instructeur" nonce="{{request.csp_nonce}}"> </iframe>
                        <div class="text--center fr-py-3w fr-px-5w">
                            <div class="fr-h6 text-title-blue-france">Pour les instructeurs</div>
                            <p class="fr-px-2w"><strong>"L'outil a permis de simplifier le conventionnement en réduisant le temps consacré à la relecture des conventions APL."</strong></p>
                            <div><strong>Philippe Pusic</strong>, Instructeur Aide à la Pierre </div>
                            <div>Métropole Aix Marseille Provence</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="fr-container">
            <div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">
                <div class="text--center fr-col-lg-4 fr-col-md-6 fr-col-12">
                    <img src="/static/img/sabrina_derdiche.jpg" class="apilos-verbatim-img" alt="Sabrina Derdiche">
                    <div class="apilos-verbatim-text fr-mb-2w"><strong>"L’outil est intuitif"</strong></div>
                    <div class="apilos-verbatim-text"><strong>Sabrina DERDICHE</strong>, Instructrice ANRU et Conventionnement APL</div>
                    <div class="apilos-verbatim-text"><em>DDT 54 Meurthe-et-Moselle</em></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
