{% load custom_filters display_filters %}

{% if convention|display_back_to_instruction:request and not request|is_readonly %}
    <div class="fr-col-12">
        <div class="block--row-strech">
            <div class="block--row-strech-1 fr-mr-6w">
                <p class="fr-alert__title">
                    Repasser {{ convention|display_kind_with_demonstratif }} au statut "A instruire"
                </p>
                <p>
                    {{ convention|display_kind_with_demonstratif }} est {% if convention|display_redirect_sent %}en attente de signature{% else %}déjà signé{{ convention|display_gender_terminaison }}{% endif %}. Cependant,
                    s'il reste des modifications à apporter, en cas de refus du Service de la publicité foncière par exemple, vous avez la possibilité de {{ convention|display_pronom }} repasser en statut "A instruire"
                    en cliquant sur le bouton ci-dessous
                </p>
                <p>
                    <span class="fr-icon-warning-line" aria-hidden="true"></span>
                    Une fois {{ convention|display_kind_with_pronom }} en statut "A instruire", c'est l'instructeur qui aura la main sur {{ convention|display_kind_with_pronom }} (c'est à dire vous-même).
                    Si l'intervention du bailleur est nécessaire, vous devrez alors lui renvoyer en cliquant sur le bouton "Demander des corrections au bailleur"
                </p>
            </div>
            <form method="post" action="{% url 'conventions:save' convention_uuid=convention.uuid %}" data-turbo="false">
                {% csrf_token %}
                <button name="BackToInstruction"
                        value=True
                        class="fr-btn  apilos-btn--secondary--red fr-my-1w"
                >
                    Retour à l'instruction
                </button>
            </form>
        </div>
    </div>
    <hr>
{% endif %}
