{% load custom_filters %}

{% if convention|display_cancel_convention %}
    <div class="fr-col-12 fr-mb-5w fr-mt-3w">
        <p class="fr-alert__title">Annuler {% if convention.is_avenant %}l'avenant{% else %}la convention{% endif %}</p>
        <div class="block--row-strech">
            <div class="block--row-strech-1 fr-mr-6w">
                <p class="fr-mb-0">
                    {% if convention.is_avenant %}L'avenant{% else %}La convention{% endif %} peut être annulé{% if not convention.is_avenant %}e{% endif %}. {% if convention.is_avenant %}Il{% else %}Elle{% endif %} sera encore accessible dans la liste des {% if convention.is_avenant %}avenants{% else %}conventions{% endif %}
                </p>
            </div>
            <form method="post" data-turbo="false" action="#top">
                {% csrf_token %}
                <button class="fr-btn apilos-btn--secondary--red fr-my-1w fr-icon-close-circle-line fr-btn--icon-left" name='cancel_convention' value=1>
                    Annuler {% if convention.is_avenant %}cet avenant{% else %}cette convention{% endif %}
                </button>
            </form>
        </div>
    </div>
    <hr>
{% endif %}
{% if convention|display_reactive_convention %}
    <div class="fr-col-12 fr-mb-5w fr-mt-3w">
        <p class="fr-alert__title">Ré-activer {% if convention.is_avenant %}l'avenant{% else %}la convention{% endif %}</p>
        <div class="block--row-strech">
            <div class="block--row-strech-1 fr-mr-6w">
                <p class="fr-mb-0">
                    {% if convention.is_avenant %}L'avenant{% else %}La convention{% endif %} est annulé{% if not convention.is_avenant %}e{% endif %} mais {% if convention.is_avenant %}il{% else %}elle{% endif %} peut-être réactivé{% if not convention.is_avenant %}e{% endif %}. Son statut passera à nouveau en {% if convention.is_avenant %}Avenant{% else %}Convention{% endif %} en Projet
                </p>
            </div>
            <form method="post" data-turbo="false" action="#top">
                {% csrf_token %}
                <button class="fr-btn fr-btn--secondary fr-my-1w fr-icon-close-circle-line fr-btn--icon-left" name='reactive_convention' value=1>
                    Réactiver  {% if convention.is_avenant %}cet avenant{% else %}cette convention{% endif %}
                </button>
            </form>
        </div>
    </div>
    <hr>
{% endif %}
