<hr>
<div class="fr-mb-5w">
    <div class="fr-my-2w">
        <p class="fr-alert__title">
            Résiliation/dénonciation de {% if convention.is_avenant %}l'avenant{% else %}la convention{% endif %}
        </p>
        <p class="fr-mb-2w">Vous pouvez ici procéder à la résiliation/dénonciation de {% if convention.is_avenant %}l'avenant{% else %}la convention{% endif %} dans APiLos.</p>

        <form method="post" action="" id="{{resiliation_form.date_resiliation.id_for_label}}_validation_form">
            {% csrf_token %}
            <input id="resiliation" type="hidden" name="resiliation" value="true">
            <div class="block--row-strech">
                <div class="block--row-strech-1  fr-mr-6w">

                    {% include "common/form/input_date.html" with form_input=resiliation_form.date_resiliation editable=True %}
                </div>

                <button class="fr-btn apilos-btn--secondary--red fr-btn--icon-left fr-icon-delete-line fr-my-2w" data-fr-opened="false" type="button" aria-controls="fr-modal-resiliate-{{convention.uuid}}">
                    Résilier/Dénoncer {% if convention.is_avenant %}l'avenant{% else %}la convention{% endif %}
                </button>
            </div>
        </form>
    </div>
    <dialog aria-labelledby="fr-modal-resiliate-{{convention.uuid}}-title" id="fr-modal-resiliate-{{convention.uuid}}" class="fr-modal" role="dialog">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-link--close fr-link" aria-controls="fr-modal-resiliate-{{convention.uuid}}">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-resiliate-{{convention.uuid}}-title" class="fr-modal__title">
                                <span class="fr-icon-arrow-right-line fr-icon--lg"></span>
                                {{ convention }}
                            </h1>
                            <p>Vous vous apprétez à résilier/dénoncer la convention "{{convention}}", êtes-vous sûr ?</p>
                        </div>
                        <div class="fr-modal__footer">
                            <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                                <li>
                                    <button type="button" class="fr-btn fr-btn--icon-left fr-icon-delete-line" id='resiliate_{{convention.uuid}}'>
                                        Résilier/dénoncer la convention
                                    </button>
                                    <script type="text/javascript" nonce="{{request.csp_nonce}}">
                                        document.getElementById('resiliate_{{convention.uuid}}').addEventListener('click', function(){
                                            document.getElementById('{{resiliation_form.date_resiliation.id_for_label}}_validation_form').submit();
                                        });
                                    </script>
                                </li>
                                <li>
                                    <button type="button" class="fr-btn fr-btn--secondary" aria-controls="fr-modal-resiliate-{{convention.uuid}}">Annuler</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
</div>