<button class="fr-btn fr-btn--secondary" data-fr-opened="false" type="button" aria-controls="fr-modal-update-programme-number">
    Éditer le numero d'opération
</button>

{% if programmeNumberForm.errors %}
    <input data-fr-opened="true" aria-controls="fr-modal-update-programme-number" type="hidden">
{% endif %}

<dialog aria-labelledby="fr-modal-update-programme-number-title" id="fr-modal-update-programme-number" data-fr-opened="true" class="fr-modal" role="dialog" open="true">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-link--close fr-link" type="button" aria-controls="fr-modal-update-programme-number">Fermer</button>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="fr-modal__content">
                            <div role="alert" class="fr-alert fr-alert--warning">
                                <p class="fr-alert__title">Modifier le numero d'opération</p>
                                <p>la modification de ce numero d'opération peut avoir des conséquences sur le lien avec les dossiers de financement</p>
                            </div>
                            {% include "common/form/input_text.html" with form_input=programmeNumberForm.numero_operation editable=True%}

                        </div>
                        <div class="fr-modal__footer">
                            <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline fr-btns-group--inline-lg fr-btns-group--icon-left">
                                <li>
                                    <button class="fr-btn fr-btn--secondary" type="button" aria-controls="fr-modal-update-programme-number">
                                        Annuler
                                    </button>
                                </li>
                                <li>
                                    <button class="fr-btn fr-icon-checkbox-line" name='update_programme_number' value=1>
                                        Changer le numero d'opération
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</dialog>
