{% load custom_filters display_filters %}

{% if convention|display_submit_convention:request %}
    <div class="fr-col-12 fr-mb-5w fr-mt-3w">
        <div role="alert" class="fr-alert fr-alert--info fr-icon-arrow-right-s-line-double">
            <p class="fr-alert__title">
                Soumettre au service instructeur
            </p>
            <p>
                Votre projet {{ convention|display_kind_with_preposition }} est terminé ? Soumettez-le à l'instruction. Le service instructeur en sera informé et vous tiendra au courant de l'évolution de l'instruction.
            </p>
            <p>Si vous avez encore des modifications à apporter au projet de {{ convention|display_kind_with_preposition }}, vous pouvez y revenir plus tard.
            </p>
            {% with numero_operation=convention.programme.numero_operation %}
                {% if not numero_operation and not convention.is_avenant %}
                    <div class="fr-grid-row fr-my-2w">
                        <div class="fr-icon-warning-line fr-mr-2w"></div>
                        <div class="fr-col-11">
                            <div class="fr-mb-2w">
                                <strong>Le numéro d'opération n'est pas défini pour l'opération de cette convention. Merci de le renseigner avant de continuer.</strong>
                            </div>
                            {% include "conventions/actions/edit_numero_operation.html" %}
                        </div>
                    </div>
                {% endif %}
                <form method="post" action="{% url 'conventions:save' convention_uuid=convention.uuid %}" data-turbo="false">
                    {% csrf_token %}
                    <button name="SubmitConvention" value=True class="fr-btn fr-my-3w" {% if not numero_operation and not convention.is_avenant %}disabled{% endif %}>
                        {% if not numero_operation and not convention.is_avenant %}Veuillez définir le numéro d'opération avant de soumettre{% else %}Soumettre{% endif %} au service instructeur
                    </button>
                </form>
            {% endwith %}

            <p class="fr-text--xs notes">
                <em>Votre projet de convention est enregistré. Si vous le souhaitez, vous pouvez quitter cette page et y revenir plus tard.</em>
            </p>
        </div>
    </div>
    <hr>
{% endif %}
