{% load custom_filters %}
<div class="fr-col-12 fr-mb-5w fr-mt-3w">
    <p class="fr-alert__title">Modifier l'administration</p>
    <div class="block--row-strech">
        <div class="block--row-strech-1 fr-mr-6w">
            <p class="fr-mb-0">La convention peut être annulée. Elle sera encore accessible dans la liste des conventions</p>
        </div>
        <button class="fr-btn apilos-btn--secondary--red fr-my-1w fr-icon-close-circle-line fr-btn--icon-left"
            name='cancel_convention'
            value="1"
            data-fr-opened="{% if update_convention_administration_form.errors|length > 1 %}true{% else %}false{% endif %}"
            aria-controls="update-administration-modal">Modifer l'administration</button>
    </div>
</div>
<hr>
<dialog
    aria-labelledby="fr-modal-title-modal-1"
    role="dialog"
    id="update-administration-modal"
    class="fr-modal"
>
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-link--close fr-link"
                            title="Fermer la fenêtre modale"
                            aria-controls="update-administration-modal">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-title-modal-1" class="fr-modal__title">
                            <span class="fr-fi-arrow-right-line fr-fi--lg"></span>
                            Modifier l'administration
                        </h1>
                        <p>
                            Pour modifier l'administration, veuillez recopier le mot <strong>TRANSFÉRER</strong> ci-dessous:
                            <form method="post"
                                {% comment %}
                                action="{% url 'conventions:validate' convention_uuid=convention.uuid %}"
                                {% endcomment %}
                                data-turbo="false"
                            >
                                {% csrf_token %}
                                {% include "common/form/input_text.html" with form_input=update_convention_administration_form.verification %}
                                {% include "common/form/input_select.html" with form_input=update_convention_administration_form.administration %}
                            </form>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
