{% load display_filters %}

<div class="fr-col-12 fr-my-2w">
    <div role="alert" class="fr-alert fr-alert--A_signer fr-icon-draft-line">
        <p class="fr-alert__title">
            {% if convention.is_denonciation %}
                Déposer l'acte de dénonciation publié
            {% else %}
                Déposer {{ convention|display_kind_with_pronom }} signé{{ convention|display_gender_terminaison }}
            {% endif %}
        </p>
        <p class="fr-mb-2w">
            {% if convention.is_denonciation %}
                Ici, vous pouvez déposer l'acte de dénonciation de votre convention publié.
            {% else %}
                votre {{ convention|display_kind }} porte le numéro <strong>{{ convention.numero|default_if_none:'-' }}</strong><br/>
                Dernière étape : déposez la version signée pour la validation finale.
            {% endif %}
        </p>

        <div class="block--row-strech">
            {% include "conventions/common/form_upload_signed_document.html" %}

            <a class="fr-my-1w fr-link fr-ml-2w" href="{% url 'conventions:recapitulatif' convention_uuid=convention.uuid %}">
                Consulter le récapitulatif
            </a>
        </div>
    </div>
</div>
<hr>
