{% load display_filters %}
<div class="fr-col-12 fr-my-2w">
    {% if request|is_instructeur %}
        <div role="alert" class="fr-alert fr-alert--info fr-icon-arrow-right-s-line-double">
            <p class="fr-alert__title">
                {% if convention.is_denonciation %}
                    Déposer l'acte de dénonciation publié
                {% else %}
                    Déposer {{convention|display_kind_with_pronom}} signé{{convention|display_gender_terminaison}}
                {% endif %}
            </p>
            <p class="fr-mb-2w">
                {% if convention.is_denonciation %}
                    Ici, vous pouvez déposer l'acte de dénonciation de votre convention publié.
                {% else %}
                    Ici, vous pouvez déposer votre {{convention|display_kind}} signé{{convention|display_gender_terminaison}} afin qu'{{convention|display_personnal_pronom}} puisse être transmis{{convention|display_gender_terminaison}}.
                {% endif %}
            </p>
            <div class="block--row-strech">

                <form method="post" action="" enctype="multipart/form-data" id="{{upform.file.id_for_label}}_form">
                    {% csrf_token %}
                    <input
                        class="fileinput--hidden"
                        type="file"
                        id="{{upform.file.id_for_label}}"
                        name="{{upform.file.html_name}}"
                        accept="application/pdf">
                    <div class="block--row-strech">
                        <div>
                            <button id="{{upform.file.id_for_label}}_upload_button" class="fr-btn fr-icon-upload-line fr-btn--icon-left" type="button">
                                {% if convention.is_denonciation %}
                                    Déposer l'acte de dénonciation publié
                                {% else %}
                                    Déposer {{convention|display_kind_with_pronom}} signé{{convention|display_gender_terminaison}}
                                {% endif %}
                            </button>
                            {% for error in upform.file.errors %}
                                <p id="text-input-error-desc-error" class="fr-error-text">
                                    {{ error }}
                                </p>
                            {% endfor %}
                        </div>
                    </div>

                    <script type="text/javascript" nonce="{{request.csp_nonce}}">
                        document.getElementById('{{upform.file.id_for_label}}_upload_button').onclick = function() {
                            document.getElementById('{{upform.file.id_for_label}}').click();
                        };
                        document.getElementById('{{upform.file.id_for_label}}').onchange = function() {
                            var input = document.createElement('input');
                            input.setAttribute('type', 'hidden');//hidden input
                            input.setAttribute('name', 'Upload');//set the param name
                            input.setAttribute('value', 'True');//set the value
                            this.form.appendChild(input)
                            document.getElementById("{{upform.file.id_for_label}}_form").submit();
                        }
                    </script>
                </form>
                <a class="fr-my-1w fr-link fr-ml-2w" href="{% url 'conventions:recapitulatif' convention_uuid=convention.uuid %}">
                    Consulter le récapitulatif
                </a>
            </div>
        </div>
    {% else %}
        <div role="alert" class="fr-alert fr-alert--success">
            <p >Ici, {{convention|display_kind_with_pronom}} pourra être déposé{{convention|display_gender_terminaison}} par l'administration en charge dès qu'{{convention|display_personnal_pronom}} sera signé{{convention|display_gender_terminaison}}.
            </p>
            <a class="fr-my-1w fr-link" href="{% url 'conventions:recapitulatif' convention_uuid=convention.uuid %}">
                Consulter le récapitulatif
            </a>
        </div>
    {% endif %}
</div>
<hr>
