{% load custom_filters %}

{% if convention %}

    <div class='fr-pt-2w'>
        <div class="fr-container">
            <div class="fr-col-12">
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12">
                        <div class="fr-py-3w">
                            <h1 class="fr-h2 apilos-d-inline">{{convention.programme.nom}}</h1>
                            <span class="apilos-h2-thin"> - Avenant</span>
                            <div class="fr-py-3w">
                                {% if CERBERE_AUTH %}
                                    <a href="{% url 'programmes:operation_conventions' numero_operation=convention.programme.numero_galion %}">
                                        Consulter la convention originale
                                    </a>
                                {% else %}
                                    {% if convention.is_avenant %}
                                        <a class='fr-link apilos-link' href="{% url 'conventions:recapitulatif' convention_uuid=convention.parent.uuid %}">Consulter la convention originale</a>
                                    {% else %}
                                        <a class='fr-link apilos-link' href="{% url 'conventions:recapitulatif' convention_uuid=convention.uuid %}">Consulter la convention originale</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
{% endif %}
