<div class="fr-toggle">
    <form action="{% if checked %}{% url 'conventions:remove_from_avenant' convention_uuid=convention.uuid %}{% else %}{% url 'conventions:new_avenant' convention_uuid=convention.uuid %}{% endif %}" method="post">
        {% csrf_token %}
        <input
            name="avenant_type"
            value="{{avenant_type}}" hidden>
            <input type="hidden" value="{{convention.uuid}}" name="uuid">
        <input type="checkbox" class="fr-toggle__input" {% if checked %}checked="checked"{% endif %} aria-describedby="toggle-{{id}}-messages" id="toggle-{{id}}">
    <label class="fr-toggle__label apilos-label-larger" for="toggle-{{id}}">{{title}}</label>
    </form>
    <div class="fr-messages-group" id="toggle-{{id}}-messages" aria-live="polite">
    </div>
</div>

<script type="text/javascript" nonce="{{request.csp_nonce}}">
    document.getElementById("toggle-{{id}}").onchange = () => {
        document.getElementById("toggle-{{id}}").form.submit();
    }
</script>