{% load custom_filters %}

{% csrf_token %}

<input
    type="hidden"
    id="{{ form.uuid.id_for_label }}"
    name="{{ form.uuid.html_name }}"
    value="{{ form.uuid.value|default_if_none:'' }}">
<div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-md-12">
        <h4>Annexes associées aux logements exclues du calcul de la surface utile et pouvant donner lieu à un loyer accessoire</h4>
        <div role="alert" class="fr-alert fr-alert--info fr-mb-3w">
            <p class="fr-mb-1w">Attention, les annexes concernées sont ici les jardins, les cours et les surfaces de terrasse au-delà de 9 m² (ex : Pour une terrasse d’une surface totale de 10 m², renseignez ici uniquement 1 m², les 9m² sont intégrés dans le calcul de la surface utile)</p>
        </div>
        <div id='download_upload_block' {% if not editable %}hidden{% endif %}>
            {% include "common/form/download_upload_form.html" with file_type='annexes' upform=upform what='annexes' file_field_label='annexe' %}
            <hr class="fr-col-12 fr-my-3w">
        </div>

        {% for error in import_warnings %}
            <p id="text-input-error-desc-error" class="fr-error-text">
                {{ error }}
            </p>
        {% endfor %}

        {% for error in formset.non_form_errors %}
            <p id="text-input-error-desc-error" class="fr-error-text">
                {{ error }}
            </p>
        {% endfor %}

        {{ formset.management_form }}
        <div class="fr-table">
            <div class="fr-table__wrapper">
                <div class="fr-table__container">
                    <div class="fr-table__content">
                        <table  aria-label="Annexes">
                            <thead>
                                <tr>
                                    {% if convention|display_comments %}
                                        {% include 'common/utils/comments_header.html' with object_name='annexe' label="Annexes" %}
                                    {% endif %}
                                    <th scope="col" class="col__width--150">Type d'annexe {% if formset.total_form_count %}{% include "common/form/required_field_star.html" %}{% endif %}</th>
                                    <th scope="col" class="col__width--200">Désignation des logements {% if formset.total_form_count %}{% include "common/form/required_field_star.html" %}{% endif %}</th>
                                    <th scope="col" class="col__width--150">Typologie des logements {% if formset.total_form_count %}{% include "common/form/required_field_star.html" %}{% endif %}</th>
                                    <th scope="col" class="col__width--120">Surface de l'annexe {% if formset.total_form_count %}{% include "common/form/required_field_star.html" %}{% endif %}</th>
                                    <th scope="col" class="col__width--120">Loyer unitaire en € {% if formset.total_form_count %}{% include "common/form/required_field_star.html" %}{% endif %}</th>
                                    <th scope="col" class="col__width--120">Loyer maximum du logement en € {% if formset.total_form_count %}{% include "common/form/required_field_star.html" %}{% endif %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for form_annexe in formset %}
                                    {% with main_object_field="annexe__uuid__"|add:form_annexe.uuid.value %}
                                        <tr id="{{ form_annexe.uuid.id_for_label }}_group">
                                            {% if convention|display_comments %}
                                                <td id="{{ form_annexe.uuid.id_for_label }}_div">
                                                    {% include 'common/utils/comments_field.html' with object_field=main_object_field form_input=form_annexe.uuid %}
                                                </td>
                                            {% endif %}
                                            <td>
                                                <input
                                                    type="hidden"
                                                    id="{{ form_annexe.uuid.id_for_label }}"
                                                    name="{{ form_annexe.uuid.html_name }}"
                                                    value="{{ form_annexe.uuid.value|default_if_none:'' }}">
                                                {% include "common/form/input_select.html" with form_input=form_annexe.typologie parent_object_field=main_object_field editable=editable_after_upload %}
                                            </td>
                                            <td>
                                                {% include "common/form/input_text.html" with form_input=form_annexe.logement_designation parent_object_field=main_object_field editable=editable_after_upload %}
                                            </td>
                                            <td>
                                                {% include "common/form/input_select.html" with form_input=form_annexe.logement_typologie parent_object_field=main_object_field editable=editable_after_upload %}
                                            </td>
                                            <td>
                                                {% include "common/form/input_number.html" with form_input=form_annexe.surface_hors_surface_retenue step="0.01" parent_object_field=main_object_field editable=editable_after_upload %}
                                            </td>
                                            <td>
                                                {% include "common/form/input_number.html" with form_input=form_annexe.loyer_par_metre_carre step="0.01" parent_object_field=main_object_field editable=editable_after_upload %}
                                            </td>
                                            <td>
                                                {% include "common/form/input_number.html" with form_input=form_annexe.loyer step="0.01" parent_object_field=main_object_field editable=editable_after_upload %}
                                            </td>
                                        </tr>
                                    {% endwith %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <h4 class="fr-mb-1w">Type d'annexes incluses dans le calcul de la surface utile</h4>
        <div class="fr-hint-text fr-mb-2w">Cochez les annexes que vous souhaitez voir apparaitre dans la convention</div>

        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                {% include "common/form/input_checkbox.html" with form_input=form.annexe_caves object_field="lot__annexe_caves__"|add:form.uuid.value %}
                {% include "common/form/input_checkbox.html" with form_input=form.annexe_soussols object_field="lot__annexe_soussols__"|add:form.uuid.value %}
                {% include "common/form/input_checkbox.html" with form_input=form.annexe_remises object_field="lot__annexe_remises__"|add:form.uuid.value %}
                {% include "common/form/input_checkbox.html" with form_input=form.annexe_ateliers object_field="lot__annexe_ateliers__"|add:form.uuid.value %}
                {% include "common/form/input_checkbox.html" with form_input=form.annexe_sechoirs object_field="lot__annexe_sechoirs__"|add:form.uuid.value %}
                {% include "common/form/input_checkbox.html" with form_input=form.annexe_celliers object_field="lot__annexe_celliers__"|add:form.uuid.value %}
            </div>
            <div class="fr-col-12 fr-col-md-12 fr-col-lg-6 fr-mb-2w">
                {% include "common/form/input_checkbox.html" with form_input=form.annexe_resserres object_field="lot__annexe_resserres__"|add:form.uuid.value %}
                {% include "common/form/input_checkbox.html" with form_input=form.annexe_combles object_field="lot__annexe_combles__"|add:form.uuid.value %}
                {% include "common/form/input_checkbox.html" with form_input=form.annexe_balcons object_field="lot__annexe_balcons__"|add:form.uuid.value %}
                {% include "common/form/input_checkbox.html" with form_input=form.annexe_loggias object_field="lot__annexe_loggias__"|add:form.uuid.value %}
                {% include "common/form/input_checkbox.html" with form_input=form.annexe_terrasses object_field="lot__annexe_terrasses__"|add:form.uuid.value %}
            </div>
        </div>

    </div>
</div>

{% include "common/required_fields_info.html" %}
