{% load custom_filters %}

{% csrf_token %}

<input
    type="hidden"
    id="{{ form.uuid.id_for_label }}"
    name="{{ form.uuid.html_name }}"
    value="{{ form.uuid.value|default_if_none:'' }}">
<div class="fr-grid-row fr-grid-row--gutters fr-mb-3w">
    <div class="fr-col-md-12">
        <h4>Surfaces à usage collectif</h4>
        <div id='download_upload_block' {% if not editable %}hidden{% endif %}>
            {% include "common/form/download_upload_form.html" with file_type='locaux_collectifs' upform=upform what='surfaces à usage collectif' file_field_label='locaux' %}
            <hr class="fr-col-12 fr-my-3w">
        </div>

        {% for error in import_warnings %}
            <p id="text-input-error-desc-error" class="fr-error-text">
                {{ error }}
            </p>
        {% endfor %}

        {% for error in formset.non_form_errors %}
            <p id="text-input-error-desc-error" class="fr-error-text">
                {{ error }}
            </p>
        {% endfor %}

        {{ formset.management_form }}
        <div class="fr-table">
            <div class="fr-table__wrapper">
                <div class="fr-table__container">
                    <div class="fr-table__content">
                        <table aria-label="Surface à usage collectif">
                            <thead>
                                <tr>
                                    {% if convention|display_comments %}
                                        {% include 'common/utils/comments_header.html' with object_name='locaux_collectifs' label="Locaux Collectifs" %}
                                    {% endif %}
                                    <th scope="col" class="col__width--150">Type de local {% if formset.total_form_count %}{% include "common/form/required_field_star.html" %}{% endif %}</th>
                                    <th scope="col" class="col__width--120">Surface Habitable {% if formset.total_form_count %}{% include "common/form/required_field_star.html" %}{% endif %}</th>
                                    <th scope="col" class="col__width--120">Nombre {% if formset.total_form_count %}{% include "common/form/required_field_star.html" %}{% endif %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for form_locaux_collectifs in formset %}
                                    {% with main_object_field="locaux_collectifs__uuid__"|add:form_locaux_collectifs.uuid.value %}
                                        <tr id="{{ form_locaux_collectifs.uuid.id_for_label }}_group">
                                            {% if convention|display_comments %}
                                                <td id="{{ form_locaux_collectifs.uuid.id_for_label }}_div">
                                                    {% include 'common/utils/comments_field.html' with object_field=main_object_field form_input=form_locaux_collectifs.uuid %}
                                                </td>
                                            {% endif %}
                                            <td>
                                                {% include "common/form/input_text.html" with form_input=form_locaux_collectifs.type_local parent_object_field=main_object_field editable=editable_after_upload %}
                                            </td>
                                            <td>
                                                {% include "common/form/input_number.html" with form_input=form_locaux_collectifs.surface_habitable step="0.01" parent_object_field=main_object_field editable=editable_after_upload %}
                                            </td>
                                            <td>
                                                {% include "common/form/input_number.html" with form_input=form_locaux_collectifs.nombre step="1" parent_object_field=main_object_field editable=editable_after_upload %}
                                            </td>
                                        </tr>
                                    {% endwith %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="fr-mb-1w">Autres locaux auxquels ne s'appliquent pas la convention</h4>

        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-mb-2w">
                {% include "common/form/input_number.html" with display_inline=True step="1" form_input=form.foyer_residence_nb_garage_parking object_field="lot__foyer_residence_nb_garage_parking__"|add:form.uuid.value %}
            </div>
        </div>
        {% include "common/form/input_textarea.html" with form_input=form.foyer_residence_dependance helptext_visible=True object_field="lot__foyer_residence_dependance__"|add:form.uuid.value %}
        {% include "common/form/input_textarea.html" with form_input=form.foyer_residence_locaux_hors_convention helptext_visible=True is_list=True object_field="lot__foyer_residence_locaux_hors_convention__"|add:form.uuid.value %}
    </div>
</div>
{% include "common/required_fields_info.html" %}
