{% load custom_filters display_filters static %}

{% if convention %}
    <div id="apilos-header" class="apilos-sticky {% if convention|display_convention_form_progressbar %}no_navbar{% endif %}">
        <div class="fr-notice fr-notice--info">
            <div class="fr-container fr-py-2w">
                <div class="block--row-strech">
                    <div class="block--row-strech-1 apilos--overflow_ellipsis">
                        <div class="fr-btn--icon-left fr-icon-arrow-go-back-fill fr-text--xs notes fr-pb-2w">
                            <a href="{% url 'conventions:index' %}">
                                Liste des conventions
                            </a>
                        </div>
                        {% if convention.is_avenant %}
                            <span class="apilos-h2-thin apilos-text--black">{{ convention|display_kind|capfirst }}{% if convention.numero %} n°{{ convention.numero }}{% endif %} - </span>
                            <h1 class="fr-h3 convention_title">{{ convention.programme.nom }}</h1>
                            <div class="fr-grid-row fr-mt-2w fr-text--sm apilos-text--black">
                                {% if convention.statut != CONVENTION_STATUT.RESILIEE and convention.statut != CONVENTION_STATUT.DENONCEE %}
                                    <div class="fr-pr-2w">{% include "conventions/home/statut_tag.html" %}</div>
                                {% endif %}
                                {% if convention.statut == CONVENTION_STATUT.RESILIEE and convention.date_resiliation %}
                                    <div class="fr-pr-2w">
                                        <p>
                                            {% if convention.is_resiliation_due %}
                                                Convention résiliée depuis le {{ convention.date_resiliation }}
                                            {% else %}
                                                Résiliation de la convention prévue le {{ convention.date_resiliation }}
                                            {% endif %}
                                        </p>
                                    </div>
                                {% endif %}
                                {% if convention.statut == CONVENTION_STATUT.DENONCEE and convention.date_denonciation %}
                                    <div class="fr-pr-2w">
                                        <p>
                                            {% if convention.is_denonciation_due %}
                                                Convention dénoncée depuis le {{ convention.date_denonciation }}
                                            {% else %}
                                                Dénonciation de la convention prévue le {{ convention.date_denonciation }}
                                            {% endif %}
                                        </p>
                                    </div>
                                {% endif %}
                                <a class='fr-link apilos-link fr-text--sm' href="{% url 'conventions:post_action' convention_uuid=convention.parent.uuid %}">Consulter la convention originale n°{{ convention.parent.numero }} <span class="fr-pl-2w fr-icon-arrow-right-line fr-icon--sm" aria-hidden="true"></span></a>
                            </div>
                        {% else %}
                            <div class="apilos-input-group--inline header-with-action">
                                <div class="header-with-action__title">
                                    {% if convention.statut == CONVENTION_STATUT.RESILIEE and convention.is_resiliation_due %}
                                        <span class="apilos-h2-thin apilos-text--black">Résiliation - </span>
                                    {% elif convention.statut == CONVENTION_STATUT.DENONCEE and convention.is_denonciation_due %}
                                        <span class="apilos-h2-thin apilos-text--black">Dénonciation - </span>
                                    {% endif %}
                                    <h1 class="fr-h3 convention_title">{{ convention.programme.nom }}</h1>
                                </div>

                                <div class="header-with-action__action">
                                    {% include "conventions/contributors.html" with contributors=convention.get_contributors %}
                                </div>
                            </div>
                            {% if convention.statut != CONVENTION_STATUT.RESILIEE and convention.statut != CONVENTION_STATUT.DENONCEE %}
                                <div class="fr-grid-row fr-mt-2w apilos-text--black info-row-with-action">
                                    <div class="fr-pr-2w apilos-separator">{% include "conventions/home/statut_tag.html" %}</div>
                                    {% if convention.programme.numero_operation %}
                                        <div class="fr-px-2w fr-text--sm apilos-separator">
                                            <a href="{% url 'programmes:operation_conventions' numero_operation=convention.programme.numero_operation %}?from_convention={{ convention.uuid }}">
                                                Opération n°{{ convention.programme.numero_operation }}
                                            </a>
                                        </div>
                                    {% endif %}
                                    <p class="fr-px-2w fr-text--sm apilos-separator">
                                        {{ convention.programme.ville|default_if_none:'-' }}
                                    </p>

                                    <p class="fr-px-2w fr-text--sm apilos-separator">
                                        {{ convention.lot.nb_logements|default_if_none:'-' }} logement{{ convention.lot.nb_logements|pluralize }}
                                    </p>

                                    <p class="fr-px-2w fr-text--sm apilos-separator">
                                        {{ convention.programme.get_nature_logement_display }}
                                    </p>

                                    <p class="fr-px-2w fr-text--sm">
                                        {{ convention.get_financement_display|default_if_none:'' }}
                                    </p>

                                    <div class="info-row-with-action__link">
                                        <a class="fr-link apilos-link fr-text--sm" href="{% url 'conventions:recapitulatif' convention_uuid=convention.uuid %}">
                                            Voir le récapitulatif<span class="fr-pl-2w fr-icon-arrow-right-line fr-icon--sm" aria-hidden="true"></span>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                            {% if convention.statut == CONVENTION_STATUT.RESILIEE and convention.date_resiliation %}
                                <div class="fr-mt-2w fr-text--sm apilos-text--black">
                                    {% if convention.is_resiliation_due %}
                                        Convention résiliée depuis le {{ convention.date_resiliation }}
                                    {% else %}
                                        Résiliation de la convention prévue le {{ convention.date_resiliation }}
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% if convention.statut == CONVENTION_STATUT.DENONCEE and convention.date_denonciation %}
                                <div class="fr-mt-2w fr-text--sm apilos-text--black">
                                    {% if convention.is_denonciation_due %}
                                        Convention dénoncée depuis le {{ convention.date_denonciation }}
                                    {% else %}
                                        Dénonciation de la convention prévue le {{ convention.date_denonciation }}
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if request.session.is_expert and convention.statut == CONVENTION_STATUT.SIGNEE %}
            <div class="fr-notice apilos-notice--warning">
                <div class="fr-container">
                    <div class="apilos-input-group--inline">
                        <p><strong><span class="fr-icon-warning-fill fr-mr-2w"></span>Mode expert : vous modifiez une convention au statut valide </strong></p>
                        <a class="fr-btn" href="{% url 'conventions:expert_mode' convention_uuid=convention.uuid %}">Sortir du mode expert</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {% if convention.ecolo_reference %}
        <div class="fr-container fr-pt-2w">
            <div role="alert" class="fr-col-12 fr-mb-3w apilos-alert apilos-alert-ecoloweb fr-pr-2w">
                <p class="fr-text--lg">Cette convention a été importée automatiquement depuis <span class="fr-text--bold">Ecoloweb</span>
                    {% if request|can_use_expert_mode:convention %}, vous pouvez compléter ou corriger des informations en mode expert</p>
                        {% if not request.session.is_expert %}
                            <a href="{% url 'conventions:expert_mode' convention_uuid=convention.uuid %}"
                               class="fr-btn fr-btn--secondary fr-mt-1w">
                                Modifier la convention
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
                <hr class="fr-col-12 fr-my-3w">
            </div>
    {% endif %}
{% endif %}
