{% load static %}
{% load custom_filters %}

{% if convention %}
    <div class="apilos-sticky fr-container fr-pt-2w {% if convention|display_convention_form_progressbar %}no_navbar{% endif %}">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-py-3w">
                <h1 class="fr-h2 apilos-d-inline">{{convention.programme.nom}}</h1>
                {% if convention.is_avenant %}
                    <span class="apilos-h2-thin"> - Avenant{% if convention.numero %} n°{{ convention.numero }}{% endif %}</span>
                    <div class="fr-py-3w">
                        <a class='fr-link apilos-link' href="{% url 'conventions:post_action' convention_uuid=convention.parent.uuid %}">Consulter la convention originale</a>
                    </div>
                {% else %}
                    <div class="apilos-text--italic">
                        {% if CERBERE_AUTH and convention.programme.numero_galion %}
                            <a href="{% url 'programmes:operation_conventions' numero_operation=convention.programme.numero_galion %}">
                                Opération n°{{convention.programme.numero_galion}}
                            </a>&nbsp;-&nbsp;
                        {% endif %}
                        {{ convention.programme.ville|default_if_none:'-' }}&nbsp;-&nbsp;
                        {{ convention.lot.nb_logements|default_if_none:'-' }}&nbsp;lgts&nbsp;-&nbsp;
                        {{ convention.lot.get_type_habitat_display }}{{ convention.lot.nb_logements|pluralize }}&nbsp;-&nbsp;
                        {{ convention.lot.financement|default_if_none:'' }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div>
        <div class="fr-container fr-pt-2w">
            {% if convention.ecolo_reference %}

                <div role="alert" class="fr-col-12 fr-mb-3w apilos-alert apilos-alert-ecoloweb">
                    <p class="fr-text--lg">Cette convention a été récupérée automatiquement depuis <span class="fr-text--bold">Ecoloweb</span></p>
                    <p>Vous pouvez compléter les informations incomplètes</p>
                </div>

                <hr class="fr-col-12 fr-my-3w">
            {% endif %}
            <div role="alert" class="fr-col-12 fr-mb-3w fr-alert fr-alert--{{convention.statut_for_template.key_statut}} fr-icon-{{convention.statut_icone}}-line">
                <p class="fr-text--lg">
                    Votre {% if convention.is_avenant %}avenant{% else %}convention{% endif %} est
                    <span class="fr-text--bold">
                        {% if request|is_instructeur %}
                            {{convention.short_statut_for_instructeur|lower}}
                        {% else %}
                            {{convention.short_statut_for_bailleur|lower}}
                        {% endif %}
                    </span>
                </p>
                {% if convention.statut == CONVENTION_STATUT.A_SIGNER or convention.statut == CONVENTION_STATUT.SIGNEE %}
                    <p>
                        {% if convention.is_avenant %}Il{% else %}Elle{% endif %} porte le numéro <strong>{{ convention.numero }}</strong>
                    </p>
                {% endif %}
                {% if convention.statut == CONVENTION_STATUT.A_SIGNER %}
                    {% if request|is_instructeur %}
                        Vous pouvez <a class="fr-link" href="{% url 'conventions:sent' convention_uuid=convention.uuid %}" target="_self" {% if nav_bar_step == "sent" %}aria-current="page"{% endif %}>déposer {% if convention.is_avenant %} l'avenant signé{% else %} la convention signée{% endif %} </a>
                    {% else %}
                        {% if convention.programme.administration.adresse and convention.programme.administration.code_postal and convention.programme.administration.ville %}
                            <p>
                                {% if convention.is_avenant %}Imprimez-le, signez-le et envoyez le{% else %}Imprimez-la, signez-la et envoyez la{% endif %} à l'adresse suivante : {{ convention.programme.administration.adresse }} - {{ convention.programme.administration.code_postal }} {{ convention.programme.administration.ville }}
                            </p>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <p>{% if request|is_instructeur %}
                    {{convention.entete_desc_for_instructeur}}
                {% else %}
                    {{convention.entete_desc_for_bailleur}}
                {% endif %}</p>
            </div>
            {% if convention.statut == CONVENTION_STATUT.ANNULEE %}
                <div role="alert" class="fr-col-12 fr-mb-3w fr-alert fr-alert--{{convention.statut_for_template.key_statut}} fr-icon-success-line">
                    {% if convention.is_avenant %}
                        <p class="fr-text--lg">
                            Votre avenant est
                            <span class="fr-text--bold">
                                annulé
                            </span>
                        </p>
                        <p>Il n'est pas possible d'y apporter des modifications</p>
                    {% else %}
                        <p class="fr-text--lg">
                            Votre convention est
                            <span class="fr-text--bold">
                                annulée
                            </span>
                        </p>
                        <p>Il n'est pas possible d'y apporter des modifications</p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
