{% extends "common/button/next_and_save.html" %}

{% block extra_attributes %}
    name='cancel_convention'
    value="1"
    data-fr-opened="{% if update_convention_administration_form.errors|length > 0 %}true{% else %}false{% endif %}"
    aria-controls="update-administration-modal"
{% endblock extra_attributes%}

{% block after_button %}
    <dialog
        aria-labelledby="fr-modal-title-modal-1"
        role="dialog"
        id="update-administration-modal"
        class="fr-modal"
    >
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-link--close fr-link"
                                title="Fermer la fenêtre modale"
                                aria-controls="update-administration-modal">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-modal-1" class="fr-modal__title">
                                {{ warning }}
                            </h1>
                            <button
                                class="fr-btn fr-btn--icon-left fr-icon-warning-line" type="submit" form="{{ form_id }}"
                                aria-controls="update-administration-modal"
                            >
                                confirmer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>
{% endblock after_button %}
