{% load custom_filters %}

{% if convention|display_comments_summary %}
    {% if opened_comments.count %}
        <div role="alert" class="fr-alert fr-alert--info fr-my-3w">
            <div class="block--row-strech" id="{{ object_field }}_div">
                <div class="block--row-strech-1">
                    <h4 class="fr-alert__title">
                        {{ opened_comments.count }} Commentaire{{ opened_comments|pluralize }} Ouvert{{ opened_comments|pluralize }} (Non-résolu{{ opened_comments|pluralize }})
                    </h4>
                </div>
                <a class="fr-link fr-mb-1w" href='{% url "conventions:recapitulatif" convention_uuid=convention.uuid %}' id="refresh_opened_comments">
                    <span class="fr-icon-refresh-line" aria-hidden="true">Rafraichir</span>
                </a>
            </div>

            <div class="fr-table table--limited-height fr-table--no-caption">
                <div class="fr-table__wrapper">
                    <div class="fr-table__container">
                        <div class="fr-table__content">
                            <table>
                                <caption>Commentaires ouverts liés à la convention</caption>
                                <thead>
                                    <tr>
                                        <th scope="col" class="col__width--150">Élements de la convention commentés </th>
                                        <th scope="col">Message</th>
                                        <th scope="col" class="col__width--150">Créé le</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for opened_comment in opened_comments %}
                                        <tr>
                                            <td>
                                                {{ opened_comment.object_detail }}
                                            </td>
                                            <td>
                                                {{ opened_comment.message }}
                                            </td>
                                            <td>
                                                {{ opened_comment.cree_le|date:"d/m/Y" }} {{ opened_comment.cree_le|time:"H:i" }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    {% else %}
        <button class="fr-link fr-mb-1w"
        id="refresh_opened_comments"
        hidden
        onclick="window.location.href='{% url "conventions:recapitulatif" convention_uuid=convention.uuid %}'">
            <span class="fr-icon-refresh-line" aria-hidden="true"></span>
            Rafraichir
        </button>
    {% endif %}
{% endif %}
