{% extends "layout/base.html" %}

{% load static %}

{% block page_title %}Stats - APiLos{% endblock%}

{% block content %}
    <div class="fr-container-fluid ds_banner">
        <div class="fr-container">
            <h1 class="fr-pt-5w">Conventions</h1>
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-md-6 fr-col-lg-3">
                    <div class="fr-m-3w statcard">
                        <h3 class="statcard__title">BROUILLON</h4>
                        <p class="statcard__indicateur">{{ conventions_by_status.BROUILLON }}</p>
                    </div>
                </div>
                <div class="fr-col-12 fr-col-md-6 fr-col-lg-3">
                    <div class="fr-m-3w statcard">
                        <h3 class="statcard__title">EN COURS D'INSTRUCTION</h3>
                        <p class="statcard__indicateur">{{ conventions_by_status.INSTRUCTION }}</p>
                    </div>
                </div>
                <div class="fr-col-12 fr-col-md-6 fr-col-lg-3">
                    <div class="fr-m-3w statcard">
                        <h3 class="statcard__title">EN COURS DE CORRECTION</h3>
                        <p class="statcard__indicateur">{{ conventions_by_status.CORRECTION }}</p>
                    </div>
                </div>
                <div class="fr-col-12 fr-col-md-6 fr-col-lg-3">
                    <div class="fr-m-3w statcard">
                        <h3 class="statcard__title">VALIDÉ</h3>
                        <p class="statcard__indicateur">{{ conventions_by_status.VALIDE }}</p>
                    </div>
                </div>
            </div>

            <h1 class="fr-pt-5w">Users</h1>
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-md-12 fr-col-lg-6">
                    <div class="fr-m-3w statcard">
                        <h3 class="statcard__title">BAILLEUR</h4>
                        <p class="statcard__indicateur">{{ users_by_role.nb_bailleurs }}</p>
                        <p class="statcard__details">dont {{ users_by_role.nb_bailleurs_actifs }} actifs : s'étant loggé au moins 1 fois sur la plateforme</p>
                    </div>
                </div>
                <div class="fr-col-12 fr-col-md-12 fr-col-lg-6">
                    <div class="fr-m-3w statcard">
                        <h3 class="statcard__title">INSTRUCTEUR</h3>
                        <p class="statcard__indicateur">{{ users_by_role.nb_instructeurs }}</p>
                        <p class="statcard__details">dont {{ users_by_role.nb_instructeurs_actifs }} actifs : s'étant loggé au moins 1 fois sur la plateforme</p>
                    </div>
                </div>
            </div>



        </div>
    </div>
{% endblock %}
