{% extends "layout/base.html" %}

{% load static %}

{% block page_title %}Stats - APiLos{% endblock%}

{% block javascript_extras %}
    <script type="text/javascript" src="https://code.highcharts.com/highcharts.js" nonce="{{request.csp_nonce}}"></script>
    <script type="text/javascript" src="https://code.highcharts.com/themes/high-contrast-light.js" nonce="{{request.csp_nonce}}"></script>
{% endblock %}

{% block css_extras %}
    <link rel="stylesheet" href="https://code.highcharts.com/css/highcharts.css" nonce="{{request.csp_nonce}}">
{% endblock %}

{% block content %}
    <div class="fr-container-fluid ds_banner">
        <div class="fr-container fr-pb-3w">
            <h1 class="fr-pt-5w">Conventions</h1>
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12" id="conv_by_departement">s</div>
                <script type="text/javascript" nonce="{{request.csp_nonce}}">
                    document.addEventListener('DOMContentLoaded', function () {
                        const chart = Highcharts.chart('conv_by_departement', {
                            chart: {
                                type: 'column',
                                styledMode: true
                            },
                            colors: ['#2f7ed8', '#0d233a', '#8bbc21', '#910000', '#1aadce',
                                '#492970', '#f28f43', '#77a1e5', '#c42525', '#a6c96a'],
                            title: {
                                text: 'Nombre de conventions par statut et par département'
                            },
                            xAxis: {
                                title: {
                                    text: 'Départements'
                                },
                                categories: [{{ conv_bydept.departement|join:',' }}]
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Conventions par département'
                                },
                                stackLabels: {
                                    enabled: true,
                                    style: {
                                        fontWeight: 'bold',
                                        color: ( // theme
                                            Highcharts.defaultOptions.title.style &&
                                            Highcharts.defaultOptions.title.style.color
                                        ) || 'gray'
                                    }
                                }
                            },
                            plotOptions: {
                                column: {
                                    stacking: 'normal',
                                    dataLabels: {
                                        enabled: true
                                    }
                                }
                            },
                            series: [{
                                name: 'Projet',
                                data: {{ conv_bydept.Projet }}
                            }, {
                                name: "Instruction requise",
                                data: {{ conv_bydept.Instruction_requise }}
                            }, {
                                name: "Corrections requises",
                                data: {{ conv_bydept.Corrections_requises }}
                            }, {
                                name: "A signer",
                                data: {{ conv_bydept.A_signer }}
                            }, {
                                name: "Transmise",
                                data: {{ conv_bydept.Transmise }}
                            }]
                        });
                    });
                </script>

                <div class="fr-col-12 fr-col-md-6 fr-col-lg-3">
                    <div class="fr-m-3w statcard statcard--color1">
                        <div class="statcard__title">Projet</div>
                        <p class="statcard__indicateur">{{ conventions_by_status.Projet }}</p>
                    </div>
                </div>
                <div class="fr-col-12 fr-col-md-6 fr-col-lg-3">
                    <div class="fr-m-3w statcard statcard--color2">
                        <div class="statcard__title">Instruction requise</div>
                        <p class="statcard__indicateur">{{ conventions_by_status.Instruction_requise }}</p>
                    </div>
                </div>
                <div class="fr-col-12 fr-col-md-6 fr-col-lg-3">
                    <div class="fr-m-3w statcard statcard--color3">
                        <div class="statcard__title">Corrections requises</div>
                        <p class="statcard__indicateur">{{ conventions_by_status.Corrections_requises }}</p>
                    </div>
                </div>
                <div class="fr-col-12 fr-col-md-6 fr-col-lg-3">
                    <div class="fr-m-3w statcard statcard--color4">
                        <div class="statcard__title">A signer</div>
                        <p class="statcard__indicateur">{{ conventions_by_status.A_signer }}</p>
                    </div>
                </div>
            </div>

            <h1 class="fr-pt-5w">Utilisateurs</h1>
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-md-12 fr-col-lg-6">
                    <div class="fr-m-3w statcard statcard--color6">
                        <div class="statcard__title">BAILLEURS</div>
                        <p class="statcard__indicateur">{{ users_by_role.nb_bailleurs_actifs }} actifs / {{ users_by_role.nb_bailleurs }}</p>
                    </div>
                </div>
                <div class="fr-col-12 fr-col-md-6 fr-col-lg-6">
                    <div class="fr-m-3w statcard statcard--color7">
                        <div class="statcard__title">INSTRUCTEURS</div>
                        <p class="statcard__indicateur">{{ users_by_role.nb_instructeurs_actifs }} actifs / {{ users_by_role.nb_instructeurs }}</p>
                    </div>
                </div>
            </div>
            <h1 class="fr-pt-5w">Utilisation</h1>
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12" id="correct_by_field">
                </div>
                <script type="text/javascript" nonce="{{request.csp_nonce}}">
                    document.addEventListener('DOMContentLoaded', function () {
                        const chart = Highcharts.chart('correct_by_field', {
                            chart: {
                                type: 'bar',
                                height: 800,
                                styledMode: true
                            },
                            colors: ['#8085e9'],
                            title: {
                                text: 'Nombre de commentaires par champ'
                            },
                            xAxis: {
                                categories: {{comment_fields|safe}},
                                title: {
                                    text: null
                                },
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: null
                                },
                            },
                            plotOptions: {
                                bar: {
                                    dataLabels: {
                                        enabled: true
                                    }
                                }
                            },
                            series: [{
                                name: 'nombre de commentaires',
                                data: {{ comment_data }}
                            }]
                        });
                    });
                </script>
            </div>

            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12" id="null_fields">
                </div>
                <script type="text/javascript" nonce="{{request.csp_nonce}}">
                    document.addEventListener('DOMContentLoaded', function () {
                        const chart = Highcharts.chart('null_fields', {
                            chart: {
                                type: 'bar',
                                height: 800,
                                styledMode: true
                            },
                            colors: ['#8085e9'],
                            title: {
                                text: 'Pourcentage de champ non rempli'
                            },
                            xAxis: {
                                categories: {{null_fields_keys|safe}},
                                title: {
                                    text: null
                                },
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: null
                                },
                            },
                            plotOptions: {
                                bar: {
                                    dataLabels: {
                                        enabled: true
                                    }
                                }
                            },
                            series: [{
                                name: 'Champs à null',
                                data: {{ null_fields_values }}
                            }]
                        });
                    });
                </script>
            </div>
        </div>
    </div>
{% endblock %}
