{% load static dsfr_tags %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="{% block robots %}{% if STAGING %}noindex, nofollow{% else %}index, follow{% endif %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--Title and desc-->

        <title>{% block page_title %}APiLos, la plateforme de conventionement des logements sociaux{% endblock%}</title>
        <meta name="description" content="{% block page_description %}Plateforme permettant d'instruire des conventionnnements de logements sociaux en France{% endblock %}">

        <!--Favicon-->

        {% dsfr_favicon %}

        <!--Css-->

        {% dsfr_css %}
        <link rel="stylesheet" href="{% static "css/main.css" %}">

        {% block css_extras %}{% endblock %}
        {% block javascript_extras %}{% endblock %}
    </head>

    <body>
        {% block header %}
            {% include "layout/header.html" with without_action_button=False %}
        {% endblock %}
        {% include "common/notifications.html" %}
        <main role="main" class="contentAll">
            {% block content %}{% endblock %}
        </main>
        {% block footer %}
            {% include "layout/footer.html" %}
        {% endblock %}
        {% include "common/matomo.html" %}
        {% include "common/sentry.html" %}
        {% block js %}
            <script type="module" src="{% static "dsfr/js/dsfr.module.min.js" %}"></script>
            <script type="text/javascript" nomodule src="{% static "dsfr/js/dsfr.nomodule.min.js" %}"></script>
            <script type="text/javascript">
                document.addEventListener("DOMContentLoaded", function(event) {
                    console.log(localStorage.getItem('scrollloc'))
                    if (localStorage.getItem('scrollloc') == window.location) {
                        var scrollpos = localStorage.getItem('scrollpos');
                        if (scrollpos) window.scrollTo(0, scrollpos);
                        localStorage.setItem('scrollpos', 0);
                    }
                });

                window.onbeforeunload = function(e) {
                    localStorage.setItem('scrollpos', window.scrollY);
                    localStorage.setItem('scrollloc', window.location);
                };
            </script>
            <script>
                function toggle(element_id) {
                    element = document.getElementById(element_id);
                    display = element.style.display;
                    if (display == 'none') {
                        element.style.display = 'block';
                    }
                    else {
                        element.style.display = 'none';
                    }
                }
            </script>
        {% endblock %}
    </body>
</html>
