<footer class="fr-footer" role="contentinfo" id="footer">
    <div class="fr-container">
        <div class="fr-footer__body">
            <div class="fr-footer__brand fr-enlarge-link">
                <a href="/" title="Retour à l’accueil">
                    <p class="fr-logo" title="république française">
                        république
                        <br>française
                    </p>
                </a>
            </div>
        </div>
        <div class="fr-footer__bottom">
            <ul class="fr-footer__bottom-list">
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="https://siap-logement.atlassian.net/wiki/spaces/ABDCS/pages/4522003/4.+CONVENTIONNEMENT+APL+-+Espace+utilisateurs">FAQ et assistance</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{% url 'accessibilite' %}">Accessibilité: non-conforme</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{% url 'cgu' %}">Conditions générales d'utilisation (mentions légales et gestion des données personnelles)</a>
                </li>
                <li class="fr-footer__bottom-item">
                    <a class="fr-footer__bottom-link" href="{% url 'stats:index' %}">Statistiques</a>
                </li>
            </ul>
            <div class="fr-footer__bottom-copy">
                <p>Sauf mention contraire, tous les textes de ce site sont sous <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" target="_blank" rel="noreferrer">licence etalab-2.0</a>
                </p>
            </div>
        </div>
    </div>
    {% if CERBERE_AUTH %}
        <div class="hidden" id="debug_siap_habilitation">
            {{ request.user.siap_habilitation }}
        </div>
    {% endif %}
</footer>
