{% load static %}
<header role="banner" class="fr-header">
  <div class="fr-header__body">
      <div class="fr-container">
          <div class="fr-header__body-row">
              <div class="fr-header__brand fr-enlarge-link">
                  <div class="fr-header__brand-top">
                      <div class="fr-header__logo">
                          <p class="fr-logo">
                              République
                              <br>Française
                          </p>
                      </div>
                      <div class="fr-header__operator">
                          <img src="{% static "img/appel_logo.png" %}" class="fr-responsive-img" style="max-width:5rem;" alt="APpeL, conventionnement APL" />
                          <!-- L’alternative de l’image (attribut alt) doit impérativement être renseignée et reprendre le texte visible dans l’image -->
                      </div>
                      <div class="fr-header__navbar">
                          <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-870" aria-haspopup="menu" title="Menu" id="fr-btn-menu-mobile-4">
                              Menu
                          </button>
                      </div>
                  </div>
                  <div class="fr-header__service">
                      <a href="/" title="Accueil - [À MODIFIER | Nom du site / service]">
                          <p class="fr-header__service-title">APpeL</p>
                      </a>
                      <p class="fr-header__service-tagline">Le portail qui pré-remplit les conventions APL pour les bailleurs sociaux</p>
                  </div>
              </div>
              <div class="fr-header__tools">
                  <div class="fr-header__tools-links">
                      <ul class="fr-links-group">
                        {% if user.is_authenticated %}
                        <li>
                          Bonjour
                          <strong>{{ user.username }}</strong>
                        </li>
                        <li>
                          <a class="fr-link fr-fi-close-circle-line" href="{% url "logout" %}">Déconnexion</a>
                        </li>
                        {% else %}
                        <li>
                            <a class="fr-link fr-fi-account-line" href="#">Espace instructeur</a>
                        </li>
                        <li>
                            <a class="fr-link fr-fi-lock-line" href="{% url "login" %}?next={{ request.path }}">Se connecter</a>
                        </li>
                      {% endif %}
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>
