{% load static %}
{% load custom_filters %}
<header role="banner" class="fr-header">
    {% if ENVIRONMENT == 'staging' %}
        <div role="alert" class="fr-alert fr-alert--info">
            <p>Attention, vous utilisez actuellement la plateforme <strong>ÉCOLE</strong></p>
        </div>
    {% endif %}
    {% if ENVIRONMENT == 'development' %}
        <div role="alert" class="fr-alert fr-alert--info">
            <p>Attention, vous utilisez actuellement la plateforme de <strong>DEVELOPPEMENT</strong></p>
        </div>
    {% endif %}
    <div id="browser_alert" hidden>
        <div role="alert" class="fr-alert fr-alert--error">
            <p>Attention, vous utilisez actuellement un navigateur qui n'est pas compatible avec toutes les fonctionnalités de la platforme.</p>
            <p>Nous vous conseillons d'utiliser un autre navigateur tel que Chrome, Edge ou Firefox</p>
        </div>
    </div>
    {% if not CERBERE_AUTH %}
        {% include "layout/header_no_cerbere.html" %}
    {% else %}
        {% include "layout/header_cerbere.html" %}
    {% endif %}
</header>
<div class="apilos-warning-band">
    <div class="fr-container fr-p-4w">
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
            <img class="fr-mr-3w"  src="{% static 'icons/warning.svg' %}" alt="warning">
            <div>
                <p class="fr-mb-0 fr-text--lead">Le SIAP sera prochainement votre unique porte d’entrée vers APiLos !</p>
                <p class="fr-mb-0">Vous pourrez retrouver Apilos en vous connectant depuis le SIAP.
                    <a class="fr-link" href="https://docs.apilos.beta.gouv.fr/passage-vers-le-siap/passage-au-siap" target="_blank"  rel="noopener">En savoir plus</a>

                </p>
            </div>
        </div>
    </div>
</div>