<div class="fr-col-12 block--row-strech">
    <div class="block--row-strech-1 fr-mr-6w">
        <h2 class="fr-text--lg">Informations complémentaires</h2>
        <p>Pour ajouter, dans l'avenant, des renseignements supplémentaires de type désignation des immeubles, origines des propriétés ou autre.</p>
    </div>
    <form method="post" {% if avenant_uuid %}action="{% url 'conventions:new_avenant' convention_uuid=avenant_uuid %}"{% endif %}>
        {% csrf_token %}
        {% if avenant_uuid %}
            <input type="hidden" value="{{ avenant_uuid }}" name="uuid">
        {% endif %}
        <input type="hidden" value="champ_libre" name="avenant_type">
        <button class="fr-btn fr-btn--secondary fr-icon-eye-line fr-btn--icon-left">Ajouter</button>
    </form>
</div>
