<div class="fr-col-12 block--row-strech">
    <div class="block--row-strech-1 fr-mr-6w">
        <h2 class="fr-text--lg">Dénoncer la convention</h2>
        {% if convention.is_avenant and convention.parent|display_create_avenant or not convention.is_avenant and convention|display_create_avenant %}
            <p>Ici, vous pouvez dénoncer votre convention</p>
        {% else %}
            <p>Un avenant est en cours. Annulez-le ou validez-le pour pouvoir procéder à la dénonciation de votre convention.</p>
        {% endif %}
    </div>
    {% if convention.is_avenant and convention.parent|display_create_avenant or not convention.is_avenant and convention|display_create_avenant %}
        <form method="post"  action="{% url 'conventions:denonciation_start' convention_uuid=convention.uuid %}" data-turbo="false">
            {% csrf_token %}
            <input id="denonciation_start" type="hidden" name="denonciation_start" value="true">
            <input type="hidden" value="denonciation" name="avenant_type">
            <button class="fr-btn apilos-btn--secondary--red fr-btn--icon-left fr-icon-delete-line fr-my-2w"{% if request|is_readonly %} disabled{% endif %}>Dénoncer la convention</button>
        </form>
    {% else %}
        <button class="fr-btn fr-btn--icon-left fr-icon-delete-line fr-my-2w" disabled>Dénoncer la convention</button>
    {% endif %}
</div>
