{% load static %}

{% block javascript_extras %}
    <script src="{% static "virtual-select/virtual-select.min.js" %}" nonce="{{request.csp_nonce}}"></script>
{% endblock %}

{% block css_extras %}
    <link rel="stylesheet" href="{% static 'virtual-select/virtual-select.min.css' %}">
{% endblock %}
<div class="fr-col-12">
    <h2>Informations générales</h2>
    <p>Nous n'avons pas trouvé de convention correspondant à votre recherche.</p>
    <p>Pour créer votre avenant, merci de compléter ces quelques informations de la convention originale ou du dernier avenant.</p>
</div>
<form method="post" action="" enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="fr-col-12">
        <div class="fr-mb-3w">
            {% include "common/form/input_select.html" with form_input=form.bailleur without_empty_option=form.bailleur.field.choices|length_is:1 mandatory_input=True %}
            <script type="text/javascript" nonce="{{request.csp_nonce}}">
                document.addEventListener('DOMContentLoaded', function () {
                    VirtualSelect.init({
                        ele: '#{{form.bailleur.id_for_label}}',
                        multiple: false,
                        hideClearButton: true,
                        search: true,
                        searchPlaceholderText: "Rechercher votre bailleur...",
                        noSearchResultsText: "Aucun bailleur ne correspond à votre recherche"
                    });
                });
            </script>
        </div>
        {% include "common/form/input_select.html" with form_input=form.administration without_empty_option=form.administration.field.choices|length_is:1 mandatory_input=True %}
        <script type="text/javascript" nonce="{{request.csp_nonce}}">
            document.addEventListener('DOMContentLoaded', function () {
                VirtualSelect.init({
                    ele: '#{{form.administration.id_for_label}}',
                    multiple: false,
                    hideClearButton: true,
                    search: true,
                    searchPlaceholderText: "Rechercher votre administration...",
                    noSearchResultsText: "Aucune administration ne correspond à votre recherche"
                });
            });
        </script>
        {% include "common/form/input_text.html" with form_input=form.nom  mandatory_input=True %}
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-6 fr-mb-2w">
                {% include "common/form/input_text.html" with form_input=form.code_postal mandatory_input=True %}
            </div>
            <div class="fr-col-12 fr-col-lg-6 fr-mb-2w">
                {% include "common/form/input_select.html" with form_input=form.financement mandatory_input=True %}
            </div>
            <div class="fr-col-12 fr-mb-2w">
                {% include 'common/form/input_select.html' with form_input=form.nature_logement %}
            </div>
            <div class="fr-col-12 fr-mb-2w">
                {% include "common/form/input_text.html" with form_input=form.numero mandatory_input=True %}
            </div>
        </div>
        <div class="fr-upload-group fr-my-5w">
            <label class="fr-label" for="file-upload">Téléverser la convention (en PDF)
                <span class="fr-hint-text">Taille maximale : 500 Mo. Formats supportés : pdf</span>
            </label>
            <input class="fr-upload" type="file" id="file-upload" name="nom_fichier_signe">
        </div>
        <div class="fr-col-12 fr-mb-2w">
            {% include "common/form/input_text.html" with form_input=form.numero_avenant mandatory_input=True %}
        </div>
    </div>
    <div class="form-button-footer fr-py-5w">
        {% include "common/button/next_and_save.html" %}
    </div>
</form>
