{% extends "layout/base.html" %}

{% block page_title %} Recherche de convention - APiLos {% endblock%}

{% load static %}

{% block content %}
    on recherche ici
    <div class="fr-mr-3w">
        <form class="fr-my-3w" method="get" action="{% url 'conventions:search_for_avenant_result' %}" id="search_for_avenant">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-md-12 fr-col-lg-3 fr-mb-2w">
                    <label class="fr-label" for="search_input">
                        Préciser un département
                    </label>
                    <input class="fr-input" placeholder="Ex : 13" type="recherche" name="departement" required>
                </div>
                <div class="fr-col-12 fr-col-md-12 fr-col-lg-3 fr-mb-2w">
                    <label class="fr-label" for="search_input">
                        Préciser une annee
                    </label>
                    <input class="fr-input" placeholder="Ex : 2022" type="recherche" name="annee" required>
                </div>
                <div class="fr-col-12 fr-col-md-12 fr-col-lg-3 fr-mb-2w">
                    <label class="fr-label" for="search_input">
                        Préciser un numéro
                    </label>
                    <input class="fr-input" placeholder="Ex : 1234" type="recherche" name="num" required>
                </div>
            </div>
            <div class="fr-col-1 fr-grid-row fr-grid-row--right">
                <button class="" title="Rechercher" id="search_btn">Rechercher
                </button>
            </div>
        </form>
    </div>
{% endblock %}
