{% extends "layout/base.html" %}

{% block page_title %}Conditions générales d'utilisation - APiLos{% endblock%}

{% block content %}
    <div class="fr-container-fluid ds_banner fr-pb-3w">
        <div class="fr-container">
            <div class="fr-grid-row">
                <div class="fr-mb-2w">
                    <h1 class="fr-my-3w fr-mt-md-5w">Déclaration d'accessibilité</h1>

                    <p><strong>L'équipe APiLos s’engage à rendre son service accessible, conformément à l’article 47 de la loi n° 2005-102 du 11 février 2005.</strong></p>

                    <p>Cette déclaration d’accessibilité s’applique à la plateforme <a href"https://apilos.beta.gouv.fr'>apilos.beta.gouv.fr</a>.</p>

                    <hr class="fr-col-12 fr-my-3w">

                    <h2>État de conformité</h2>

                    <p>apilos.beta.gouv.fr est non conforme avec le RGAA 4.1. Le site n’a pas encore été audité.</p>

                    <h2>Établissement de cette déclaration d’accessibilité</h2>

                    <p>Cette déclaration a été établie le 18 novembre 2021.</p>

                    <h2>Amélioration et contact</h2>

                    <p>Si vous n’arrivez pas à accéder à un contenu ou à un service de la plateforme <a href"https://apilos.beta.gouv.fr'>Apilos</a>, vous pouvez contacter l'équipe pour être orienté vers une alternative accessible ou obtenir le contenu sous une autre forme.</p>

                    <ul class="fr-mb-5w">
                        <li>Par mail&nbsp;: <a href="mailto:contact@apilos.beta.gouv.fr">contact@apilos.beta.gouv.fr</a></li>
                        <li>Par voie postale&nbsp;:
                            <blockquote class="bl-highlight">
                                Ministère de la Transition écologique et solidaire<br>
                                Délégation ministérielle à l’accessibilité<br>
                                APiLos<br>
                                Grande Arche <br>
                                92055 La Défense Cedex
                            </blockquote>
                        </li>
                    </ul>

                    <h2>Voie de recours</h2>

                    <p>Cette procédure est à utiliser dans le cas suivant : vous avez signalé au responsable du site internet un défaut d’accessibilité qui vous empêche d’accéder à un contenu ou à un des services du portail et vous n’avez pas obtenu de réponse satisfaisante.</p>

                    <p>Vous pouvez :</p>

                    <ul>
                        <li>Écrire un message au Défenseur des droits</li>
                        <li>Contacter le délégué du Défenseur des droits dans votre région</li>
                        <li>Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre) : Défenseur des droits Libre réponse 71120 75342 Paris CEDEX 07</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
{% endblock%}


