on:
  workflow_call:

jobs:
    check:
        name: Check

        runs-on: ubuntu-latest
        steps:
          - name: Check out the repository
            uses: actions/checkout@v4

          - name: Setup Python
            uses: actions/setup-python@v6
            with:
              python-version: "3.12.2"

          - name: Setup Pre-commit
            uses: pre-commit/action@v3.0.1

          - uses: pre-commit-ci/lite-action@v1.1.0
            if: always()
